
<tr id="message_display_<%= mess.id %>">

  <td  class="<%= mess.message_type %>_display left_side">
    <%= 
      link_to_function Message.parse_markup( h(mess.header) ) do |page|
        page["message_display_details_#{mess.id}"].toggle
      end 
    %>
    <div id="message_display_details_<%= mess.id %>" style="display:none">
      <%= render :partial  => 'layouts/message_details', :locals  => {:mess  => mess} %>
    </div>
  </td>

  <td class="<%= mess.message_type %>_display middle">
    <%= to_localtime(mess.last_sent, :datetime) %>
  </td>

  <td class="<%= mess.message_type %>_display right_side">
    <%= 
        link_to_remote  'Mark&nbsp;as&nbsp;Read',
                      {:url  => message_path(mess, :read  => true),
                       :method  => 'put',
                       :before  => "$$('#message_display_#{mess.id}').invoke('update', '<td colspan=\"11\" style=\"color:red; text-align:center;\">Updating...</td>');"
                       },
                      {:class => 'action_link'}
      %>
    &nbsp;&nbsp;&nbsp;&nbsp;
  </td>

</tr>

