<% unless mess.description.blank? %>
  <p class="<%= mess.message_type.to_s %>">
    <%= Message.parse_markup( h(mess.description).gsub(/\n/,"<BR>") )%>
  </p>
<% end %>

<% unless mess.variable_text.blank? %>
    <p class="<%= mess.message_type.to_s %>">
      <%= Message.parse_markup( h(mess.variable_text) ).gsub(/\n/,"<BR>") -%>
    </p>
<% end %>

<% unless mess.expiry.blank? %>
    <p class="<%= mess.message_type.to_s %>">
      Expires: <%=to_localtime(mess.expiry, :datetime) -%>
    </p>
<% end %>

<% if mess.description.blank? && mess.variable_text.blank? && mess.expiry.blank? %>
  <p>
    (No Details)
  </p>
<% end %>
