<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>
<html lang="en">

  <head>
    <title>NeuroHub <%= yield :title %></title>
    <% small_logo = RemoteResource.current_resource.small_logo.blank? ? "/images/neurohub/NH_hbhl_icon_RGB.png" : RemoteResource.current_resource.small_logo %>

    <link rel="shortcut icon" type="image/png" href="<%= small_logo %>">

    <%
        # Get the CSRF meta tags, but add IDs to them
        id_csrf_meta_tag = csrf_meta_tag || ""
        id_csrf_meta_tag.sub!('name="csrf-token"', 'name="csrf-token" id="csrf-token"')
        id_csrf_meta_tag.sub!('name="csrf-param"', 'name="csrf-param" id="csrf-param"')
    %>

    <%= id_csrf_meta_tag.html_safe %>

    <%= stylesheet_link_tag  "neurohub", :media => "all" %>
    <%= javascript_include_tag "jquery", "jquery_ujs" %>

    <%
        # BUG: https://stackoverflow.com/questions/25404206/chrome-transition-fires-on-page-load-when-form-element-added
        # Empty script tags necessary to stop transitions from occurring on page load
    %>
    <script> </script>

  </head>

  <body id="neurohub">

    <%= render :partial => 'layouts/neurohub_navbar' %>

    <%= content_tag :div, nil, :class => "nh_page", "data-isLoggedIn" => !!current_user do -%>
        <%= render :partial => 'layouts/neurohub_secondary_navbar' %>
        <%= render :partial => 'layouts/neurohub_flash_message'    %>
        <%= yield :layout %>
    <% end -%>

    <%= render :partial => 'layouts/neurohub_footer' %>

    <%= render :partial => 'layouts/section_cookie_notif' %>
  </body>

</html>

