<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- ****************************** -->
<!-- PARTIAL: FLASH MESSAGE SECTION -->
<!-- ****************************** -->


  <%- flash.each do |name, msg| -%>
    <% next if msg.blank? %>
    <div class="flash_<%= name %>">
       <div class="flash_icon">
        <%= send("nh_icon_#{name}") %>
       </div>
      <%= (h(msg.to_s.strip).gsub(/\n/, '<BR/>')).html_safe %>
    </div>
  <%- end -%>


  <%- if @nh_new_invite_ack.present? %>
    <div class="card">
    <%- for mess in @nh_new_invites_ack -%>
      <div class="nh-invitations card-item">
        <h4> <%= mess.header %> </h4>
        <%= render(:partial  => "nh_invitations/message_details", :locals  => { :mess  => mess } ) rescue "A message to you was not delivered. Talk to support!"%>
      </div>
    <% end %>
   </div>
  <% end %>

