<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- ************************ -->
<!-- PARTIAL: TOOLBAR SECTION -->
<!-- ************************ -->

<%-
# This loads breadcrumbs based on the user's path
# Should be reimplemented properly in the future.
-%>

<% caret_icon = '<svg version="1.1" id="caret_right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 32 32"  xml:space="preserve">
     <g id="caret-right">
     <path
       d="M22.5,16.4c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1
   c0.1-0.5-0.1-1-0.4-1.4c-0.1-0.1-0.2-0.2-0.4-0.3l-9.3-8.5c0,0,0,0,0,0c-0.7-0.6-1.8-0.5-2.4,0.1s-0.5,1.8,0.1,2.4l8.2,7.4
   l-8.1,7.4C9.5,24,9.4,25.1,10,25.8c0.6,0.7,1.7,0.8,2.4,0.1c0,0,0,0,0,0l9.3-8.5c0.1-0.1,0.2-0.2,0.3-0.3
   C22.3,16.9,22.4,16.7,22.5,16.4z"
     />
   </g>
</svg>'.html_safe 
%>

<% if current_user %>

    <div class="nh_breadcrumbs">
        <% if(request.path_info.include?('nh_projects')||request.path_info.include?('nh_invitations')) %>
            <%= link_to "Projects", nh_projects_path, { :class => "nh_breadcrumbs_item", "data-active"=> request.path_info.include?('nh_projects') && action_name==="index"  }%>

            <% if(@nh_project && @nh_project.id)%>
                <div class="nh_breadcrumbs_icon"><%= caret_icon %></div>
                <%= link_to @nh_project.name, {:controller=> "nh_projects",:action => :show, :id => @nh_project.id }, :method  => :get, :class => "nh_breadcrumbs_item", "data-active"=> request.path_info.include?('nh_projects') && action_name==="show"  %>
            <% end %> 
           
            <% if action_name!="index" && action_name!="show" %>
                <div class="nh_breadcrumbs_icon"><%= caret_icon %></div>
                <div class="nh_breadcrumbs_item" data-active="true"><%= yield(:title) %></div>
            <% end %>
        <% end %>
        <% if(request.path_info.include?('myaccount')||request.path_info.include?('nh_users')) %>
            <%= link_to 'My Account', myaccount_path, { :class => "nh_breadcrumbs_item", "data-active"=> request.path_info.include?('myaccount')} %>
            <% if action_name!="myaccount" %>
                <div class="nh_breadcrumbs_icon"><%= caret_icon %></div>
                <div class="nh_breadcrumbs_item" data-active="true"><%= yield(:title) %></div>
            <% end %>
        <% end %>
    </div>
<% end %>
