<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- ************************ -->
<!-- PARTIAL: NAVBAR SECTION -->
<!-- ************************ -->

<% if current_user %>
    <div id="nh_navbar">
        <%= link_to(alternate_page_or_dashboard_path, :class=>"nh_navbar_icon cb") do %>
          <img src="/images/custom_logos/cb-large_white_blue.png" style="height: 2em">
        <% end %>
        <%= link_to(neurohub_path, :class=>"nh_navbar_icon") do %>
          <div class="nh"></div>
        <% end %>
        <div class="nh_navbar_account">
          <div class="text-ellipsis"><%= current_user.full_name %></div>
          <div class="text-ellipsis"><%= current_user.name %></div>
        </div>
        <div class="nh_navbar_buttons">
            <%= link_to 'Dashboard', neurohub_path,   { :class => "btn-nav secondary", "data-active"=> request.path_info.include?('welcome') || action_name==="welcome"   } %>
            <%= link_to 'News', nh_news_path, { :class => "btn-nav secondary", "data-active"=> request.path_info.include?('welcome') && action_name==="news" } %>
            <% if @nh_invites_count > 0 %>
                <%= link_to 'Invitations', nh_invitations_path, { :class => "btn-nav secondary badge", "data-badge"=> @nh_new_invites_count > 0 ? @nh_new_invites_count : nil, "data-active"=> request.path_info.include?('nh_invitations') && action_name==="index" } %>
            <% end %>
            <%= link_to "Messages", nh_messages_path, { :class => "btn-nav secondary badge", "data-badge"=> @nh_new_message_count > 0 ? @nh_new_message_count : nil, "data-active"=> request.path_info.include?('nh_messages') && action_name==="index" } %>
            <%= link_to 'My Account', myaccount_path, { :class => "btn-nav secondary", "data-active"=> request.path_info.include?('myaccount')} %>
            <%= link_to 'Documentation', 'https://github.com/neurohub/neurohub_documentation/wiki', :class => "btn-nav secondary badge", :target => :_blank %>
            <a class="btn-nav secondary" href="/signout">Logout</a>
        </div>
    </div>

<% end -%>




