
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<!-- ************************ -->
<!-- PARTIAL: ACCOUNT SECTION -->
<!-- ************************ -->

<div class="account">

  <span class="home_credits">
    <% if current_user %>
      <% if current_user.try(:has_role?, :admin) %>
        <%= link_to "Dashboard", home_path %>
      <% end %>
      <%= link_to 'My Account', current_user %>
      <%= link_to 'Projects', groups_path %>
      <%= link_to 'Messages', messages_path, :title  => pluralize(@unread_message_count, "unread message"), :id  => "message_menu_tab" %>
      <% if current_user.has_role?(:user) %>
        <%= hover_dropdown("Resources") do %>
          <%= link_to 'Data Providers', data_providers_path %><BR>
          <%= link_to 'Servers', bourreaux_path %><BR>
          <%= link_to 'Tools', tools_path %><BR>
        <% end %>
      <% end %>
      <% help_url = RemoteResource.current_resource.help_url %>
      <% if help_url.present? %>
        <%= link_to "User Manual", help_url, :target => '_blank' %>
      <% end %>
    <% end %>
    Rev:&nbsp;<%= $CBRAIN_StartTime_Revision %>
  </span>

  <span class="loggedas">
    <% if current_user %>
      Logged in as <%= current_user.full_name %>
      <%= link_to "Sign out", "/logout" %>
    <% else %>
      <%= link_to "Sign in", "/login" %>
    <% end %>
  </span>

</div>

