<% if current_user.site %>
    <div id = "site_div">
        <h1>Site: <%= "#{current_user.site.name}" %></h1>
    </div>
<% end %>

<div id="active_project_div">
  <h1>Active Project:</h1> 
    <% button_with_dropdown_menu((current_project ? current_project.name : "None"), :button_id  => "header_project_menu")  do %>
      <div id="project_menu_items">
        <% projects = current_user.available_groups.group_by{|p| p.class.to_s == "WorkGroup" ? "WorkGroup" : "SystemGroup"} %>
        <% unless projects["WorkGroup"].blank? %>
          <%= show_hide_toggle "Projects", "#work_project_selections", :class  => "action_link" %><br>
          <div id="work_project_selections">
            <% for group in projects["WorkGroup"] %>
              <%= link_to "#{group.name}", switch_group_path(group, :redirect_controller  => params[:controller], :redirect_action  => params[:action], :redirect_id  => params[:id]), {:method  => :post}
              %>
              <br>
            <% end %>
            <br>
          </div>
        <% end %>
        <% unless projects["SystemGroup"].blank? %>
          <%= show_hide_toggle "System Projects", "#system_project_selections", :class  => "action_link"  %><br>
          <div id="system_project_selections" style="display:none">
            <% for group in projects["SystemGroup"] %>
              <%= 
                  link_to "#{group.name}", switch_group_path(group, :redirect_controller  => params[:controller], :redirect_action  => params[:action], :redirect_id  => params[:id]), {:method  => :post}
              %>
              <br>
          <% end %>
          </div>
        <% end %>
        <br>
        <%= 
          link_to "Switch off active project", {:controller  => :groups, 
                                                :action  => :switch, 
                                                :id  => :off, 
                                                :redirect_controller  => params[:controller], 
                                                :redirect_action  => params[:action],
                                                :redirect_id  => params[:id]},
                                               {:method  => :post} 
        %>
      <% end %>
      </div>          
</div>

