
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<!-- ************************ -->
<!-- PARTIAL: ACCOUNT SECTION -->
<!-- ************************ -->

<div class="account">

  <span class="home_credits">
    <a href="/home">Home</a>
    <% if current_user %>
      <%= link_to 'My Account', current_user %>
      <% help_url = RemoteResource.current_resource.help_url %>
      <% if help_url.present? %>
        <%= link_to "User Manual", help_url, :target => '_blank' %>
      <% end %>
      <%= link_to 'Feedback', feedbacks_path %>
    <% end %>
    <%= link_to "Credits", "/credits" %>
    Rev:&nbsp;<%= $CBRAIN_StartTime_Revision %>
  </span>

  <span class="loggedas">
    <% if current_user %>
      Logged in as <%= current_user.full_name %>
      <%= link_to "Sign out", "/logout" %>
    <% else %>
      <%= link_to "Sign in", "/login" %>
    <% end %>
  </span>

</div>

