
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- ********************* -->
<!-- PARTIAL: MENU SECTION -->
<!-- ********************* -->

<div id="header">

  <% if current_user %>
    <div id="main-menu" class="main_menu_left">
      <ul class="nav nav-tabs">
      <% if !current_user.has_role?(:normal_user) || (current_session[:active_group_id] && !(params[:controller] == "groups" && params[:action] == "index")) %>
        <li role="presentation" <%= set_selected(params[:controller], :userfiles) %>><a href="<%= userfiles_path%>">Files</a></li>
        <li role="presentation" <%= set_selected(params[:controller], :tasks) %>><a href="<%= tasks_path%>">Tasks</a></li>
      <% end %>
      <% unless current_user.has_role?(:normal_user) %>
        <li role="presentation" <%= set_selected(params[:controller], :data_providers) %>><a href="<%= data_providers_path %>">Data Providers</a></li>
        <li role="presentation" <%= set_selected(params[:controller], :bourreaux) %>><a href="<%= bourreaux_path %>">Servers</a></li>
        <li role="presentation" <%= set_selected(params[:controller], :tools) %>><a href="<%= tools_path %>">Tools</a></li>
        <li role="presentation" <%= set_selected(params[:controller], :users) %>><a href="<%= users_path %>">Users</a></li>
      <% end %>
      <% if current_user.has_role?(:admin_user) %>
        <li role="presentation" <%= set_selected(params[:controller], :access_profiles) %>><a href="<%= access_profiles_path%>">Profiles</a></li>
        <li role="presentation" <%= set_selected(params[:controller], :sites) %>><a href="<%= sites_path %>">Sites</a></li>
        <li role="presentation" <%= set_selected(params[:controller], :exception_logs) %>><a href="<%= exception_logs_path %>">Exceptions</a></li>
      <% end %>
      </ul>
    </div>  <!-- End id="main_menu" -->
  <% end %>

</div>   <!-- End id="header" -->

