
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<!-- ********************* -->
<!-- PARTIAL: MENU SECTION -->
<!-- ********************* -->

<div id="header">
  <h1>
    <%= RemoteResource.current_resource.name.presence || "CBRAIN" %>
    <%= "- #{current_project.name}" if current_project && !(params[:controller] == "groups" && params[:action] == "index") %>
    <%= yield :title %>
  </h1>

    <% if current_user %>
      <% if  current_session[:active_group_id] && !(params[:controller] == "groups" && params[:action] = "index") %>
        <div id="main-menu" class="main_menu_left">
           <ul>      
             <li <%= set_selected(params[:controller], :userfiles) %>>
               <%= link_to 'Files', userfiles_path, :id => 'files_top_menu' %>
             </li>
             <li <%= set_selected(params[:controller], :tasks) %>>
               <%= link_to 'Tasks', :controller => :tasks, :action => :index %>
             </li>
             <% if !current_user.has_role?(:user) %>
               <li <%= set_selected(params[:controller], :data_providers) %>>
                 <%= link_to 'Data Providers', data_providers_path %>
               </li>
               <li <%= set_selected(params[:controller], :bourreaux) %>>
                 <%= link_to 'Servers', bourreaux_path %>
               </li>               
               <li <%= set_selected(params[:controller], :tools) %>>
                <%= link_to 'Tools', tools_path %>
               </li>
               <li <%= set_selected(params[:controller], :users) %>>
                <%= link_to 'Users', users_path %>
               </li>
               <% if current_user.has_role?(:admin) %>
                 <li <%= set_selected(params[:controller], :sites) %>>
                   <%= link_to 'Sites', sites_path %>
                 </li>  
               <% end %>
             <% end %>
          </ul>
        </div>  <!-- End id="main_menu_left" -->
       <% end %>
       <div id="main-menu" class="main_menu_right">
         <ul>                  
          
         </ul>
       </div>  <!-- End id="main_menu_right" -->
  <% end %>  
</div>   <!-- End id="header" -->   

