
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<!-- ************************ -->
<!-- PARTIAL: ACCOUNT SECTION -->
<!-- ************************ -->

<div class="account">

  <span class="home_credits">
    <% if current_user %>
      <% unless current_user.try(:has_role?, :normal_user) %>
        <%= link_to "Dashboard", home_path %>
      <% end %>
      <%= link_to 'My Account', user_path(current_user) %>
      <%= link_to 'Projects', groups_path %>
      <%= link_to 'Messages', messages_path, :title  => pluralize(@unread_message_count, "unread message"), :id  => "message_menu_tab" %>
      <% if current_user.has_role?(:normal_user) %>
        <%= hover_dropdown("Resources", :dropdown_class => "resource_header") do %>
          <%= link_to 'Data Providers', data_providers_path %><BR>
          <%= link_to 'Servers', bourreaux_path %><BR>
          <%= link_to 'Tools', tools_path %><BR>
        <% end %>
      <% end %>
      <% help_url = RemoteResource.current_resource.help_url %>
      <% if help_url.present? %>
        <%= link_to "User Manual", help_url, :target => '_blank' %>
      <% end %>
      <% support_email = RemoteResource.current_resource.support_email %>
      <% if support_email.present? %>
        <%= html_tool_tip(mail_to(support_email, "Email Support"), :offset_x => 0, :offset_y => 20) do %>
          For email support about this platform, including help<br>
          about failed tasks and file transfer please click here<br>
          or write to: <%= support_email %>
        <% end %>
      <% end %>
    <% end %>
    Rev:&nbsp;<%= $CBRAIN_StartTime_Revision %>
  </span>

  <span class="loggedas">
    <% if current_user %>
      <span class="last_updated">
        (last updated <span class="elapsed">0m</span> ago)
        <script>
          (function () {
            "use strict";

            var last_update = new Date();
            setInterval(function () {
              var diff = Math.floor((new Date() - last_update) / (60 * 1000)),
                  part = undefined,
                  text = [];

              part = Math.round(diff % 60);
              diff = Math.floor(diff / 60);
              text.unshift(part + 'm');

              part = Math.round(diff % 24);
              diff = Math.floor(diff / 24);
              if (part) text.unshift(part + 'h');

              if (diff) text.unshift(diff + 'd');

              $('span.last_updated > span.elapsed').text(text.join(' '));
            }, 20 * 1000);

            $(document).delegate('*', 'new_content', function () {
              last_update = new Date();
            });
          })();
        </script>
      </span>

      Logged in as <%= current_user.full_name %>
      <%= link_to "Sign out", "/logout" %>
    <% else %>
      <%= link_to "Sign in", "/login" %>
    <% end %>
  </span>

</div>

