<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "">
<%

#
# CBRAIN Project
#
# Main web site layout
#
# Original author: Pierre Rioux
#
# $Id: cbrain.html.erb 30 2008-10-30 20:08:58Z prioux $
#

-%>
<html>

<head>
    <title>CBRAIN Project <%= yield :title %></title>
    <%= stylesheet_link_tag "manager", :media => "all" %>
</head>

<body id="cbrain">

    <div id="banner">
        <div id='top_language'>
            <div id='top_language_inside'>
            <!-- <a href="fr">Fran&ccedil;ais</a> -->
            <br/>

            <a id='top_language_mcgill' href="http://www.mcgill.ca">&nbsp;</a>
            </div>
        </div>
                
        <div id="top_container">
            <div id="top_all">
                <div id="top_01"></div>
                <div id="top_02"></div>
                <div id="top_03"><h1>CBRAIN <%= CBRAIN::Redmine_Version -%> <small><small><small>BETA</small></small></small></H1></div>
                <div id="top_04"><h2>BIC - McConnell Brain Imaging Center</h2></div>
                <div id="top_05"></div>
            </div><!--top_all-->
        </div><!--top_container-->
    </div>


    <!-- menu + main -->
    <div id="columns">
        
        <!-- menu on the side -->
        <div id="side">
            <center><h3>Menu</h3></center>
            <ul>
            <% if session[:user_id] %>
              <li><%= link_to 'Home', home_path %></li>
              <li><%= link_to 'Files', userfiles_path %></li>
              <li><%= link_to 'Jiv Viewer', jiv_path %></li>                
              <li><%= link_to 'Tasks', :controller => :tasks, :action => :index %></li>
              <li><%= link_to 'My Account', current_user %></li>
              <li><%= link_to 'Feedback', feedbacks_path %></li>
              <li><%= link_to 'Logout', logout_path %></li>
            <% else %>
                <li><a href="/login">Login</a></li>
            <% end %>
            <li><a href="todo">Help</a></li>
            </ul>
            
            <% if current_user && current_user.role == 'admin' %>
                  <BR>
                  <center><h3>Admin Menu</h3></center>
                  <ul>
                     <li><%= link_to 'Users', users_path %></li>
                     <li><%= link_to 'Groups', groups_path %></li> 
                     <li><%= link_to 'Institutions', institutions_path %></li>
                     <li><%= link_to 'Logged Exceptions', :controller  => :logged_exceptions, :action  => :index %></li>
                  </ul>                  
            <% end %>
        </div>
        
        <!-- main rendering area -->
          <div id="main">
              <% if ! flash[:error].nil? && ! flash[:error].empty? %>
                 <p class="error"><%= h(flash[:error]).gsub(/\n/,"<BR>") -%></p>
              <% end %>
              <% if ! flash[:notice].nil? && ! flash[:notice].empty? %>
                 <p class="notice"><%= h(flash[:notice]).gsub(/\n/,"<BR>") -%></p>
              <% end %>
              <%= yield :layout %>
          </div>

    </div>

</body>
</html>
