
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">
  <%= external_submit_button "Delete Checked Exceptions", "exception_form", :class  => "button", :confirm  => "Are you sure you want to delete the selected logs?"  %>
</div>

<%= render :partial => 'shared/active_filters', :locals => {:model => :exception_log} %>

<div class="pagination">
  <span class="page_links">
    (<%= pluralize @exception_logs.total_entries, "message" %>)
  </span>
</div>

<%= ajax_form_tag(url_for(:action => :destroy), :method => :delete, :datatype => :script, :id => "exception_form") do %>
  <%=
    dynamic_index_table(@exception_logs,
      :id         => 'exception_logs_table',
      :class      => [ :resource_list ],
      :sort_map   => {
        :exception_class    => 'exception_logs.exception_class',
        :request_method     => 'exception_logs.request_method',
        :request_controller => 'exception_logs.request_controller',
        :request_action     => 'exception_logs.request_action',
        :request_format     => 'exception_logs.request_format',
        :user               => 'users.login',
        :revision_no        => 'exception_logs.revision_no',
        :created_at         => 'exception_logs.created_at'
      },
      :filter_map => {
        :user => 'user_id'
      }
    ) do |t|
  %>
    <%
      filters_for = lambda do |field|
        basic_filters_for(@filtered_scope, ExceptionLog.scoped, ExceptionLog, field)
      end

      generic_column = lambda do |label,field|
        t.column(label, field,
          :sortable => true,
          :filters  => filters_for.(field)
        )
      end

      t.paginate
      t.selectable('exception_log_ids[]')

      t.column("Exception", :exception_class,
        :sortable => true,
        :filters  => filters_for.(:exception_class)
      ) { |e| link_to e.exception_class, e }

      t.column("Message", :message) { |e| crop_text_to(75, e.message) }

      generic_column.("Method",     :request_method)
      generic_column.("Controller", :request_controller)
      generic_column.("Action",     :request_action)
      generic_column.("Format",     :request_format)

      t.column("User", :user,
        :sortable => true,
        :filters  => association_filters_for(@filtered_scope, ExceptionLog.scoped, "exception_log", "user", :name_method => "login")
      ) { |e| link_to_user_with_tooltip(e.user) }

      generic_column.("Revision",   :revision_no)

      t.column("Raised at", :created_at,
        :sortable => true
      ) { |e| to_localtime(e.created_at, :datetime) }
    %>
  <% end %>
<% end %>
