<div class="filter_menu">
  <%= form_tag({:controller => :messages, :action => :index}, :method => :get) do %>

    <%
      offset_times = [
        [ 'now',            "0" ],
        [ 'ten minutes ago', 10.minutes.to_s ],
        [ 'one hour ago',    1.hour.to_s ],
        [ 'one day ago',     1.day.to_s ],
        [ 'two days ago',    2.days.to_s ],
        [ 'one week ago',    1.week.to_s ],
        [ 'one month ago',   1.month.to_s ],
        [ 'two months ago',  2.months.to_s ],
        [ 'one year ago',    1.year.to_s ],
        [ 'the big bang',   50.years.to_s ]
      ]
    %>
    
    <% if current_user.has_role?(:admin) %>
      Message belongs to user:
      <%= user_select :user_id, { :selector => @filter_params["filter_hash"]["user_id"] }, { :include_blank => '(Any)' } %>
      <p/>
    <% end %>
    
    Message is of type:
    <%= select_tag :message_type,
      options_for_select(
        [
          [ '(Any)',  "" ],
          [ 'Notice', 'notice' ],
          [ 'Error',  'error' ],
          [ 'System', 'system' ],
        ],
        @filter_params["filter_hash"]["message_type"]
      )
    %>
    <p/>
    
    <% between_dates_set = @filter_params["filter_hash"] && @filter_params["filter_hash"]["between_dates"] %>
    Message content was updated between:
      <%= select_tag("time_interval[]", options_for_select( offset_times, between_dates_set ? @filter_params["filter_hash"]["between_dates"][0] : 50.years.to_s )) %> and
      <%= select_tag("time_interval[]", options_for_select( offset_times, between_dates_set ? @filter_params["filter_hash"]["between_dates"][1] : "0"  )) %>
    <p/>
    
    Messages are marked as
    <%= select_tag(:critical, options_for_select( [ 
        [ '(Critical or not)', '' ],
        [ 'Critical',   '1' ],
        [ 'Not critical', '0' ]
      ], @filter_params["filter_hash"]["critical"] ) )
    %>
    and
    <%= select_tag(:read, options_for_select( [ 
        [ '(Read or not)', '' ],
        [ 'Read',   '1' ],
        [ 'Not read', '0' ]
      ], @filter_params["filter_hash"]["read"] ) )
    %>
    <p/>
    
    <%= hidden_field_tag :update_filter, "filter_hash" %>
    
    <%= submit_tag 'Apply' %>
  <% end %>
</div>