
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">
  <% if current_user.has_role?(:site_manager) || current_user.has_role?(:admin_user) %>
    <%= new_model_button "Leave Message", new_message_path %>
  <% end %>
  <%= button_with_dropdown_menu("Filters") do %>
    <%= render :partial => 'messages/filters' %>
  <% end %>
  <%= overlay_ajax_link "Help", "/doc/messages/message_info.html", :class  => "button" %>

  <%= external_submit_button "Delete Checked Messages", "message_form", :class  => "button", :confirm  => "Are you sure you want to delete the selected messages?"  %>
</div>

<%= render :partial => 'shared/active_filters', :locals => {:model => :message} %>

<div class="pagination">
  <span class="page_links">
    (<%= pluralize @messages.total_entries, "message" %>)
  </span>
</div>

<%= form_tag({ :controller => :messages, :action => :delete_messages }, :method => :delete, :id => "message_form") do %>
  <%=
    dynamic_index_table(@messages,
      :id       => "message_table",
      :class    => [ :resource_list ],
      :sort_map => {
        :header    => 'messages.header',
        :sender    => 'messages.sender',
        :recipient => 'users.login',
        :last_sent => 'messages.last_sent'
      }
    ) do |t|
  %>
    <%
      t.paginate
      t.selectable("message_ids[]")

      t.row do |m| {
        :class => [
          "message_display_#{m.id}",
          "#{m.message_type}_display",
          "message_#{m.read? ? "" : "un"}read"
        ]
      } end
    %>

    <% t.column("Message", :header, :sortable => true) do |m| %>
      <%= show_hide_toggle(Message.parse_markup(m.header), "#message_table_details_#{m.id}") %>
      <div id="message_table_details_<%= m.id %>" style="display: none">
        <%= render :partial  => 'messages/message_details', :locals  => { :mess  => m } %>
      </div>
    <% end %>

    <%
      t.column("Sender", :sender,
        :sortable => true
      ) { |m| m.sender.try(:login) || "System" }

      t.column("Recipient", :recipient,
        :sortable => true
      ) { |m| m.user.login } unless current_user.has_role?(:normal_user)

      t.column("Last Updated", :last_sent,
        :sortable => true
      ) { |m| to_localtime(m.last_sent, :datetime) }
    %>

    <% t.column("Operations", :operations) do |m| %>
      <div>
        <%=
          delete_button("Mark&nbsp;as&nbsp;#{m.read ? 'Unread' : 'Read'}".html_safe,
            message_path(m, :read => (!m.read).to_s),
            :class                  => 'action_link',
            :method                 => "PUT",
            :target                 => ".message_display_#{m.id}",
            :loading_message        => "<div style='color: red; text-align: center;'>Updating...</div>",
            :loading_message_target => ".message_display_#{m.id} > td.operations > div"
          )
        %>
        &nbsp;
        <%=
          delete_button('Delete',
            message_path(m),
            :class                  => 'action_link',
            :method                 => "DELETE",
            :target                 => ".message_display_#{m.id}",
            :remove_target          => ".message_display_#{m.id}",
            :loading_message        => "<div style='color: red; text-align: center;'>Updating...</div>",
            :loading_message_target => ".message_display_#{m.id} > td.operations > div"
          )
        %>
      </div>
    <% end %>
  <% end %>
<% end %>

