
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
  css_read = "message_" + (mess.read? ? "read" : "unread")
  css_type = "#{mess.message_type}_display"

  span  = 4
  span += 1 unless current_user.has_role?(:normal_user)
%>

<tr class="<%= "message_display_#{mess.id} #{css_read} #{css_type}"%>">
  <td class="wrap left" style="white-space:normal">
    <%= show_hide_toggle(Message.parse_markup(mess.header), "#message_table_details_#{mess.id}") %>
    <div id="message_table_details_<%= mess.id %>" style="display: none">
      <%= render :partial  => 'messages/message_details', :locals  => { :mess  => mess } %>
    </div>
  </td>
  <td>
    <%= mess.sender.try(:login) || "System" %>
  </td>
  <% unless current_user.has_role?(:normal_user) %>
    <td>
      <%= mess.user.login %>
    </td>
  <% end %>
  <td>
    <%= to_localtime(mess.last_sent, :datetime) %>
  </td>
  <td>
    <%=
      delete_button("Mark&nbsp;as&nbsp;#{mess.read ? 'Unread' : 'Read'}".html_safe,
        message_path(mess, :read => (!mess.read).to_s),
        :class           => 'action_link',
        :method          => "PUT",
        :target          => ".message_display_#{mess.id}",
        :loading_message => "<td colspan='#{span}' style='color: red; text-align: center;'>Updating...</td>"
      )
    %>
    &nbsp;
    <%=
      delete_button('Delete',
        message_path(mess),
        :class           => 'action_link',
        :method          => "DELETE",
        :target          => ".message_display_#{mess.id}",
        :remove_target   => ".message_display_#{mess.id}",
        :loading_message => "<td colspan='#{span}' style='color: red; text-align: center;'>Deleting...</td>"
      )
    %>
  </td>
</tr>
