<tr class=" message_display_<%= mess.id %> <%= "#{cycle("list-odd", "list-even")} row_highlight" if mess.read? %>">

  <td class="<%= "#{mess.message_type}_display " unless mess.read? %>left_side wrap">
    <% if render_for == :index %>
      <%= check_box_tag("message_ids[]", mess.id.to_s, false, :class => 'messlist') %>
      <% unless @show_users.blank? %>
        ( <%= h(mess.user.login) %> )
      <% end %>
    <% end %>
    &nbsp;
    <%= show_hide_toggle Message.parse_markup( h(mess.header) ), "#message_table_details_#{mess.id}" %>

    <div id="message_table_details_<%= mess.id %>" class="no_wrap" style="display:none">
      <%= render :partial  => 'messages/message_details', :locals  => {:mess  => mess} %>
    </div>
  </td>

  <td class="<%= "#{mess.message_type}_display " unless mess.read? %>middle">
    <%= to_localtime(mess.last_sent, :datetime) %>
  </td>

  <td class="<%= "#{mess.message_type}_display " unless mess.read? %>right_side">

    <% if mess.read %>
      <%= 
         delete_button 'Mark&nbsp;as&nbsp;Unread',  message_path(mess, :read => "false"),
                 :class => 'action_link', 
                 :method  => "PUT",
                 :target  => ".message_display_#{mess.id}", 
                 :target_text  => "<td colspan='3' style='color:red; text-align:center;'>Updating...</td>"
      %>
    <% else %>
      <%= 
        delete_button  'Mark&nbsp;as&nbsp;Read',  message_path(mess, :read  => "true"),
                 :class => 'action_link', 
                 :method  => "PUT",
                 :target  => ".message_display_#{mess.id}", 
                 :target_text  => "<td colspan='3' style='color:red; text-align:center;'>Updating...</td>"
      %>
    <% end %>
    &nbsp;
    <%= 
       delete_button  'Delete',  message_path(mess),
                :class => 'action_link', 
                :method  => "DELETE",
                :target  => ".message_display_#{mess.id}", 
                :target_text  => "<td colspan='3' style='color:red; text-align:center;'>Deleting...</td>"
    %>
  </td>

</tr>

