
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="menu_bar">
  <% if current_user.has_rights?(:site_manager) %>
    <%= new_model_button "Leave Message", new_message_path %>
  <% end %>
  <%= button_with_dropdown_menu("Filters") do %>
    <%= render :partial => 'messages/filters' %>
  <% end %>
  <span id="view_option_button"> 
    <%= render :partial => "messages/view_option_button" %>
  </span>
  <%= overlay_ajax_link "Help", "/doc/messages/message_info.html", :class  => "button" %>

  <%= external_submit_button "Delete Checked Messages", "message_form", :class  => "button", :confirm  => "Are you sure you want to delete the selected messages?"  %>
</div>

<div class="active_status">
  <span class="active_status_left_side">
    <%= render :partial => 'shared/active_filters', :locals => {:model => :message} %>
  <span>
</div>

<div class="pagination">
  <span class="page_links">
    <%= will_paginate @messages, :container => false %>
    (<%= pluralize @total_entries, "message" %>)
  </span>
</div>

<%= form_tag({:controller => :messages, :action => :delete_messages}, :method => :delete, :id => "message_form" ) do %>
    <%= index_table @messages, :class => "resource_list", :id => "message_table" do |t| %>
      <%
        t.column(select_all_checkbox 'messlist')
        t.sort_column("Message", Message, :header)
        unless current_user.has_role?(:user)
          t.sort_column("Recipient", User, :login)
        end
        t.sort_column("Last Updated", Message, :last_sent)
        t.column("Operations", :colspan => "3")
        t.row_override { |m| render :partial => 'message_table_row', :locals  => { :mess  => m, :render_for => :index } }
      %>  
    <% end %>
<% end %>

