<big>New form goes here<big>
  
<% form_for(Message.new) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :header %><br />
    <%= f.text_field :header %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :variable_text %><br />
    <%= f.text_area :variable_text %>
  </p>
  <p>
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </p>
  <p>
    <%= f.label :read %><br />
    <%= f.check_box :read %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :expiry %><br />
    <%= f.date_select :expiry %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
