
<% ajax_form_for :message, @message, :url => { :action => "create" }, :datatype => "script" do |f| %>

  <%= f.error_messages %>
  
  <p>
    To users of project: <%= group_select(:group_id,
            {
              :groups  => current_user.available_groups.sort_by(&:name),
              :selector => @group_id, # :group_id is not an attribute of Message.
            },
            { :include_blank => true }
            )
        %>
  </p>
  <p>
    <%= f.label :critical %>
    <%= f.check_box :critical %>
  </p>
  <p>
    <%= f.label :send_email, "Send E-mail" %>
    <%= check_box_tag "message[send_email]", 1, true %>
  </p>
  <p>
    <%= f.label :header %><br />
    <%= f.text_field :header %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 5, :cols => 80 %>
  </p>
  <p>
    <%= f.label :variable_text %><br />
    <%= f.text_area :variable_text, :rows => 5, :cols => 80 %>
  </p>
  <p>
    <%= f.label :message_type %><br />
    <%= f.select :message_type, ["system", "notice", "error"] %>
  </p>
  <p>
    <%= f.label :expiry %> (Current time: <%= to_localtime(Time.now, :datetime) %>)<br>
    <%= f.datetime_select :expiry, :start_year  => Time.now.year, :include_blank  => true %>
  </p>
  <br>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

