<%= button_with_dropdown_menu("View Options") do %>
  <div class="view_options">
    <% if current_user.has_role?(:admin) %>
      <%= filter_add_link @filter_params["view_all"] == 'on' ? "Show your messages ": "Show all messages", 
                        :parameter => :view_all,
                        :value     => set_toggle(@filter_params["view_all"]) 
      %>
      <br/>
    <% end %>
    <%= form_tag({:controller => :messages, :action => :index}, :method => :get) do %>
      Show up to this many messages:
      <%= select_tag( :max_show, options_for_select( [ 50, 100, 200, 500, 1000, 2000 ], @max_show ), :class => "submit_onchange" ) %>
      <%= hidden_field_tag :update_filter, true %>
    <% end %>
  </div>
<% end %>
