
<% title 'Messaging Center' %>

<div class="menu_bar menu_bar_left">
  <% if current_user.has_role?(:admin) || current_user.has_role?(:site_manager) %>
    <%= button_with_dropdown_menu('Leave Message', :partial => 'new', :content_id => 'new_message', :button_id => "new_message_button") %>
  <% end %>
  <%= render :partial => "shared/manage_filter_button", :locals => {:model => :message}  %>
  <%= overlay_ajax_link "Help", "/doc/messages/message_info.html", :class  => "button" %>

  <%= external_submit_button "Delete Checked Messages", "message_form", :class  => "button", :confirm  => "Are you sure you want to delete the selected messages?"  %>
</div>

<P>

<%= form_tag({:controller => :messages, :action => :delete_messages}, :method => :delete, :id => "message_form" ) do %>

  <table class="resource_list" id="message_table">
     <%= render :partial => 'message_table' %>
  </table>

<% end %>

<% if current_user.has_role? :admin %>

  <%= form_tag({:controller => :messages, :action => :index}, :method => :get) do %>

    <%
      offset_times = [
        [ 'Now',            "0" ],
        [ '10 minutes ago', 10.minutes.to_s ],
        [ 'one hour ago',    1.hour.to_s ],
        [ 'one day ago',     1.day.to_s ],
        [ 'two days ago',    2.days.to_s ],
        [ 'one week ago',    1.week.to_s ],
        [ 'one month ago',   1.month.to_s ],
        [ 'two months ago',  2.months.to_s ],
        [ 'one year ago',    1.year.to_s ],
        [ 'the big bang',   50.years.to_s ]
      ]
    %>

    <p>

    <fieldset class="groupentry">
      <legend>Administrative filtering</legend>

      Select all visible: <%= select_all_checkbox 'messlist' %>
      <p/>

      Message belongs to user:
      <%= user_select :user_id, { :selector => params[:user_id] }, { :include_blank => '(Any)' } %>
      <p/>

      Message is of type:
      <%= select_tag :message_type,
        options_for_select(
          [
            [ '(Any)',  "" ],
            [ 'Notice', 'notice' ],
            [ 'Error',  'error' ],
            [ 'System', 'system' ],
          ],
          params[:message_type]
        )
      %>
      <p/>

      Message content was updated between:
        <%= select_tag(:upd_before, options_for_select( offset_times, params[:upd_before] )) %> and
        <%= select_tag(:upd_after,  options_for_select( offset_times, params[:upd_after]  )) %>
      <p/>

      Messages are marked as
      <%= select_tag(:critical, options_for_select( [ 
          [ '(Critical or not)', '' ],
          [ 'Critical',   '1' ],
          [ 'Not critical', '0' ]
        ], params[:critical] ) )
      %>
      and
      <%= select_tag(:read, options_for_select( [ 
          [ '(Read or not)', '' ],
          [ 'Read',   '1' ],
          [ 'Not read', '0' ]
        ], params[:read] ) )
      %>
      <p/>

      Show up to this many messages:
      <%= select_tag( :max_show, options_for_select( [ 50, 100, 200, 500, 1000, 2000 ], @max_show.to_i ) ) %>
      <p/>

      <%= submit_tag 'Apply filters' %>

    </fieldset>

  <% end %>

<% end %>

