<p>
  <b>Header:</b>
  <%=h @message.header %>
</p>

<p>
  <b>Description:</b>
  <%=h @message.description %>
</p>

<p>
  <b>Variable text:</b>
  <%=h @message.variable_text %>
</p>

<p>
  <b>Type:</b>
  <%=h @message.type %>
</p>

<p>
  <b>Read:</b>
  <%=h @message.read %>
</p>

<p>
  <b>User:</b>
  <%=h @message.user_id %>
</p>

<p>
  <b>Expiry:</b>
  <%=h @message.expiry %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
