
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%= form_tag({:action => :multi_action}, :method => :post) do %>


  <div class="menu-bar">
    <%= link_to "New Request", { :action => :new }, { :class => "button menu_button" }  %>
    <%= submit_tag "Delete", :class => "button" %>
    <%= submit_tag "Approve", :class => "button" %>
    <%= submit_tag "Fix Login", :class => "button" %>
    <%= submit_tag "Resend", :class => "button" %>
  </div>

  <hr/>

  <%=
    render(:partial => 'shared/active_filters', :locals  => {
      :scope => @scope,
      :model => Demand
    })
  %>

  <%=
    dynamic_scoped_table(@demands,
      :class      => [ :resource_list ],
      :id         => "demands_table",
      :order_map  => {
        :creation_date  =>  { :a => 'created_at' },
        :institution    =>  { :a => 'demands.institution' },
        :email          =>  { :a => 'demands.email' },
      },
      :scope      => @scope
    ) do |t|
  %>
    <%
      t.row do |d|
        {
          :select_param => 'reqids[]',
          :select_value => d.id,
          :html => { 'data-id' => d.id }
        }
      end
    %>

    <%
      t.column("Name", :last,
        :sortable => true
      ) { |d| d.full }
    %>

    <%
      t.column("Email", :email,
        :sortable => true
      ) { |d| red_if(d.dup_email?, d.email) }
    %>

    <%
      t.column("Position", :position,
        :sortable => true,
        :hidden   => true,
        :filters  => default_filters_for(@base_scope, :position)
      )
    %>

    <%
      t.column("Department", :department,
        :sortable => true,
        :hidden   => true,
        :filters  => default_filters_for(@base_scope, :department)
      )
    %>

    <%
      t.column("Institution", :institution,
        :sortable => true,
        :filters  => default_filters_for(@base_scope, :institution)
      ) { |d| d.institution }
    %>

    <%
      t.column("Country", :country,
        :sortable => true,
        :filters => default_filters_for(@base_scope, :country)
      ) { |d| d.country }
      %>

    <%
      t.column("Username", :login,
        :sortable => true
      ) { |d| d.login }
    %>

    <%
      t.column("Comments", :comment)
    %>

    <%
      t.column("Suspicious", :suspicious) do |d|
    %>

      <% suspicion_level = d.is_suspicious? %>

      <% if suspicion_level == 3 %>
        <%= red_if(true, "YES!!") %>
      <% elsif suspicion_level == 2 %>
        <%= red_if(true, "yes") %>
      <% elsif suspicion_level == 1 %>
        <%= red_if(true, "maybe", "maybe", options= { :color2 => "orange" }) %>
      <% else %>
        <%= h("no") %>
      <% end %>

    <% end %>

    <%
      t.column("Actions", :actions) do |d|
    %>
      <%= link_to "Show", { :action => :show, :id => d.id } %>
      <%= h("/") %>
      <%= link_to "Edit", :action => :edit, :id => d.id %>
    <% end %>

    <%
      t.column("Status", :status) do |d|
    %>
      <% if d.approved_by.presence && d.approved_at.presence %>
        <%= h("Approved by ") + d.approved_by + h(" at ") + d.approved_at %>
      <% else %>
        <% if !d.confirmed? %>
          (Email unconfirmed)
        <% end %>
        <% if d.dup_email? %>
          <span>(Conflicting email)</span>
        <% end %>
        <% if d.dup_login? %>
          <span class="warning">(Login conflict)</span>
        <% else %>
          <%= link_to "(Approve)", approve_demand_path(d), :method => :post,
              :confirm => "Approve the application of \"#{d.full}\" ?" %>
        <% end %>
      <% end %>

    <% end %>

  <% end %>
<% end %>
