
<% file_list ||= ( @userfile.list_files(params[:collection_dir], [:regular, :directory]) rescue [] ) %>

<% if file_list.blank? %>
  <tr class="<%= cycle("list-odd", "list-even") %>"><td></td><td> (<span class="warning">Empty</span>) </td><td></td></tr>
<% else %>
  <% for file in file_list[0,100] %>
     <% if file.symbolic_type == :directory %>
      <% on_click_ajax_replace({:element  => "tr", :url  => url_for(:action  => :display, :viewer  => "directory_contents", :collection_dir => file.name.sub(/^#{@userfile.name}\//, ""), :apply_div  => "false"), :position => "after", :before  => "<td colspan='3' class='loading_message'>Loading...</td>"}, {:class  => "#{cycle("list-odd", "list-even")}", :id => file.name.gsub(/\W+/, "_")}) do %>
         <%= render :partial => 'plain_file_list_row', :locals  => {:file  => file} %>
       <% end %>
     <% else %>
       <tr class="<%= cycle("list-odd", "list-even") %>">
         <%= render :partial => 'plain_file_list_row', :locals  => {:file  => file} %>
       </tr>
     <% end %>
  <% end %>

  <% if file_list.size > 100 %>
    <tr class="<%= cycle("list-odd", "list-even") %>"><td></td><td class="left"> <%= "&nbsp" * 6 * file_list.first.depth %> ... <%= image_tag "/images/lotsa_files_icon.png" %> <%= pluralize(file_list.size-100, "more entry") %></td><td></td></tr>
  <% end %>
<% end %>
