
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% title 'About' %>

<div class="display_cell credit_box">

   <p><b>CBRAIN Project Overview:</b></p>

   <p>Medical imaging research necessitates extensive data processing in order 
to explore the scientific questions of interest. This need has led to the 
development of an extensive array of data processing tools and complete 
processing workflows. However, given that these tools have been developed 
across a variable set of software environments, their execution may require 
specific operating system or software library configurations which limit their 
adoption rate and lead to frequent recreation of similar tools at different 
sites.  We  are developing a distributed middleware layer which encapsulates 
both the software environment and the specific processing tools enabling sites 
to execute the tools without having to reconfigure their own computer systems 
for each toolset.  Furthermore, the platform supports dynamic provisioning in 
addition to allowing processing demand to overflow from member computational 
facilities including the high-performance computing (HPC) facilities of 
Consortium Laval, Universit&eacute; du Qu&eacute;bec, McGill and Eastern Quebec 
(CLUMEQ), R&eacute;seau qu&eacute;b&eacute;cois de calcul de haute performance 
(RQCHP) and other HPCs under Compute Canada to commercial virtual resource 
suppliers such as the Amazon Elastic Cloud or the Sun Grid Compute Utility.</p>

   <p>Typical applications of data processing tools involve chaining sets of 
tools together into pipelines or workflows.  These workflows have, in some 
cases, grown to become complete applications in their own right, while other 
workflows are specified on demand to support a particular avenue of research. 
The design of workflows is an active field of research within the brain imaging 
community and the platform will support this area of work through the use of 
Resource Oriented Architecture (ROA).  Consequently, we are developing web 
services to support dynamic provisioning as well interfaces to a number of 
existing processing tools.  This will lead us to a leveraging of resource 
oriented architecture as the technological basis for workflow development.  
Simultaneously, we are updating the core of our existing toolset to seamlessly 
access data across a grid further supporting the network capabilities of the 
platform.</p>

   <p>Users of the imaging platform are as varied as the tools within it. While 
many researchers contribute to the development of our existing platform, a far 
greater number are interested only in using the the tools for analysis without 
becoming developers themselves. In addition to providing graphical user 
interfaces to the algorithms, we have developed a web portal which provides 
intuitive access to the network platform, enhances the communication channels 
in use for distributed projects, enables resource managers to monitor those 
resources under their control and permits users to apply workflows to their 
data.</p>

   <p>Finally, although the platform is being developed for use in brain 
imaging research, much of the fundamental grid middleware, Resource Oriented 
Architecture (ROA), and virtual organization (VO) policies and their supporting 
components will be reusable for other medical imaging applications. This will 
enable research networks in other domains to easily adapt the brain imaging 
platform to their fields of interest. Additionally, given the flexibility of 
the platform being developed, we anticipate extending the network deployment to 
the benefit of our ongoing international collaborations in Europe and Asia 
after the NEP program is completed.</p>

</div>

<br>

<div class="display_cell credit_box">

  <h3>Platform Revision Information</h3>
  <strong>Version:</strong> <%= @revinfo['Revision'] %>
  <br>
  <strong>Portal Last Changed Author:</strong> <%= @revinfo['Last Changed Author'] %>
  <br>
  <strong>Portal Last Changed Revision:</strong> <%= @revinfo['Last Changed Rev'] %>
  <br>
  <strong>Portal Last Changed Date:</strong> <%= to_localtime(@revinfo['Last Changed Date'],:datetime) %>
  <br>
  <strong>Portal Up Since:</strong> <%= to_localtime(CBRAIN::Startup_LocalTime,:datetime) %> (for: <%= pretty_elapsed((Time.now.localtime - CBRAIN::Startup_LocalTime).to_i) %>)

  <% plugins_basenames = Dir.glob(Pathname.new(CBRAIN::Plugins_Dir) + "cbrain-plugins-*")
                         .map { |x| Pathname.new(x).basename.to_s }
                         .reject { |x| x =~ /^cbrain-plugins-base$/ } %>

  <% if plugins_basenames.present? %>
    <h3>CBRAIN Plugins Revision Information
    <%= show_hide_toggle "(Show)", "#plugins_panel", :class  => 'action_link' %>
    </h3>
    <div id="plugins_panel" style="display: none">
    <% plugins_basenames.sort.each do |plugin| %>
      <% revtag  = CbrainFileRevision.cbrain_head_tag(plugin)                 rescue CbrainFileRevision::DEFAULT_TAG %>
      <% revinfo = CbrainFileRevision.cbrain_head_revinfo(plugin).self_update rescue nil %>
      <h5>Plugins Package: <%= plugin.sub("cbrain-plugins-","").capitalize %></h5>
      <strong>Version:</strong> <%= revtag %>
      <br>
      <strong>Last Changed Author:</strong> <%= revinfo.try(:author) || "?" %>
      <br>
      <strong>Last Changed Revision:</strong> <%= revinfo.try(:commit) || "?" %>
      <br>
      <strong>Last Changed Date:</strong> <%= revinfo ? to_localtime(revinfo.datetime) : "?" %>
      <p>
    <% end %>
    </div>
  <% end %>

  <% if current_user && current_user.has_role?(:admin_user) %>
    <h3>Platform Information
    <%= show_hide_toggle "(Show)", "#platform_panel", :class  => 'action_link' %>
    </h3>
    <div id="platform_panel" style="display: none">
      <%= Rails::Info.to_html.html_safe %>
    </div>
    <h3>Environment Variables
    <%= show_hide_toggle "(Show)", "#env_panel", :class  => 'action_link' %>
    </h3>
    <div id="env_panel" style="display: none">
      <%= array_to_table(ENV.to_a.sort { |a,b| a[0] <=> b[0] }.flatten, :cols => 2, :td_class => 'left') %>
    </div>
  <% end %>
</div>

<div class="box_spacer"></div>

<div class="display_cell credit_box">
  <h3>Licensing Information</h3>
  <fieldset>
    <legend>
     GNU Public License
    </legend>
    The CBRAIN code base is distributed under the GNU Public License (GPL).<br/>
    Copyright Alan C. Evans - McGill University 2008-2012<br/>
    A copy of the text of the license can be found here.
    <%= show_hide_toggle "(Show)", "#gpl_panel", :class  => 'action_link' %>
    <div id="gpl_panel" style="display: none">
      <pre>
      <% txt = File.read(Rails.root.to_s + "/../LICENSE.txt") rescue "Error getting license file." %>
      <%= txt %>
      </pre>
    </div>
  </fieldset>
  <fieldset>
    <legend>
     Other licenses
    </legend>
    Some packages or libraries developed by external entities<br/>
    are used in the CBRAIN code base; here is a summary of their<br/>
    respective licenses.
    <%= show_hide_toggle "(Show)", "#other_licenses_panel", :class  => 'action_link' %>
    <div id="other_licenses_panel" style="display: none">
      <pre>
      <% txt = File.read(Rails.root.to_s + "/../CBRAIN_licenses.txt") rescue "Error getting license file." %>
      <%= txt %>
      </pre>
    </div>
  </fieldset>
</div>

<br/>

<%= render :partial => 'logo_footer' %>

