
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'About' %>

<div class="credit_box">

  <h3>Platform Revision Information</h3>
  <strong>Version:</strong> <%= @revinfo['Revision'] %>
  <br>
  <strong>Portal Last Changed Author:</strong> <%= @revinfo['Last Changed Author'] %>
  <br>
  <strong>Portal Last Changed Revision:</strong> <%= @revinfo['Last Changed Rev'] %>
  <br>
  <strong>Portal Last Changed Date:</strong> <%= to_localtime(@revinfo['Last Changed Date'],:datetime) %>
  <br>
  <strong>Portal Up Since:</strong> <%= to_localtime(CBRAIN::Startup_LocalTime,:datetime) %> (for: <%= pretty_elapsed((Time.now.localtime - CBRAIN::Startup_LocalTime).to_i) %>)

  <% plugins_basenames = Dir.glob(Pathname.new(CBRAIN::Plugins_Dir) + "cbrain-plugins-*")
                         .map { |x| Pathname.new(x).basename.to_s }
                         .reject { |x| x =~ /^cbrain-plugins-base$/ } %>

  <% if plugins_basenames.present? %>
    <h3>CBRAIN Plugins Revision Information
    <%= show_hide_toggle "(Show)", "#plugins_panel", :class  => 'action_link' %>
    </h3>
    <div id="plugins_panel" style="display: none">
    <% plugins_basenames.sort.each do |plugin| %>
      <% revtag  = CbrainFileRevision.cbrain_head_tag(plugin)                 rescue CbrainFileRevision::DEFAULT_TAG %>
      <% revinfo = CbrainFileRevision.cbrain_head_revinfo(plugin).self_update rescue nil %>
      <h5>Plugins Package: <%= plugin.sub("cbrain-plugins-","").capitalize %></h5>
      <strong>Version:</strong> <%= revtag %>
      <br>
      <strong>Last Changed Author:</strong> <%= revinfo.try(:author) || "?" %>
      <br>
      <strong>Last Changed Revision:</strong> <%= revinfo.try(:commit) || "?" %>
      <br>
      <strong>Last Changed Date:</strong> <%= revinfo ? to_localtime(revinfo.datetime) : "?" %>
      <p>
    <% end %>
    </div>
  <% end %>

  <% if current_user && current_user.has_role?(:admin_user) %>
    <h3>Platform Information
    <%= show_hide_toggle "(Show)", "#platform_panel", :class  => 'action_link' %>
    </h3>
    <div id="platform_panel" style="display: none">
      <%= Rails::Info.to_html.html_safe %>
    </div>
    <h3>Environment Variables
    <%= show_hide_toggle "(Show)", "#env_panel", :class  => 'action_link' %>
    </h3>
    <div id="env_panel" style="display: none">
      <%= array_to_table(ENV.to_a.sort { |a,b| a[0] <=> b[0] }.flatten, :cols => 2, :td_class => 'left') %>
    </div>
  <% end %>
</div>

<div class="box_spacer"></div>

<div class="credit_box">
  <h3>Licensing Information</h3>

  Credits for the project can be found on the <a class="action_link" href="/credits">credits</a> page,
  as well as in the <a class="action_link" href="https://github.com/aces/cbrain/graphs/contributors">GitHub contributors</a> page.
  <p>

  <fieldset>
    <legend>
     GNU Public License
    </legend>
    The CBRAIN code base is distributed under the GNU Public License (GPL).<br/>
    Copyright Alan C. Evans - McGill University 2008-2016<br/>
    A copy of the text of the license can be found here.
    <%= show_hide_toggle "(Show)", "#gpl_panel", :class  => 'action_link' %>
    <div id="gpl_panel" style="display: none">
      <pre>
      <% txt = File.read(Rails.root.to_s + "/../LICENSE.txt") rescue "Error getting license file." %>
      <%= txt %>
      </pre>
    </div>
  </fieldset>
  <fieldset>
    <legend>
     Other licenses
    </legend>
    Some packages or libraries developed by external entities<br/>
    are used in the CBRAIN code base; here is a summary of their<br/>
    respective licenses.
    <%= show_hide_toggle "(Show)", "#other_licenses_panel", :class  => 'action_link' %>
    <div id="other_licenses_panel" style="display: none">
      <pre>
      <% txt = File.read(Rails.root.to_s + "/../CBRAIN_licenses.txt") rescue "Error getting license file." %>
      <%= txt %>
      </pre>
    </div>
  </fieldset>
</div>

<%= render :partial => 'logo_footer' %>

