
<% title t('.title') %>

<%= form_tag("/portal_log", :method => :get) do %>

  <div class="log_refresh">
    <%= submit_tag t('refresh'), :class => "button" %>
  </div>

  <div class="log_filters">
    <%= t('.lines_to_show_html',    dropdown: select_tag(:num_lines, options_for_select([100, 500, 1000, 5000, 10_000, 20_000], :selected => params[:num_lines].presence || 5000))) %>
    <%= t('.min_request_time_html', dropdown: select_tag(:ms_min, options_for_select([ '', 200, 500, 1000, 1500, 2000, 5000, 10000], params[:ms_min]))) %>    <br>

    <strong><%= t('.filter') %></strong>
      <%= t('.by_user_html',     dropdown: select_tag(:user_login, options_for_select(@user_counts.keys.sort.map{ |k| ["#{k} (#{@user_counts[k]})", k]  }, selected: params[:user_login]), include_blank: true)) %>
      <%= t('.by_instance_html', textfield: text_field_tag(:log_inst, params[:log_inst], :size => 8)) %>
      <%= t('.by_method_html',   dropdown: select_tag(:log_meth, options_for_select(
        [ '', 'GET', 'POST', 'PUT', 'PATCH', 'DELETE' ], params[:log_meth]))) %>
      <%
         # In development env, only the controllers accessed at least once show up as descendants of
         # ApplicationController, so we hardcode a initial 'good enough' list.
         controller_list = %w( access_profiles bourreaux custom_filters data_providers groups
                               help_documents invitations messages portal session_data sessions signups
                               sites tags tasks tools tool_configs userfiles users ) # what we have at 4.5.0
         # The line below adds any other controllers we might have missed (at least in production env).
         controller_list += ApplicationController.descendants.map(&:name).map { |n| n.sub(/Controller$/,"").underscore }
         controller_list = controller_list.uniq.sort
      %>
      <%= t('.by_controller_html', dropdown: select_tag(:log_ctrl, options_for_select( [ '' ] + controller_list, params[:log_ctrl]))) %>
    <br>

    <strong><%= t('.hide_lines') %></strong>
        <%= t('.started_html',    checkbox: check_box_tag(:hide_started,    "1", params[:hide_started]    == "1")) %>
      | <%= t('.processing_html', checkbox: check_box_tag(:hide_processing, "1", params[:hide_processing] == "1")) %>
      | <%= t('.parameters_html', checkbox: check_box_tag(:hide_parameters, "1", params[:hide_parameters] == "1")) %>
      | <%= t('.rendered_html',   checkbox: check_box_tag(:hide_rendered,   "1", params[:hide_rendered]   == "1")) %>
      | <%= t('.redirected_html', checkbox: check_box_tag(:hide_redirected, "1", params[:hide_redirected] == "1")) %>
      | <%= t('.user_html',       checkbox: check_box_tag(:hide_user,       "1", params[:hide_user]       == "1")) %>
      | <%= t('.completed_html',  checkbox: check_box_tag(:hide_completed,  "1", params[:hide_completed]  == "1")) %>
    <% if Rails.env == 'development' %>
      | <%= t('.sql_html',        checkbox: check_box_tag(:hide_sql,        "1", params[:hide_sql]        == "1")) %>
      | <%= t('.load_html',       checkbox: check_box_tag(:hide_load,       "1", params[:hide_load]       == "1")) %>
      | <%= t('.exists_html',     checkbox: check_box_tag(:hide_exists,     "1", params[:hide_exists]     == "1")) %>
      | <%= t('.cache_html',      checkbox: check_box_tag(:hide_cache,      "1", params[:hide_cache]      == "1")) %>
    <% end %>

  </div>

<% end %>

<pre id="log_contents" class="scroll_bottom"><%= @portal_log %></pre>

