
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% is_signed = current_user.signed_license_agreements.include?(@license) %>
<div class="license_agreement">
  <% if ! is_signed %>
    <%= form_tag :action => :sign_license, :license => @license %>
      <%= hidden_field_tag :license, @license %>
  <% end %>
  <% content = File.read(Rails.root + "public/licenses/#{@license}.html") rescue "(Error fetching license text)" %>
  <% content.gsub!(/<input\s/i,"<INPUT DISABLED CHECKED ") if is_signed %>
  <%= content.html_safe %>
  <p>
  <hr>
  <% if ! is_signed %>
      <%= submit_tag "I Agree", :name => :agree %>
      <%= submit_tag "I Do Not Agree", :name => :not_agree %>
    </form>
  <% else %>
    <strong>You have already signed this agreement.</strong>
  <% end %>
</div>

