
<h1>Welcome to CBRAIN, <%= current_user.full_name %></h1>

<% if current_user.has_role?(:admin) %>

    <div class="generalbox">
        <h1><%= link_to_bourreau_if_accessible(RemoteResource.current_resource, current_user, :name => "System Info") %></h1>

        <strong>Portal instance name:</strong> <%= link_to_bourreau_if_accessible(RemoteResource.current_resource) %>
      <% if @active_users %>
        <p>
        <strong>Users currently online:</strong> <% array_to_table(@active_users.map(&:login), :table_class => 'simple', :cols => 4) %>
        </p>
        <p><strong>Recent activity:</strong></p>
        <% array_to_table(Session.recent_activity, :table_class => 'simple', :td_class => 'no_wrap', :cols => 1) do |entry,r,c| %>
          <%= link_to_user_with_tooltip entry[:user] %><%= ", #{h entry[:user].city}" if entry[:user].city%>:
          <%= entry[:active] ? "Active" : "Logged out" %>
          <%= distance_of_time_in_words(entry[:last_access], Time.now) %> ago
          <% if entry[:remote_host] || entry[:raw_user_agent] %>
            <%
               parsed   = HttpUserAgent.new(entry[:raw_user_agent] || 'unknown/unknown')
               browser  = (parsed.browser_name    || 'unknown browser')
               brow_ver = (parsed.browser_version || '?')
               os       = (parsed.os_name         || 'unknown OS')
               pretty = "#{browser} #{brow_ver} on #{os}"
            %>
            <br/>
            <small>
              (From
              <% html_tool_tip(entry[:remote_host]) do %>
                <%= h(entry[:remote_ip] || entry[:remote_host]) %>
              <% end %>
              with
              <% html_tool_tip(pretty) do %>
                <%= h(entry[:raw_user_agent] || 'unknown') %>
              <% end %>
              )
            </small>
          <% end %>
        <% end %>
      <% end %>
      <br>
        There are currently <%= Session.count %> entries in the sessions table.<br>
      <% form_tag home_path do %>
        Clear sessions older than
        <%= select_tag :clear_sessions, options_for_select( [
             [ "One month ago",     1.month.to_i   ],
             [ "One week ago",      1.week.to_i    ],
             [ "One day ago",       1.day.to_i     ],
             [ "One hour ago",      1.hour.to_i    ]
           ]) %>
        <%= submit_tag "Clear", :confirm => "Are you sure you want to clear the sessions?" %>
      <% end %>
      <br>
      <% form_tag home_path do %>
        <% if BrainPortal.current_resource.portal_locked? %>
              <%= hidden_field_tag :lock_portal, "unlock" %>
              <%= submit_tag "Unlock this Portal", {:confirm => "Are you sure you wish to unlock this portal?"} %>
        <% else %>
              <%= hidden_field_tag :lock_portal, "lock" %>
              <%= submit_tag "Lock this Portal", {:confirm => "Are you sure you wish to lock this portal?"} %>
        <% end %>
      <% end %>  
    </div>



    <div class="display_cell">&nbsp;&nbsp;&nbsp;</div>

<% end %>



  <div class="generalbox">
  <h1><%= link_to "Account Info", user_path(current_user) %></h1>  
    <p>
      <strong>Your login name:</strong> <%= link_to_user_if_accessible(current_user) %>
    </p>
    <p>
      <strong>Your full name:</strong> <%= current_user.full_name %>
    </p>
    <p>
      <strong>Your site affiliation:</strong> <%= link_to_site_if_accessible(current_user.site) %>
    </p>
    <p>
      <strong>Your time zone:</strong> <%= red_if(current_user.time_zone.blank?,h(current_user.time_zone),"(Unset)") %><BR>
      <strong>Your current time:</strong> <%= to_localtime(Time.now, :datetime) %><BR>
    </p>
    <p>
       <strong>Projects you belong to:</strong>  <% array_to_table(@groups, :table_class => 'simple', :cols => 4) { |g,r,c| link_to_group_if_accessible(g) } %>
    </p>
    <p>
      <strong>Tools available to you:</strong><br/>
      <% array_to_table(current_user.available_tools.map(&:name).sort, :table_class => 'simple', :td_class => 'no_wrap', :cols => 4) %>
    </p>
    <p>
      <strong>Your default Data Provider:</strong> <%= link_to_data_provider_if_accessible(@default_data_provider) %>
    </p>
    <p>
      <strong>Your default Execution Server:</strong> <%= link_to_bourreau_if_accessible(@default_bourreau) %>
    </p>  
  </div>




  <div class="display_cell">&nbsp;&nbsp;&nbsp;</div>




  <div class="generalbox">

    <h1><%= link_to "Tasks", :controller  => :tasks, :action  => :index %></h1>

    <%= render :partial => 'task_summary_box', :locals => { :status_key => :completed } %>

    <%= render :partial => 'task_summary_box', :locals => { :status_key => :running } %>

    <%= render :partial => 'task_summary_box', :locals => { :status_key => :failed } %>

  </div>

