<%

#
# CBRAIN Project
#
# Login manager welcome layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<br><br>
<H2><center>Welcome to CBRAIN, <%= current_user.full_name %></center></H2>
<br>

<table class = "welcometable">
	<tbody>
	<tr>
		<td><b>Number of files on your account:</b></td>
		<td class = "welcomeresult"><%= h @num_files  %><br><br></td>
	</tr>
	<tr>
		<td><b>Groups you belong to:</b></td>
		<td class = "welcomeresult"><%= h @groups %><br><br></td>
	</tr>
	<tr>
		<td><b>Default Data Provider:</b></td>
		<td class = "welcomeresult"><%= h @default_data_provider %><br><br></td>
	</tr>
	<tr>
		<td><b>Default Execution Server:</b></td>
		<td class = "welcomeresult"><%= h @default_bourreau %><br><br></td>
	</tr>
	</tbody>
</table>	



