<%

#
# CBRAIN Project
#
# Login manager welcome layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<br><br>
<H2><center>Welcome to CBRAIN, <%= current_user.full_name %></center></H2>
<br>

<div class = "welcomepage">
<table class = "welcometable">
	<tbody>
	<tr>
		<td><b>Number of files on your account:</b></td>
		<td class = "welcomeresult"><%= current_user.userfiles.size %><br><br></td>
	</tr>
	<tr>
		<td><b>Groups you belong to:</b></td>
		<td class = "welcomeresult"><%= current_user.groups.collect{|g| h g.name}.join(', ') %><br><br></td>
	</tr>
	<tr>
		<td><b>Default Data Provider:</b></td>
		<td class = "welcomeresult"><%= current_user.user_preference.data_provider.name %><br><br></td>
	</tr>
	<tr>
		<td><b>Default Execution Server:</b></td>
		<td class = "welcomeresult"><%= current_user.user_preference.bourreau_id %><br><br></td>
	</tr>
	</tbody>
</table>	
</div>


