
<% title 'Welcome' %>

<h1>Welcome to CBRAIN, <%= current_user.full_name %></h1>

<% if current_user.has_role?(:admin) %>

    <div class="generalbox no_wrap">
    
      <h1><%= link_to_bourreau_if_accessible(RemoteResource.current_resource, current_user, :name => "System Info") %></h1>
      
      <p>
        <strong>Portal instance name:</strong> <%= link_to_bourreau_if_accessible(RemoteResource.current_resource) %>
      </p>
      
      <%= form_tag home_path do %>
        <% if BrainPortal.current_resource.portal_locked? %>
              <%= hidden_field_tag :lock_portal, "unlock" %>
              <%= submit_tag "Unlock this Portal", {:confirm => "Are you sure you wish to unlock this portal?"} %>
        <% else %>
              <%= hidden_field_tag :lock_portal, "lock" %>
              <%= submit_tag "Lock this Portal", {:confirm => "Are you sure you wish to lock this portal?"} %>
              <% message = BrainPortal.current_resource.meta[:portal_lock_message] %>
              <% message = "(lock message)" if message.blank? %>
              <%= text_field_tag :message, message, :size => 30 %>
        <% end %>
      <% end %>  


      <% if @active_users %>
        <p>
          <strong>Users currently online:</strong><%= array_to_table(@active_users.map(&:login), :table_class => 'simple', :cols => 4) %>
        </p>
      <% end %>

      <p>
        <strong>Recent activity:</strong>
      </p>

      <%= array_to_table(CbrainSession.recent_activity, :table_class => 'simple', :cols => 1) do |entry,r,c| %>
        <%= link_to_user_with_tooltip entry[:user] %><%= ", #{h entry[:user].city}" if entry[:user].city %>:
        <%= entry[:active] ? "Active" : "Logged out" %>
        <%= distance_of_time_in_words(entry[:last_access], Time.now) %> ago
        <% if entry[:remote_host] || entry[:raw_user_agent] %>
          <%
             parsed   = HttpUserAgent.new(entry[:raw_user_agent] || 'unknown/unknown')
             browser  = (parsed.browser_name    || 'unknown browser')
             brow_ver = (parsed.browser_version || '?')
             os       = (parsed.os_name         || 'unknown OS')
             pretty = "#{browser} #{brow_ver} on #{os}"
          %>
          <br/>
          <small>
            From
            <%= html_tool_tip(entry[:remote_host], :offset_x => 0, :offset_y => 12) do %>
              <%= entry[:remote_ip] || entry[:remote_host] %>
            <% end %>
            with
            <%= html_tool_tip(pretty, :offset_x => 0, :offset_y => 12) do %>
              <%= entry[:raw_user_agent] || 'unknown' %>
            <% end %>
          </small>
        <% end %>
      <% end %>



      <p>
        <strong>Sessions</strong>
      </p>
      
      There are currently <%= CbrainSession.count %> entries in the sessions table.<br/>
      <%= form_tag home_path do %>
        Clear sessions older than
        <%= select_tag :session_clear, options_for_select( [
             [ "One month ago",     1.month.to_i   ],
             [ "One week ago",      1.week.to_i    ],
             [ "One day ago",       1.day.to_i     ],
             [ "One hour ago",      1.hour.to_i    ]
           ]) %>
        <%= submit_tag "Clear", :confirm => "Are you sure you want to clear the sessions?" %>
      <% end %>
  


      <p>
        <strong>Exceptions</strong>
      </p>

      <% 
        one_day_ex    = LoggedException.where([ "created_at > ?", 1.day.ago ]).count
        three_day_ex  = LoggedException.where([ "created_at > ?", 3.day.ago ]).count
        one_week_ex   = LoggedException.where([ "created_at > ?", 1.week.ago ]).count
        all_ex        = LoggedException.count
      %>
      <% if all_ex > 0 %>
        <div class="exception_report">
          There are internal exceptions logged:<br/>
          <ul>
            <li><%= link_to pluralize(one_day_ex,"exception"),
                    :controller => :logged_exceptions, :action => :index, :date_ranges_filter => 1 %>
                    in the past day;<br/>
            <li><%= link_to pluralize(three_day_ex,"exception"),
                    :controller => :logged_exceptions, :action => :index, :date_ranges_filter => 2 %>
                    in the past three days;<br/>
            <li><%= link_to pluralize(one_week_ex,"exception"),
                    :controller => :logged_exceptions, :action => :index, :date_ranges_filter => 7 %>
                    in the past week;<br/>
            <li><%= link_to pluralize(all_ex,"exception"),
                    :controller => :logged_exceptions, :action => :index %>
                    in total.<br/>
          </ul>
        </div>
      <% end %>
    </div>



    <div class="box_spacer"></div>

<% end %>



  <div class="generalbox no_wrap">
  <h1><%= link_to "Account Info", user_path(current_user) %></h1>  
    <p>
      <strong>Your login name:</strong> <%= link_to_user_if_accessible(current_user) %>
    </p>
    <p>
      <strong>Your full name:</strong> <%= current_user.full_name %>
    </p>
    <p>
      <strong>Your site affiliation:</strong> <%= link_to_site_if_accessible(current_user.site) %>
    </p>
    <p>
      <strong>Your time zone:</strong> <%= red_if(current_user.time_zone.blank?,h(current_user.time_zone),"(Unset)") %><BR>
      <strong>Your current time:</strong> <%= to_localtime(Time.now, :datetime) %><BR>
    </p>
    <p>
       <strong>Projects you belong to:</strong>  <%= array_to_table(@groups, :table_class => 'simple', :cols => 4) { |g,r,c| link_to_group_if_accessible(g) } %>
    </p>
    <p>
      <strong>Tools available to you:</strong><br/>
      <%= array_to_table(current_user.available_tools.where( "category <> 'background'" ).map(&:name).sort, :table_class => 'simple', :cols => 4) %>
    </p>
    <p>
      <strong>Your default Data Provider:</strong> <%= link_to_data_provider_if_accessible(@default_data_provider) %>
    </p>
    <p>
      <strong>Your default Execution Server:</strong> <%= link_to_bourreau_if_accessible(@default_bourreau) %>
    </p>  
  </div>

  <% if @tasks.size > 0 %>
    <div class="box_spacer"></div>
    
    <div class="generalbox no_wrap">

      <h1><%= link_to "Latest Updated Tasks", :controller  => :tasks, :action  => :index %></h1>

        <table class="task_summary_table">
          <% for task in @tasks %>
            <tr>
              <td><%= link_to_task_if_accessible(task,nil,:name_method => :name_and_bourreau) %></td>
              <td><%= colored_status(task.status) %></td>
              <td><%= to_localtime(task.updated_at,:datetime) %></td>
            </tr>
          <% end %>
        </table>
    </div>
  
  <% end %>

