<%

#
# CBRAIN Project
#
# Login manager welcome layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<div class = "generalcontent">
<br><br>
<h2>Welcome to CBRAIN, <%= current_user.full_name %></h2>
<br>
<div class = "generalbox">


<table class = "welcometable">
	<tbody>
	<tr>
		<th><b>Number of files on your account:</b></td>
		<td class = "welcomeresult"><%= h @num_files  %><br><br></td>
	</tr>
	<tr>
		<th><b>Groups you belong to:</b></td>
		<td class = "welcomeresult"><%= h @groups %><br><br></td>
	</tr>
	<tr>
		<th><b>Default Data Provider:</b></td>
		<td class = "welcomeresult"><%= h @default_data_provider %><br><br></td>
	</tr>
	<tr>
		<th><b>Default Execution Server:</b></td>
		<td class = "welcomeresult"><%= h @default_bourreau %><br><br></td>
	</tr>
	</tbody>
</table>	

</div>
</div>

