
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title t('.welcome') %>

<h1><%= t('.welcome_to', name: current_user.full_name) %></h1>

<% if @dashboard_messages.count > 0 %>
    <div class="generalbox no_wrap">
      <h1><%= t('.news') %></h1>
      <% @dashboard_messages.each do |message| %>
        <h2><%= message.header %></h2>
        <span class="small"><%= t('.posted_at', created_at: message.created_at.strftime("%B %e, %Y")) %></span><br>
        <%= message.description.html_safe %>
      <% end %>
    </div>

    <div class="box_spacer"></div>
<% end %>

<% if current_user.has_role?(:admin_user) %>

    <div class="generalbox no_wrap">

      <h1><%= link_to_bourreau_if_accessible(RemoteResource.current_resource, current_user, :name => t('.system_info')) %></h1>

      <p>
      <%= t('.instance_name_html', name: link_to_bourreau_if_accessible(RemoteResource.current_resource)) %>
      </p>

      <%= form_tag home_path do %>
        <% if BrainPortal.current_resource.portal_locked? %>
              <%= hidden_field_tag :lock_portal, "unlock" %>
              <%= submit_tag t('.unlock'), :data => { :confirm => t('.unlock_confirm') } %>
        <% else %>
              <% message = BrainPortal.current_resource.meta[:portal_lock_message] %>
              <% message = t('.lock_message') if message.blank? %>
              <%= hidden_field_tag :lock_portal, "lock" %>
              <%= text_field_tag :message, message, :size => 30 %>
              <%= submit_tag t('.lock'), :data => { :confirm => t('.lock_confirm') } %>
        <% end %>
      <% end %>

      <% if @active_users %>
        <p>
          <strong><%= t('.online_users') %></strong><%= array_to_table(@active_users.map(&:login), :table_class => 'simple', :cols => 4) %>
        </p>
      <% end %>


      <p>
        <strong><%= t('.recent_activity') %></strong>
        <%= link_to t('.view_logs'), url_for(:action => :portal_log, :hide_rendered => "1") %>
      </p>

      <%= array_to_table(CbrainSession.recent_activity, :table_class => 'simple', :cols => 1) do |entry,r,c| %>
        <%= link_to_user_with_tooltip entry[:user] %><%= ", #{entry[:user].city}" if entry[:user].city %>:
        <%= entry[:active] ? t('.active') : t('.logged_out') %>
        <%= t('ago_time', time: distance_of_time_in_words(entry[:last_access], Time.now)) %>
        <% if entry[:remote_host] || entry[:raw_user_agent] %>
          <%
             parsed   = HttpUserAgent.new(entry[:raw_user_agent] || 'unknown/unknown')
             browser  = (parsed.browser_name    || t('.unknown_browser'))
             brow_ver = (parsed.browser_version || '?')
             os       = (parsed.os_name         || t('.unknown_os'))
             pretty = "#{browser} #{brow_ver} #{t('.on')} #{os}"
          %>
          <br/>
          <small>
            <%= t('.from') %>
            <%= html_tool_tip(entry[:remote_host], :offset_x => 0, :offset_y => 12) do %>
              <%= entry[:remote_ip] || entry[:remote_host] %>
            <% end %>
            <%= t('.with') %>
            <%= html_tool_tip(pretty, :offset_x => 0, :offset_y => 12) do %>
              <%= entry[:raw_user_agent] || t('unknown').downcase %>
            <% end %>
          </small>
        <% end %>
      <% end %>

      <p>
        <strong><%= t('.session_title') %></strong>
      </p>
      <%= t('.sessions_count', count: CbrainSession.count) %>
      <%= form_tag home_path do %>
        <%= t('.clear_sessions') %>
        <%= select_tag :session_clear, options_for_select( [
             [ t('clear_options.month'),    1.month.seconds.to_i   ],
             [ t('clear_options.week'),     1.week.seconds.to_i    ],
             [ t('clear_options.day'),      1.day.seconds.to_i     ],
             [ t('clear_options.hour'),     1.hour.seconds.to_i    ],
             [ t('clear_options.now'),      1.seconds.to_i         ],
           ]) %>
        <%= submit_tag t('clear'), :data => { :confirm => t('.clear_confirm') } %>
      <% end %>



      <%
        one_day_ex    = ExceptionLog.where([ "created_at > ?", 1.day.ago ]).count
        three_day_ex  = ExceptionLog.where([ "created_at > ?", 3.day.ago ]).count
        one_week_ex   = ExceptionLog.where([ "created_at > ?", 1.week.ago ]).count
        all_ex        = ExceptionLog.count
      %>
      <% if all_ex > 0 %>
        <p>
          <strong><%= t('activerecord.models.exception.other') %></strong>
        </p>

        <div class="exception_report">
          <%= t('.exceptions_logged') %>
          <ul>
            <li><%= t('.exceptions_past_day', count: one_day_ex) %><br/></li>
            <li><%= t('.exceptions_past_three_days', count: three_day_ex) %><br/></li>
            <li><%= t('.exceptions_past_week', count: one_week_ex) %><br/></li>
            <li><%= t('.exceptions_total', count: all_ex) %><br/></li>
          </ul>
          <div class="centered"><%= link_to t('.show_exceptions'), :controller => :exception_logs, :action => :index %></div>
        </div>
      <% end %>
    </div>

    <div class="box_spacer"></div>

<% end %>



<div class="generalbox no_wrap">
  <h1><%= link_to t('.account_info'), user_path(current_user) %></h1>
    <p>
      <strong><%= t('.login_name') %></strong> <%= link_to_user_if_accessible(current_user) %>
    </p>
    <p>
      <strong><%= t('.full_name') %></strong> <%= current_user.full_name %>
    </p>
    <p>
      <strong><%= t('.site_affiliation') %></strong> <%= link_to_site_if_accessible(current_user.site) %>
    </p>
    <p>
      <strong><%= t('.time_zone') %></strong> <%= red_if(current_user.time_zone.blank?,h(current_user.time_zone), t('.unset')) %><BR>
      <strong><%= t('.current_time') %></strong> <%= to_localtime(Time.now, :datetime) %><BR>
    </p>
    <p>
      <strong>
        <%= t('.tools_available_info_html',
          available: @available_tool_names.count,
          total: @tool_names.count,
          link: link_to(t('.full_tools_list'), available_path)
         ) %>
       </strong><br/>
      <%= array_to_table(@available_tool_names.sort, :table_class => 'simple', :cols => 4) %>
    </p>
    <p>
       <strong><%= t('.projects') %></strong>  <%= array_to_table(@groups, :table_class => 'simple', :cols => 4) { |g,r,c| link_to_group_if_accessible(g) } %>
    </p>
    <p>
      <strong><%= t('.default_provider') %></strong> <%= link_to_data_provider_if_accessible(@default_data_provider) %>
    </p>
    <p>
      <strong><%= t('.default_server') %></strong> <%= link_to_bourreau_if_accessible(@default_bourreau) %>
    </p>
</div>

<% if @tasks.size > 0 || @files.size > 0 %>
  <div class="box_spacer"></div>

  <div class="generalbox no_wrap">

    <% if @tasks.size > 0 %>
      <h1>
        <%=
          scope_link(t('.latest_tasks'),
            'tasks#index', { :order => [{ :a => 'updated_at', :d => 'desc' }], },
            url: { :controller => :tasks, :action => :index }
          )
        %>
        <% active_count = CbrainTask.find_all_accessible_by_user(current_user).active.count rescue 0 %>
        <% if active_count > 0 %>
          <%=
            scope_filter_link(
              t('.active_count_html', count: active_count),
              'tasks#index',
              :replace,
              { :t => 't.sts', :v => 'active' },
              url: { :controller => :tasks, :action => :index }
            )
          %>
        <% else %>
          <%= t('.none_active') %>
        <% end %>
      </h1>
      <table class="latest_summary_table">
        <% for task in @tasks %>
          <tr>
            <td><%= link_to_task_if_accessible(task, nil, :name_method => :name_and_bourreau) %></td>
            <td><%= link_to_user_if_accessible(task.user) %></td>
            <td><%= link_to_group_if_accessible(task.group) %></td>
            <td><%= colored_status(task.status) %></td>
            <td><%= to_localtime(task.updated_at,:datetime) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

    <% if @files.size > 0 %>
      <h1>
        <%=
          scope_link(t('.latest_files'),
            'userfiles#index', { :order => [{ :a => 'updated_at', :d => 'desc' }], },
            url: { :controller => :userfiles, :action => :index }
          )
        %>
      </h1>
      <table class="latest_summary_table">
        <% for file in @files %>
          <tr>
            <td><%= link_to_userfile_if_accessible(file, nil) %></td>
            <td><%= link_to_user_if_accessible(file.user) %></td>
            <td><%= link_to_group_if_accessible(file.group) %></td>
            <td><%= colored_pretty_size(file.size) %></td>
            <td><%= to_localtime(file.updated_at,:datetime) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>

  </div>

<% end %>



