<%

#
# CBRAIN Project
#
# Login manager welcome layout
#
# Original author: Pierre Rioux
#
# $Id: welcome.html.erb 43 2008-11-05 15:54:04Z tsherif $
#

-%>
<H1>Welcome to CBRAIN, <%= current_user.full_name %></H1>

<P>

<b>Number of files on your account:</b> <%= current_user.userfiles.size %><br>
<b>Groups you belong to:</b>
<%= current_user.groups.collect{|g| h g.name}.join(', ') %>
<P>
   
<% if RAILS_ENV == 'development' && current_user.role == 'admin' %>
   Incoming requests are considered:<strong><%= @local_request ? 'Local' : 'Public' %></strong><br>
 <%= button_to "Toggle Local Status", :action => "toggle_local_status" %>
<% end %>

<h3>Please select an option from the menu to the right.</h3>