
<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title("Add User to #{@nh_project.name}", '')%>

<div id="nh_invitations_new" class="nh_content">
  <div class="nh_form">
    <%= error_messages_for @nh_invitation, :header_message => "Invitation could not be created." %>
    <p class="nh_form_title">Add Users to project '<%= @nh_project.name %>'</p>
    <%= form_tag nh_invitations_path, action: "create" do |f| %>
      <fieldset>
        <%= label :emails, "Emails" %>
        <div class="field_note">Enter one or several email addresses separated by blanks or commas.</div>
        <%= text_field_tag :emails %>
      </fieldset>
      <%= hidden_field_tag "nh_project_id", @nh_project.id %>
      <div class="btn-section">
        <%= submit_tag "Invite", :class=>"btn-solid-secondary" %>
      </div>
    <% end %>
  </end>
</div>
