
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2022
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% cap_mode = @mode == :disk ? "Disk" : "CPU" %>
<% title "#{cap_mode} Quotas Configurations" %>

<div class="menu_bar">
  <% if @mode == :cpu %>
    <%= show_hide_toggle "About", ".cpu_quota_explanations", :class => 'button', :slide_effect => true, :slide_duration => 'fast'  %>
  <% end %>
  <% if @mode == :disk %>
    <%= show_hide_toggle "About", ".disk_quota_explanations", :class => 'button', :slide_effect => true, :slide_duration => 'fast'  %>
  <% end %>
  <% if current_user.has_role? :admin_user %>
      <%= link_to "Exceeded #{cap_mode} Quotas Report", report_quotas_path(:mode => @mode), :class => :button %>
      <%= link_to "New #{cap_mode} Quota Entry",        new_quota_path(:mode => @mode),              :class => :button %>
  <% end %>
  <% if @mode == :cpu %>
    <%= link_to "Switch to Disk Quotas",  quotas_path(:mode => :disk), :class => :button %>
  <% end %>
  <% if @mode == :disk %>
    <%= link_to "Switch to CPU Quotas",  quotas_path(:mode => :cpu),   :class => :button %>
  <% end %>

  <% user_list = current_user.available_users.sort_by(&:login) %>
  <% if @mode == :disk && user_list.size > 1 && current_user.has_role?(:admin_user) %>


    <div class="disk_quota_user_select">
        View as
        <%=
          ajax_onchange_select(:as_user_id,
                               quotas_path,
                               options_for_select(
                               user_list.collect { |u| [ u.login, u.id.to_s ] },
                               @as_user.id.to_s
                               ),
                               :datatype => 'script'
          )
        %>
    </div>
  </div>
  <% end %>

<% if @mode == :disk %>
  <fieldset class="disk_quota_explanations" style="display: none">
    <legend>About Disk Quotas</legend>
    <p class="long_paragraphs">
    This page shows the limits for the amount of disk space and number
    of files that can be stored on each DataProvider. Each row is
    a quota entry that applies to a user or all users, for a particular
    DataProvider. When a user exceeds the one of the two limits for
    a DataProvider, the user will no longer be able to create new
    files.
  </fieldset>
<% end %>

<% if @mode == :cpu %>
  <fieldset class="cpu_quota_explanations" style="display: none">
    <legend>About CPU Quotas</legend>
    <p class="long_paragraphs">
    This page shows the limits for the amount of CPU processing time
    that a user can historically accumulate. There are three rolling
    windows: for the CPU time accumulated over the past week, over
    the past month, and over the entire lifetime of the user's account.
    <p class="long_paragraphs">
    Each row contains a quota entry with all three limits. Quotas
    can apply to one or several Execution Servers, and can apply to
    a single specific user, all users, or all the users of a particular
    project.
    <p class="long_paragraphs">
    When a user has exceeded their quota on an Execution Server, their
    tasks in status 'New' will not be set up, and they will stay in 'New'
    until the quota window has moved ahead far enough to free some time.
  </fieldset>
<% end %>

<% if @mode == :disk %>
<div id="disk_quotas_table" class="index_block">
  <%= render :partial => 'disk_quotas_table' %>
</div>
<% end %>

<% if @mode == :cpu %>
<div id="cpu_quotas_table" class="index_block">
  <%= render :partial => 'cpu_quotas_table' %>
</div>
<% end %>
