
<h3>Update Information</h3>

<%= error_messages_for :user %>

<% form_for @user do |f| -%>

  <p><%= f.label :full_name, "Full Name" %><br/>
  <%= f.text_field :full_name %></p>

  <p><%= f.label :email, "Email" %><br/>
  <%= f.text_field :email %></p>

  <p>
    <%= f.label :city, "City" %><br/>
    <%= f.text_field :city %>
  </p>
  
  <p>
    <%= f.label :country, "Country" %><br/>
    <%= f.text_field :country %>
  </p>
  
  <p><%= f.label :time_zone, "Time Zone" %><br/>
  <%= f.time_zone_select :time_zone,
      ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
      { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'],
        :include_blank => true }
  %></p>

  <% if check_role(:admin) || check_role(:site_manager) %>

    <% if not_admin_user(@user) %>
      <p><%= f.label :role, "Role" %><br/>
      <%= f.select :role, roles_for_user(current_user), :prompt => 'Select a role' %></p>
      
      <% if check_role(:admin) %>
        <p><%= f.label :site_id, "Site" %><br/>
        <%= f.collection_select :site_id, Site.all, :id, :name, {:include_blank  => true}, :disabled  => current_user.has_role?(:site_manager)  %></p>
      <% end %>
    <% end %>

    <%= render :partial => 'group_tables' %>

  <% end %>

  <p><%= submit_tag 'Update' %></p>

<% end -%>

