
<h3>
   Update Information
   <small><small>
      <%= 
         link_to_function 'close', :class  => 'action_link' do |page|
            page << "current_options = null;"
            page['account_info'].visual_effect(:blind_up)
         end
      %>
   </small></small>
</h3>

<%= error_messages_for :user %>

<% form_for @user do |f| -%>

  <p><label for="login">Full Name</label><br/>
  <%= f.text_field :full_name %></p>

  <p><label for="email">Email</label><br/>
  <%= f.text_field :email %></p>

  <% if check_role(:admin) || check_role(:site_manager) %>

    <% if not_admin_user(@user) && check_role(:admin)%>

      <p><label for="role">Role</label><br/>
      <%= f.select :role, [["User", "user"],["Site Manager","site_manager"],["Admin","admin"]], :prompt => 'Select a role' %></p>

      <p><label for="site">Site</label><br/>
      <%= f.collection_select :site_id, Site.all, :id, :name, {:include_blank  => true}, :disabled  => current_user.has_role?(:site_manager)  %></p>

    <% end %>

    <label for="groups">Projects</label>
    <table>
      <% for group in @groups %>
        <tr>
          <td class="left_align"><%= check_box_tag("user[group_ids][]", group.id.to_s, @user.groups.include?(group) ) %></td>
          <td class="left_align"><%= h(group.name) -%></td>
        </tr>
      <% end %>
    </table>

  <% end %>

  <p><%= submit_tag 'Update' %></p>

<% end -%>

