<h3>
   Change Password
   <small><small>
      <%= 
         link_to_function 'close' do |page|
            page << "current_options = null;"
            page['change_password'].visual_effect(:blind_up)
         end
      %>
   </small></small>
</h3>

<%= error_messages_for :user %>
<% form_for @user do |f| -%>
   <p><label for="password">Password</label><br/>
   <%= f.password_field :password %></p>

   <p><label for="password_confirmation">Confirm Password</label><br/>
   <%= f.password_field :password_confirmation %></p>

   <p><%= submit_tag 'Change Password' %></p>
<% end -%>

<hr>
