
<%
    if current_user.has_role? :admin
      work_groups  = WorkGroup.all
      invis_groups = InvisibleGroup.all
    elsif current_user.has_role? :site_manager
      work_groups  = current_user.site.groups.where( :type  => "WorkGroup" )
      invis_groups = []
    else
      work_groups  = []
      invis_groups = []
    end
    work_groups  = work_groups.sort  { |a,b| a.name <=> b.name }
    invis_groups = invis_groups.sort { |a,b| a.name <=> b.name }
%>


    <label>Work Projects</label>
    <%= hidden_field_tag "user[group_ids][]", [] %>
    <% array_to_table(work_groups, :cols => 4, :td_class => 'left_align no_wrap') do |group,r,c| %>
      <%= check_box_tag("user[group_ids][]", group.id.to_s, @user.groups.include?(group) ) %>
      <%= h(group.name) %>
    <% end %>

    <% unless invis_groups.blank? %>

      <br/>

      <label>Invisible Projects</label>
      <% array_to_table(invis_groups, :cols => 4, :td_class => 'left_align no_wrap') do |group,r,c| %>
        <%= check_box_tag("user[group_ids][]", group.id.to_s, @user.groups.include?(group) ) %>
        <%= h(group.name) %>
      <% end %>

    <% end %>

