
<%= error_messages_for :user %>

<% ajax_form_for :user, @user, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="display_cell">
    <p><label for="full_name">Full Name</label><br/>
    <%= f.text_field :full_name %></p>
  
    <p><label for="login">Login</label><br/>
    <%= f.text_field :login %></p>
  
    <p><label for="email">Email</label><br/>
    <%= f.text_field :email %></p>
    
    <p>
      <label for="city">City</label><br/>
      <%= f.text_field :city %>
    </p>
    
    <p>
      <label for="country">Country</label><br/>
      <%= f.text_field :country %>
    </p>
    
    <p><label for="time_zone">Time Zone</label><br/>
    <%= f.time_zone_select :time_zone,
        ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
        { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'],
          :include_blank => true }
    %></p>
    
    <p><label for="role">Role</label><br/>
    <%= f.select :role, roles_for_user(current_user), {} %> </p>
    
    <p><label for="role">Site</label><br/>
    <%= f.collection_select :site_id, Site.all, :id, :name, {:include_blank  => true}, :disabled  => current_user.has_role?(:site_manager)  %></p>
  
    <p><label for="password">Password</label><br/>
    <%= f.password_field :password %></p>
  
    <p><label for="password_confirmation">Confirm Password</label><br/>
    <%= f.password_field :password_confirmation %></p>
    
    <p><%= submit_tag 'Create User' %></p>
  </div>
  
  <div class="display_cell">
    <label for="groups">Projects</label>
    <table>
       <% for group in @groups %>
           <tr>
             <td><%= check_box_tag("user[group_ids][]", group.id.to_s) %></td>
             <td><%= h(group.name) -%></td>
           </tr>
       <% end %>
    </table>
  </div>
  
<% end %>

