
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<span id="new_model">
  <%= button_with_dropdown_menu('Create User', :open => true) do %>
    <%= error_messages_for @user %>

    <%= ajax_form_for @user, :as => :user, :url => { :action => "create" }, :datatype => "script" do |f| -%>

      <div class="display_cell">
        <p><%= f.label :full_name, "Full Name" %><br/>
        <%= f.text_field :full_name %></p>

        <p><%= f.label :login, "Login" %><br/>
        <%= f.text_field :login %><br>
        <div class="field_explanation">For <strong>Tom Jones</strong>, use <strong>tjones</strong>, not 'tom' or 'jones'.</div>
        </p>

        <p><%= f.label :email, "Email" %><br/>
        <%= f.text_field :email %></p>

        <p>
          <%= f.label :city, "City" %><br/>
          <%= f.text_field :city %>
        </p>

        <p>
          <%= f.label :country, "Country" %><br/>
          <%= f.text_field :country %>
        </p>

        <p><%= f.label :time_zone, "Time Zone" %><br/>
        <%= f.time_zone_select :time_zone,
            ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
            { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'],
              :include_blank => true }
        %></p>

        <p><%= f.label :type, "Type" %><br/>
        <%= f.select :type, roles_for_user(current_user) %> </p>

        <% if current_user.has_role? :admin_user %>
          <p><%= f.label :site_id, "Site" %><br/>
			 <%= site_select "user[site_id]",{}, :prompt => "(Select a site)" %>
        <% end %>

        <p><%= f.label :password, "Password" %><br/>
        <%= f.password_field :password %></p>

        <p><%= f.label :password_confirmation, "Confirm Password" %><br/>
        <%= f.password_field :password_confirmation %></p>

        <p><label for="no_password_reset_needed">No need to reset initial password:</label>
        <%= check_box_tag :no_password_reset_needed, "1", params[:no_password_reset_needed] == "1" %>

        <p><%= submit_tag 'Create User' %></p>
      </div>

      <div class="display_cell">
        <%= render :partial => 'shared/group_tables', :locals => {:model => @user} %>
      </div>

    <% end %>
  <% end %>
</span>

