<h3>
   Account preferences for <%= @user.login %>
   <small><small>
      <%= 
         link_to_function 'close', :class  => 'action_link' do |page|
            page << "current_options = null;"
            page['preferences'].visual_effect(:blind_up)
         end
      %>
   </small></small>
</h3>

<% form_for(user_preference) do |f| %>
  <%= f.error_messages %>

  <p>
   Userfiles per page: 
   <%= select :other_options, :userfiles_per_page, ["25", "50", "75", "100", "200"], :selected => (user_preference.other_options["userfiles_per_page"] || Userfile::Default_num_pages )%>
  </p>
  <p>
    Default execution server:
    <%= bourreau_select(     "user_preference[bourreau_id]",
                             { :bourreaux => Bourreau.find_all_accessible_by_user(current_user),
                               :selector => user_preference.bourreau_id },
                             { :include_blank => true } )
    %>
  </p>
  <p>
    Default data provider:
    <%= data_provider_select("user_preference[data_provider_id]",
                             { :selector =>  user_preference.data_provider_id },
                             { :include_blank => true } )
    %>
  </p>
  <p>
    <%= f.submit "Save Preferences" %>
  </p>
<% end %>  <!-- End form -->

<%= button_to 'Reset to Defaults', user_preference, :confirm => 'Are you sure you want to reset your preferences?', :method => :delete %><br>

<hr>
