<h3>Account preferences for <%= @user.login %></h3>

<% form_tag user_path(@user), :method => :put do %>
  <p>
   <label>Userfiles per page:</label>
   <%= select :meta, :pref_userfiles_per_page, ["25", "50", "75", "100", "200"], :selected => (@user.meta["pref_userfiles_per_page"] || Userfile::Default_num_pages ) %>
  </p>
  <p>
    <%= label_tag "meta[pref_bourreau_id]", "Default execution server:" %>
    <%= bourreau_select(     "meta[pref_bourreau_id]",
                             { :bourreaux => Bourreau.find_all_accessible_by_user(current_user),
                               :selector => @user.meta["pref_bourreau_id"] },
                             { :include_blank => true } )
    %>
  </p>
  <p>
    <%= label_tag "meta[pref_data_provider_id]", "Default data provider:" %>
    <%= data_provider_select("meta[pref_data_provider_id]",
                             { :selector =>  @user.meta["pref_data_provider_id"] },
                             { :include_blank => true } )
    %>
    <%= overlay_data_providers_descriptions %>
  </p>
  <p>
    <%= submit_tag "Save Preferences" %>
  </p>
<% end %>  <!-- End form -->

