
<tr class="<%= "list-unavailable row_highlight" if user.account_locked %><%= cycle('list-odd', 'list-even') %> row_highlight" id="user_<%= user.id %>">
  <td><%= link_to_user_if_accessible(user) %><%= red_times_icon if user.account_locked %></td>
  <td class="left"><%= user.full_name %></td>
  <td><%= auto_link_email_addresses user.email.html_safe %></td>
  <td><%= user.last_connected_at ? to_localtime(user.last_connected_at,:datetime) : "Unknown" %></td>
  <% groups = user.available_groups.sort{|a, b| a.name.casecmp(b.name)} %>
  <td>
      <% if groups.size > 0 %>
        <%= html_tool_tip(pluralize(groups.size,"project"), :offset_x => 60 ) do %>
          <%= array_to_table(groups, :table_class => 'simple', :ratio => "3:1") { |g,r,c| g.name } %>
        <% end %>
      <% end %>
  </td>
  <td><%= user.role.humanize %></td>
  <td><%= link_to_site_if_accessible(user.site) %></td>
  <td><%= user.city %></td>
  <td><%= user.country %></td>
  <td><%= user.time_zone || "(Unset)" %></td>
  <td>
    <%= 
      filter_reset_link (@users_file_counts[user.id] || 0).to_s,
      :controller => :userfiles, :filters => {:user_id => user.id}, :ajax  => false 
    %>
  </td>
  <td>
    <%= 
      filter_reset_link (@users_task_counts[user.id] || 0).to_s,
      :controller => :tasks, :filters => {:user_id => user.id}, :ajax  => false 
    %>
  </td>
  <% if user.login == 'admin' %>
    <td colspan="2"></td>
  <% else %>
    <td>
      <%= 
           delete_button 'Delete', user_path(user), :class  => "action_link", 
                                                    :confirm  => "Are you sure you want to delete user '#{user.login}' (#{user.full_name})?", 
                                                    :target  => "#user_#{user.id}",
                                                    :target_text  => "<td colspan='11' style='color:red; text-align:center'>Deleting...</td>"
      %>
    </td>
    <td><%= link_to 'Switch',  switch_user_path(user), :class => 'action_link', :method  => :post %></td>
  <% end %>
  <td><%= link_to 'Access?', { :controller => :tool_configs, :action => :index, :user_id => user.id }, :class => 'action_link' %></td>
</tr>

