
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="user_<%= user.id %>">
  <td><%= link_to_user_if_accessible(user) %></td>
  <td class="left"><%= h(user.full_name) %></td>
  <td><%= h user.email %></td>
  <td><%= user.last_connected_at ? to_localtime(user.last_connected_at,:datetime) : "Unknown" %></td>
  <% groups = user.available_groups.sort{|a, b| a.name.casecmp(b.name)} %>
  <td><%= array_to_2d_table(groups, :table_class => 'simple bordered') { |g,r,c| link_to_group_if_accessible(g) } %></td>
  <td><%= h user.role.humanize %></td>
  <td><%= link_to_site_if_accessible(user.site) %></td>
  <td><%= h user.city %></td>
  <td><%= h user.country %></td>
  <td><%= h(user.time_zone || "(Unset)") %></td>
  <td><%= h user.userfiles.count %></td>
  <td><%= h user.cbrain_tasks.count %></td>
  <% unless user.login == 'admin' %>
    <td>
      <%= 
           delete_button 'Delete', user_path(user), :class  => "action_link", 
                                                    :confirm  => 'Are you sure?', 
                                                    :target  => "#user_#{user.id}",
                                                    :target_text  => "<td colspan='11' style='color:red; text-align:center'>Deleting...</td>"
      %>
    </td>
    <td><%= link_to 'Switch', switch_user_path(user), :class => 'action_link', :method  => :post %></td>
  <% else %>
    <td colspan="2"></td>
  <% end %>
</tr>

