
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="user_<%= user.id %>">
  <td><%= link_to h(user.full_name), user_path(user) %></td>
  <td><%=h user.login %></td>
  <td><%=h user.email %></td>
  <% groups = user.groups.reject{|g| g.name == 'everyone' || g.name == user.login }.sort{|a, b| a.name.casecmp(b.name)} %>
  <td><%= sorted_groups = groups.map{|g| work_group_link g, h(g.name), edit_group_path(g)}.join('<BR>') %></td>
  <td><%=h user.role.humanize %></td>
  <td><%=h user.site.name rescue "(Unassigned)" %></td>
  <td><%=h user.userfiles.count %></td>
  <% unless user.login == 'admin' %>
    <td>
      <%= 
           link_to 'Delete', user_path(user), :class  => "action_link delete_button", 
                                                         "data-confirm"  => 'Are you sure?', 
                                                         "data-delete-selector"  => "#user_#{user.id}",
                                                         "data-delete-text"  => "<td colspan='11' style='color:red; text-align:center'>Deleting...</td>"
      %>
    </td>
    <td><%= link_to 'Switch', switch_user_path(user), :class => 'action_link', :method  => :post %></td>
  <% else %><td colspan="2"></td><% end %>
</tr>

