
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Change Password' %>

<h2>Change Password</h2>

<%= error_messages_for @user, :header_message => "Password could not be updated.", :html_options => {:style => "margin-right:auto;margin-left:auto"} %>

<%= form_for(@user, :as => :user, :url => user_path(@user)) do |f| %>
  <table id="request_password" class="logintable">
    <tr>
      <td><label for="password">New password:</label></td>
      <td class="field"><%= f.password_field :password %></td>
    </tr>
    <tr>
      <td><label for="password_confirmation">Confirm new password:</label></td>
      <td class="field"><%= f.password_field :password_confirmation %></td>
    </tr>
    <% if @user.id != current_user.id %>
      <tr>
        <td><label for="force_password_reset">User WILL need to reset own password:</label></td>
        <td class="field">
          <%= hidden_field_tag :force_password_reset, "0", :id => 'hidden_force_password_reset' %>
          <%= check_box_tag    :force_password_reset, "1", params[:force_password_reset] != '0' %>
        </td>
      </tr>
     <% end %>
    <tr>
     <td></td>
     <td class="field"><br><%= submit_tag 'Submit' %></td></td>
    </tr>
  </table>
<% end %>

