
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>
<div class = "generalcontent">

<% title 'Edit User Information' %>

<h2>Update Information</h2>
<div class = "generalbox">

<%= error_messages_for :user %>
<% form_for @user do |f| -%>
<p><label for="login">Full Name</label><br/>
<%= f.text_field :full_name %></p>

<p><label for="email">Email</label><br/>
<%= f.text_field :email %></p>

<% if check_role(:admin) && not_admin_user(@user) %>
   <p><label for="login">Login</label><br/>
   <%= f.text_field :login %></p>

   <p><label for="role">Role</label><br/>
   <%= f.select :role, %w{admin user}, :prompt => 'Select a role' %></p>
   <br/>
   <label for="groups">Groups:</label>
   <table>
      <% for group in @groups %>
       <tr>
         <td class="info"><%= check_box_tag("user[group_ids][]", group.id.to_s, @user.groups.include?(group) ) %></td>
         <td class="info"><%= h(group.name) -%></td>
       </tr>
       <% end %>
   </table>
<% end %>
<br>

<h3>Create a new password (leave blank to keep the old one.)</h3>
<p><label for="password">Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Update' %></p>
<% end -%>

<%= button_to 'Cancel', check_role(:admin) ? users_path : home_path, :method => :get %>
</div>
</div>