
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Add New User' %>

<h2>Add New User</h2>

<%= error_messages_for @user %>

<%= form_for @user, :as => :user, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="generalbox">

    <h5>Basic Information</h5>

    <p><%= f.label :full_name, "Full Name" %><br/>
    <%= f.text_field :full_name %>

    <p><%= f.label :login, "Login" %><br/>
    <%= f.text_field :login %><br>
    <span class="field_explanation">For <strong>Tom Jones</strong>, use <strong>tjones</strong>, not 'tom' or 'jones'.</span>

    <p><%= f.label :email, "Email" %><br/>
    <%= f.text_field :email %>

    <p>
      <%= f.label :city, "City" %><br/>
      <%= f.text_field :city %>

    <p>
      <%= f.label :country, "Country" %><br/>
      <%= f.text_field :country %>

    <p><%= f.label :time_zone, "Time Zone" %><br/>
    <%= f.time_zone_select :time_zone,
        ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
        { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'],
          :include_blank => true }
    %>

    <p><%= f.label :type, "Type" %><br/>
    <%= f.select :type, roles_for_user(current_user) %>

    <% if current_user.has_role? :admin_user %>
      <p><%= f.label :site_id, "Site" %><br/>
      <%= site_select "user[site_id]",{}, :prompt => "(Select a site)" %>
    <% end %>

    <p><%= f.label :password, "Password" %><br/>
    <%= f.password_field :password, :value => @random_pass %>

    <p><%= f.label :password_confirmation, "Confirm Password" %><br/>
    <%= f.password_field :password_confirmation, :value => @random_pass %>

    <p><label for="no_password_reset_needed">No need to reset initial password:</label>
    <%= check_box_tag :no_password_reset_needed, "1", params[:no_password_reset_needed] == "1" %>

  </div>

  <div class="box_spacer"></div>

  <div class="generalbox">
    <h5>Project Membership</h5>
    <%= render :partial => 'shared/group_tables', :locals => {:model => @user} %>
  </div>

  <div class="box_spacer"></div>

  <div class="generalbox">
    <h5>Access Profiles</h5>
    <% AccessProfile.order(:name).all.each do |access_profile| %>
      <%= check_box_tag "user[access_profile_ids][]", access_profile.id, false, :id => "ap_#{access_profile.id}" %>
      <label for="<%= "ap_#{access_profile.id}" %>"><%= access_profile_label(access_profile) %></label>
      <p>
    <% end %>
  </div>

  <p><%= submit_tag 'Create User' %>

<% end %>

