
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2024
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title t('.title') %>

<h2><%= t('.title') %></h2>

<%= t('.generated_intro') %>
<p>
  <code class="copy-text"><%= @new_token %></code>
  <%= copy_to_clipboard_button(
     @new_token,
     label: t('.copy'),
     title: t('.copy_tooltip'))  %>
<p>

<%= t('.developer_info_html') %>
<p>
<%= t('.api_docs_html') %>
<p>
<strong><%= t('.notes_title') %></strong>:

<% pretty_how_long = SessionHelpers::SESSION_API_TOKEN_VALIDITY.inspect %>
<ul>
  <li>
    <%= t('.note_validity', duration: pretty_how_long) %>
  </li>
  <li>
    <%= t('.note_renewal', duration: pretty_how_long) %>
  </li>
  <li>
    <%= t('.note_ip_lock') %>
  </li>
  <li>
    <%= t('.note_ip_invalid') %>
  </li>
  <li>
    <%= t('.note_copy') %>
  </li>
</ul>

