
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>
<div class = "generalcontent">

<% title "Account Info"%>

<h2>Account details for <%= h @user.full_name %></h2>
<div class = "generalbox">

<table>
  <tr class="list-even">
     <td class = "title"><b>Name:</b></td>
     <td class = "tabletext"><%=h @user.full_name %></td>
  </tr>
  <tr class="list-even">
     <td class = "title"><b>Login:</b></td>
     <td class = "tabletext"><%=h @user.login %></td>
  </td>
  <tr class="list-even">
      <td class = "title"><b>Role:</b></td>
      <td class = "tabletext"><%=h @user.role %></td>
  </tr>
  <tr class="list-even">
     <td class = "title"><b>Email:</b></td>
     <td class = "tabletext"><%=h @user.email %></td>
  </tr>
  <tr class="list-even">
     <td class = "title"><b>Default Execution Server: </b></td>
     <td class = "tabletext"><%= h @default_bourreau %>  </td>
  </tr>
  <tr class="list-even">
     <td class = "title"><b> Default Data Provider:</b></td>
     <td class = "tabletext"><%=h @default_data_provider %></td>
  </td>
</table>

<p>

<table>
   <tr>
     <th colspan="3">Groups</th>
   </tr>

   <tr>
     <th class = "subtitle">Name</th>
     <th class = "subtitle">Members</th>
   </tr>
  
<% @user.groups.each do |group| %>
  <tr class=<%= cycle("list-even", "list-odd")%> >
    <td><%=h group.name %></td>
    <td><%=  group.users.map{|u| h(u.full_name)}.join("<br>") %></td>
<% end %>
</table>
</p>

<%= button_to 'Edit Account Info', edit_user_path(@user), :method => :get %><br/>
<%= button_to 'Edit Preferences', user_preferences_path, :method => :get %><br/>


<%= link_to 'Index', users_path %>
</div>
</div>