
<%= javascript_tag "var current_options = null;" %>

<% title "Account Info"%>

<h2>Account details for <%= h @user.full_name %></h2>

<div class="splitleft">

   <table>
     <tr class="list-even">
        <td class="title"><b>Name:</b></td>
        <td class="tabletext"><%=h @user.full_name %></td>
     </tr>
     <tr class="list-even">
        <td class="title"><b>Login:</b></td>
        <td class="tabletext"><%=h @user.login %></td>
     </td>
     <tr class="list-even">
         <td class="title"><b>Role:</b></td>
         <td class="tabletext"><%=h @user.role.humanize %></td>
     </tr>
     <tr class="list-even">
        <td class="title"><b>Email:</b></td>
        <td class="tabletext"><%=h @user.email %></td>
     </tr>
     <tr class="list-even">
          <td class="title"><b>Site:</b></td>
          <td class="tabletext"><%=h @user.site.name rescue "(None)" %></td>
       </tr>
     <tr class="list-even">
        <td class="title"><b>Default Execution Server: </b></td>
        <td class="tabletext"><%= h @default_bourreau %>  </td>
     </tr>
     <tr class="list-even">
        <td class="title"><b> Default Data Provider:</b></td>
        <td class="tabletext"><%=h @default_data_provider %></td>
     </td>
   </table>

   <table>
      <tr>
        <th colspan="2">Groups</th>
      </tr>

      <tr>
        <th class="subtitle">Name</th>
        <th class="subtitle">Members</th>
      </tr>
  
   <% (@user.groups.sort { |g1,g2| g1.name <=> g2.name }).each do |group| %>
     <tr class=<%= cycle("list-even", "list-odd")%> >
       <td><%=h group.name %></td>
       <td><%=  group.users.map{|u| h(u.full_name)}.join("<br>") %></td>
   <% end %>
   </table>

</div>

<div class="splitright">
   <div id="account_info" style="display: none;">
      <%= render :partial => "account_info" %>   
   </div>

   <div id="preferences" style="display: none;">
      <%= render :partial => "preferences", :locals  => {:user_preference  => @user.user_preference} %>   
   </div>

   <div id="change_password" style="display: none;">
      <%= render :partial => "change_password" %>   
   </div>

   <%= 
      link_to_function 'Edit Account Info', :class  => 'action_link' do |page|
         page << "if(current_options) {Effect.BlindUp(current_options);}"
         page << "current_options = 'account_info';"
         page['account_info'].visual_effect(:blind_down)
      end
   %>
   <br>
   <%= 
      link_to_function 'Change Password', :class  => 'action_link' do |page|
         page << "if(current_options) {Effect.BlindUp(current_options);}"
         page << "current_options = 'change_password';"
         page['change_password'].visual_effect(:blind_down)
      end
   %>
   <br>
   <%= 
      link_to_function 'Edit Preferences', :class  => 'action_link' do |page|
         page << "if(current_options) {Effect.BlindUp(current_options);}"
         page << "current_options = 'preferences';"
         page['preferences'].visual_effect(:blind_down)
      end
   %>

</div>

<%= render :partial => "layouts/log_report", :locals  => { :log  => @log, :title => 'User activity report' } %>

