
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% title "Account Info" %>

<div class="menu_bar">
  <% if check_role(:admin_user) %>
    <%= link_to 'Tool Access Reports', { :controller => :tool_configs, :user_id => @user.id }, :class => "button" %>
    <%= link_to 'Switch To User',  switch_user_path(@user), :class => 'button', :method => 'POST' %>
  <% end %>

  <%= link_to 'Report Maker', report_path, :class => "button" %>
  
  <% if delete_permission?(@user) %>
    <%= link_to 'Delete', user_path(@user), { :confirm => "Are you sure you want to delete '#{@user.name}' ?", :method => :delete, :class => "button" } %>
  <% end %>
</div>

<br>

<%= error_messages_for @user, :header_message => "User could not be updated." %>

<div class="display_inline_block" style="min-width: 50%">
  <%= show_table(@user, :edit_condition => edit_permission?(@user)) do |t| %>

    <% t.attribute_cell(:login) %>

    <%
      t.edit_cell(:type, :content => @user.type.underscore.titleize, :disabled => !((current_user.has_role?(:site_manager) || current_user.has_role?(:admin_user)) && not_admin_user(@user))) do 
        select_tag "user[type]", options_for_select(roles_for_user(current_user), :selected => @user.type)
      end
    %>

    <% t.edit_cell(:full_name) { text_field_tag "user[full_name]", @user.full_name } %>

    <%
      t.edit_cell(:site_id, :content => link_to_site_if_accessible(@user.site), :disabled => !current_user.has_role?(:admin_user)) do
        select_tag "user[site_id]", options_for_select(Site.all.map{ |s| [s.name, s.id]}, :selected => @user.site_id), :include_blank => true
      end
    %>

    <% t.edit_cell(:email, :content => mail_to(h(@user.email))) { text_field_tag "user[email]", @user.email } %>

    <%
      t.cell("Last Connected") do
        @user.last_connected_at ? "#{to_localtime(@user.last_connected_at, :datetime)} (#{pretty_elapsed(Time.now - @user.last_connected_at, :num_components => 3)} ago)" : "(Never)"
      end
    %>

    <% t.edit_cell(:city) { text_field_tag "user[city]", @user.city } %>

    <%
      t.edit_cell("meta[pref_data_provider_id]", :header => "Default Data Provider", :content => link_to_data_provider_if_accessible(DataProvider.find_by_id(@user.meta["pref_data_provider_id"])) ) do
        data_provider_select("meta[pref_data_provider_id]",
                                 { :selector =>  @user.meta["pref_data_provider_id"] },
                                 { :include_blank => true } )
      end
    %>

    <% t.edit_cell(:country) { text_field_tag "user[country]", @user.country } %>

    <%
      t.edit_cell("meta[pref_bourreau_id]", :header => "Default Execution Server", :content => link_to_bourreau_if_accessible(Bourreau.find_by_id(@user.meta["pref_bourreau_id"])) ) do
        bourreau_select(     "meta[pref_bourreau_id]",
                                 { :bourreaux => Bourreau.find_all_accessible_by_user(current_user).all,
                                   :selector => @user.meta["pref_bourreau_id"] },
                                 { :include_blank => true } )
      end
    %>

    <%
      t.edit_cell(:time_zone, :content => (@user.time_zone || "(Unset)") ) do
        select_tag "user[time_zone]", time_zone_options_for_select(@user.time_zone, /canada/i), :include_blank => true
      end
    %>
    
    <% t.edit_cell(:password, :content => "********") do %>
      <%= link_to "Change Password", change_password_user_path(@user) %>
    <% end %>

    <%
      if (current_user.has_role?(:admin_user) || current_user.has_role?(:site_manager)) && not_admin_user(@user)
        t.boolean_edit_cell('user[account_locked]', (@user.account_locked ? "1" : ""), "1", "0", :header => "Account Locked")
      end
    %>

    <% if current_user.has_role?(:admin_user) %>
      <% t.edit_cell('meta[ip_whitelist]', :header => 'Source IP Whitelist', :content => @user.meta['ip_whitelist'] || '') do %>
        <%= text_field_tag "meta[ip_whitelist]", @user.meta['ip_whitelist'], :size => 40 %><br />
        <div class="field_explanation">
          Comma-separated list of allowed source IPs (X.X.X.X/XX) for the user to connect from.
        </div>
      <% end %>
    <% end %>

  <% end %>
  <% unless @user.signed_license_agreements.empty? %>
    <%= show_table(@user, :header => "License Agreements", :width => 3) do |t| %>
      <% @user.signed_license_agreements.each  do |la| %>
        <% t.cell("", :no_header => true) { link_to la, "/show_license/#{la}" } %>
      <% end  %>
    <% end %>
  <% end %>
  <%= show_table(@user, :header => 'Resources') do |t| %>

    <% t.cell("Files") do
         size = Userfile.where(:user_id => @user.id).sum(:size)
         index_count_filter(@user.userfiles.count, :userfiles, { :user_id => @user.id }, :show_zeros => true ) +
         ( (size > 0) ? " (#{colored_pretty_size(size)} used)" : "" ).html_safe
       end
    %>

    <% t.cell("Tasks") do
         size = CbrainTask.real_tasks.where(:user_id => @user.id).sum(:cluster_workdir_size)
         unk  = CbrainTask.real_tasks.where(:user_id => @user.id, :cluster_workdir_size => nil).where("cluster_workdir IS NOT NULL").count
         index_count_filter(@user.cbrain_tasks.real_tasks.count, :tasks, {:user_id => @user.id}, :show_zeros => true ) +
         ( (size  > 0 && unk  > 0) ? " (#{colored_pretty_size(size)} used, #{unk} unkn)" :
           (size  > 0 && unk == 0) ? " (#{colored_pretty_size(size)} used)" :
           (size == 0 && unk  > 0) ? " (#{unk} unkn)" : ""
         ).html_safe
       end
    %>

    <% if current_user.has_role?(:admin_user) %>
      <% t.cell("Tools")          { index_count_filter @user.tools.count,                             :tools,          {:user_id => @user.id} } %>
      <% t.cell("Data Providers") { index_count_filter @user.data_providers.count,                    :data_providers, {:user_id => @user.id} } %>
      <% t.cell("Portal")         { index_count_filter BrainPortal.where(:user_id => @user.id).count, :bourreaux,      {:user_id => @user.id, :type => "BrainPortal"} } %>
      <% t.cell("Execution")      { index_count_filter Bourreau.where(:user_id => @user.id).count,    :bourreaux,      {:user_id => @user.id, :type => "Bourreau"} } %>
    <% end %>

  <% end %>

  <% unless @user.has_role? :admin_user %>

    <div>

     <table class="resource_list">
        <tr>
          <th colspan="3">
            Projects 
            <% if current_user.has_role?(:site_manager) || current_user.has_role?(:admin_user) %>
              <%= overlay_content_link "(Update)", :style => "text-decoration: underline; font-size: 0.9em", :enclosing_element => "span" do %>
                <%= form_for @user, :as => :user, :url => { :action => "update" } do |f| -%>
                  <%= render :partial => 'shared/group_tables', :locals => {:model => @user} %><br>
                  <%= submit_tag 'Update Projects' %>
                <% end %>
              <% end %>
            <% end %>
          </th>
        </tr>

        <tr>
          <th>Project Name</th>
          <th>Project Type</th>
          <th>Members</th>
        </tr>

     <% (@user.available_groups.sort { |g1,g2| g1.name.casecmp(g2.name) }).each do |group| %>
       <% next if group.name == 'everyone' %>
       <tr class=<%= cycle("list-even", "list-odd") %> >
         <td><%= link_to_group_if_accessible(group) %></td>
         <td><%= group.pretty_category_name(current_user) %></td>
         <td><%= array_to_table(group.users, :table_class => 'simple bordered', :fill_by_columns => true) {|u,r,c| link_to_user_with_tooltip(u)} %></td>
       </tr>
     <% end %>

     </table>

    </div>

    <P>

  <% end %>
  
  <P>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @log, :title => 'User activity report' } %>
</div>

