
<%= javascript_tag "var current_options = null;" %>

<% title "Account Info"%>

<h2>Account details for <%= h @user.full_name %></h2>

<div class="display_cell">

   <table>
     <tr class="list-even">
        <td class="title"><b>Name:</b></td>
        <td class="tabletext"><%=h @user.full_name %></td>
     </tr>
     <tr class="list-even">
        <td class="title"><b>Login:</b></td>
        <td class="tabletext"><%=h @user.login %></td>
     </td>
     <tr class="list-even">
         <td class="title"><b>Role:</b></td>
         <td class="tabletext"><%=h @user.role.humanize %></td>
     </tr>
     <tr class="list-even">
        <td class="title"><b>Email:</b></td>
        <td class="tabletext"><%=h @user.email %></td>
     </tr>
     <tr class="list-even">
          <td class="title"><b>Site:</b></td>
          <td class="tabletext"><%= link_to_site_if_accessible(@user.site) %></td>
       </tr>
     <tr class="list-even">
        <td class="title"><b>Default Execution Server: </b></td>
        <td class="tabletext"><%= link_to_bourreau_if_accessible(@default_bourreau) %></td>
     </tr>
     <tr class="list-even">
        <td class="title"><b>Default Data Provider:</b></td>
        <td class="tabletext"><%= link_to_data_provider_if_accessible(@default_data_provider) %></td>
     </td>
   </table>

</div>

<div class="display_cell" style="padding: 1em;">
  <% build_accordion do |acc| %>
    <% acc.section "Edit Account Info" do %>
      <%= render :partial => "account_info" %>   
    <% end %>
    <% acc.section "Change Password" do %>
      <%= render :partial => "change_password" %>   
    <% end %>
    <% acc.section "Edit Preferences" do %>
      <%= render :partial => "preferences", :locals  => {:user_preference  => @user.user_preference} %>   
    <% end %>
  <% end %>
</div>

<P>

<div class="display_row">

   <table>
      <tr>
        <th colspan="3">Projects</th>
      </tr>

      <tr>
        <th class="subtitle">Project Name</th>
        <th class="subtitle">Project Type</th>
        <th class="subtitle">Members</th>
      </tr>
  
   <% (@user.groups.sort { |g1,g2| g1.name.casecmp(g2.name) }).each do |group| %>
     <% next if group.name == 'everyone' %>
     <tr class=<%= cycle("list-even", "list-odd")%> >
       <td><%= link_to_group_if_accessible(group) %></td>
       <td><%= change_to_project_name(group.class.name) %></td>
       <td><%= group.users.map{|u| link_to_user_if_accessible(u,nil,:name => u.full_name)}.join("<br>") %></td>
     </tr>
   <% end %>

   </table>

</div>

<P>

<%= render :partial => "layouts/log_report", :locals  => { :log  => @log, :title => 'User activity report' } %>

