
<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title("Change your password", '') %>

<div id="nh_users_edit" class="nh_content">
  <div class="nh_form">

    <%= error_messages_for @user, :header_message => "Password could not be updated." %>
    <p class="nh_form_title">Change your NeuroHub and CBRAIN password</p>

    <%= form_for @user, :as => :user, :url => { :action =>  :update, :id => @user.id } do |f|%>

      <div><p class="field_note">Passwords must include uppercase and lowercase letters, digits, and special characters.</p></div>

      <fieldset >
        <%= f.label(:password, "New password") %>
        <%= f.password_field :password, :size => 20 %>
      </fieldset>

      <fieldset >
        <%= f.label(:password_confirmation, "New password again") %>
        <%= f.password_field :password_confirmation, :size => 20 %>
      </fieldset>

      <div class="btn-section">
        <%= f.submit "Update", :class=>"btn-solid primary" %>
      </div>

    <% end %>

  </div>
</div>

