<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2020
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>
<%
    invites = Invitation.where(user_id: current_user.id, active: true).all || []
%>

<% title("Account Summary", '') %>

<div id="nh_users_show" class="nh_content">
  <%- # actions -%>
  <div class="nh_actions">
    <%= link_to nh_icon_edit + 'Edit',            edit_nh_user_path(@user),      :class => "btn-solid primary nh_action" %>
    <%= link_to nh_icon_edit + 'Change Password', change_password_nh_users_path, :class => "btn-solid primary nh_action" %>
    <%= button_to new_token_nh_users_path, :class => "max-width-none btn-solid primary nh_action" do %>
      <%= nh_icon_add %> New API Token
    <% end %>
    <% if invites.count > 0 %>
      <%= link_to nh_icon_invite + "View Invitations | #{invites.count}", nh_invitations_path, :class => "btn-solid primary nh_action" %>
    <% end %>
  </div>

  <%- # account details -%>

  <div class="card">

    <div class="card-row header" data-max-size="true">

      <div class="card-item">
        <div class="card-stat">
          <div class="card-icon"><%= nh_stats_filesize %></div>
          <div class="card-details text-ellipsis">
            <p><%= colored_pretty_size @user.userfiles.sum(:size) %></p>
            <p class="label text-ellipsis">Files Size</p>
          </div>
        </div>
      </div>

      <div class="card-item">
        <% userfiles_stat = ("<div class='card-stat external middle'><div class='card-icon'>#{nh_stats_files}</div><div class='card-details'><p>#{@user.userfiles.count}</p><p class='label'>File#{@user.userfiles.count != 1 ? 's': ''}</p></div></div>").html_safe %>
        <%=
          scope_link(userfiles_stat,
            'userfiles#index', { },
            url: { :controller => :userfiles, :action => :index },
            link: { class:"btn-text cbrain", target: "_blank" }
          )
        %>
      </div>

      <div class="card-item">
        <% task_stat = ("<div class='card-stat external middle'><div class='card-icon'>#{nh_stats_tasks}</div><div class='card-details'><p>#{@user.cbrain_tasks.count}</p><p class='label'>Task#{@user.cbrain_tasks.count != 1 ? 's': ''}</p></div></div>").html_safe %>
        <%=
          scope_link(task_stat,
            'tasks#index', { },
            url: { :controller => :tasks, :action => :index },
            link: { class:"btn-text cbrain", target: "_blank" }
          )
        %>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Login</p>
          <p class="card-text"><%= @user.login %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Name</p>
          <p class="card-text"><%= @user.full_name.presence || "-" %></p>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Position</p>
          <p class="card-text"><%= @user.position.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Affiliation</p>
          <p class="card-text"><%= @user.affiliation.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">City</p>
          <p class="card-text"><%= @user.city.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Country</p>
          <p class="card-text"><%= @user.country.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Email</p>
          <p class="card-text"><%= @user.email.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">ORCID iD</p>
          <p class="card-text btn-text orcid">
          <% if @orcid_canonical.present? %>
            <%= link_to @orcid_canonical, :class => "orcid_link" do %>
              <%= image_tag("neurohub/ORCIDiD_iconvector.svg", :alt => "ORCID logo", :class => "orcid_logo") %>
              <%= @orcid_canonical %>
            <% end %>
          <% else %>
            Your account is not linked to an ORCID iD
          <% end %>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Globus ID</p>
          <p class="card-text btn-text globus">
          <% glob_user = @user.meta[:globus_preferred_username] %>
          <% glob_prov = @user.meta[:globus_provider_name] %>
          <% if glob_user.present? %>
             Identity Name: <%= glob_user %><br>
             Identity Provider: <%= glob_prov %>
          <% else %>
            Your account is not linked to a Globus identity provider
          <% end %>
        </div>
      </div>
    </div>

    <% info_pages, true_licenses  = @user.signed_license_agreements.partition { |x| x.end_with?('_info')} %>
    <%= render partial: "neurohub_portal/list_licenses", locals: {licenses: true_licenses, heading: :Licenses} %>
    <%= render partial: "neurohub_portal/list_licenses", locals: {licenses: info_pages,
           heading: 'Important Information Pages'} %>


    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Last Visit</p>
          <p class="card-text"><%= @user.last_connected_at ? "#{to_localtime(@user.last_connected_at,
          :datetime)} (#{pretty_elapsed(Time.now - @user.last_connected_at, :num_components => 3)} ago)" : "(Never)" %></p>
        </div>
      </div>
    </div>

  </div>
</div>

