<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2008-2012
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>

<% title "Account Info" %>

<%= link_to 'Edit', {:action => :edit, :id => @user.id}, :method  => :get %></td>

<br>
<div>
    Login:        <%= @user.login  %>     <br>
    Name:         <%= @user.full_name  %> <br>
    Position:     <%= @user.position %>   <br>
    Affiliation:  <%= @user.affiliation %><br>
    City:         <%= @user.city %>       <br>
    Country:      <%= @user.country %>    <br>
    Email:        <%= @user.email %>      <br>
    Orcid Sandbox id           <%= @user.meta['orcid_sandbox_id'] %><br>
    Orcid id           <%= @user.meta['orcid_id'] %><br>
    Last visit:   <%= @user.last_connected_at ? "#{to_localtime(@user.last_connected_at,
      :datetime)} (#{pretty_elapsed(Time.now - @user.last_connected_at, :num_components => 3)} ago)" : "(Never)" %>
    <br>
    Files size:   <%= colored_pretty_size @user.userfiles.sum(:size) %> <br>
    File count:   <%= @user.userfiles.count %>
<div id="nh_users_show" class="nh_content">
  <div class="card">
    <div class="card-row p-4" data-max-size="true">
      <div class="card-item">
        <img class="card-icon" src="/images/neurohub/wireframe-black.png"/>
        <div class="card-stat">
          <p><%= colored_pretty_size @user.userfiles.sum(:size) %></p>
          <p class="card-label">Files Size</p>
        </div>
      </div>
      <div class="card-item">
        <img class="card-icon" src="/images/neurohub/wireframe-black.png"/>
        <div class="card-stat">
          <p><%= @user.userfiles.count %></p>
          <p class="card-label">Files</p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Login</p>
          <p class="card-text"><%= @user.login %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Name</p>
          <p class="card-text"><%= @user.full_name %></p>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Position</p>
          <p class="card-text"><%= @user.position%></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Affiliation</p>
          <p class="card-text"><%= @user.affiliation %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">City</p>
          <p class="card-text"><%= @user.city %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Country</p>
          <p class="card-text"><%= @user.country %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Email</p>
          <p class="card-text"><%= @user.email %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Last Visit</p>
          <p class="card-text"><%= @user.last_connected_at ? "#{to_localtime(@user.last_connected_at,
          :datetime)} (#{pretty_elapsed(Time.now - @user.last_connected_at, :num_components => 3)} ago)" : "(Never)" %></p>
        </div>
      </div>
    </div>

  </div>
</div>

