<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2020
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>
<%
    invites = Invitation.where(user_id: current_user.id, active: true).all || []
%>

<% title("Account Summary", '') %>

<div id="nh_users_show" class="nh_content">
  <div class="nh_actions">
    <%= link_to 'Edit', {:action => :edit, :id => @user.id}, :method  => :get, :class => "btn-solid-secondary nh_action"  %>
    <% if invites.count > 0 %>
      <a class="btn-solid-secondary nh_action" href="/nh_invitations">View Invitations | <%= invites.count %> </a>
    <% end %>
  </div>

  <div class="card">
    <div class="card-row header" data-max-size="true">
      <div class="card-item">
        <div class="card-stat">
          <div class="card-icon"><%= nh_stats_filesize %></div>
          <div class="card-details text-ellipsis">
            <p><%= colored_pretty_size @user.userfiles.sum(:size) %></p>
            <p class="label text-ellipsis">Files Size</p>
          </div>
        </div>
      </div>
      <div class="card-item">
        <div class="card-stat">
          <div class="card-icon"><%= nh_stats_files %></div>
          <div class="card-details text-ellipsis">
            <p><%= @user.userfiles.count %></p>
            <p class="label text-ellipsis">Files</p>
          </div>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Login</p>
          <p class="card-text"><%= @user.login %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Name</p>
          <p class="card-text"><%= @user.full_name.presence || "-" %></p>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Position</p>
          <p class="card-text"><%= @user.position.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Affiliation</p>
          <p class="card-text"><%= @user.affiliation.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">City</p>
          <p class="card-text"><%= @user.city.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Country</p>
          <p class="card-text"><%= @user.country.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Email</p>
          <p class="card-text"><%= @user.email.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Orcid ID</p>
          <p class="card-text"><%=@user.meta['orcid'].presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Last Visit</p>
          <p class="card-text"><%= @user.last_connected_at ? "#{to_localtime(@user.last_connected_at,
          :datetime)} (#{pretty_elapsed(Time.now - @user.last_connected_at, :num_components => 3)} ago)" : "(Never)" %></p>
        </div>
      </div>
    </div>

  </div>
</div>

