
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% limit = 500 %>
<% base_dir = base_directory rescue params[:base_directory] %>
<% base_dir = base_dir.presence || "." %>

<% file_list ||= ( @userfile.list_files(base_dir, [:regular, :directory]) rescue [] ) %>

<% if file_list.blank? %>

 <tr class="<%= cycle("list-odd", "list-even") %>">
    <td></td>
    <td> (<span class="warning">Empty</span>) </td>
    <td></td>
 </tr>

<% else %>

  <% for file in file_list[0,limit] %>
     <% if file.symbolic_type == :directory %>
       <%= on_click_ajax_replace( { :element  => "tr",
                                    :url      => url_for(:action                => :display,
                                                         :viewer                => "directory_contents",
                                                         :viewer_userfile_class => "FileCollection",
                                                         :base_directory        => file.name.sub(/\A[^\/]+\//, ""),
                                                         :apply_div             => "false"
                                                        ),
                                    :position => "after",
                                    :before   => "<td colspan='3' class='loading_message'>Loading...</td>"
                                  },
                                  { :class  => "#{cycle("list-odd", "list-even")}",
                                    :id     => file.name.gsub(/\W+/, "_")
                                  }
                                ) do %>
         <%= render :file => @viewer.partial_path(:plain_file_list_row), :locals  => {:file  => file} %>
       <% end %>
     <% else %>
       <tr class="<%= cycle("list-odd", "list-even") %>">
         <%= render :file => @viewer.partial_path(:plain_file_list_row), :locals  => {:file  => file} %>
       </tr>
     <% end %>
  <% end %>

  <% if file_list.size > limit %>
    <tr class="<%= cycle("list-odd", "list-even") %>">
      <td></td>
      <td class="left"> <%= ("&nbsp;" * 6 * file_list.first.depth).html_safe %> ... <%= image_tag "/images/lotsa_files_icon.png" %> <%= pluralize(file_list.size-limit, "more entry") %></td>
      <td></td>
    </tr>
  <% end %>

<% end %>

