
<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="nh_table_scroll">
  <% if pagination %>
    <%== pagy_nav(@pagy) %>
  <% end %>
  <table>
    <thead>
      <tr>
        <th><p class="text">name (<%= projects.count %></span>)</p></th>
        <th><p class="text">maintainer</p></th>
        <th data-type="int"><p class="text">users</p></th>
        <th data-type="int"><p class="text">files</p></th>
        <th data-type="int"><p class="text">tasks</p></th>
        <% if projects.any? {|project| project.can_be_edited_by?(current_user)} %>
          <th data-action="true"><p class="text">actions</p></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% projects.each do |project| %>
        <tr>
          <th>
            <%= link_to project.name, {:controller => :nh_projects, :action => :show, :id => project.id}, :method  => :get, :class=>"text btn-text-secondary", :'data-link' => "true" %>
          </th>
          <td>
            <p class="text"><%= link_to_user_if_accessible(project.creator, current_user, :html_options => {:class => "btn-text-cbrain external", :'data-link' => "true"}) %></p>
          </td>
          <td data-type="int">
            <p class="text"><%= project.users.count %></p>
          </td>
          <td data-type="int">
            <%= link_to(files_nh_project_path(project.id), :class=>"text btn-text-secondary", :'data-link' => 'true') do%>
              <%= project.userfiles.count %>
            <% end %>
          </td>
          <td data-type="int">
            <p class="text"><%= project.cbrain_tasks.count %></p>
          </td>

          <td data-action="true">
            <div>
              <% if project.can_be_edited_by?(current_user) %>
                <%= link_to(nh_icon_edit, edit_nh_project_path(project),
                              :method      => :get,
                              :class       => "text btn-solid-secondary",
                              :'data-link' => "true") %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table
</div>

