<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Edit Project' %>

<h2>Edit Project</h2>

<%= error_messages_for @nh_group, :header_message => "Project could not be updated." %>


<%= form_for @nh_group, :as => :nh_group, :url => { :action => "update" }, :datatype => "script" do |f| -%>

  <div>

    <p>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
    <div class="field_explanation">The first line should be a short summary, and the rest are for details.</div>
    </p>

    <% if current_user.has_role?(:admin_user) %>
      <p>
      <%= f.label :site_id, "Site:" %>
      <%= site_select "nh_group[site_id]", @nh_group.site_id, :prompt => "(Select a site)" %>
      </p>
      <p>
      Make this a system group invisible to normal users:
      <%= f.check_box :invisible %>
      <p/>
    <% end %>
    <p>
    <%= f.submit "Update" %>
    </p>
<% end %>
