
<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2020
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>

<% title "Projects" %>

<% grid_icon = ("
    <div class='icon'>#{nh_icon_grid}</div>
    <p>Grid View</p>
  ").html_safe
%>


<% list_icon = ("
    <div class='icon'>#{nh_icon_list}</div>
    <p>List View</p>
  ").html_safe
%>

<% button_view = @scope.custom[:button] %>

<div id="nh_projects" class="nh_content">
  <% if @nh_projects.exists? %>
    <div class="nh_actions">
      <div class="nh_action"><%=
        scope_custom_link(
          button_view ? list_icon : grid_icon,
          @scope, { 'button' => !button_view },
          url:  {},
          link: {
            :class => "btn-solid-secondary"
          }
        )
    %></div>
      <%= link_to "+ Add project", {:action => :new }, :method  => :get, :class => "btn-solid-secondary nh_action"  %>
    </div>
    <% if button_view %>
      <div class="grid">
        <% @nh_projects.each do |project| %>
          <div class="card">
            <%= link_to project.name, {:action => :show, :id => project.id}, :method  => :get, :class=>"btn-text-secondary bg-default-wash" %>
            <% if current_user.id === project.creator.id %>
              <a href="/myaccount" class="btn-text-secondary">
                <p class="text-xs"><%= project.creator.try(:login) %></p>
              </a>
            <% else %>
              <p class="text-secondary text-xs"><%= project.creator.try(:login) %></p>
            <% end %>
            <p class="card-text text-ellipsis"><%= project.description.presence %></p>
            <div class="btn-section card-actions">
              <% if project.can_be_edited_by?(current_user) %>
                <%= link_to nh_icon_edit, {:action => :edit, :id => project.id}, :method  => :get %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <%= render :partial => 'projects_table', :locals => {projects: @nh_projects, pagination: false} %>
    <% end %>

  <% else %>
    <div class="empty">
      <div class="empty-wrapper">
        <img class="empty-icon" src="/images/neurohub/NH_empty_projects.svg" />
        <p class="empty-text">There are currently no projects.</p>
          <%= link_to "+ Add project", {:action => :new }, :method  => :get, :class => "btn-solid-secondary"  %>
      </div>
    </div>
  <% end %>

</div>

