
<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2020
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>

<% title "Projects" %>

<% grid_icon = ("
    <div class='icon'>#{nh_icon_grid}</div>
    <p>Grid View</p>
  ").html_safe
%>

<% list_icon = ("
    <div class='icon'>#{nh_icon_list}</div>
    <p>List View</p>
  ").html_safe
%>

<div id="nh_projects" class="nh_content">
  <% if @nh_projects.exists? %>

    <%- # actions -%>
    <div class="nh_actions">
      <%= link_to( (@button_view ? list_icon : grid_icon), nh_projects_path(:button => !@button_view),:class => "btn-solid-secondary nh_action") %>
      <%= link_to "+ Add project", {:action => :new }, :method  => :get, :class => "btn-solid-secondary nh_action"  %>

      <%- # pagination -%>
      <div class="nh_pagination">
        <%== pagy_nav(@pagy) %>
        <div class="nh_per_page">
          <%= form_for nh_projects_path(:page => @page), :method => :get do %>
            <%= label_tag :per_page, "show" %>
            <%= number_field_tag :per_page, @per_page, min: 5, max: 100, step: 1, size: 5 %>
            <span> of <%= @project_count || projects.count %> </span>
          <% end %>
        </div>
      </div>

    </div>

    <%- # projects -%>
    <% if @button_view %>
      <div class="grid">
        <% @nh_projects.each do |project| %>
          <div class="card">
            <%= link_to project.name, {:action => :show, :id => project.id}, :method  => :get, :class=> "btn-text-secondary card_title" %>
            <div class="card_text card_creator">
              <%= link_to_user_if_accessible(project.creator, current_user, :html_options => {:class => "btn-text-cbrain external", :target => "_blank"}) %>
            </div>
            <div class="card_text card_description">
              <%= project.description.presence %>
            </div>
            <% if project.public || project.can_be_edited_by?(current_user) %>
              <div class="card_footer" data-actions = <%= project.can_be_edited_by?(current_user) %> >
                <% if project.public %>
                  <div class="nh_projects_public">public</div>
                <% end %>
                <% if project.can_be_edited_by?(current_user) %>
                  <div class="card_actions">
                    <%= link_to nh_icon_edit, {:action => :edit, :id => project.id}, :method  => :get, :class => "icon" %>
                  </div>
                <% end %>
              </div>
            <% end %>
            <div class="card_text">
              <div class="card_stats">
                <% task_stat = ("<div> Tasks: #{project.cbrain_tasks.count}</div>").html_safe %>

                <%= link_to(files_nh_project_path(project.id), :class=>"text btn-text-secondary") do%>
                  Files: <%= project.userfiles.count %>
                <% end %>
                <%=
                  scope_link(task_stat,
                    'tasks#index', { :filters => [{ :a => 'group_id', :v => project.id }], },
                    url: { :controller => :tasks, :action => :index },
                    link: { class:"text btn-text-cbrain external", target: "_blank" }
                    )
                %>
                <p class="text btn-text no-hover">Users: <%= project.users.count %></p>

              </div>
            </div>

          </div>
        <% end %>
      </div>

    <% else %>
      <%= render :partial => 'projects_table', :locals => { projects: @nh_projects } %>
    <% end %>

  <% else %>
    <%- # empty state -%>
    <div class="empty">
      <div class="empty-wrapper">
        <img class="empty-icon" src="/images/neurohub/NH_empty_projects.svg" />
        <p class="empty-text">There are currently no projects.</p>
          <%= link_to "+ Add project", {:action => :new }, :method  => :get, :class => "btn-solid-secondary"  %>
      </div>
    </div>

  <% end %>

</div>

