
<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2020
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>



<% title "Projects" %>


<% edit_icon = '<svg version="1.1" class="table_action_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 383.947 383.947" style="enable-background:new 0 0 383.947 383.947;" xml:space="preserve">
  <g>
    <polygon points="0,303.947 0,383.947 80,383.947 316.053,147.893 236.053,67.893 			"/>
    <path d="M377.707,56.053L327.893,6.24c-8.32-8.32-21.867-8.32-30.187,0l-39.04,39.04l80,80l39.04-39.04
      C386.027,77.92,386.027,64.373,377.707,56.053z"/>
  </g>
</svg>'.html_safe 
%>


<div id="nh_projects" class="nh_content">
  <div class="nh_actions">
    <%= link_to "+ Add project", {:action => :new }, :method  => :get, :class => "btn-solid-secondary nh_action"  %>
  </div>
  <div class="nh_table_scroll">
    <table>
      <thead>
        <tr>
          <th>name <span>(<%= @nh_projects.count %></span>)</th>
          <th>maintainer</th>
          <th class="table_actions">...</th>
        </tr>
      </thead>

      <tbody>
          <% @nh_projects.each do |project| %>
          <tr>
            <th data-type="link"><%= link_to project.name, {:action => :show, :id => project.id}, :method  => :get %></th>
            <td><%= project.creator.try(:login) %></td>
            <td class="table_actions">
              <%= link_to(edit_icon,{:action => :edit, :id => project.id}, :method  => :get,:class=>"btn-solid-secondary")  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

