
<%-
  #
  # NeuroHub Project
  #
  # Copyright (C) 2020
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>

<% title("License #{@license_id}", '') %>

<% is_signed = current_user.custom_licenses_signed.include?(@license_id) %>

<div id="nh_show_license" class="nh_content">

  <%- # actions -%>
  <% if @can_add_license %>
    <div class="nh_actions">
      <%= link_to nh_icon_add + "Add License", new_license_nh_project_path(nh_project_id: @nh_project.id), :class => "btn-solid-secondary nh_action" %>
    </div>
  <% end %>

  <%- # license - %>
  <div class="card">
    <div class="card-section">
      <div class="card-title">
        License <%= @license_id %>
      </div>
      <% if is_signed %>
        <%= render :partial => 'show_license_text', :locals => { is_signed: is_signed } %>
      <% else %>
        <div class="nh_form">
          <%= form_tag sign_license_nh_project_path(@nh_project) do %>
            <%= hidden_field_tag :license_id, @license_id %>
            <%= render :partial => 'show_license_text', :locals => { is_signed: is_signed } %>
            <div class="btn-section">
              <%= submit_tag "I agree with the above statement", :name => :agree,     :class => "btn-solid-secondary m-1" %>
              <%= submit_tag "I do not agree",               :name => :not_agree, :class => "btn-text-secondary bg-secondary-wash m-1"  %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <% if @current_licenses.size > 1 %>
      <div class="card-section license-list">
        <div class="card-title">
          Other licenses for <%= @nh_project.name %>
        </div>
        <div class="card-item">
          <% @current_licenses.each do |id| %>
            <%= link_to "License ##{id} #{id == @license_id? "- currently selected": ""}", show_license_nh_project_path(@nh_project, :license_id => id), :class => "btn-text-secondary", 'data-active' => (id == @license_id), 'disabled' => (id == @license_id) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
