<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<% title "Project Info" %>

<div id="nh_projects_show" class="nh_content"> 
  <div class="nh_actions">
    <%= link_to "Invite Other Users", new_nh_invitation_path(nh_project_id: @nh_project.id), :class => "btn-solid-secondary nh_action"  %>
    <%= link_to 'Edit', {:action => :edit, :id => @nh_project.id}, :method  => :get, :class => "btn-text-secondary nh_action"  %>
  </div>
  <div class="card">
    <%
      group_members  = @nh_project.users
      open_invites   = Invitation.where(sender_id: current_user.id, group_id: @nh_project.id, active: true)
    %>
    <div class="card-row p-4">
      <%= link_to(files_nh_project_path(@nh_project.id), :class=>"btn-text-secondary card-item") do%>
          <img class="card-icon" src="/images/neurohub/wireframe-black.png"/>
          <div class="card-stat">
            <p><%= @nh_project.userfiles.count %></p>
            <p class="card-label">Files</p>
          </div>
      <% end %>
      <div class="card-item">
        <img class="card-icon" src="/images/neurohub/wireframe-black.png"/>
        <div class="card-stat">
          <p><%= @nh_project.cbrain_tasks.count %></p>
          <p class="card-label">Tasks</p>
        </div>
      </div>

      <div class="card-item">
        <img class="card-icon" src="/images/neurohub/wireframe-black.png"/>
        <div class="card-stat">
          <p><%= group_members.count %></p>
          <p class="card-label">Members</p>
        </div>
      </div>

      <div class="card-item">
        <img class="card-icon" src="/images/neurohub/wireframe-black.png"/>
        <div class="card-stat">
          <p><%= open_invites.count %></p>
          <p class="card-label">Pending Invites</p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Name</p>
          <p class="card-text"><%= @nh_project.name %></p>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Maintainer</p>
          <p class="card-text"><%= @nh_project.creator.name %></p>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Type</p>
          <p class="card-text"><%= @nh_project.pretty_category_name(current_user) %></p>
        </div>
      </div>
    </div>
    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Description</p>
          <p class="card-text"><%= @nh_project.description.presence || "-" %></p>
        </div>
      </div>
    </div>

    <div class="card-row">
      <div class="card-item">
        <div>
          <p class="card-label">Members</p>
          <% if (@group_members != nil) then %>
            <ul>
              <% group_members.each do |member| %>
                  <li class="card-text"><%= member.name %> </li>
              <% end %>
            </ul>
          <% else %>
            <p>-</p>
          <% end %>
      
        </div>
      </div>
    </div>

  </div>
</div>





