
<%
# Partial variables needed here:
#   tool      => a tool object
#   bourreaux => list of bourreaux
#   users     => list of users
%>

<fieldset>

  <legend>
      Tool: <%= link_to tool.name, edit_tool_path(tool) %>
      in project '<%= link_to_group_if_editable(tool.group) %>'
  </legend>

  <% cycle("list-odd", "list-even") if cycle("list-odd", "list-even") == 'list-odd' %>

  <%
     user_can_access_tool = {}
     users.each do |user|
       user_can_access_tool[user] = tool.can_be_accessed_by?(user)
     end
  %>

  <table>

    <tr>
      <th>Execution Servers</th>
      <th>Enabled?</th>
      <th>Versions Configured</th>
      <th>Projects In Effect</th>
      <th>Users</th>
    </tr>

    <% bourreaux.each do |bourreau| %>

      <%
         user_can_access_bourreau = {}
         users.each do |user|
           user_can_access_bourreau[user] = bourreau.can_be_accessed_by?(user)
         end
      %>

      <% tcs = ToolConfig.find(:all, :conditions => { :tool_id => tool.id, :bourreau_id => bourreau.id }) %>
      <% if tcs.size == 0 %>
        <tr class="<%= cycle("list-odd", "list-even") %>">
          <td class="left_align">
            <%= link_to_bourreau_if_accessible(bourreau, nil, :path => edit_bourreau_path(bourreau)) %>
            in project '<%= link_to_group_if_editable(bourreau.group) %>'
          </td>
          <td><%= red_if(! tool.bourreaux.include?(bourreau), "Yes", "NO!") %></td>
          <td class="left_align"><%= red_if(true,"No versions configured") %></td>
          <td class="left_align"><%= red_if(true,"-") %></td>
          <td class="left_align"><%= red_if(true,"-") %></td>
        </tr>
      <% end %>
      <% tcs.each_with_index do |tc,idx| %>
        <tr class="<%= cycle("list-odd", "list-even") %>">
        <% if idx == 0 %>
          <td rowspan="<%= tcs.size %>" class="left_align">
            <%= link_to_bourreau_if_accessible(bourreau, nil, :path => edit_bourreau_path(bourreau)) %>
            in project '<%= link_to_group_if_editable(bourreau.group) %>'
          </td>
          <td rowspan="<%= tcs.size %>"><%= red_if(! tool.bourreaux.include?(bourreau), "Yes", "NO!") %></td>
        <% end %>
          <td class="left_align">
            <% header,body = split_description(tc.description) %>
            <%= link_to header, edit_tool_config_path(tc) %>
            in project '<%= link_to_group_if_editable(tc.group) %>'
          </td>
          <td class="left_align">
            <%
               projs = [ bourreau.group, tool.group, tc.group ]
               projs.reject! { |g| g.name == 'everyone' }
            %>
            <% if projs.size == 0 %>
              <%= red_if(true,"'everyone'",nil,:color2 => 'green') %>
            <% else %>
              <% links = projs.map { |g| link_to_group_if_editable(g) } %>
              <%= links.join(" &amp; ") %>
            <% end %>
          </td>
          <td class="left_align">
            <% array_to_table(users, :rows => 1, :table_class => 'simple') do |user,r,c| %>
              <%
                user_can_access_tc = tc.can_be_accessed_by?(user)
                access_ok     = user_can_access_bourreau[user] && user_can_access_tool[user] && user_can_access_tc
              %>
              <% if access_ok %>
                <%= h user.login %>
              <% else %>
                <% html_tool_tip(red_if(true,user.login)) do %>
                  <%= "* Execution Server's project<br/>"      unless user_can_access_bourreau[user] %>
                  <%= "* Tool's project<br/>"                  unless user_can_access_tool[user] %>
                  <%= "* Version configuration's project<br/>" unless user_can_access_tc %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>

</fieldset>

