
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="groupentry">

  <%= hidden_field_tag "tool_config[tool_id]",     @tool_config.tool_id %>
  <%= hidden_field_tag "tool_config[bourreau_id]", @tool_config.bourreau_id %>

  <% if @tool_config.tool_id && @tool_config.bourreau_id %>
  <span title="Project access for this configuration.">
    <p><%= f.label :group_id, "Available to members of project:" %>
    <%= group_select "tool_config[group_id]", @tool_config.group_id %>
    </p>
  </span>

  <span title="Version.">
    <p><%= f.label :version_name, "Version:" %>
    <%= f.text_field :version_name %><br/>
    <div class="field_explanation">Must be a simple string that represent a short identifier for the version. First character must be alphanum, and can contain only alphanums, '.', '-', '_', ':' and '@'</div>
    </p>
  </span>

  <span title="Brief description for this configuration.">
    <p><%= f.label :description, "Description:" %><br/>
    <%= f.text_area :description, :rows => 10, :cols => 40 %><br/>
    <div class="field_explanation">The first line must be a short summary, and the rest are for any special notes for the users.</div>
    </p>
  </span>

  <span title="Suggested number of CPUs to use in parallel, per task">
    <p><%= f.label :ncpus, "Suggested number of CPUs to use in parallel, per task:" %>
    <%= f.select :ncpus, [ 1, 2, 3, 4, 5, 6, 7, 8, 10, 12, 14, 16, 20, 24, 32, 36, 40, 48, 56, 64, 128, 192, 256, 320, 384, 512 ] %>
    </p>
  </span>
  <% end %>

  <% context = @tool_config.tool_id ? "tool" : "Execution Server" %>
  <span title="Environment variables needed for this <%= context %>">
    <p><label>Environment variables needed for this <%= context %>:</label><br/>
    <% @tool_config.env_array.each do |env_name_value| %>
      <% env_name  = env_name_value[0] %>
      <% env_value = env_name_value[1] %>
      <%= render :partial => 'env_key_value_pair', :locals => { :env_name => env_name, :env_value => env_value } %>
    <% end %>
    <% 1.upto(5) do %>
      <%= render :partial => 'env_key_value_pair', :locals => { :env_name => "", :env_value => "" } %>
    <% end %>
    <div class="field_explanation">In the generated script, the values shown here will be placed in double quotes automatically.</div>
    </p>
  </span>

  <span title="BASH initialization prologue">
    <p><%= f.label :script_prologue, "BASH initialization prologue:" %><br/>
    <%= f.text_area :script_prologue, :cols => 80, :rows => 10 %><br/>
    <div class="field_explanation">This is a multi line partial BASH script. It can use the environment variables defined above,
           and do anything else you feel is needed to activate this configuration.
           Note that this script should usually be silent, as outputing text (like in <em>echo</em> statements)
           could interfere with the proper processing of the task's output.</div>
    </p>
  </span>

  <p>
  Option: Merge configuration from another existing entry:
  <%= tool_config_select :merge_from_tc_id, {:allow_offline => true}, { :include_blank => 'Merge from...' } %>
  <%= submit_tag 'Merge Configuration', :name => :merge %><br/>
  <div class="field_explanation">
  <% if @tool_config.tool_id && @tool_config.bourreau_id %>
    The description, environment variables and prologue script will be appended to whatever
    values are currently in the form. The project and suggested number of CPUs will be changed.
  <% else %>
    The environment variables and prologue script will be appended to whatever
    values are currently in the form.
  <% end %>
  </div>
  </p>

  <span title="Docker image">
    <p><%= f.label :docker_image, "Docker image:" %><br/>
      <%= f.text_field :docker_image %><br/>
      <div class="field_explanation">The name and tag of the Docker image in which the tool is installed, for instance "centos:latest". This name refers to the Docker index accessed by the Bourreau, which is configured manually in the Bourreau for now.</div>
    </p>
  </span>

  <span title="Extra 'qsub' options:">
    <p><%= f.label :extra_qsub_args, "Extra 'qsub' options:" %><br/>
      <%= f.text_field :extra_qsub_args %><br/>
      <div class="field_explanation"><b>Note:</b> This option will be appended to the extra 'qsub' option defined at the bourreau level.</div>
    </p>
  </span>

</div>

