
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">
  <%= link_to 'Tools List', tools_path, :class => "button menu_button" %>
  <%= overlay_ajax_link "Help", "/doc/tool_configs/tool_configs_info.html", :class  => "button" %>
</div>

<%=
  render(:partial => 'shared/active_filters', :locals  => {
    :scope => @scope,
    :model => ToolConfig
  })
%>

<div class="pagination">
  <span class="page_links">
    (<%= pluralize @tool_configs.total_entries, "tool configurations" %>)
  </span>
</div>

<%=
  dynamic_scoped_table(@tool_configs,
    :id    => 'tool_configs_table',
    :class => [ :resource_list ],
    :scope => @scope,
    :order_map  => {
      :bourreau => { :a => 'remote_resources.name', :j => [Bourreau, 'id', 'bourreau_id'] },
      :tool     => { :a => 'tools.name',            :j =>  Tool                           },
      :group    => { :a => 'groups.name',           :j =>  Group                          },
    },
    :filter_map => {
      :bourreau => { :a => 'bourreau_id'  },
      :tool     => { :a => 'tool_id'      },
      :group    => { :a => 'group_id'     },
    },
  ) do |t|
%>
  <%
    t.pagination

    t.column("Execution Server", :bourreau,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, Bourreau)
    ) { |tc| tc.bourreau ? link_to_bourreau_if_accessible(tc.bourreau) : html_colorize("(All servers)",'orange')}

    t.column("Tool Name", :tool,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, Tool)
    ) do |tc|
      if ! tc.tool
        html_colorize("(All tools)", 'orange')
      else
        current_user.has_role?(:admin_user) ? link_to(tc.tool.name,edit_tool_path(tc.tool)) : tc.tool.name
      end
    end

    t.column("Tool Project", 'tools.group_id',
      #:sortable => true,
      #:filters  => default_filters_for(@base_scope, Group)
    ) { |tc| link_to_group_if_accessible(tc.tool.group) if tc.tool }

    t.column("Version", :version_name,
      :sortable => true,
    ) { |tc|
        if  tc.version_name.present?
          current_user.has_role?(:admin_user) ? link_to(tc.version_name,tool_config_path(tc)) : tc.version_name
        else
          (
          tc.tool_id.blank?     ? html_colorize("(All tools)", 'orange') :
          tc.bourreau_id.blank? ? html_colorize("(All servers)", 'orange') :
          html_colorize("(Unset)",'red')
          )
        end
      }

    t.column("Version Project", :group,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, Group)
    ) { |tc| link_to_group_if_accessible(tc.group) }

    t.column("CPUs", :ncpus,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, :ncpus)
    ) { |tc| tc.ncpus.to_s }

    t.column("Container Engine", :container_engine,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, :container_engine)
    ) { |tc| tc.container_engine.to_s }

    t.column("Container Index", :container_index_location,
    ) { |tc|
        tc.container_index_location
      }

    t.column("Container Image", :container_name_image,
    ) { |tc|
        if tc.containerhub_image_name.present?
          tc.containerhub_image_name
        elsif  tc.container_image.present?
          link_to_userfile_if_accessible(tc.container_image)
        end
      }

    t.column("Description", :description,
      :sortable => true,
    ) { |tc| overlay_description(tc.description) }

    if current_user.has_role?(:admin_user)
      t.column("Access?") do |tc|
        tool = tc.tool
        if tool
          link_to "Access?", report_tool_configs_path(:tool_id => tool.id, :bourreau_id => tc.bourreau_id)
        end
      end

      t.column("Operations") do |tc|
        ( link_to("Edit",   edit_tool_config_path(tc), :class => "action_link") + " " +
          link_to('Delete', tool_config_path(tc),      :class => "action_link",
              :confirm => "Are you sure you want to delete version configuration '#{tc.version_name}'?",
              :method => :delete)
        )
      end
    end
  %>

<% end %>
