
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% title 'New Tool Version or Configuration' %>

<h2>Edit Tool Configuration</h2>

<div class="generalbox">

  <strong>Important note:</strong>
  <% if @tool_config.tool_id %>
    This form applies to tool <strong><%= @tool_config.tool.name %></strong>
  <% else %>
    This form applies to <strong>ALL tools</strong>
  <% end %>

  <% if @tool_config.bourreau_id.blank? %>
    running on <strong>ALL Execution Servers</strong>.<br>
  <% else %>
    running on Execution Server <strong><%= @tool_config.bourreau.name %></strong>.
  <% end %>

  <p>

   <%= form_for @tool_config, :as => :tool_config, :url => { :controller => :tool_configs, :action => :update, :id => (@tool_config.id || "NEW") }, :html  => { :method  => :put } do |f| %>
     <%= error_messages_for @tool_config %>

     <%= render :partial => 'form_fields', :locals => { :f => f } %>

     <p>
     <%= submit_tag "Save Configuration" %>
     </p>
   <% end %>

   <% if (@tool_config.env_array && @tool_config.env_array.size > 0) ||
         ! @tool_config.description.blank? || ! @tool_config.script_prologue.blank? %>
     <h3>Preview of generated BASH script</h3>
     <pre class="script_preview"><%= @tool_config.to_bash_prologue %></pre>
   <% end %>
</div>

