
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Access Summary' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <% if @view == 'by_tool' || @view == 'by_bourreau' %>
        <%
          if @view == 'by_bourreau'
            resources = @bourreaux
            versus    = @tools
          else
            resources = @tools
            versus    = @bourreaux
          end
        %>
        <h2 class="text-center">Access Report, By <%= @view == 'by_bourreau' ? "Execution Server" : "Tool" %></h2>
        <% resources.each do |resource| %>
          <p>
          <%= render :partial => 'by_resource',
                     :locals  => { :resource => resource,
                                   :versus   => versus,
                                   :users    => @users,
                                  }
          %>
        <% end %>
      <% elsif @view == 'by_user' %>
        <h2 class="text-center">Tool Access Report, By User</h2>
        <% @users.each do |user| %>
          <p>
          <%= render :partial => 'by_user',
                     :locals  => { :bourreaux => @bourreaux,
                                   :user      => user,
                                   :tools     => @tools,
                                  }
          %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="text-center">Quick Links To Individual Access Reports</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-heading">By Execution Server (or <%= link_to "all of them", :action => :index, :view => 'by_bourreau' %>)</div>
          <%= array_to_table(Bourreau.all.sort { |a,b| a.name <=> b.name }, { :table_class => 'table table-striped', :cols => 3 } ) do |bourreau,r,c| %>
            <%= link_to bourreau.name, :action => :index, :bourreau_id => bourreau.id %>
          <% end %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-heading">By Tool (or <%= link_to "all of them", :action => :index, :view => 'by_tool' %>)</div>
        <%= array_to_table(Tool.all.sort { |a,b| a.name <=> b.name }, { :table_class => 'table table-striped', :td_class => 'no_wrap', :cols => 2  } ) do |tool,r,c| %>
          <%= link_to tool.name, :action => :index, :tool_id => tool.id %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-heading">By User</div>
        <%= array_to_table(User.all.sort { |a,b| a.login <=> b.login }, { :table_class => 'table table-striped' } ) do |user,r,c| %>
          <%= link_to user.login, :action => :index, :user_id => user.id %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="panel panel-primary">
        <div class="panel-heading">By Combination</div>
          <div class="panel-body">
            <%= form_tag( { :action => :index }, { :method => :get, :class => "form-horizontal" } ) do %>
              <div class="row">
                <div class="col-xs-3"><label>Execution Server</label></div>
                <div class="col-xs-9"><%= bourreau_select :bourreau_id, { :selector => (params[:bourreau_id] || "") }, { :include_blank => '(All servers, or...)', :class => "form-control" } %></div>
              </div>
              <div class="row">
                <div class="col-xs-3"><label>Tool</label></div>
                <div class="col-xs-9">
                  <% toollist = Tool.all.sort { |a,b| a.name <=> b.name } %>
                  <%= select_tag :tool_id, options_for_select( [ [ "(All tools, or...)", "" ] ] + (toollist.collect { |t| [ t.name, t.id.to_s ] } ), params[:tool_id] ), { :class => "form-control" } %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3"><label>User</label></div>
                <div class="col-xs-9"><%= user_select :user_id, { :selector => params[:user_id] }, { :include_blank => '(All users, or...)', :class => "form-control" } %></div>
              </div>
              <div class="row">
                <div class="col-xs-3"><label>View By</label></div>
                <div class="col-xs-9">
                  <%= select_tag :view, options_for_select( [ [ "(Pick best)", "" ], [ 'By Server', 'by_bourreau' ], [ 'By Tool', 'by_tool' ], [ 'By User', 'by_user' ] ], params[:view] ), :class => "form-control" %>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <%= submit_tag "Get report!", :class => "btn btn-primary btn-block" %>
                </div>
              </div>

            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>




