
<%-
  #
  # CBRAIN Project
  #
  # Copyright (C) 2008-2012
  # The Royal Institution for the Advancement of Learning
  # McGill University
  #
  # This program is free software: you can redistribute it and/or modify
  # it under the terms of the GNU General Public License as published by
  # the Free Software Foundation, either version 3 of the License, or
  # (at your option) any later version.
  #
  # This program is distributed in the hope that it will be useful,
  # but WITHOUT ANY WARRANTY; without even the implied warranty of
  # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  # GNU General Public License for more details.
  #
  # You should have received a copy of the GNU General Public License
  # along with this program.  If not, see <http://www.gnu.org/licenses/>.
  #
-%>

<% title 'Show Tool Configuration' %>

<h2>Show Tool Configuration</h2>

<div class="generalbox">

  Configurations shown here:
  <ul>
    <% if @bourreau_glob_config %>
      <li>
        <strong>Config #<%= @bourreau_glob_config.id %></strong>
        (<%= link_to "edit", edit_tool_config_path(@bourreau_glob_config) %>):
        For <strong>ALL tools</strong> running on Execution Server <strong><%= @bourreau_glob_config.bourreau.name %></strong>
      </li>
    <% end %>
    <% if @tool_glob_config %>
      <li>
        <strong>Config #<%= @tool_glob_config.id %></strong>
        (<%= link_to "edit", edit_tool_config_path(@tool_glob_config) %>):
        For tool <strong><%= @tool_glob_config.tool.name %></strong> running on <strong>ALL Execution Servers</strong>
      </li>
    <% end %>
    <% if @tool_config %>
        <%= show_table(@tool_config, :header => "Configuration", :edit_condition => check_role(:admin_user)) do |t| %>
          <%= render :partial => 'config_table', :locals => { :t => t } %>
        <% end %>




      </li>
    <% end %>
  </ul>

  <p>
  <strong>Important note:</strong>
  This section displays the full BASH initialization prologue script for the configurations
  listed above.
  <% if ( (@bourreau_glob_config ? 1 : 0) + (@tool_glob_config ? 1 : 0) + (@tool_config? 1 : 0) ) > 1 %>
    <br>
    Several distinct configurations are involved and shown in order of execution.
  <% end %>
  </p>

  <pre class="script_preview"><%= @tool_config.to_bash_prologue if @bourreau_glob_config %><%= @tool_config.to_bash_prologue if @is_tool_glob_config %><%= @tool_config.to_bash_prologue if @tool_config %></pre>

</div>

<% if @bourreau_glob_config %>
  <p>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @tool_config.getlog, :title => "Log of Global Bourreau Tool Config ##{@tool_config.id}" } %>
<% end %>

<% if @tool_glob_config %>
  <p>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @tool_config.getlog, :title => "Log of Global Tool Config ##{@tool_config.id}" } %>
<% end %>

<% if @tool_config %>
  <p>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @tool_config.getlog, :title => "Log of Specific Tool Config ##{@tool_config.id}" } %>
<% end %>

