
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title @tool_config.new_record? ? 'Create Tool Version' : 'Edit Tool Version' %>

  <strong>Important note:</strong>

  <% if @tool_config.tool_id %>
    This form applies to tool <strong><%= link_to @tool_config.tool.name, edit_tool_path(@tool_config.tool) %></strong>
  <% else %>
    This form applies to <strong>ALL tools</strong>
  <% end %>

  <% if @tool_config.bourreau_id.blank? %>
    running on <strong>ALL Execution Servers</strong>.<br>
  <% else %>
    running on Execution Server <strong><%= link_to_bourreau_if_accessible(@tool_config.bourreau) %></strong>.
  <% end %>

  <div class="menu_bar">
    <% if @tool_glob_config && @tool_glob_config.id != @tool_config.id %>
      <%= link_to "Common Config for tool #{@tool_glob_config.tool.name} on ALL Servers",
          tool_config_path(@tool_glob_config), :class => :button %>
    <% end %>
    <% if @bourreau_glob_config && @bourreau_glob_config.id != @tool_config.id %>
      <%= link_to "Common Config for ALL tools on #{@bourreau_glob_config.bourreau.name} Server",
          tool_config_path(@bourreau_glob_config), :class => :button %>
    <% end %>
    <p>
  </div>

  <div class="display_inline_block" style="min-width: 50%">

  <% if @tool_config %>
    <%= render :partial => 'form_fields' %>
  <% end %>

  <p>

  <fieldset>
    <legend>BASH scripts wrappers</legend>
    This section displays the full BASH initialization prologue and epilogue script for the configuration shown above.
    <% if ( (@bourreau_glob_config ? 1 : 0) + (@tool_glob_config ? 1 : 0) + (@tool_config? 1 : 0) ) > 1 %>
      It is surrounded by the BASH prologues or epilogues of other relevant global configurations.
    <% end %>
    The commands are shown in the order of execution.
    <p>

    <pre class="script_preview">

<%= @bourreau_glob_config.to_bash_prologue @tool_local_config&.use_singularity? if @bourreau_glob_config %>
<%= @tool_glob_config.to_bash_prologue     @tool_local_config&.use_singularity? if @tool_glob_config     %>
<%= @tool_local_config.to_bash_prologue    @tool_local_config&.use_singularity? if @tool_local_config    %>
##########################################
#### [Wrapped commands would be here] ####
##########################################

<%= @tool_local_config.to_bash_epilogue    if @tool_local_config    %>
<%= @tool_glob_config.to_bash_epilogue     if @tool_glob_config     %>
<%= @bourreau_glob_config.to_bash_epilogue if @bourreau_glob_config %>
    </pre>

  </fieldset>

  </div>

<% if @bourreau_glob_config %>
  <p>
    <%= render :partial => "layouts/log_report", :locals  => { :log  => @bourreau_glob_config.getlog, :title => "Log of Global Bourreau Tool Config ##{@bourreau_glob_config.id}" } %>
<% end %>

<% if @tool_glob_config %>
  <p>
    <%= render :partial => "layouts/log_report", :locals  => { :log  => @tool_glob_config.getlog, :title => "Log of Global Tool Config ##{@tool_glob_config.id}" } %>
<% end %>

<% if @tool_local_config %>
  <p>
    <%= render :partial => "layouts/log_report", :locals  => { :log  => @tool_local_config.getlog, :title => "Log of Specific Tool Config ##{@tool_local_config.id}" } %>
<% end %>

