<table>
   <tr>
      <td><b>Name:</b></td>
      <td><%=h @institution.name %></td>
   </tr>
   <tr>
      <td><b>City:</b></td>
      <td><%=h @institution.city %></td>
  </td>
  <tr>
     <td><b>Province:</b></td>
     <td><%=h @institution.province %></td>
  </td>
  <tr>
      <td><b>Country:</b></td>
      <td><%=h @institution.country %></td>
  </tr>
</table>

<%= button_to 'Edit', edit_institution_path(@institution), , :method => :get %> |
<%= link_to 'Index', institutions_path %>
