<h2>Edit Tag</h2>

<div class="generalbox">

  <% ajax_form_for :tag, tag, :url => tag_path(tag), :method => :put, :datatype  => "script" do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name, "Tag name:" %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :group_id, "Project:" %><br/>
      <%= group_select("tag[group_id]", :selector => tag) %>
    </p>
    <p>

    <%= f.submit "Update" %>
  <% end %>

</div>  <!-- End class="generalbox" -->

