
<tr class="<%= cycle( 'list-odd', 'list-even') -%>" id="tag_<%= tag.id %>">
  <td><%= h(tag.name) %></td>
  <td><%= link_to 'Edit', edit_tag_path(tag), {:class => 'action_link'}%></td>
  <td>
    <%= link_to_remote  'Delete',
                      {:url  => tag_path(tag),
                       :method  => 'delete',
                       :confirm => 'Are you sure?',
                       :before  => "$('tag_#{tag.id}').update('<td colspan=\"11\" style=\"color:red; text-align:center;\">Deleting...</td>');"
                       },
                      {:class => 'action_link'}
      %>
  </td>
</tr>

