
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<div class = "generalcontent">

<h2>New tag</h2>
<div class = "generalbox">


<% form_for(@tag) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tags_path %>
</div>
</div>
