
<% @tasks.each do |launch_time, tasks| %>

  <% if tasks.size > 1 %>

  <tr class="batch_job_header row_highlight">
    <td>
      <input type="checkbox" class="task_checkbox select_all" id="task_header_checkbox_<%= tasks.first.id %>" data-checkbox-class="task_checkbox_<%= tasks.first.id %>"/>
    </td>
    <td class="left">
      <% if launch_time %>
        <%= link_to_function "#{tasks.first.name} (Batch)" do |page|
                page.select(".batch_listing_#{tasks.first.id}").each{ |el| el.toggle }
            end
        %>
      <% else %>
        <%= link_to_function "(Various)" do |page|
                page.select(".batch_listing_#{tasks.first.id}").each{ |el| el.toggle }
            end
        %>
      <% end %>
    </td>
    <td><%= h(crop_text_to(30, tasks.first.description)) %></td>
    <td><%= h(tasks.first.user.login) %></td>
    <td colspan="<%= current_project ? "5" : "6" %>">
      <% if launch_time %>
        <%= pluralize(tasks.size, "job")%> launched at <%= to_localtime(launch_time,:datetime) %>
      <% else %>
        <%= pluralize(tasks.size, "old job")%>
      <% end %>
    </td>
  </tr>

  <% end %>


  <% for task in tasks %>
    <tr class="<%= cycle('list-odd', 'list-even')%> row_highlight batch_listing_<%= tasks.first.id %>" <%= tasks.size > 1 ? "style=\"display:none\"" : "" %>>
      <td><%= check_box_tag("tasklist[]", task.id, false, :class => "task_checkbox task_checkbox_#{tasks.first.id}") %></td>
      <td class="left"><%= tasks.size > 1 ? "&nbsp;&nbsp;&#x21b3;" : "" -%><%= link_to_task_if_accessible(task) -%></td>
      <td><%= h(crop_text_to(30, task.description)) %></td>
      <td><%= link_to_user_if_accessible(task.user) %></td>
      <% unless current_project %>
        <td><%= link_to_group_if_accessible(task.group) %></td>
      <% end %>
      <td><%= link_to_bourreau_if_accessible(task.bourreau) %></td>
      <td><%= h(task.status) %></td>
      <td><%= h(task.run_number) %></td>
      <td><%= h(to_localtime(task.created_at.to_s,:datetime)) -%></td>
      <td><%= h(to_localtime(task.updated_at.to_s,:datetime)) -%></td>
    </tr>
  <% end %>

<% end %>

