
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% task_info         = @tasks[batch_id] %>

<%
  # The following 'if' is needed in rare cases where a delete operation is happening in background
  # and by chance the task was deleted while building task_info

  if task_info.present? && task_info[:first_task].present?
%>

<% if task_info[:num_tasks] == 1 %>

  <%= render :partial => 'task_table_row',
             :locals  => { :task             => task_info[:first_task],
                           :task_available   => @bourreau_status[task_info[:first_task].bourreau.id] ? true : false,
                           :is_child         => @showing_batch,
                         }
  %>

<% else %>

  <% batch_id_or_zero = batch_id || 0 %>
  <% first_task       = task_info[:first_task] %>
  <% statuses         = task_info[:statuses] %>
  <% num_tasks        = task_info[:num_tasks] %>
  <% batch_scope      = CbrainTask.real_tasks.where(:batch_id => batch_id) %>

  <tr id="batch_loader_<%= batch_id_or_zero %>" class="batch_job_header row_highlight">
    <td>
      <%= select_all_checkbox "task_checkbox_#{batch_id_or_zero}", :id  => "task_header_checkbox_#{batch_id_or_zero}", :class  => "task_checkbox", :name => "batch_ids[]", :value => batch_id || "nil" %>
    </td>
    <td class="left">
      <% if batch_id %>
        <%= "#{first_task.pretty_name}" %>
      <% else %>
        Various Older Tasks
      <% end %>
      <% if task_info[:num_tasks] > @per_page && batch_id %>
        <%= filter_add_link "(Go to Batch)", :controller => :tasks, :filters  => { :batch_id => first_task.batch_id }, :ajax => false %> 
      <% else %>
        <%= on_click_ajax_replace({:element  => "a", :url  => url_for(:action => :batch_list, :batch_id => batch_id), :replace => "batch_loader_#{batch_id_or_zero}", :position => "replace", :before  => "<td colspan='#{current_project ? "10" : "11"}' class='loading_message'>Loading...</td>"}, {:class  => "left"}) do %>
          (Expand Batch)
        <% end %>
      <% end %>
    </td>
    <td><%= overlay_description(first_task.description, :header_width => 35) if batch_id %></td>
    <td><%= link_to_user_if_accessible(first_task.user) if batch_id %></td>
    <% unless current_project %>
      <td><%= link_to_group_if_accessible(first_task.group) if batch_id %></td>
    <% end %>
    <td><%= link_to_bourreau_if_accessible(first_task.bourreau) if batch_id %></td>
    <td colspan="2" class="left_align">
      <% if statuses.size > 1 %>
        <% if batch_id %>
          <%= pluralize(num_tasks, "task") %> :
        <% else %>
          <%= pluralize(num_tasks, "old task") %> :
        <% end %>
      <% end %>
      <% report   = statuses.keys.sort { |s1,s2| cmp_status_order(s1,s2) }.map { |s| "#{statuses[s]} x #{colored_status(s)}" }.join(", ") %>
      <%= report.html_safe %>
    </td>
    <td>
      <%= colored_pretty_size(batch_scope.sum(:cluster_workdir_size)) %>
    </td>
    <td>
      <% if batch_id %>
        <%= to_localtime(first_task.launch_time,:datetime) %>
      <% end %>
    </td>
    <td>
      <% if batch_id %>
        <%= to_localtime(batch_scope.order(:updated_at.desc).first.updated_at, :datetime) rescue nil %>
      <% end %>
    </td>
  </tr>

<% end %>

<% end %>

