<% @tasks.each do |launch_time, tasks| %>
    <tr class ="batch_job_header row_highlight">
      <td>
        <input type='checkbox' class="checkbox" id="task_header_checkbox_<%= tasks.first.id %>" onclick="try {
          $$('.task_checkbox_<%= tasks.first.id %>').each(function(value, index) {
             value.checked = $('task_header_checkbox_<%= tasks.first.id %>').checked;
          });
          } catch (e) { alert('RJS error:\n\n' + e.toString()); alert('$$(\'.task_checkbox_<%= tasks.first.id %>\').each(function(value, index) {\nvalue.checked = true;\n});'); throw e }; return true;"
        />
      </td>
      <td class="left">
        <% if launch_time %>
          <%= link_to_function "#{tasks.first.type.to_s.sub(/^Drmaa/,"")} (Batch)" do |page|
                  page.select(".batch_listing_#{tasks.first.id}").each{ |el| el.toggle }
              end
          %>
        <% else %>
          <%= link_to_function "(Various)" do |page|
                  page.select(".batch_listing_#{tasks.first.id}").each{ |el| el.toggle }
              end
          %>
        <% end %>
      </td>
      <td><%= h(crop_text_to(30, tasks.first.description)) %></td>
      <td><%= h(tasks.first.user.login) %></td>
      <td colspan="4">
        <% if launch_time %>
          <%= pluralize(tasks.size, "job")%> launched at <%= to_localtime(launch_time,:datetime) %>
        <% else %>
          <%= pluralize(tasks.size, "old job")%>
        <% end %>
      </td>
    </tr>
      <% for task in tasks %>
        <tr class ="<%= cycle('list-odd', 'list-even')%> row_highlight batch_listing_<%= tasks.first.id %>" style="display:none">
           <td><%= check_box_tag("tasklist[]", task.id, false, :class  => "checkbox task_checkbox_#{tasks.first.id}") %></td>
           <td class="left">&nbsp;&nbsp;&#x21b3; <%= link_to task.class.to_s.sub(/^Drmaa/,""), :controller => :tasks, :action => :show, :id => task.id  %></td>
           <td><%= h(crop_text_to(30, task.description)) %></td>
           <td><%= h(task.user.login) %></td>
           <td><%= link_if_admin(task.bourreau.name, bourreau_path(task.bourreau)) %></td>
           <td><%= h(task.status) %></td>
           <td><%= h(to_localtime(task.created_at.to_s,:datetime)) -%></td>
           <td><%= h(to_localtime(task.updated_at.to_s,:datetime)) -%></td>
         </tr>
      <% end %>
<% end %>
