
<h4>Active Filters</h4>

<ul class="filter_menu">
    <% @filter_params["filters"].each do |key, value| %>
        <li>
          <% if key == "bourreau_id" %>
            <%= crop_text_to(20, Bourreau.find(value).name) %><%= link_to_remote delete_icon, :url  => {:controller  => :tasks, :action  => :index, :tasks => {:remove_filter  => key}}, :method  => 'get'  %>
          <% elsif key == "user_id" %>
            <%= crop_text_to(20, User.find(value).login) %><%= link_to_remote delete_icon, :url  => {:controller  => :tasks, :action  => :index, :tasks => {:remove_filter  => key}}, :method  => 'get'  %>   
            <% elsif key == "custom_filter" %>
               <%= crop_text_to(20, TaskCustomFilter.find(value).name) %><%= link_to_remote delete_icon, :url  => {:controller  => :tasks, :action  => :index, :tasks => {:remove_filter  => key}}, :method  => 'get'  %>
          <% else %>
            <%= crop_text_to(20, value.sub(/^CbrainTask::/, "")) %><%= link_to_remote delete_icon, :url  => {:controller  => :tasks, :action  => :index, :tasks => {:remove_filter  => key}}, :method  => 'get'  %>
          <% end %>
        </li>
    <% end %>
</ul>

