<!-- 
   Partial to be rendered for DrmaaDiagnostics
-->
<% title 'Cluster Diagnostics Parameters' %>

<h2>Cluster Diagnostics Parameters</h2>

<div class = "generalcontent">

<div class = "generalbox">


<h3>Bourreau: <%= Bourreau.find(params[:bourreau_id]).name %></h3>

<%
     form_tag( '/tasks/create' ) do 
-%>

<!-- 
  Make sure parameters 'task' and 'file_ids' are always set to something,
  as they are required internally.
-->

<%= hidden_field_tag :task,        'DrmaaDiagnostics' %>
<%= hidden_field_tag :bourreau_id, params[:bourreau_id] %>

<% params[:file_ids].each do |id| %>
  <%= hidden_field_tag 'file_ids[]',  id %>
<% end %>

<h3>Life Cycle, Recovery and Restarting Capabilities</h3>

<table>

<tr>
  <th></th>
    <th COLSPAN="2">Normal Cycle</th>
    <th COLSPAN="2">Error Recovery</th>
    <th COLSPAN="2">Restart Capabilities</th>
</tr>

<tr>
  <th>Setup</th>
    <TD>Crash?  <%= check_box_tag :setup_crash,           1, params[:setup_crash] %></TD>
    <TD>Delay: <%= text_field_tag :setup_delay,              params[:setup_delay], :size => 4 %></TD>
    <TD>Enable? <%= check_box_tag :recover_setup,         1, params[:recover_setup] %></TD>
    <TD>Delay: <%= text_field_tag :recover_setup_delay,      params[:recover_setup_delay], :size => 4 %></TD>
    <TD>Enable? <%= check_box_tag :restart_setup,         1, params[:restart_setup] %></TD>
    <TD>Delay: <%= text_field_tag :restart_setup_delay,      params[:restart_setup_delay], :size => 4 %></TD>
</tr>

<tr>
  <th>Cluster</th>
    <TD>Crash?  <%= check_box_tag :cluster_crash,         1, params[:cluster_crash] %></TD>
    <TD>Delay: <%= text_field_tag :cluster_delay,            params[:cluster_delay], :size => 4 %></TD>
    <TD>Enable? <%= check_box_tag :recover_cluster,       1, params[:recover_cluster] %></TD>
    <TD>Delay: <%= text_field_tag :recover_cluster_delay,    params[:recover_cluster_delay], :size => 4 %></TD>
    <TD>Enable? <%= check_box_tag :restart_cluster,       1, params[:restart_cluster] %></TD>
    <TD>Delay: <%= text_field_tag :restart_cluster_delay,    params[:restart_cluster_delay], :size => 4 %></TD>
</tr>

<tr>
  <th>PostProcess</th>
    <TD>Crash?  <%= check_box_tag :postpro_crash,         1, params[:postpro_crash] %></TD>
    <TD>Delay: <%= text_field_tag :postpro_delay,            params[:postpro_delay], :size => 4 %></TD>
    <TD>Enable? <%= check_box_tag :recover_postpro,       1, params[:recover_postpro] %></TD>
    <TD>Delay: <%= text_field_tag :recover_postpro_delay,    params[:recover_postpro_delay], :size => 4 %></TD>
    <TD>Enable? <%= check_box_tag :restart_postpro,       1, params[:restart_postpro] %></TD>
    <TD>Delay: <%= text_field_tag :restart_postpro_delay,    params[:restart_postpro_delay], :size => 4 %></TD>
</tr>

</table>



<h3>Miscellaneous</h3>

<strong>Number of copies of this task to launch: </strong>
<%= text_field_tag :num_copies, params[:num_copies], :size => 4 %> (for stress testing ONLY!)
<P>

<strong>Crashes will reset to false after they are first triggered: </strong>
<%= check_box_tag :crash_will_reset, 1, params[:crash_will_reset] %>
<P>

<strong>Save report to:</strong>
<%= data_provider_select "data_provider_id", params[:data_provider_id], { :include_blank => "Data provider of input files" } %>

<P>

<%= submit_tag 'Start Diagnostics!' %>

<% end %>

</div> <!-- generalbox -->
</div> <!-- generalcontent -->
