
<% for task in @tasks %>
  <% if(@bourreau_status[task.bourreau.id])%>
     <tr class="<%= cycle('list-odd', 'list-even')%> row_highlight">
     <td><%= check_box_tag("tasklist[]", task.id, false, :class => "task_checkbox") %></td>
  <% else %>
      <tr class="list-unavailable row_highlight" title="This task is on an Execution Server that is OFFLINE.">
      <td></td>
  <% end %>
    <td class="left"><%= link_to task.name, :controller => :tasks, :action => :show, :id => task.id  %></td>
    <td><%= h(crop_text_to(30, task.description)) %></td>
    <td><%= link_to_user_if_accessible(task.user) %></td>
    <% unless current_project %>
      <td><%= link_to_group_if_accessible(task.group) %></td>
    <% end %>
    <td><%= link_to_bourreau_if_accessible(task.bourreau) %></td>
    <td><%= h(task.status) %></td>
    <td><%= h(task.run_number) %></td>
    <td><%= h(to_localtime(task.created_at.to_s,:datetime)) -%></td>
    <td><%= h(to_localtime(task.updated_at.to_s,:datetime)) -%></td>
  </tr>
<% end %>

