
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
  locals      = { :params  => @task.params, :form => form }
  raw_partial = lambda do |partial|
    @task.class.raw_partial(partial) if @task.class.respond_to?(:raw_partial)
  end
%>

<h2>Task Parameters
  <% if raw_partial.(:edit_help) %>
    <%= overlay_content_link "(Help)", :class => "task_help_link", :enclosing_element => "span" do %>
      <%= render :inline => raw_partial.(:edit_help), :locals => locals %>
    <% end %>
  <% elsif (public_path = @task.public_path("edit_params_help.html")) %>
    <%= overlay_ajax_link "(Help)", public_path.to_s, :class  => "task_help_link" %>
  <% end %>
  :
</h2>

<div class="generalbox">
<%= error_messages_for(@task) %>
<% if raw_partial.(:task_params) %>
  <%= render :inline => raw_partial.(:task_params), :locals => locals %>
<% else %>
  <%= render :partial => task_partial('task_params'), :locals => locals %>
<% end %>
</div>
