
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
  locals      = { :params  => @task.params, :form => form }
  raw_partial = lambda do |partial|
    @task.class.raw_partial(partial) if @task.class.respond_to?(:raw_partial)
  end
%>


<div class="panel panel-primary">
  <div class="panel-heading">
    Task Parameters

  <% if raw_partial.(:edit_help) %>
    <span class="glyphicon glyphicon-question-sign" rel="popover" data-toggle="popover" data-placement="right" title="Task Help" data-content="<%= raw_partial.(:edit_help) %>" data-html="true"></span>
  <% elsif (public_path = @task.public_path("edit_params_help.html")) %>
    <a href="<%= public_path.to_s %>" target="_blank"><span class="glyphicon glyphicon-question-sign"></span></a>
  <% end %>

  <span class="pull-right glyphicon glyphicon-chevron-up clickable" data-toggle="collapse" data-target="#task-params"></span></div>
  <div class="panel-body collapse in" id="task-params">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <%= error_messages_for(@task) %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <% if raw_partial.(:task_params) %>
            <%= render :inline => raw_partial.(:task_params), :locals => locals %>
          <% else %>
            <%= render :partial => task_partial('task_params'), :locals => locals %>
          <% end %>
        </div>
      </div>

    </div>

  </div>
</div>
