
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<h2>Preset Management:
<%= show_hide_toggle "(show/hide)", ".preset_box", :class => 'task_help_link', :slide_effect => true, :slide_duration => 'fast'  %>
</h2>

<table class="simple preset_box hidden">

<tr>
  <td><strong>Load a preset configuration:</strong></td>
  <td><%= select_tag :load_preset_id, 
    "<option value=\"\">(Select a preset to load)</option>".html_safe +
    grouped_options_for_select(@all_presets)
      %>
  </td>
  <td>
    <%= submit_tag "Load Preset",   :name => :load_preset %>
    <%= submit_tag "Delete Preset", :name => :delete_preset, :data => { :confirm => 'Delete this preset?' } %>
 </td>
</tr>

<tr>
  <td><strong>Save as a preset configuration:</strong></td>
  <td><%= select_tag :save_preset_id,
          "<option value=\"\">(Select a preset to overwrite)</option>".html_safe +
          options_for_select(@own_presets)
      %><strong> or as new name:</strong>
      <%= text_field_tag :save_preset_name, "", :size => 20 %>
      <% if @offer_site_preset %>
        (Save as site preset: <%= check_box_tag :save_as_site_preset, 1 %>)
      <% end %>
  </td>
  <td><%= submit_tag "Save Preset", :name => :save_preset %></td>
</tr>

</table>

