
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<h2><%= t('.h2') %>
<%= show_hide_toggle t('tasks.common.show_hide'), ".preset_box", :class => 'task_help_link', :slide_effect => true, :slide_duration => 'fast'  %>
</h2>

<table class="simple preset_box hidden">

<tr>
  <td><strong><%= t('.load_preset_configuration') %></strong></td>
  <td><%= select_tag :load_preset_id,
    "<option value=\"\"><%= t('.select_preset') %></option>".html_safe +
    grouped_options_for_select(@all_presets)
      %>
  </td>
  <td>
    <%= submit_tag t('.load_preset'),   :name => :load_preset %>
    <%= submit_tag t('.delete_preset'), :name => :delete_preset, :data => { :confirm => t('.delete_this_preset') } %>
 </td>
</tr>

<tr>
  <td><strong><%= t('.save_as_preset') %></strong></td>
  <td><%= select_tag :save_preset_id,
          "<option value=\"\"><%= t('.select_preset_to_overwrite') %></option>".html_safe +
          options_for_select(@own_presets)
      %><strong><%= t('.or_as_new_name') %></strong>
      <%= text_field_tag :save_preset_name, "", :size => 20 %>
      <% if @offer_site_preset %>
        (<%= t('.save_as_site_preset') %> <%= check_box_tag :save_as_site_preset, 1 %>)
      <% end %>
  </td>
  <td><%= submit_tag t('.save_preset'), :name => :save_preset %></td>
</tr>

</table>

