
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="panel panel-primary">
  <div class="panel-heading">Preset Management <span class="pull-right glyphicon glyphicon-chevron-up clickable" data-toggle="collapse" data-target="#presets"></span></div>
  <div class="panel-body collapse in" id="presets">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2">Load Preset</div>
        <div class="col-xs-10">
          <%= select_tag :load_preset_id, "<option value=\"\">(Select a preset to load)</option>".html_safe + grouped_options_for_select(@all_presets), :class => "form-control" %>
      </div>
      </div>

      <div class="row">
        <div class="col-xs-2">Save Preset</div>
        <div class="col-xs-10">
          <%= select_tag :save_preset_id, "<option value=\"\">(Select a preset to save)</option>".html_safe + options_for_select(@own_presets), :class => "form-control" %>

          <%= text_field_tag :save_preset_name, "", :placeholder => "Or as new config", :class => "form-control" %>

          <% if @offer_site_preset %>
            (Save as site preset: <%= check_box_tag :save_as_site_preset, 1 %>)
          <% end %>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12"><%= submit_tag "Save Preset", :name => :save_preset, :class => "btn btn-primary btn-block" %></div>
      </div>

    </div>


  </div>
</div>

