
<div id="page_display">
  <%= render :partial => 'tasks/tasks_view_mode' %>
</div>

<p/>

<fieldset class="filter_sidebar">
  <legend>Active Filters</legend>
    <div id="current_filters">
      <%= render :partial => 'tasks/current_filters' %>
    </div>
    <small>
      <%= filter_clear_link 'clear' %>
    </small>
</fieldset>

<p/>

<% build_accordion do |acc| %>
  <% acc.section "Filter Tasks" do %>
    <%= render :partial => 'tasks/filters' %>
  <% end %>
  <% acc.section "Help" do %>
    <%= overlay_ajax_link "Task Info", "/doc/tasks/task_info.html" %>
  <% end %>
<% end %>

