
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<%
 # This partial expects five locals:
 #   :task             => the task object
 #   :task_available   => boolean, to color the row red if false
 #   :is_child         => boolean, makes the row initially invisible if true, and adds an arrow
%>
<% batch_id         = task.batch_id %>
<% batch_id_or_zero = batch_id || 0 %>

<% if task_available %>
  <tr class="<%= cycle('list-odd', 'list-even') %> row_highlight batch_listing_<%= batch_id_or_zero %>">
    <td><%= check_box_tag("tasklist[]", task.id, false, :class => "task_checkbox task_checkbox_#{batch_id_or_zero}") %></td>
<% else %>
  <tr class="list-unavailable row_highlight batch_listing_<%= batch_id_or_zero %>" title="This task is on an Execution Server that is OFFLINE.">
    <td></td>
<% end %>
    <td class="left"><%= tree_view_icon(task.level) if is_child %><%= link_to_task_if_accessible(task, nil, :name => task.pretty_name) %></td>
    <td><%= overlay_description(task.description, :header_width => 35) %></td>
    <td><%= link_to_user_if_accessible(task.user) %></td>
    <% unless current_project %>
      <td><%= link_to_group_if_accessible(task.group) %></td>
    <% end %>
    <td><%= link_to_bourreau_if_accessible(task.bourreau) %></td>
    <td><%= task.vm_id.blank? ? "-" : link_to_vm_task_if_accessible(task.vm_id)+" (#{task.vm_id})" %></td>
    <td><%= colored_status(task.status) %></td>
    <td><%= task.run_number %></td>
    <td>
       <% if task.share_wd_tid %>
         (Shared)
       <% else %>
         <% as = task.archived_status %>
         <%= colored_archived_status(as) %>
         <% if task.cluster_workdir_size.present? %>
           <%= colored_pretty_size(task.cluster_workdir_size, :blank => "") %>
         <% elsif as == :userfile && ar_file_size = Userfile.where(:id => task.workdir_archive_userfile_id).raw_first_column(:size)[0] %>
           (<%= colored_pretty_size(ar_file_size, :blank => "") %>)
         <% end %>
       <% end %>
    </td>
    <td><%= to_localtime(task.created_at,:datetime) -%></td>
    <td><%= to_localtime(task.updated_at,:datetime) -%></td>
  </tr>

