         <tr>
            <td colspan="8">
              <div id="filter_div">
                 Active Filters 
                 <small>
                    <%= link_to_remote 'clear', {:url  => {:action  => :index, :tasks => {:filter_off  => true}}, :method  => 'get'}, {:class  => 'action_link'} %>
                 </small>
                 <div id="current_filters">
                   <ul>
      
                       <% @filter_params["filters"].each do |key, value| %>
                           <li>
                             <% if key == "bourreau_filter" %>
                               <%= crop_text_to(20, Bourreau.find(value).name) %><%= link_to_remote "&nbsp;x", :url  => {:action  => :index, :tasks => {:remove_filter  => key}}, :method  => 'get'  %>
                               <% elsif key == "owner_filter" %>
                                  <%= crop_text_to(20, User.find(value).login) %><%= link_to_remote "&nbsp;x", :url  => {:action  => :index, :tasks => {:remove_filter  => key}}, :method  => 'get'  %>   
                             <% else %>
                               <%= crop_text_to(20, value.sub(/^Drmaa/, "")) %><%= link_to_remote "&nbsp;x", :url  => {:action  => :index, :tasks => {:remove_filter  => key}}, :method  => 'get'  %>
                             <% end %>
                           </li>
                       <% end %>
                   </ul>
                 </div>
               </div>
            </td>
         </tr>
         <tr>
             <th> 
                 <%= link_to_function '&#10004;' do |page|
                     page.select(".checkbox").each do |check_box|
                       check_box.checked=true
                     end
                   end
                 %>
               &nbsp;
                 <%= link_to_function '<big>&times;</big>' do |page|
                     page.select(".checkbox").each do |check_box|
                       check_box.checked=false
                     end
                   end
                 %>
             </th>
             <th id="task_type_header" onMouseOver="$('task_filters_list').show()" onMouseOut="$('task_filters_list').hide()">
               <%= link_to_remote  "Task Name", :url  =>  {
                                                  :action  => :index, 
                                                  :tasks  => {:sort  => {:order  => 'type', :dir  => set_dir('type', @filter_params["sort"])}}
                                                }, 
                                                :method  => 'get'  
               %>
               <%= set_order_icon('type', @filter_params["sort"]["order"], @filter_params["sort"]["dir"]) %><br>
               <ul class="filter_list" id="task_filters_list" style="display:none;">
                  <% @task_types.sort.each do |task_type| %>
                     <li><%= link_to_remote h(crop_text_to(20, task_type.sub(/^Drmaa/, ""))), :url  => {:action  => :index, :tasks => {:filters => {:type_filter  => task_type}}}, :method  => 'get' %> </li> 
                  <% end %>
                </ul>
             </th>
             <th onMouseOver="$('description_filters_list').show()" onMouseOut="$('description_filters_list').hide()">
                <%= link_to_remote  "Description", :url  =>  {
                                                      :action  => :index, 
                                                      :tasks  => {:sort  => {:order  => 'description', :dir  => set_dir('description', @filter_params["sort"])}}
                                                    }, 
                                                    :method  => 'get'
                %>
                 <%= set_order_icon('description', @filter_params["sort"]["order"], @filter_params["sort"]["dir"]) %>
                 <% unless @task_descriptions.blank? %>
                  <br>
                    <ul class="filter_list" id="description_filters_list" style="display:none;">
                       <% @task_descriptions.sort.each do |task_desc| %>
                          <li><%= link_to_remote h(crop_text_to(40, task_desc)), :url  => {:action  => :index, :tasks => {:filters => {:description_filter  => task_desc}}}, :method  => 'get' %> </li> 
                       <% end %>
                     </ul>
                  <% end  %>
             </th>
             <th onMouseOver="$('owner_filters_list').show()" onMouseOut="$('owner_filters_list').hide()">
                <%= link_to_remote  "Owner", :url  =>  {
                                                :action  => :index, 
                                                :tasks  => {:sort  => {:order  => 'owner', :dir  => set_dir('owner', @filter_params["sort"])}}
                                              }, 
                                              :method  => 'get'  
                %>
                <%= set_order_icon('owner', @filter_params["sort"]["order"], @filter_params["sort"]["dir"]) %>
                <% if current_user.has_role? :admin %>
                  <br>
                    <ul class="filter_list" id="owner_filters_list" style="display:none;">
                       <% @task_owners.sort_by(&:login).each do |task_owner| %>
                          <li><%= link_to_remote h(task_owner.login), :url  => {:action  => :index, :tasks => {:filters => {:owner_filter  => task_owner.id}}}, :method  => 'get' %> </li> 
                       <% end %>
                    </ul>
                 <% end %>
             </th>
             <th onMouseOver="$('bourreau_filters_list').show()" onMouseOut="$('bourreau_filters_list').hide()">
               <%= link_to_remote  "Execution Server", :url  =>  {
                                                         :action  => :index, 
                                                         :tasks  => {:sort  => {:order  => 'bourreau', :dir  => set_dir('bourreau', @filter_params["sort"])}}
                                                       }, 
                                                       :method  => 'get'  
               %>
               <%= set_order_icon('bourreau', @filter_params["sort"]["order"], @filter_params["sort"]["dir"]) %>
                <br>
                  <ul class="filter_list" id="bourreau_filters_list" style="display:none;">
                     <% @bourreaux.sort_by(&:name).each do |bourreau| %>
                        <li><%= link_to_remote h(bourreau.name), :url  => {:action  => :index, :tasks => {:filters => {:bourreau_filter  => bourreau.id}}}, :method  => 'get' %> </li> 
                     <% end %>
                  </ul>
             </th>
             <th onMouseOver="$('status_filters_list').show()" onMouseOut="$('status_filters_list').hide()">
                <%= link_to_remote  "Current Status", :url  =>  {
                                                        :action  => :index, 
                                                        :tasks  => {:sort  => {:order  => 'status', :dir  => set_dir('status', @filter_params["sort"])}}
                                                      }, 
                                                      :method  => 'get'  
                %>
                <%= set_order_icon('status', @filter_params["sort"]["order"], @filter_params["sort"]["dir"]) %>
                <br>
                  <ul class="filter_list" id="status_filters_list" style="display:none;">
                     <% @task_status.sort.each do |task_status| %>
                        <li><%= link_to_remote h(task_status), :url  => {:action  => :index, :tasks => {:filters => {:status_filter  => task_status}}}, :method  => 'get' %> </li> 
                     <% end %>
                  </ul>
             </th>
             <th>
               <%= link_to_remote  "Time Submitted", :url  =>  {
                                                       :action  => :index, 
                                                       :tasks  => {:sort  => {:order  => 'created_at', :dir  => set_dir('created_at', @filter_params["sort"])}}
                                                     }, 
                                                     :method  => 'get'  
               %>
               <%= set_order_icon('created_at', @filter_params["sort"]["order"], @filter_params["sort"]["dir"]) %>
             </th>
             <th>
               <%= link_to_remote  "Last Updated", :url  =>  {
                                                   :action  => :index, 
                                                   :tasks  => {:sort  => {:order  => 'updated_at', :dir  => set_dir('updated_at', @filter_params["sort"])}}
                                                 }, 
                                                 :method  => 'get'  
               %>
                <%= set_order_icon('updated_at', @filter_params["sort"]["order"], @filter_params["sort"]["dir"]) %>
             </th>
         </tr>
         <% for task in @tasks %>
             <tr class ="<%= cycle('list-odd', 'list-even')%> row_highlight">
               <td><%= check_box_tag("tasklist[]", task.id, false, :class  => 'checkbox') %></td>
               <td class="left"><%= link_to task.class.to_s.sub(/^Drmaa/,""), :controller => :tasks, :action => :show, :id => task.id  %></td>
               <td><%= h(crop_text_to(30, task.description)) %></td>
               <td><%= h(task.user.login) %></td>
               <td><%= link_if_admin(task.bourreau.name, bourreau_path(task.bourreau)) %></td>
               <td><%= h(task.status) %></td>
               <td><%= h(to_localtime(task.created_at.to_s,:datetime)) -%></td>
               <td><%= h(to_localtime(task.updated_at.to_s,:datetime)) -%></td>
             </tr>
         <% end %>
         <% if @tasks.blank? %>
           <tr class="list-odd"><td colspan="<%= current_user.role == 'admin' ? "7" : "6" %>">There are no tasks in this list.</td></tr>
         <% end %>
