<%
   # This partial requires these hashes:
   #    counts           -> count for each type or status
   #    list             -> list of type or status
   #    user_info        -> list of type or status by user
   #    additionnal_filt -> just more criteria for filtration
   #    by               -> filtration by type or by status
%>

<% if ! list.reject { |x| x == 'TOTAL' }.empty? %>

  <%
    sorted_stats = []
    if    by.to_s == "status"
      sorted_stats = list.reject { |x| x == 'TOTAL' }.sort { |s1,s2| cmp_status_order(s1,s2) } 
    elsif by.to_s == "type"
      sorted_stats = list.reject { |x| x == 'TOTAL' }.sort { |a,b| a.downcase <=> b.downcase}
    end
    sorted_stats << 'TOTAL'  if sorted_stats.count > 1
  %>
  
  <table>
    <tr>
      <th colspan="<%= list.size + 2 %>" class="supertitle">Task Statistics By <%= by.capitalize %></th>
    </tr>
    
    <tr>
      <th></th>
      <% sorted_stats.each do |stat| %>
        <th><%= stat == "TOTAL" ? stat.capitalize : by =~ /type/i ? stat.constantize.pretty_name : stat %></th>
      <% end %>                                               
    </tr>
    
    <% sorted_users = user_info.keys.sort { |a,b| a.login <=> b.login } %>
    <% sorted_users.each do |user| %>
      <% statcnt = user_info[user] %>
      <% next if statcnt['TOTAL'].blank? || statcnt['TOTAL'] == 0 %>
      <tr>
        <td class="left_align"><%= link_to_user_with_tooltip(user) %></td>
        <% sorted_stats.each do |stat| %>
          <% if stat == "TOTAL" %>
            <td><%= index_count_filter statcnt[stat], :tasks, {:user_id => user.id}.merge(additionnal_filt), :show_zeros => true %></td>
          <% else %>
            <td><%= index_count_filter statcnt[stat], :tasks, {:user_id => user.id, by => stat}.merge(additionnal_filt), :show_zeros => true %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    
    <% if sorted_users.count > 1 %>
      <tr>
        <td class="left_align">Total</td>
        <% sorted_stats.each do |stat| %>
          <% if stat == "TOTAL" %>
            <td><%= index_count_filter counts[stat], :tasks, additionnal_filt, :show_zeros => true %></td>
          <% else %>
            <td><%= index_count_filter counts[stat], :tasks, { by => stat }.merge(additionnal_filt), :show_zeros => true %></td>
          <% end %>
        <% end %>
      <tr>
    <% end %>
    
  </table>

<% end %>
