
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="active_status">

  <span class="active_status_left_side">
    <%= render :partial => 'groups/switch_panel' %>
  </span>

  <span class="active_status_left_side">
    <%= render :partial => 'shared/active_filters', :locals => {:model => :cbrain_task} %>
  </span>

</div>

<div class="pagination">
  <%= render :partial => "pagination" %>
</div>

<%= 
  index_table(@paginated_list, :class => "resource_list", :id => "tasks_table") do |t|
    t.column(select_all_checkbox "task_checkbox")
    t.sort_column("Task Type", 'CbrainTask', 'type', :filters => basic_filters_for(@header_scope, CbrainTask, :type)) { |t| t.pretty_name }
    t.sort_column("Description", 'CbrainTask', 'description')
    t.sort_column("Owner", 'User', 'login', :filters => association_filters_for(@header_scope, CbrainTask, :user, :name_method => :login))
    unless current_project
      t.sort_column("Project", 'Group', 'name', :filters => association_filters_for(@header_scope, CbrainTask, :group))
    end
    t.sort_column("Execution Server", 'RemoteResource', 'name', :filters => association_filters_for(@header_scope, CbrainTask, :bourreau, :association_table => :remote_resources))
    t.sort_column("Current Status", 'CbrainTask', 'status', :filters => basic_filters_for(@header_scope, CbrainTask, :status))
    t.column("Run Number")
    t.sort_column("Workdir Size", 'CbrainTask', 'cluster_workdir_size')
    t.sort_column("Time Submitted", 'CbrainTask', 'created_at')
    t.sort_column("Last Updated", 'CbrainTask', 'updated_at')
    t.row_override do |launch_time|
      render :partial => 'tasks/batch_view', :locals => {:launch_time => launch_time}
    end
  end 
%>

<%= center_legend("Workdir archiving status symbols:", [ 
      [ colored_archived_status(:workdir),  "On Cluster"  ],
      [ colored_archived_status(:userfile), "As File"     ],
    ])
%>

