
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">

  <%= button_with_dropdown_menu(t('.update_attributes')) do %>
    <% if !current_user.has_role?(:normal_user) %>
      <%= t('.change_owner') %>
      <%= user_select('cbrain_task[user_id]', {}, { :include_blank => t('.select_another_owner') } ) %>
      <%= hijacker_submit_button(t('update'), :url => url_for(:action => :update_multiple, :update_user_id => 1), :method => :post, :datatype => :script, :class => "button") %>
      <hr>
    <% end %>
    <%= t('.change_group') %>
    <%= group_select('cbrain_task[group_id]', {}, { :include_blank => t('.select_another_group') } ) %>
    <%= hijacker_submit_button(t('update'), :url => url_for(:action => :update_multiple, :update_group_id => 1), :method => :post, :datatype => :script, :class => "button") %>
    <hr>
    <%= t('.change_data_provider') %>
    <%= data_provider_select('cbrain_task[results_data_provider_id]', {}, { :include_blank => t('.select_another_data_provider') } ) %>
    <%= hijacker_submit_button(t('update'), :url => url_for(:action => :update_multiple, :update_results_data_provider_id => 1), :method => :post, :datatype => :script, :class => "button") %>
    <hr>
    <%= t('.change_tool_version') %>
    <%= tool_config_select('cbrain_task[tool_config_id]', {}, :include_blank => t('.select_another_tool_version')  ) %>
    <%= hijacker_submit_button(t('update'), :url => url_for(:action => :update_multiple, :update_tool_config_id => 1), :method => :post, :datatype => :script, :class => "button") %>
  <% end %>


  <%= button_with_dropdown_menu(t('.for_failed_tasks')) do %>
    <p class="dropmenu_info">
      <%= t('.for_failed_tasks_p_html') %>
    </p>
    <p class="centered">
      <%= hijacker_submit_button(t('.trigger_error_recovery'), :url => url_for(:action  => :operation, :operation => 'recover'), :method  => :post, :datatype => :script, :class => "button") %>
    <p/>
  <% end %>


  <%= button_with_dropdown_menu(t('.for_completed_tasks')) do %>
    <p class="dropmenu_info">
      <%= t('.for_completed_tasks_p_html') %>
    </p>
    <p class="dropmenu_info">
      <%= t('.for_completed_tasks_ul_html') %>
    </p>
    <p class="centered">
      <strong><%= t('.restart_at') %></strong><br/>
      <%= hijacker_submit_button(t('.setup_stage'),           :url => url_for(:action  => :operation, :operation => 'restart_setup'),       :method  => :post, :datatype => :script, :class => "button") %>
      <%= hijacker_submit_button(t('.cluster_stage'),         :url => url_for(:action  => :operation, :operation => 'restart_cluster'),     :method  => :post, :datatype => :script, :class => "button") %>
      <%= hijacker_submit_button(t('.post_processing_stage'), :url => url_for(:action  => :operation, :operation => 'restart_postprocess'), :method  => :post, :datatype => :script, :class => "button") %>
    <p/>
    <p class="dropmenu_info">
      <%= t('.for_completed_tasks_note_html') %>

    </p>
    <p class="centered">
      <%= hijacker_submit_button(t('.duplicate_tasks'), :url => url_for(:action  => :operation, :operation => 'duplicate'), :method  => :post, :datatype => :script, :class => "button") %>
      <%= t('.on_execution_server') %><%= bourreau_select :dup_bourreau_id %>
    <p/>
  <% end %>


  <%= button_with_dropdown_menu(t('.terminating_and_cleaning_up')) do %>
    <p class="dropmenu_info">
      <%= t('.terminating_and_cleaning_up_p_html') %>
    </p>
    <p class="centered">
      <%=
        hijacker_submit_button(t('.terminate_tasks'), :url => url_for(:action  => :operation, :operation => 'terminate'),
                                                  :method  => :post,
                                                  :datatype => :script,
                                                  :class => "button",
                                                  :confirm => t('.confirm_terminate_tasks')
                                                  )
      %>
    </p>
    <p class="dropmenu_info">
      <%= t('.remove_work_directories_note') %>

    <p/>
    <p class="centered">
      <%=
        hijacker_submit_button(t('.remove_work_directories'), :url => url_for(:action  => :operation, :operation => 'zap_wd'),
                                                  :method  => :post,
                                                  :datatype => :script,
                                                  :class => "button",
                                                  :confirm => t('.confirm_remove_work_directories')
                                                  )
      %>
    <p/>
    <p class="dropmenu_info">
      <%=
        t('.remove_tasks_p_html',
          workdir_status: colored_archived_status(:workdir),
          userfile_status: colored_archived_status(:userfile))
      %>

    </p>
    <p class="centered">
      <%=
        hijacker_submit_button(t('.remove_tasks'),:url => url_for(:action  => :operation, :operation => 'delete'),
                                                  :method  => :post,
                                                  :datatype => :script,
                                                  :class => "button",
                                                  :confirm => t('.confirm_remove_tasks')
                              )
      %>
    <p/>
  <% end %>


  <%= button_with_dropdown_menu(t('.archiving')) do %>
    <p class="dropmenu_info">
      <%= t('.archiving_p_1_html') %>
    </p>
    <p class="dropmenu_info">
      <%= t('.archiving_p_2_html') %>
    </p>
    <p class="dropmenu_info">
      <%=
        t('.archiving_p_3_html',
          workdir_status: colored_archived_status(:workdir),
          type: TaskWorkdirArchive.pretty_type,
          userfile_status: colored_archived_status(:userfile))
      %>
    </p>
    <p class="dropmenu_info">
      <%= t('.archiving_p_4_html') %>
    </p>
    <p class="centered">
      <%= hijacker_submit_button(t('.archive_on_cluster'), :url => url_for(:action  => :operation, :operation => 'archive'),      :method  => :post, :datatype => :script, :class => "button") %>
      <%= hijacker_submit_button(t('.archive_as_file'),    :url => url_for(:action  => :operation, :operation => 'archive_file'), :method  => :post, :datatype => :script, :class => "button") %>
      <%= hijacker_submit_button(t('.unarchive_tasks'),    :url => url_for(:action  => :operation, :operation => 'unarchive'),    :method  => :post, :datatype => :script, :class => "button") %>
      <br/>
      <br/>
      <%= t('.optional_destination_dp') %>
      <%= data_provider_select :archive_dp_id, { :selector => "" }, :include_blank => "" %>

      <% if current_user.has_role?(:admin_user) %>
        <br/><br/>
        <%= t('.do_not_compress') %> <%= check_box_tag :nozip, "yes", false %>
      <% end %>
    <p/>

  <% end %>

  <%= button_with_dropdown_menu(t('.filters'), :content_id => 'tasks_filters') do %>
    <%= render :partial => 'tasks/filters' %>
  <% end %>

</div>
