
<tr>
   <th> 
      <%= select_all_checkbox "task_checkbox" %>
   </th>
   <th id="task_type_header" onMouseOver="jQuery('#task_filters_list').show()" onMouseOut="jQuery('#task_filters_list').hide()">
      <%= ajax_sort_link "Task Name", 'CbrainTask', 'type' %>
      <% unless @task_types.blank? %>
        <br>
        <ul class="filter_list" id="task_filters_list" style="display:none;">
           <% @task_types.keys.sort.each do |task_type| %>
              <li>
                <% num_occur = @task_types[task_type] %>
                <%= filter_add_link  h(crop_text_to(20, task_type.sub(/^CbrainTask::/, "") + " (#{num_occur})" )), :filters => {:type  => task_type} %>
              </li> 
           <% end %>
         </ul>
      <% end %>
    </th>
    <th onMouseOver="jQuery('#description_filters_list').show()" onMouseOut="jQuery('#description_filters_list').hide()">
       <%= ajax_sort_link "Description", 'CbrainTask', 'description' %>
    </th>
    <th onMouseOver="jQuery('#owner_filters_list').show()" onMouseOut="jQuery('#owner_filters_list').hide()">
       <%= ajax_sort_link "Owner", 'User', 'login' %>
       <% unless @task_owners.blank? %>
         <br>
           <ul class="filter_list" id="owner_filters_list" style="display:none;">
              <% @task_owners.keys.sort_by(&:login).each do |task_owner| %>
                 <li>
                   <% num_occur = @task_owners[task_owner] %>
                   <%= filter_add_link h(task_owner.login + " (#{num_occur})"), :filters => {:user_id  => task_owner.id} %>
                 </li> 
              <% end %>
           </ul>
        <% end %>
    </th>
    <% unless current_project %>
      <th onMouseOver="jQuery('#project_filters_list').show()" onMouseOut="jQuery('#project_filters_list').hide()">
        <%= ajax_sort_link "Project", 'Group', 'name' %>
        <% unless @task_projects.blank? %>
          <br>
          <ul class="filter_list" id="project_filters_list" style="display:none;">
             <% @task_projects.keys.sort_by(&:name).each do |task_project| %>
                <li>
                  <% num_occur = @task_projects[task_project] %>
                  <%= filter_add_link h(task_project.name + " (#{num_occur})"), :filters => {:group_id  => task_project.id} %>
                </li> 
             <% end %>
          </ul>
        <% end %>
      </th>
    <% end %>
    <th onMouseOver="jQuery('#bourreau_filters_list').show()" onMouseOut="jQuery('#bourreau_filters_list').hide()">
      <%= ajax_sort_link "Execution Server", 'RemoteResource', 'name' %>
      <% unless @bourreaux.blank? %>
         <br>
           <ul class="filter_list" id="bourreau_filters_list" style="display:none;">
              <% @bourreaux.sort_by(&:name).each do |bourreau| %>
                 <li>
                   <%= filter_add_link h(bourreau.name), :filters => {:bourreau_id  => bourreau.id} %>
                 </li> 
              <% end %>
           </ul>
      <% end %>
    </th>
    <th onMouseOver="jQuery('#status_filters_list').show()" onMouseOut="jQuery('#status_filters_list').hide()">
      <%= ajax_sort_link "Current Status", 'CbrainTask', 'status' %>
      <% unless @task_status.blank? %>
        <br>
          <ul class="filter_list" id="status_filters_list" style="display:none;">
             <% @task_status.keys.sort.each do |task_status| %>
                <li>
                  <% num_occur = @task_status[task_status] %>
                  <%= filter_add_link h(task_status + " (#{num_occur})"), :filters => {:status  => task_status} %>
                </li> 
             <% end %>
          </ul>
      <% end %>
    </th>
    <th>Run Number</th>
    <th>
      <%= ajax_sort_link "Workdir Size", 'CbrainTask', 'cluster_workdir_size' %>
    </th>
    <th>
      <%= ajax_sort_link "Time Submitted", 'CbrainTask', 'created_at' %>
    </th>
    <th>
      <%= ajax_sort_link "Last Updated", 'CbrainTask', 'updated_at' %>
    </th>
</tr>



<% if @filter_params["sort_hash"]["order"] == 'cbrain_tasks.batch' %>
  <%= render :partial => 'tasks/batch_view'  %>
<% else %>
  <%= render :partial => 'tasks/list_view' %>
<% end %>
        
<% if @tasks.blank? %>
  <tr class="list-odd"><td colspan="<%= current_project ? "10" : "11" %>">There are no tasks in this list.</td></tr>
<% end %>

