
<%= form_tag(create_zenodo_task_path(@task.id), :method => :post) do %>

  <fieldset>
    <legend><%= t('.basic_deposit_information') %></legend>

    <label for="zenodo_zsite"><%= t('.select_zenodo_token') %></label>
    <%= select_tag 'zsite', options_for_select(
          [
            [ t('.sandbox'), 'sandbox', :disabled => current_user.zenodo_sandbox_token.blank? ],
            [ t('.main'),    'main',    :disabled => current_user.zenodo_main_token.blank?    ],
          ]
        )
    %>
    <p>

    <label for="zenodo_deposit_metadata_title"><%= t('.title') %></label>
    <%= text_field_tag 'zenodo_deposit_metadata[title]', @zenodo_metadata.title, :size => 30 %>
    <p>

    <label for="zenodo_deposit_metadata_description"><%= t('activerecord.attributes.description') %></label><br>
    <%= text_area_tag 'zenodo_deposit_metadata[description]', @zenodo_metadata.description, :rows => 5, :cols => 40 %>
    <p>

    <label for="zenodo_deposit_metadata_creators"><%= t('.creators') %></label><br>
    <%= text_field_tag 'zenodo_deposit_metadata[creators][][name]', @zenodo_metadata.creators[0].try(:name), :size => 30, :id => 'zenodo_deposit_metadata_creators' %><br>
    <%= text_field_tag 'zenodo_deposit_metadata[creators][][name]', @zenodo_metadata.creators[1].try(:name), :size => 30 %><br>
    <%= text_field_tag 'zenodo_deposit_metadata[creators][][name]', @zenodo_metadata.creators[2].try(:name), :size => 30 %><br>
    <div class="wide_field_explanation">
      <%= t('.field_explanation_html') %>
    </div>

    <p>
    <%= submit_tag t('.create_deposit') %>

  </fieldset>

<% end %>

