
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% @tasks         = @tasks.sort { |t1,t2| t1.cmp_by_batch_rank(t2) } %>
<% num_tasks      = @tasks.size %>
<% first_task     = @tasks.first %>
<% launch_time    = first_task  ? first_task.launch_time : nil %>
<% launch_time_id = launch_time ? launch_time.to_i       : 0 %>

<% if @tasks.empty? %>
  <tr><td colspan="<%= current_project ? "10" : "11" %>">This batch of tasks has disappeared.</td></tr>
<% else %>
  <tr class="batch_job_header row_highlight">
    <td>
      <%= select_all_checkbox "task_checkbox_#{launch_time_id}", :id  => "task_header_checkbox_#{launch_time_id}", :class  => "task_checkbox" %>
    </td>
    <td class="left">
      <% if launch_time %>
        <%= show_hide_toggle  "#{first_task.pretty_name} (Batch)", ".batch_listing_#{launch_time_id}" %>
      <% else %>
        <%= show_hide_toggle  "(Various)", ".batch_listing_#{launch_time_id}" %>
      <% end %>
    </td>
    <td><%= overlay_description(first_task.description, :header_width => 35) if false && launch_time %></td>
    <td><%= link_to_user_if_accessible(first_task.user) if false && launch_time %></td>
    <% unless current_project %>
      <td><%= link_to_group_if_accessible(first_task.group) if false && launch_time %></td>
    <% end %>
    <td><%= link_to_bourreau_if_accessible(first_task.bourreau) if false && launch_time %></td>
    <td colspan="3" class="left_align">
      <% stat_cnt = @tasks.to_a.hashed_partitions { |t| t.status =~ /Fail/ ? 'Failed' : t.status } %>
      <% if stat_cnt.size > 1 %>
        <% if launch_time %>
          <%= pluralize(num_tasks, "task") %> :
        <% else %>
          <%= pluralize(num_tasks, "old task") %> :
        <% end %>
      <% end %>
      <% report   = stat_cnt.keys.sort { |s1,s2| cmp_status_order(s1,s2) }.map { |s| "#{stat_cnt[s].size} x #{colored_status(s)}" }.join(", ") %>
      <%= report.html_safe %>
    </td>
    <td colspan="2" class="left_align">
      <% if launch_time %>
        <%= to_localtime(launch_time,:datetime) %>
      <% end %>
    </td>
  </tr>
<% end %>

<% for task in @tasks %>
  <%= render :partial => 'task_table_row',
             :locals  => { :task             => task,
                           :task_available   => @bourreau_status[task.bourreau.id] ? true : false,
                           :is_child         => true,
                         }
  %>
<% end %>

