
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title "Edit Task " + @task.name %>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Edit Task <%= @task.pretty_name %></h2>
  </div>

  <%= form_for(@task, :as => :cbrain_task, :url => {:controller  => :tasks, :action  => :update}, :html => { :method => :put }, :builder => CbrainTaskFormBuilder ) do |form| -%>

  <% # Hidden fields -%>
  <%= hidden_field_tag :toolname, @task.name %>
  <%= hidden_field_tag :id,       @task.id %>
  <% (@task.params[:interface_userfile_ids] || []).each_with_index do |id,idx| %>
    <%= hidden_field_tag "interface_userfile_ids[]".to_la, id, :id => "interface_userfile_ids[#{idx}]".to_la_id %>
  <% end %>

  <% unless @task.class.properties[:no_presets] %>
    <div class="col-xs-12 col-md-6">
      <%= render :partial => "tasks/presets",
                 :locals  => { :form => form }
      %>
    </div>
  <% end %>

  <div class="col-xs-12 col-md-6">
    <%= render :partial => "tasks/params",
               :locals  => { :form => form }
    %>
  </div>

  <div class="col-xs-12 col-md-6">
    <%= render :partial => "tasks/control" %>
  </div>

  <div class="col-xs-12">
    <%= submit_tag "Save modified parameters for this task", :class => "btn btn-primary btn-block" %>
  </div>

  <% end %>
</div>
