
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>

<% title 'Tasks' %>

<h1>Welcome. These are your current and past tasks:</h1>

<% form_tag(url_for(:controller => 'tasks', :action => 'operation'), :method => :post) do %>

<table>
   <tr>
       <th>Select</th>
       <th>Task Name</th>
       <th>Cluster Name</th>
       <th>Current Status</th>
       <th>Time Submitted</th>
       <th>Last Updated</th>
       <% if current_user.role == 'admin' %>
         <th>Owner</th>
       <% end %>
   </tr>
   <% for task in @tasks %>
       <tr class="<%= cycle('list-odd', 'list-even') %>">
         <td><%= check_box_tag("tasklist[]", task.cluster_name + "," + task.id.to_s, task.status == 'Data Ready') %></td>
         <td><%= link_to task.class.to_s.sub(/^Drmaa/,""), :controller => :tasks, :action => :show, :cluster_name => task.cluster_name, :id => task.id %></td>
         <td><%= h(task.cluster_name) %></td>
         <td><%= h(task.status) %></td>
         <td><%= h(to_localtime(task.created_at.to_s)) -%></td>
         <td><%= h(to_localtime(task.updated_at.to_s)) -%></td>
         <% if current_user.role == 'admin' %>
           <td><%= h(User.find_by_id((task.user_id) || 1).login) -%></td>
         <% end %>
       </tr>
   <% end %>
   <% if @tasks.nil? || @tasks.empty? %>
     <tr class="list-odd"><td colspan="<%= current_user.role == 'admin' ? "7" : "6" %>">There are no tasks in this list.</td></tr>
   <% end %>
</table>
<%= submit_tag('Trigger postprocessing of selected tasks') %><br><br>

Other operations: <%= select_tag(
   "operation",
    '
    <option value="">Select an operation</option>

    <optgroup label="Operations for queued tasks">
    <option value="hold">Hold queued tasks</option>
    <option value="release">Release held tasks</option>

    <optgroup label="Operations for running tasks">
    <option value="suspend">Suspend running tasks</option>
    <option value="resume">Resume suspended tasks</option>

    <optgroup label="Operations for all tasks">
    <option value="terminate">Terminate selected tasks</option>
    <option value="delete">Remove selected tasks</option>
    '
   ) %>

<%= submit_tag("Apply Operation") %>

<% end %>

