
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<% title 'Tasks' %>

<%= javascript_include_tag "tableH" %>

<% form_tag(url_for(:controller => 'tasks', :action => 'operation'), :method => :post) do %>

   <div class = "generalcontent">
           
      <div class = "resource_list_box">        
            <%= submit_tag('Trigger postprocessing of selected tasks') %><br><br>
      
               Other operations: <%= select_tag(
                  "operation",
                  '
                  <option value="">Select an operation</option>
                  
                  <optgroup label="Operations for queued tasks">
                  <option value="hold">Hold queued tasks</option>
                  <option value="release">Release held tasks</option>
                  
                  <optgroup label="Operations for running tasks">
                  <option value="suspend">Suspend running tasks</option>
                  <option value="resume">Resume suspended tasks</option>
                  
                  <optgroup label="Operations for all tasks">
                  <option value="terminate">Terminate selected tasks</option>
                  <option value="delete">Remove selected tasks</option>
                  '
                  ) %>
            
                  <%= submit_tag("Apply Operation") %>
            
      </div>  <!-- End class="resource_list_box" -->
      
      
      <table class = "resource_list" id="tasks_table">
        <%= render :partial => 'tasks_table' %>
      </table>
   </div>  <!-- End class="generalcontent" -->
<% end %>  <!-- End form -->



