
<% title "Launch " + @task.name %>

<h1>Launch <%= @task.name %> Task</h1>

<%
     form_for(:cbrain_task, @task, :url => '/tasks/create', :method => :post, :builder => CbrainTaskFormBuilder ) do |form|
-%>

<% # Hidden fields -%>
<%= hidden_field_tag :tool_id, params[:tool_id] %>
<% @task.params[:interface_userfile_ids].each do |id| %>
  <%= hidden_field_tag "interface_userfile_ids[]".to_la, id %>
<% end %>



<h2>Task Control:</h2>

<%= render :partial => 'tasks/control' %>



<% unless @task.class.properties[:no_presets] %>
<%= render :partial => "tasks/presets",
           :locals  => { :form => form }
%>
<% end %>



<h2>Task Parameters
  <% help_doc = "/doc/tasks/#{@task.name.underscore}_options.html" %>
  <% if File.exists?( RAILS_ROOT + "/public" + help_doc ) %>
    <%= overlay_ajax_link "(Help)", help_doc, :class  => "task_help_link" %>
  <% end %>
  :
</h2>

<div class="generalbox">
<%= form.error_messages %>
<%= render :partial => "tasks/cbrain_task/#{@task.name.underscore}",
           :locals  => { :params  => @task.params, :form => form }
 %>
</div>



<% unless @task.class.properties[:no_submit_button] %>
  <P>
  <%= submit_tag "Start #{@task.name}", :class => "button" %>
  <BR>
<% end %>

<% end %>

