
<% title @task.name + ' Task Information' %>

<h2><%= @task.name %> Task Information</h2>

<% if @task.bourreau.online? %>

  <div class="menu_bar menu_bar_left">

  <table class="simple">
    <tr>
    <th>Operations:</th>

    <!-- HOLD & RELEASE -->
    <% if @task.status == 'Queued' %>
      <td><%= button_to 'Hold Task',    :action => 'operation', :params => { 'operation' => 'hold', 'tasklist[]' => @task.id } %></td>
    <% end %>
    <% if @task.status == 'On Hold' %>
      <td><%= button_to 'Release Task', :action => 'operation', :params => { 'operation' => 'release', 'tasklist[]' => @task.id } %></td>
    <% end %>

    <!-- SUSPEND & RESUME -->
    <% if @task.status == 'On CPU' %>
      <td><%= button_to 'Suspend Task', :action => 'operation', :params => { 'operation' => 'suspend', 'tasklist[]' => @task.id } %></td>
    <% end %>
    <% if @task.status == 'Suspended' %>
      <td><%= button_to 'Resume Task',  :action => 'operation', :params => { 'operation' => 'resume', 'tasklist[]' => @task.id } %></td>
    <% end %>

    <!-- TERMINATE & REMOVE -->
    <% if @task.status =~ /Queued|On Hold|On CPU|Suspended/ %>
      <td><%= button_to 'Terminate Task', :action => 'operation', :params => { 'operation' => 'terminate', 'tasklist[]' => @task.id } %></td>
    <% end %>
    <% if @task.status =~ /New|Queued|On Hold|On CPU|Suspended|Failed.*|Completed/ %>
      <td><%= button_to 'Remove Task',  :action => 'operation', :params => { 'operation' => 'delete', 'tasklist[]' => @task.id } %></td>
    <% end %>

    <!-- FAILURE RECOVERY -->
    <% if @task.status =~ /^Failed*/ %>
      <td><%= button_to 'Recover From Failure', :action => 'operation', :params => { 'operation' => 'recover', 'tasklist[]' => @task.id } %></td>
    <% end %>

    <!-- RESTART -->
    <% if @task.status == 'Completed' || @task.status == 'Terminated' %>
      <td><%= button_to 'Restart At Setup', :action => 'operation', :params => { 'operation' => 'restart_setup', 'tasklist[]' => @task.id } %></td>
    <% end %>
    <% if @task.status == 'Completed' %>
      <td><%= button_to 'Restart On Cluster', :action => 'operation', :params => { 'operation' => 'restart_cluster', 'tasklist[]' => @task.id } %></td>
      <td><%= button_to 'Restart At PostProcessing', :action => 'operation', :params => { 'operation' => 'restart_postprocess', 'tasklist[]' => @task.id } %></td>
    <% end %>
 
    <!-- REFRESH -->
    <% if @task.status =~ /Setting Up|Post Processing/ %>
      <td><%= button_to 'Refresh',      :action => 'show', :id => @task.id %></td>
    <% end %>

    <!-- EDIT -->
    <% if @task.status =~ /Completed|Failed/ %>
      <td><%= button_to 'Edit Parameters', :action => 'edit', :id => @task.id %></td>
    <% end %>

    </tr>
  </table>

  </div>
<% end %>


   <table class="property_list show_task_table">

       <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Task Name</th>
          <td class="left_align"><%= h(@task.name) %></td>
      </tr>
      
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Task Description</th>
          <td class="left_align"><%= simple_format(@task.description) %></td>
      </tr>

      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Tool Version </th>
          <td class="left_align"><%= @task.tool_config ? overlay_description(@task.tool_config.description) : "Default" %></td>
      </tr>

      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Execution Server</th>
          <td><%= link_to_bourreau_if_accessible(@task.bourreau) %></td>
      </tr>

      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Current Status</th>
          <td><%= h(@task.status) %></td>
      </tr>

      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Current Run Number</th>
          <td><%= h(@task.run_number) %></td>
      </tr>
   
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Time Submitted</th>
          <td><%= h(to_localtime(@task.created_at,:datetime)) -%></td>
      </tr>
   
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Last Updated</th>
          <td><%= h(to_localtime(@task.updated_at,:datetime)) -%></td>
      </tr>
   
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Owner</th>
          <td><%= link_to_user_if_accessible(@task.user) -%></td>
      </tr>
   
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Project</th>
          <td><%= link_to_group_if_accessible(@task.group) -%></td>
      </tr>
   
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Cluster Job's ID</th>
          <td><%= h(@task.cluster_jobid) -%></td>
      </tr>
   
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th>Cluster Job's Work Directory</th>
          <td><%= h(@task.full_cluster_workdir || "(Not yet created or erased)") -%></td>
      </tr>
   
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th class="center_align_heading" colspan="2">Parameters</th>
      </tr>
      
      <tr class="<%= cycle('list-odd', 'list-even') %>">
         <td class="property_list_details" colspan="2">
         <% build_tabs do |tb| %>
           <% tb.tab("Summary") do %>
             <% begin %>
               <%= render :partial => "tasks/show_params/#{@task.name.underscore}", :locals => { :task => @task, :params => @task.params } %>
             <% rescue ActionView::MissingTemplate %>
               <pre>Problem loading summary view (no template provided by task author).</pre>
             <% rescue => ex %>
               <pre>Problem loading summary view (template error).</pre>
               <% Message.send_internal_error_message(nil,"Show summary of params for task #{@task.name}",ex) rescue true %>
             <% end %>
           <% end %>
           <% tb.tab("Raw") do %>
             <pre><%= h(@task.params.to_yaml :root => "Params") -%></pre>
           <% end %>
         <% end %>
         </td>
      </tr>

      <%
         prereqs     = @task.prerequisites || {}
         prereqs     = prereqs.attributes unless prereqs.is_a?(Hash)
         for_setup   = prereqs[:for_setup] || prereqs["for_setup"] || {}
         for_setup   = for_setup.attributes unless for_setup.is_a?(Hash)
         for_postpro = prereqs[:for_post_processing] || prereqs["for_post_processing"] || {}
         for_postpro = for_postpro.attributes unless for_postpro.is_a?(Hash)
      %>
      <% if for_setup.size > 0 %>
        <tr>
          <th colspan="2">Setup Prerequisites</td>
        </tr>
        <%= render :partial => 'show_prereqs', :locals  => { :for_this  => for_setup } %>
      <% end %>
      <% if for_postpro.size > 0 %>
        <tr>
          <th colspan="2">Post Processing Prerequisites</td>
        </tr>
        <%= render :partial => 'show_prereqs', :locals  => { :for_this  => for_postpro } %>
      <% end %>

      <tr>
          <th class="center_align_heading" colspan="2">Processing Log</th>
      </tr>
   
      <tr>
          <td colspan="2"><pre><%= h(@task.log) -%></pre></td>
      </tr>    
   
   <%
      prettystdout = @task.cluster_stdout || "(None)"
      prettystderr = @task.cluster_stderr || "(None)"
      prettyscript = @task.script_text    || "(None)"
   %>
      <tr>
        <th class="center_align_heading" colspan="2">Cluster Job's Captured Output</th>
      </tr>

      <% if @task.run_number > 1 %>
        <tr>
          <th colspan="2" class="subtitle">
            Other runs: <% 1.upto(@task.run_number) do |rn| %>
              <% if rn == @run_number.to_i %>
                <%= rn %>
              <% else %>
                <%= link_to rn.to_s, :controller => :tasks, :action => :show, :id => @task.id, :run_number => rn %>
              <% end %>
            <% end %>
          </th>
        </tr>
      <% end %>


      <tr>
        <td class="property_list_details" colspan="2">
          <% build_tabs do |tb| %>
            <% tb.tab("Standard Out") do %>
              <pre class="standard_out"><%= h(prettystdout) -%></pre>
            <% end %>
            <% tb.tab("Standard Error") do %>
              <pre class="standard_out"><%= h(prettystderr) -%></pre>
            <% end %>
            <% if current_user.has_role?(:admin) %>
              <% tb.tab("Script") do %>
                <pre class="script_preview"><%= h(prettyscript) %></pre>
              <% end %>
            <% end %>
          <% end %>
        </td>
      </tr>

   </table>

