
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title(@task.name + ' Task Information') %>

<% if @task.bourreau.online? %>

  <div class="menu_bar">

    <!-- TERMINATE & REMOVE -->
    <% if @task.status =~ /Queued|On Hold|On CPU|Suspended/ %>
      <%= link_to 'Terminate Task', { :action => 'operation', :operation => 'terminate', 'tasklist[]' => @task.id }, :confirm => "Are you sure you want to terminate this task?", :class  => "button menu_button", :method => :post %>
    <% end %>
    <% if @task.status =~ /New|Queued|On Hold|On CPU|Suspended|Failed.*|Completed/ %>
      <% confirm  = "Are you sure you want to remove this task?" %>
      <% confirm += "\n\nIMPORTANT NOTE: This will also remove its archived work directory." if @task.workdir_archive %>
      <%= link_to 'Remove Task',  { :action => 'operation', :operation => 'delete', 'tasklist[]' => @task.id }, :confirm => confirm, :class  => "button menu_button", :method => :post %>
    <% end %>

    <!-- FAILURE RECOVERY -->
    <% if @task.status =~ /^Failed*/ %>
      <%
        label = (
          case @task.status
          when /Setup/       then "Retry Setting Up"
          when /Cluster/     then "Retry Processing"
          when /PostProcess/ then "Retry Post Processing"
          end
        )
      %>
      <%= link_to label, { :action => 'operation', :operation => 'recover', 'tasklist[]' => @task.id }, :class  => "button menu_button", :method => :post %>
    <% end %>

    <!-- RESTART -->
    <% if @task.status =~ /Completed|Terminated|Duplicated/ %>
      <%= link_to 'Restart At Setup', { :action => 'operation', :operation => 'restart_setup', 'tasklist[]' => @task.id }, :class  => "button menu_button", :method => :post %>
    <% end %>
    <% if @task.status == 'Completed' %>
      <%= link_to 'Restart On Cluster', { :action => 'operation', :operation => 'restart_cluster', 'tasklist[]' => @task.id }, :class  => "button menu_button", :method => :post %>
      <%= link_to 'Restart At PostProcessing', { :action => 'operation', :operation => 'restart_postprocess', 'tasklist[]' => @task.id }, :class  => "button menu_button", :method => :post %>
    <% end %>

    <!-- REFRESH -->
    <% if @task.status =~ /Setting Up|Post Processing/ %>
      <%= link_to 'Refresh', { :action => 'show', :id => @task.id }, :class  => "button menu_button" %>
    <% end %>

    <!-- EDIT -->
    <% if (@task.status =~ /Completed|Failed|Duplicated|Terminated/) && (! @task.class.properties[:cannot_be_edited]) %>
      <%= link_to 'Edit Parameters', { :action => 'edit', :id => @task.id }, :class  => "button menu_button"  %>
    <% end %>

  </div>

<% end %>


<div class="display_inline_block" style="min-width: 50%">

  <%= show_table(@task) do |t| %>

    <% t.cell("Task Name") do %>
      <%= @task.name %><%= " (#{@task.pretty_name})" if @task.name != @task.pretty_name %>
    <% end %>
    <% t.cell("Task Description") { h(@task.description).gsub("\n", "<br>").html_safe } %>

    <% t.cell("Execution Server") { link_to_bourreau_if_accessible(@task.bourreau) }  %>
    <% t.cell("Owner") { link_to_user_with_tooltip(@task.user) } %>

    <% t.cell("Tool Version") do %>
      <% if current_user.has_role?(:admin_user) && @task.tool_config %>
        <%= link_to @task.tool_config.version_name, tool_config_path(@task.tool_config) %>
      <% else %>
        <%= @task.tool_config ? overlay_description(@task.tool_config.description) : "None" %>
      <% end %>
    <% end %>
    <% t.cell("Project") { link_to_group_if_accessible(@task.group) } %>

    <% t.cell("Current Status") { colored_status(@task.status) } %>
    <% t.cell("Time Submitted") { to_localtime(@task.created_at,:datetime) }%>

    <% t.attribute_cell(:run_number) %>
    <% t.cell("Last Updated") { to_localtime(@task.updated_at,:datetime) }%>

    <% t.cell("Data Provider For Results") { link_to_data_provider_if_accessible(@task.results_data_provider_id) } %>
    <% t.empty_cell %>

    <% t.blank_row %>

    <% if current_user.has_role?(:admin_user) %>

      <% t.attribute_cell(:cluster_jobid, :header => "Cluster Job's ID") %>
      <% t.empty_cell %>

      <% t.cell("Cluster Job's Work Directory", :show_width => 2) { @task.full_cluster_workdir || "(Not yet created or erased)" } %>
    <% end %>

    <% t.cell("Size of Work Directory") do %>
      <% if @task.share_wd_tid %>
        ( Shared with task: <%= link_to_task_if_accessible(@task.share_wd_tid) %> )
      <% elsif @task.cluster_workdir %>
        <%= colored_pretty_size(@task.cluster_workdir_size, :blank => "Unknown") %>
      <% else %>
        (None)
      <% end %>
    <% end %>

    <% t.cell("Archiving Status") do %>
      <% as = @task.archived_status %>
      <%= colored_archived_status(as) %>
      <% if ! as %>
        (Not archived)
      <% elsif as == :workdir %>
        : Archived on cluster.
      <% else %>
        <% ar_file = @task.workdir_archive %>
        : Archived as file <%= link_to_userfile_if_accessible(ar_file) %> <%= colored_pretty_size(ar_file.size) if ar_file %>
      <% end %>
    <% end %>

  <% end %>

  <br>



  <fieldset>
    <legend>Parameters</legend>
    <%= build_tabs do |tb| %>
       <%= tb.tab("Summary") do %>
         <% begin %>
           <%
             locals = { :task => @task, :params  => @task.params }
             raw_partial = lambda do |partial|
               @task.class.raw_partial(partial) if @task.class.respond_to?(:raw_partial)
             end
           %>
           <% if raw_partial.(:show_params) %>
             <%= render :inline => raw_partial.(:show_params), :locals => locals %>
           <% else %>
             <%= render :partial => task_partial('show_params'), :locals => locals %>
           <% end %>
         <% rescue ActionView::MissingTemplate %>
           <pre>Problem loading summary view (no template provided by task author).</pre>
         <% rescue => ex %>
           <pre>Problem loading summary view (template error).</pre>
           <% Message.send_internal_error_message(nil,"Show summary of params for task #{@task.name}",ex) rescue true %>
         <% end %>
       <% end %>
       <%= tb.tab("Raw") do %>
         <pre><%= @task.params.to_yaml :root => "Params" -%></pre>
       <% end %>
     <% end %>
  </fieldset>

  <br>



  <fieldset>
    <legend>Processing Log</legend>
    <pre><%= @task.getlog -%></pre>
  </fieldset>

  <br>



  <%
     prereqs     = @task.prerequisites || {}
     prereqs     = {} unless prereqs.is_a?(Hash)
     for_setup   = prereqs[:for_setup] || prereqs["for_setup"] || {}
     for_setup   = {} unless for_setup.is_a?(Hash)
     for_postpro = prereqs[:for_post_processing] || prereqs["for_post_processing"] || {}
     for_postpro = {} unless for_postpro.is_a?(Hash)
  %>

  <% unless for_setup.empty? && for_postpro.empty? %>

    <fieldset>
      <legend>Prerequisites</legend>

      <table class="simple show_task_prerequisites">
        <% if for_setup.size > 0 %>
          <tr>
            <th class="center_align_heading" colspan="2">Setup Prerequisites</th>
          </tr>
          <%= render :partial => 'show_prereqs', :locals  => { :for_this  => for_setup } %>
        <% end %>
        <% if for_postpro.size > 0 %>
          <tr>
            <th class="center_align_heading" colspan="2">Post Processing Prerequisites</th>
          </tr>
          <%= render :partial => 'show_prereqs', :locals  => { :for_this  => for_postpro } %>
        <% end %>
      </table>

    </fieldset>

    <br>

  <% end %>



  <%
    prettystdout = @task.cluster_stdout || "(None)"
    prettystderr = @task.cluster_stderr || "(None)"
    prettyscript = @task.script_text    || "(None)"
  %>

  <fieldset>
    <legend>Cluster Job's Captured Output</legend>

    <% if @task.workdir_archived? %>
      Since this task is archived, outputs aren't available right now.
    <% else %>

      <% if @task.run_number > 1 %>
        <strong>Outputs are available for several runs:</strong>
        <% 1.upto(@task.run_number) do |rn| %>
          <% if rn == @run_number.to_i %>
            <%= rn %>
          <% else %>
            <%= link_to rn.to_s, :controller => :tasks, :action => :show, :id => @task.id, :run_number => rn %>
          <% end %>
        <% end %>
        <p>
      <% end %>

      <%= build_tabs do |tb| %>
        <% all_lim = 999999 %>
        <%= tb.tab("Standard Out") do %>
          <% if @stdout_lim <= prettystdout.count("\n") && @stdout_lim != all_lim %>
            <% new_lim = @stdout_lim * 2 %>
            <strong>Only the last <%= @stdout_lim %> lines are shown here. See more lines of Standard Output:</strong>
            <%= link_to new_lim, :controller => :tasks, :action => :show, :id => @task.id, :run_number => @run_number, :stdout_lim => new_lim, :stderr_lim => @stderr_lim %>
            <%= link_to "All",   :controller => :tasks, :action => :show, :id => @task.id, :run_number => @run_number, :stdout_lim => all_lim, :stderr_lim => @stderr_lim %>
          <% end %>
          <pre class="standard_out"><%= prettystdout -%></pre>
        <% end %>

        <%= tb.tab("Standard Error") do %>
          <% if @stderr_lim <= prettystderr.count("\n") &&  @stderr_lim != all_lim %>
            <% new_lim = @stderr_lim * 2 %>
            <strong>Only the last <%= @stderr_lim %> lines are shown here. See more lines of Standard Error:</strong>
            <%= link_to new_lim, :controller => :tasks, :action => :show, :id => @task.id, :run_number => @run_number, :stdout_lim => @stdout_lim, :stderr_lim => new_lim %>
            <%= link_to "All",   :controller => :tasks, :action => :show, :id => @task.id, :run_number => @run_number, :stdout_lim => @stdout_lim, :stderr_lim => all_lim %>
          <% end %>
          <pre class="standard_out"><%= prettystderr -%></pre>
        <% end %>

        <% if current_user.has_role?(:admin_user) %>
          <%= tb.tab("Script") do %>
            <pre class="script_preview"><%= prettyscript %></pre>
          <% end %>
        <% end %>

      <% end %>

    <% end %>

  </fieldset>

</div>

