
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#


-%>

<% title 'Task Info' %>

<h2>Task Information</h2>

<div class = "generalcontent">
<div class = "generalbox">

<table border="0">
<tr><th>Operations:</th>

   <!-- HOLD & RELEASE -->
   <% if @task.status == 'Queued' %>
     <td><%= button_to 'Hold Task',    :action => 'operation', :params => { 'operation' => 'hold', 'tasklist[]' => @task.id } %></td>
   <% end %>
   <% if @task.status == 'On Hold' %>
     <td><%= button_to 'Release Task', :action => 'operation', :params => { 'operation' => 'release', 'tasklist[]' => @task.id } %></td>
   <% end %>

   <!-- SUSPEND & RESUME -->
   <% if @task.status == 'On CPU' %>
     <td><%= button_to 'Suspend Task', :action => 'operation', :params => { 'operation' => 'suspend', 'tasklist[]' => @task.id } %></td>
   <% end %>
   <% if @task.status == 'Suspended' %>
     <td><%= button_to 'Resume Task',  :action => 'operation', :params => { 'operation' => 'resume', 'tasklist[]' => @task.id } %></td>
   <% end %>

   <!-- TERMINATE & REMOVE -->
   <% if @task.status =~ /Queued|On Hold|On CPU|Suspended/ %>
     <td><%= button_to 'Terminate Task', :action => 'operation', :params => { 'operation' => 'terminate', 'tasklist[]' => @task.id } %></td>
   <% end %>
   <% if @task.status =~ /New|Queued|On Hold|On CPU|Suspended|Failed.*|Completed/ %>
     <td><%= button_to 'Remove Task',  :action => 'operation', :params => { 'operation' => 'delete', 'tasklist[]' => @task.id } %></td>
   <% end %>

   <!-- FAILURE RECOVERY -->
   <% if @task.status =~ /^Failed*/ %>
     <td><%= button_to 'Recover From Failure', :action => 'operation', :params => { 'operation' => 'recover', 'tasklist[]' => @task.id } %></td>
   <% end %>

   <!-- RESTART -->
   <% if @task.status == 'Completed' %>
     <td><%= button_to 'Restart At Setup', :action => 'operation', :params => { 'operation' => 'restart_setup', 'tasklist[]' => @task.id } %></td>
     <td><%= button_to 'Restart On Cluster', :action => 'operation', :params => { 'operation' => 'restart_cluster', 'tasklist[]' => @task.id } %></td>
     <td><%= button_to 'Restart At PostProcessing', :action => 'operation', :params => { 'operation' => 'restart_postprocess', 'tasklist[]' => @task.id } %></td>
   <% end %>

   <!-- REFRESH -->
   <% if @task.status =~ /Setting Up|Post Processing/ %>
     <td><%= button_to 'Refresh',      :action => 'show', :id => @task.id %></td>
   <% end %>

   <!-- EDIT -->
   <% if @task.status =~ /Completed|Failed/ %>
     <td><%= button_to 'Edit Parameters', :action => 'edit', :id => @task.id %></td>
   <% end %>

</tr></table>


   <table class ="showtasksdisplay">

      <tr>
          <th>Task Name</th>
          <td class="left_align"><%= h(@task.name) %></td>
      </tr>
      
      <tr>
          <th>Task Description</th>
          <td class="left_align"><%= simple_format(@task.description) %></td>
      </tr>

      <tr>
          <th>Execution Server</th>
          <td><%= h(@task.bourreau.name) %></td>
      </tr>

      <tr>
          <th>Current Status</th>
          <td><%= h(@task.status) %></td>
      </tr>
   
      <tr>
          <th>Time Submitted</th>
          <td><%= h(to_localtime(@task.created_at.to_s,:datetime)) -%></td>
      </tr>
   
      <tr>
          <th>Last Updated</th>
          <td><%= h(to_localtime(@task.updated_at.to_s,:datetime)) -%></td>
      </tr>
   
      <tr>
          <th>Owner</th>
          <td><%= h(User.find_by_id((@task.user_id) || 1).login) -%></td>
      </tr>
   
      <tr>
          <th>Cluster Job's ID</th>
          <td><%= h(@task.cluster_jobid) -%></td>
      </tr>
   
      <tr>
          <th>Cluster Job's Work Directory</th>
          <td><%= h(@task.cluster_workdir || "(Not yet created or erased)") -%></td>
      </tr>
   
      <tr>
        <th colspan="2">Parameters</th>
      </tr>
    
      <tr>
         <td colspan="2">
         <% begin %>
           <%= render :partial => "tasks/show_params/#{@task.name.underscore}", :locals => { :params => @task.params } %>
         <% rescue %>
           <pre><%= h(@task.params.to_yaml :root => "Params") -%></pre>
         <% end %>
         </td>
      </tr>

      <%
         prereqs     = @task.prerequisites || {}
         prereqs     = prereqs.attributes unless prereqs.is_a?(Hash)
         for_setup   = prereqs[:for_setup] || prereqs["for_setup"] || {}
         for_setup   = for_setup.attributes unless for_setup.is_a?(Hash)
         for_postpro = prereqs[:for_post_processing] || prereqs["for_post_processing"] || {}
         for_postpro = for_postpro.attributes unless for_postpro.is_a?(Hash)
      %>
      <% if for_setup.size > 0 %>
        <tr>
          <th colspan="2">Setup Prerequisites</td>
        </tr>
        <%= render :partial => 'show_prereqs', :locals  => { :for_this  => for_setup } %>
      <% end %>
      <% if for_postpro.size > 0 %>
        <tr>
          <th colspan="2">Post Processing Prerequisites</td>
        </tr>
        <%= render :partial => 'show_prereqs', :locals  => { :for_this  => for_postpro } %>
      <% end %>

      <tr>
          <th colspan="2">Processing Log</td>
      </tr>
   
      <tr>
          <td colspan="2"><pre><%= h(@task.log) -%></pre></td>
      </tr>    
   
   </table>

   <%
      prettystdout = @task.cluster_stdout || "(None)"
      prettystderr = @task.cluster_stderr || "(None)"
   %>

   <table id="output_tasks_table">
      <tr>
          <th>Cluster Job's Standard Output</th>
      </tr>
      <tr>
          <td class="left_align"><pre id="standard_out"><%= h(prettystdout) -%></pre></td>
      </tr>
      <tr>
          <th>Cluster Job's Standard Error</th>
      </tr>
      <tr>
          <td class="left_align"><pre id="standard_out"><%= h(prettystderr) -%></pre></td>
      </tr>
   </table>

</div>
</div>
