
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

require 'base64'

-%>

<% title 'Task Info' %>

<h1>Task Information</h1>

<table>

   <tr>
       <th>Task Name</th>
       <td class="info"><%= h(@task.class.to_s.sub(/^Drmaa/,"")) %></td>
   </tr>

   <tr>
       <th>Current Status</th>
       <td class="info"><%= h(@task.status) %></td>
   </tr>

   <tr>
       <th>Time Submitted</th>
       <td class="info"><%= h(to_localtime(@task.created_at.to_s)) -%></td>
   </tr>

   <tr>
       <th>Last Updated</th>
       <td class="info"><%= h(to_localtime(@task.updated_at.to_s)) -%></td>
   </tr>

   <tr>
       <th>Owner</th>
       <td class="info"><%= h(User.find_by_id((@task.user_id) || 1).login) -%></td>
   </tr>

   <tr>
       <th>DRMAA Job ID</th>
       <td class="info"><%= h(@task.drmaa_jobid) -%></td>
   </tr>

   <tr>
       <th>DRMAA Work Directory</th>
       <td class="info"><%= h(@task.drmaa_workdir || "(Erased)") -%></td>
   </tr>

   <tr>
       <th colspan="2">Parameters</th>
   </tr>

   <tr>
       <td colspan="2" class="info"><pre><%= h(@task.params.attributes.to_xml :root => "Params") -%></pre></td>
   </tr>

   <tr>
       <th colspan="2">Processing Log</th>
   </tr>

   <tr>
       <td colspan="2" class="info"><pre><%= h(@task.log) -%></pre></td>
   </tr>

</table>

<br>

<table>
   <tr>
       <th width="50%">DRMAA stdout</th><th width="50%">DRMAA stderr</th>
   </tr>

   <% prettystdout="(None)" ; prettystderr="(None)"
      prettystdout = Base64.decode64(@task.capt_stdout_b64) if @task.capt_stdout_b64
      prettystderr = Base64.decode64(@task.capt_stderr_b64) if @task.capt_stderr_b64
   %>

   <tr>
       <td class="info" valign="top"><pre><%= h(prettystdout) -%></pre></td>
       <td class="info" valign="top"><pre><%= h(prettystderr) -%></pre></td>
   </tr>

</table>
