
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#


-%>

<% title 'Task Info' %>


<div class = "generalcontent">

   <h2>Task Information</h2>
   
   <div class= "generalbox">

   <!-- HOLD & RELEASE -->
   <% if @task.status == 'Queued' %>
     <%= button_to 'Hold Task',    :action => 'operation', :params => { 'operation' => 'hold', 'tasklist[]' => @task.id } %>
   <% end %>
   <% if @task.status == 'On Hold' %>
     <%= button_to 'Release Task', :action => 'operation', :params => { 'operation' => 'release', 'tasklist[]' => @task.id } %>
   <% end %>

   <!-- SUSPEND & RESUME -->
   <% if @task.status == 'On CPU' %>
     <%= button_to 'Suspend Task', :action => 'operation', :params => { 'operation' => 'suspend', 'tasklist[]' => @task.id } %>
   <% end %>
   <% if @task.status == 'Suspended' %>
     <%= button_to 'Resume Task',  :action => 'operation', :params => { 'operation' => 'resume', 'tasklist[]' => @task.id } %>
   <% end %>

   <!-- TERMINATE & REMOVE -->
   <% if @task.status =~ /Queued|On Hold|On CPU|Suspended/ %>
     <%= button_to 'Terminate Task', :action => 'operation', :params => { 'operation' => 'terminate', 'tasklist[]' => @task.id } %>
   <% end %>
   <% if @task.status =~ /New|Queued|On Hold|On CPU|Suspended|Failed.*|Completed/ %>
     <%= button_to 'Remove Task',  :action => 'operation', :params => { 'operation' => 'delete', 'tasklist[]' => @task.id } %>
   <% end %>

   <!-- REFRESH -->
   <% if @task.status =~ /Setting Up|Post Processing/ %>
     <%= button_to 'Refresh',      :action => 'show', :id => @task.id %>
   <% end %>
   
   <table class ="showtasksdisplay">

      <tr>
          <th>Task Name</th>
          <td class="info"><%= h(@task.name) %></td>
      </tr>
      
      <tr>
          <th>Task Description</th>
          <td class="info"><%= simple_format(@task.description) %></td>
      </tr>

      <tr>
          <th>Execution Server</th>
          <td><%= h(@task.bourreau.name) %></td>
      </tr>

      <tr>
          <th>Current Status</th>
          <td><%= h(@task.status) %></td>
      </tr>
   
      <tr>
          <th>Time Submitted</th>
          <td><%= h(to_localtime(@task.created_at.to_s,:datetime)) -%></td>
      </tr>
   
      <tr>
          <th>Last Updated</th>
          <td><%= h(to_localtime(@task.updated_at.to_s,:datetime)) -%></td>
      </tr>
   
      <tr>
          <th>Owner</th>
          <td><%= h(User.find_by_id((@task.user_id) || 1).login) -%></td>
      </tr>
   
      <tr>
          <th>DRMAA Job ID</th>
          <td><%= h(@task.drmaa_jobid) -%></td>
      </tr>
   
      <tr>
          <th>DRMAA Work Directory</th>
          <td><%= h(@task.drmaa_workdir || "(Not yet created or erased)") -%></td>
      </tr>
   
      <tr>
        <th colspan="2">Parameters</td>
      </tr>
    
      <tr>
         <td colspan="2"><pre><%= h(@task.params.to_xml :root => "Params") -%></pre></td>
      </tr>

      <tr>
          <th colspan="2">Processing Log</td>
      </tr>
   
      <tr>
          <td colspan="2"><pre><%= h(@task.log) -%></pre></td>
      </tr>    
   
   </table>

   <% prettystdout="(None)" ; prettystderr="(None)"
      prettystdout = Base64.decode64(@task.capt_stdout_b64) if @task.capt_stdout_b64
      prettystderr = Base64.decode64(@task.capt_stderr_b64) if @task.capt_stderr_b64
   %>

   <table id="output_tasks_table">
      <tr>
          <th>DRMAA stdout</th>
      </tr>
      <tr>
          <td class="info"><pre id="standard_out"><%= h(prettystdout) -%></pre></td>
      </tr>
      <tr>
          <th>DRMAA stderr</th>
      </tr>
      <tr>
          <td class="info"><pre id="standard_out"><%= h(prettystderr) -%></pre></td>
      </tr>
   </table>
</div>
</div>
