
<% title t('.title', name: @task.name) %>

<div class="menu_bar">
  <%= link_to t('.task_info'), task_path(@task.id), :class => "button menu_button" %>
  <% if @task.zenodo_deposit_id.present? && @task.zenodo_doi.blank? %>
    <%= link_to t('refresh'), zenodo_task_path(@task), :class => "button menu_button" %>
  <% end %>
</div>
<p>

<%
  step_1_status = step_2_status = step_3_status = "zenodo_incomplete"

  step_1_status = "zenodo_complete"   if @task.zenodo_deposit_id.present?
  if step_1_status == "zenodo_complete"
    step_2_status = "zenodo_inprogress" if @zenodo_userfiles.any? { |u| u.zenodo_deposit_id == @task.zenodo_deposit_id }
    step_2_status = "zenodo_complete"   if @zenodo_userfiles.all? { |u| u.zenodo_deposit_id == @task.zenodo_deposit_id }
  end

  step_3_status = "zenodo_complete" if @task.zenodo_doi.present?
%>

<% status_label = lambda do |hklass, message| %>
    <%= t('status') %>
    <% if hklass =~ /_complete/ %>
      <%= green_checkmark_icon %> <%= message || t('.complete') %>
    <% elsif hklass =~ /_inprogress/ %>
      <%= orange_uparrow_icon %>  <%= message || t('.in_progress') %>
    <% elsif hklass =~ /_incomplete/ %>
      <%= red_x_cross_icon %>     <%= message || t('.incomplete') %>
    <% else %>
      <span class="warning"><%= t('unknown').upcase %>!</span>
    <% end %>
<% end %>

<%
 #######################################
 # STEP 1: PREPARE DEPOSIT
 #######################################
%>

<fieldset class="<%= step_1_status %>">
  <legend><%= t('.step_1') %></legend>
  <%= status_label.(step_1_status, nil) %>
  <p>
  <% if step_1_status == "zenodo_complete" %>
    <%= t('.step_1_1_description_html', link: link_to t('.zenodo_deposit_editor'), url_for_deposit(@task.zenodo_deposit_id)) %>
  <% else %>
    <%= t('.step_1_2_description_html') %>
  <% end %>
</fieldset>

<p>

<%
 #######################################
 # STEP 2: UPLOAD
 #######################################
%>

<fieldset class="<%= step_2_status %>">
  <legend><%= t('.step_2') %></legend>
  <%= status_label.(step_2_status, nil) %>
  <p>
  <ul>
  <% @zenodo_userfiles.each do |userfile| %>
    <li>
      <% if userfile %>
        <% if userfile.zenodo_doi.present? %>
          <% if userfile.zenodo_doi == @task.zenodo_doi %>
            <%= status_label.("zenodo_complete", t('tasks.common.published')) %>
          <% else %>
            <%= t('.step_2_description_html', link: link_to_zenodo_doi(userfile.zenodo_doi)) %>
          <% end %>
        <% elsif userfile.zenodo_deposit_id.present? %>
          <% if userfile.zenodo_deposit_id == @task.zenodo_deposit_id %>
            <%= status_label.("zenodo_complete", t('.uploaded')) %>
          <% else %>
            <%= status_label.("zenodo_incomplete", t('.conflict')) %>
          <% end %>
        <% else %>
          <%= status_label.("zenodo_inprogress", t('.scheduled_for_upload')) %>
        <% end %>
      <% else %>
        <%= status_label.("zenodo_incomplete", t('.will_be_ignored') ) %>
      <% end %>
      <%= link_to_userfile_if_accessible(userfile) %>
      <% if userfile %>
        (<%= colored_pretty_size(userfile.size) %>)
      <% end %>
    </li>
  <% end %>
  </ul>
  <% if step_1_status != "zenodo_complete" %>
    <p>
    <%= t('.waiting_for_initial_deposit') %>
  <% elsif step_2_status != "zenodo_complete" %>
    <p>
    <%= t('.it_can_take_some_time') %>
  <% end %>
</fieldset>

<p>

<%
 #######################################
 # STEP 3: PUBLISH
 #######################################
%>

<fieldset class="<%= step_3_status %>">
  <legend><%= t('.step_3') %></legend>
  <%= status_label.(step_3_status, nil) %>
  <p>
  <% if step_1_status == "zenodo_complete" && step_2_status == "zenodo_complete" %>
    <% if @task.zenodo_doi.present? %>
      <%= t('.step_3_1_description_html', doi: @task.zenodo_doi) %>
      <p>
      <%= link_to_zenodo_doi(@task.zenodo_doi) %>
      <p>
      <%= t('.step_3_2_description_html', link: link_to_deposit(@task.zenodo_deposit_id)) %>
    <% else %>
      <%= t('.step_3_3_description_html', link: link_to_deposit(@task.zenodo_deposit_id)) %>
      <p>
      <% refresh_link = link_to t('.refresh_message'), zenodo_task_path(@task) %>
      <%= t('.step_3_4_description_html', link: refresh_link) %>
    <% end %>
  <% else %>
    <%= t('.waiting_for_steps_1_and_2') %>
  <% end %>
</fieldset>

<%
 #######################################
 # OPTIONAL: RESET DEPOSIT
 #######################################
%>

<% if @task.zenodo_deposit_id.present? &&
      (@task.zenodo_doi.blank? || @task.zenodo_doi.starts_with?(ZenodoHelper::ZenodoSandboxDOIPrefix)) %>
  <p>

  <fieldset class="zenodo_incomplete">
    <legend><%= t('.reset_deposit_html') %></legend>
    <%= t('.reset_deposit_1_description_html') %>
    <p>
    <%= t('.reset_deposit_2_description_html') %>
    <p>
    <%= link_to t('.reset_deposit_button'), reset_zenodo_task_path(@task.id),
          {
            :class  => "button menu_button",
            :method => :post,
            :data   => {
              :confirm => t('.reset_deposit_confirmation')
            },
          }
    %>
  </fieldset>
<% end %>

<%
 #######################################
 # Form
 #######################################
%>

<% if @task.zenodo_deposit_id.blank? %>
  <%= render :partial => 'zenodo_deposit_form' %>
<% end %>

