<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<% title 'Login', "" %>

<div id="nh_sessions_new">

  <div class="nh_login">
    <div class="nh_logo"></div>
    <%= form_tag nh_session_path, :class=>"nh_login_form" do %>
      <fieldset>
       <label>Username</label>
       <%= text_field_tag 'username', nil, tabindex: 1, :class=>"login_input nh_form_input" %>
      </fieldset>
      <fieldset>
        <label>Password</label>
        <%= password_field_tag 'password', nil, tabindex: 2, :class=>"login_input nh_form_input" %>
      </fieldset>
      <p class="field_note">Note: You can use your CBRAIN account credentials to log in to NeuroHub. </p>
      <%= submit_tag  "Sign in", :class => 'btn-solid secondary' %>
      <%= link_to "Forgot your password?", request_password_users_path, :class => "btn-text cbrain external" %>

      <% if @orcid_uri %>
        <p class="text-center heading-sm grey-400 pb-4">OR</p>
        <%= link_to @orcid_uri, :class => "btn-solid orcid" do %>
          <%= image_tag("neurohub/ORCIDiD_iconvector.svg", :alt => "ORCID logo", :class => "orcid_logo") %>
          Sign in with ORCID
        <% end %>
        <p class="field_note">This will work if you have already linked your ORCID iD in your NeuroHub account.</p>
        <p class="field_note">You can learn more about ORCID at <%= link_to 'ORCID.org', "https://orcid.org/", :class => 'orcid_home_link' %></p>
      <% end %>

      <% @oidc_providers.each do |oidc| %>
        <p class="text-center heading-sm grey-400 pb-4">OR</p>
        <%= link_to @oidc_uris[oidc.name], :class => "btn-solid globus" do %>
          Sign in with <%= oidc.name %>
        <% end %>
        <p class="field_note">This will work if you have already linked your NeuroHub account to a <%= oidc.name %> provider.</p>
        <% if oidc.link_to && oidc.link_to_uri %>
          <p class="field_note">You can learn more about <%= oidc.name %> at <%= link_to oidc.link_to, oidc.link_to_uri, :class => 'globus_home_link' %></p>
        <% end %>
      <% end %>

    <% end %>
  </div>

  <div class="nh_features">
    <div class="nh_features_header"></div>
    <div class="nh_features_list">
      <p class="heading-sm pb-7">NeuroHub connects researchers with:</p>

      <div class="nh_feature">
        <img class="nh_feature_icon" src="/images/neurohub/NH_features_tools.svg">
        <p class="nh_feature_text">Computational and analytical tools.</p>
      </div>

      <div class="nh_feature">
        <img class="nh_feature_icon" src="/images/neurohub/NH_features_readable.svg">
        <p class="nh_feature_text">Repositories of standardized, machine-readable data.</p>
      </div>

      <div class="nh_feature">
        <img class="nh_feature_icon" src="/images/neurohub/NH_features_discoverable.svg">
        <p class="nh_feature_text">Discoverable, accessible and reusable data.</p>
      </div>

      <%= link_to 'Request an Account',
                  url_for(:controller => :nh_signups, :action => :new),
                  { :tabindex => 4, :class => "btn-solid request-account" }
      %>
    </div>
  </div>

</div>

