<h1>Welcome. These are your files:</h1>

<table>
   <tr>
       <th>Owner</th>
       <th>Filename</th>
       <th>Size</th>
       <th>Created</th>
       <th>Modified</th>
       <th colspan="1">Operations</th>
       <th colspan="1">Convert</th>
   </tr>
   <% for userfile in @userfiles %>
       <tr class="<%= cycle('list-odd', 'list-even') %>">
         <td><%= h(userfile.ownername) -%></td>
         <td><%= h(userfile.base_name) -%></td>
         <td><%= h(userfile.file_size) -%></td>
         <td><%= h(userfile.created_at) -%></td>
         <td><%= h(userfile.updated_at) -%></td>
         <td><%= button_to 'Delete', { :action => 'delete', :id => userfile, :method => :post, :confirm => "Sure?" } -%></td>
         <% if userfile.base_name =~ /\.mnc$/%>
            <td><%= button_to 'Convert to JIV', { :action => 'minc2jiv', :id => userfile} -%></td>
         <% end %>
       </tr>
   <% end %>
</table>

<h3>Add a new file:</h3>

<%
   form_tag( "/manager/upload", :multipart => true, :method => :post ) do
%>
      <%= file_field_tag("upload_file") %>
      <%= submit_tag("Upload file")     %>
<% end %>

</body>
</html>
