<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
    new_invites = Invitation.where(user_id: current_user.id, active: true, read: false).all || []
%>

<% file_icon = '<svg id="files" xmlns="http://www.w3.org/2000/svg" viewBox="125 10 250 130">
<path id="Rounded_Rectangle_14_copy-3" data-name="Rounded Rectangle 14 copy" style="stroke-width: 10px; fill-rule: evenodd; fill: none;" d="M310.072,136.3V10.646a2.6,2.6,0,0,0-2.534-2.661H187.556a2.6,2.6,0,0,0-2.535,2.661V154.322a2.6,2.6,0,0,0,2.535,2.661H289.685Z"/>
<path id="Rounded_Rectangle_14_copy_2-3" data-name="Rounded Rectangle 14 copy 2" style="stroke-width: 4px; fill-rule: evenodd; fill: none;" d="M308.3,133.037H289.66a2.636,2.636,0,0,0-2.647,2.625v17.773"/>
<path id="Rounded_Rectangle_11-3" data-name="Rounded Rectangle 11" style=" stroke-width: 4px; fill-rule: evenodd;" d="M206.729,41.6h80.915a3,3,0,0,1,3,3v1.511a3,3,0,0,1-3,3H206.729a3,3,0,0,1-3-3V44.6A3,3,0,0,1,206.729,41.6Z"/>
<path id="Rounded_Rectangle_11_copy-3" data-name="Rounded Rectangle 11 copy" style="stroke-width: 4px; fill-rule: evenodd;" d="M206.673,64.469h80.916a3,3,0,0,1,3,3V68.98a3,3,0,0,1-3,3H206.673a3,3,0,0,1-3-3V67.469A3,3,0,0,1,206.673,64.469Z"/>
<path id="Rounded_Rectangle_11_copy_2-3" data-name="Rounded Rectangle 11 copy 2" style="stroke-width: 4px; fill-rule: evenodd;" d="M207.505,87.5H288.42a3,3,0,0,1,3,3v1.511a3,3,0,0,1-3,3H207.505a3,3,0,0,1-3-3V90.5A3,3,0,0,1,207.505,87.5Z"/>
<path id="Rounded_Rectangle_11_copy_3-3" data-name="Rounded Rectangle 11 copy 3" style="stroke-width: 4px; fill-rule: evenodd;" d="M207.477,110.56h80.888a3,3,0,0,1,3,3v1.511a3,3,0,0,1-3,3H207.477a3,3,0,0,1-3-3V113.56A3,3,0,0,1,207.477,110.56Z"/>
</svg>'.html_safe
%>

<% project_icon = '<svg xmlns="http://www.w3.org/2000/svg" width="72" height="69" viewBox="-10 0 100 69"><path id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" style="fill: none;stroke-width: 6px;fill-rule: evenodd;" d="M4.77,16H28.243c1.471,0,2.676,4.837,4.176,4.837,16.363,0,34.811-.317,34.811-0.317a0.782,0.782,0,0,1,.77.793V64.207a0.782,0.782,0,0,1-.77.793H4.77A0.782,0.782,0,0,1,4,64.207V16.793A0.782,0.782,0,0,1,4.77,16Z"/></svg>'.html_safe %>

<% user_icon = '<svg fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-width="0" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" viewBox="0 0 32 32" preserveAspectRatio="xMidYMid meet" class="InlineSvg-gigSlh hwPeQh"><g><path d="M16.981,17c0,1.683 -0.271,2.241 -0.469,2.456c-0.163,0.176 -0.68,0.544 -2.531,0.544c-1.85,0 -2.367,-0.368 -2.53,-0.544c-0.198,-0.215 -0.47,-0.773 -0.47,-2.456c0,-1.657 1.343,-3 3,-3c1.657,0 3,1.343 3,3Zm0.835,3.977c0.879,-0.804 1.165,-2.104 1.165,-3.977c0,-2.761 -2.238,-5 -5,-5c-2.761,0 -5,2.239 -5,5c0,1.873 0.287,3.173 1.166,3.977c-1.665,0.911 -2.97,2.396 -3.649,4.189c-0.124,0.328 -0.154,0.708 0.051,0.993c0.569,0.789 1.674,-0.111 2.13,-0.97c1.008,-1.897 3.004,-3.189 5.302,-3.189c2.298,0 4.295,1.292 5.303,3.189c0.456,0.859 1.561,1.759 2.129,0.97c0.205,-0.285 0.176,-0.665 0.052,-0.993c-0.68,-1.793 -1.985,-3.278 -3.649,-4.189Z"></path></g></svg>'.html_safe
%>

<% task_icon = '<svg fill-rule="evenodd" clip-rule="evenodd" stroke-width="2px" stroke-linejoin="round" stroke-miterlimit="10" xmlns="http://www.w3.org/2000/svg" aria-labelledby="title" viewBox = "-10 -10 50 50" preserveAspectRatio="xMidYMid meet" class="InlineSvg-gigSlh hwPeQh"><g id="task"><path fill="none" stroke-linecap="round" d="M15.3,30.4H6.8c-3,0-5.4-2.4-5.4-5.4V6.9 c0-3,2.4-5.4,5.4-5.4h18.1c3,0,5.4,2.4,5.4,5.4v4.3"></path><polygon fill="none" stroke-linecap="round" stroke-linejoin="round" points="21.7,29.3  18.3,26.4 17.5,30.7     "></polygon><path fill="none" d="M28,15.2l3.1,2.7c0.1,0.1,0.1,0.3,0,0.4L22,29 c-0.1,0.1-0.3,0.1-0.4,0l-3.1-2.7c-0.1-0.1-0.1-0.3,0-0.4l3.7-4.4l5.5-6.4C27.7,15.1,27.9,15.1,28,15.2z"></path><path fill="none" d="M29.4,13.3l3.4,2.9c0,0,0.1,0.1,0,0.2l-1.3,1.5c0,0-0.1,0.1-0.2,0 L28,14.9c0,0-0.1-0.1,0-0.2l1.3-1.5C29.3,13.2,29.4,13.2,29.4,13.3z"></path><line stroke-linecap="round" stroke-linejoin="round" x1="11.9" y1="8" x2="24.1" y2="8"></line><polyline fill="none" stroke-linecap="round" stroke-linejoin="round" points="5.4,8.6  6.8,9.9 9,6.1     "></polyline><line stroke-linecap="round" stroke-linejoin="round" x1="11.9" y1="16.1" x2="24.1" y2="16.1"></line><polyline  fill="none" stroke-linecap="round" stroke-linejoin="round" points="5.7,16.7  7.1,18 9.3,14.2     "></polyline><line stroke-linecap="round" stroke-linejoin="round" x1="11.9" y1="24.2" x2="20" y2="24.2"></line><polyline fill="none" stroke-linecap="round" stroke-linejoin="round" points="5.3,24.8  6.7,26.1 8.9,22.2"></polyline></g></svg>
'.html_safe %>


<% title("Dashboard", '') %>

<div id="nh_dashboard">
  <div class="nh_dashboard_title">
    <p class="title-md">Welcome <%= @username %></p>
  </div>

<%= form_tag(nh_search_path, :method => :get) do %>

   <strong>Search:</strong> <%= text_field_tag :search, @search.presence, :placeholder => "Search for anything" %>
   <span class="field_explanation">This will search files, tasks, projects by ID, by name or by description.</span>
   <p>
<% end %>

  <div class="main">
    <div class="notifications">
      <% if new_invites.count > 0 %>
        <div id="mb-7" class="nh_invitations">
          <div class="section secondary">
            <p class="section-title">New Notifications</p>
              <% new_invites.each do |invitation| %>
                <div class="card">
                  <div class="card-row header">
                    <p class="card-item"><%= invitation.header.html_safe %></p>
                  </div>
                  <div class="btn-section">
                    <%= button_to 'Accept', nh_invitation_path(invitation.id), :method => :put, :class => "btn-solid-secondary btn" %>
                    <%= button_to 'Decline', nh_invitation_path(invitation.id), :method => :delete, :class => "btn-outline-primary btn" %>
                    <%= button_to 'Save for Later', nh_invitation_path(invitation.id, :read => true), :method => :put, :class => "btn-outline-secondary btn" %>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      <% end %>
      <div class="section default flex-1">

        <div class="section-title">
          <img src="/images/neurohub/NH_icon_grayscale.png" alt="cbrain-logo"/>
          Neurohub news
        </div>
        <div class="card">
          <div class="card-row header bg-primary-alt">
            <p class="title-xs default-bg">Updated Portal Features</p>
          </div>
          <div class="card-item">
            <p>New features have been added to the Neurohub portal. You can now create projects and share them with others. Your collaborators can have edit access allowing them to update your project. Try it out!</p>
          </div>
        </div>
        <div class="card">
          <div class="card-row header bg-primary-alt">
            <p class="title-xs default-bg">New Portal Under Construction</p>
          </div>
          <div class="card-item">
            <p> NeuroHub is leveraging existing technologies developed by the Montreal Neurological Institute (the Neuro), the McGill Centre for Integrative Neuroscience (MCIN) and Canadian Center for Computational Genomics (C3G) to develop a robust infrastructure for the integration of complex brain information to stimulate new discoveries. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section user">
        <div class="card">
        <%=
          scope_link('<p class="btn-text-secondary card-title">Latest Tasks</p>'.html_safe,
            'tasks#index', { :order => [{ :a => 'updated_at', :d => 'desc' }], },
            url: { :controller => :tasks, :action => :index }
          )
        %>
        <% if @tasks.size > 0 %>
          <div>
            <% for task in @tasks %>
              <div class="card-row">
                <div class="card-section">
                  <div class="card-item btn-text-secondary">
                    <%= task_icon %>
                    <div class="text-ellipsis flex-1">
                      <%= link_to_task_if_accessible(task, nil, :name_method => :name_and_bourreau) %>
                    </div>
                  </div>
                  <div class="card-item btn-text-secondary">
                    <%= user_icon %>
                    <div class="text-ellipsis flex-1">
                      <%= link_to_user_if_accessible(task.user) %>
                    </div>
                  </div>
                  <div class="card-item" style="max-width:150px">
                    <div class="text-ellipsis flex-1">
                      <%= colored_status(task.status) %>
                    </div>
                  </div>
                </div>
                <div class="card-section">
                  <div class="card-item btn-text-secondary">
                    <%= project_icon %>
                    <div class="text-ellipsis flex-1">
                      <%= link_to_group_if_accessible(task.group) %>
                    </div>
                  </div>
                  
                  <div class="card-item">
                    <div class="text-ellipsis flex-1">
                      <%= to_localtime(task.updated_at,:date) %>
                      <%= to_localtime(task.updated_at,:time) %>
                    </div>
                  </div>
              
                  </div>
              </div>
            <% end %>
          </div>
          <% else %>
          <div class="card-item">
            <div style="position: unset" class="empty">
              <div class="empty-wrapper">
                <img class="empty-icon" src="/images/neurohub/NH_empty_tasks.svg" />
                <p class="empty-text">No tasks have been updated lately.</p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
        <div class="card">
            <%=
            scope_link('<p class="btn-text-secondary card-title">Latest Updated Files</p>'.html_safe,
              'userfiles#index', { :order => [{ :a => 'updated_at', :d => 'desc' }], },
              url: { :controller => :userfiles, :action => :index }
            )
          %>
          <% if @files.size > 0 %>
            <div>
              <% for file in @files %>
                <div class="card-row">
                  <div class="card-section">
                    <div class="card-item btn-text-secondary">
                      <%= file_icon %>
                      <div class="text-ellipsis flex-1">
                        <%= link_to_userfile_if_accessible(file, nil) %>
                      </div>
                    </div>
                    <div class="card-item btn-text-secondary">
                      <%= user_icon %>
                      <div class="text-ellipsis flex-1">
                        <%= link_to_user_if_accessible(file.user, nil) %>
                      </div>
                    </div>
                    <div class="card-item" style="max-width:150px">
                      <div class="text-ellipsis flex-1">
                        <%= colored_pretty_size(file.size) %>
                      </div>
                    </div>
                  </div>
                  <div class="card-section">
                    <div class="card-item btn-text-secondary">
                      <%= project_icon %>
                      <div class="text-ellipsis flex-1">
                        <%= link_to(file.group.name,{:controller => :nh_projects,:action => :show, :id => file.group.id}, :method  => :get)  %>
                      </div>
                    </div>
                    <div class="card-item">
                      <div class="text-ellipsis flex-1">
                        <%= to_localtime(file.updated_at,:date) %>
                        <%= to_localtime(file.updated_at,:time) %>
                      </div>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>
          <% else %>
            <div class="card-item">
              <div style="position: unset" class="empty">
                <div class="empty-wrapper">
                  <img class="empty-icon" src="/images/neurohub/NH_empty_files.svg" />
                  <p class="empty-text">No files have been updated lately.</p>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>

  </div>

  <div class="section footer">
    <p class="section-title">For Development:</p>
    <div class="py-4 d-flex justify-center"><%= link_to 'Reboot Manager', reboot_path, { :class => "btn-solid-primary" } %></div>
  </div>
</div>
