<%-
#
# NeuroHub category
#
# Copyright (C) 2020-2023
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<% cache('categorical_welcome_grid_v_1', expires_in: 30.minutes ) do %>
  <%
    require 'csv'
    require 'ostruct'
    csv_text       = File.read('public/neurohub_components/soft.csv')
    csv            = CSV.parse(csv_text, :headers => true)
    hashes         = csv.map {|row| row.to_hash.stringify_keys.transform_keys(&:downcase)} # rows to chashes
    grouped_hashes = hashes.group_by {|h| h['boxid']}  # software components are grouped by categories

    categories = grouped_hashes.values.map do |category|  # areas/categories
      args              = category.first
      args['subtitles'] = category.pluck('subtitle')  # specific tools or framework names
      args['urls']      = category.pluck('url')       # links to sign up/login/landing page
      args['images']    = category.pluck('image')     # logos
      OpenStruct.new(args)
    end
  %>


  <% title("Dashboard", '') %>

  <div id="nh_neurohub_portal_welcome">
    <div class="main">
      <div id="nh_projects" class="nh_content">

      <%- # Neurohub subcomponents -%>

        <div class="grid">
          <% categories.each do |category| %>
            <div class="card">
              <div class="btn-text primary card_heading">
                 </p><%=  category.title %>
              </div>
              <div class="card_text neurohub-tool ">
                <% category.urls.each_with_index do |url, i| %>
                  <% if url.present? %>

                    <%= link_to image_tag("/neurohub_components/" + category.images[i],
                                          class: "mini-logo"),
                              url if category.images[i].present? %>
                    <%= link_to category.subtitles[i], url if category.subtitles[i].present? %>

                  <% else %>
                    <%# if no url provided just put image and text%>
                    image_tag("/neurohub_components/logos/" + category.images[i])
                    <%=  category.subtitles[i] %>
                  <% end %>
                <% end %>
              </div>
              <div class="card_text card_description">
                <%= category.description.presence %>
              </div>
            </div>
          <% end %>
        </div>>
      </div>
    </div>
  </div>
<% end %>
