
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2022
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Disk Quotas Configurations' %>

<% if current_user.has_role? :admin_user %>
  <div class="menu_bar">
    <%= link_to "Exceeded Quotas Report", report_disk_quotas_path(), :class => :button %>
    <%= link_to "Exceeding and Close to Quotas", report_almost_disk_quotas_path(), :class => :button %>
    <%= link_to "New Quota Entry", new_disk_quota_path(),     :class => :button %>

    <% user_list = current_user.available_users.sort_by(&:login) %>
    <% if user_list.size > 1 && current_user.has_role?(:admin_user) %>
      <div class="disk_quota_user_select">
        View as
          <%=
            ajax_onchange_select(:as_user_id,
                                 disk_quotas_path,
                                 options_for_select(
                                   user_list.collect { |u| [ u.login, u.id.to_s ] },
                                   @as_user.id.to_s
                                 ),
                               :datatype => 'script'
             )
           %>
        </div>

    <% end %>
  </div>
<% end %>

<div id="disk_quotas_table" class="index_block">
  <%= render :partial => 'disk_quotas_table' %>
</div>

