<%-
#
# NeuroHub Project
#
# Copyright (C) 2020
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<% title 'New Account Request' %>
<div id="nh_signups" class="nh_content">
  <div class="nh_logo"></div>
  <%= form_for @signup, :html => {:class=>"nh_form","data-secondary"=>"true"}, :url => { :action => (@signup.new_record? ? "create" : "update"), :id => @signup.id } do |f|%>
    <p class="nh_form_title">Register</p>
    <div class="text-xs text-italic">Fields with an asterisk (*) are mandatory.</div>
    <fieldset class="nh_form_field">
      <%= f.label(:title, "Title", :class => "nh_form_label") %>
      <div>
        <%= f.text_field(:title, :size => 10, :class => "nh_form_input") %>
        <span class="nh_field_note">(e.g. 'Mr.', 'Dr.', etc.)</span>
      </div>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:first, "First Name *", :class => "nh_form_label") %>
      <%= f.text_field :first, :size => 20, :class => "nh_form_input"%>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:middle, "Middle Name", :class => "nh_form_label") %>
      <%= f.text_field :middle, :size => 20, :class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:last, "Last Name *", :class => "nh_form_label") %>
      <%= f.text_field :last, :size => 20, :class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:login, "Preferred 'login' name", :class => "nh_form_label") %>
      <div>
        <%= f.text_field :login, :size => 15, :class => "nh_form_input" %>
        <span class="nh_field_note">(one letter + alphanums)</span>
      </div>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:institution, "Name of Institution/Organization *", :class => "nh_form_label") %>
      <%= f.text_field :institution, :size => 60, :class => "nh_form_input"%>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:department, "Department *", :class => "nh_form_label") %>
      <%= f.text_field :department, :size => 60, :class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:position, "Current position or role *", :class => "nh_form_label") %>
      <%= f.select :position, options_for_select(
              [ [ "(select one)", "" ], "Faculty",
                                        "Postdoctoral",
                                        "PhD. candidate",
                                        "Masters student",
                                        "Student",
                                        "Researcher",
                                        "Other"
              ],
              @signup.position),{},{ class: 'nh_select'}
          %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:affiliation, "Current affiliation *", :class => "nh_form_label") %>
      <%= f.select :affiliation, options_for_select(
              [ [ "(select one)", "" ], "Academic",
                                        "Private sector",
                                        "Government",
                                        "Non-profit",
                                        "Other",
              ],
              @signup.affiliation),{},{ class: 'nh_select'}
          %>
    </fieldset>

    <fieldset class="nh_form_field" >
      <%= f.label(:email, "Institutional email address *", :class => "nh_form_label") %>
      <%= f.text_field :email, :size => 60, :class => "nh_form_input" %>
      <span class="nh_field_note">Please supply an email address from your research institution.
      Requests made with non-institutional addresses will be ignored.</span>

    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:street1, "Street Address (line 1)", :class => "nh_form_label") %>
      <%= f.text_field :street1, :size => 60, :class => "nh_form_input" %>

      <%= f.label(:street2, "Street Address (line 2)", :class => "nh_form_label") %>
      <%= f.text_field :street2, :size => 60, :class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:city, "City *",:class => "nh_form_label") %>
      <%= f.text_field :city, :size => 30,:class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:province, "Province/State *",:class => "nh_form_label") %>
      <%= f.text_field :province, :size => 30,:class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:country, "Country *",:class => "nh_form_label") %>
      <%= f.text_field :country, :size => 30,:class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:postal_code, "Postal/ZIP Code *",:class => "nh_form_label") %>
      <%= f.text_field :postal_code, :size => 8,:class => "nh_form_input" %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:time_zone, "Time Zone",:class => "nh_form_label") %>
      <%= f.time_zone_select :time_zone,
          ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
          { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'], :include_blank => true }
      %>
    </fieldset>
    <fieldset class="nh_form_field" >
      <%= f.label(:comment, "Comments or special requests",:class => "nh_form_label") %>
         <%= f.text_area :comment, :cols => 80, :rows => 5 %>
    </fieldset>
    <fieldset class="nh_form_field">
        <span class="nh_field_note">
          <b>Privacy note</b>: The information you supply in this form is only used in order to review your application and, when approved, to automatically generate your user account.
            This information will not be used in any other way, or passed on to any other entities or persons.
        </span>
    </fieldset>
    <div class="nh_form_button_section">
      <%= f.submit(@signup.new_record? ? "Request Account" : "Update Request", { :class => "btn-solid-secondary" })  %>
    </div>


  <% end %>
</div>
