
<h3>Life Cycle, Recovery and Restarting Capabilities</h3>

<table>

<tr>
  <th></th>
    <th COLSPAN="2">Normal Cycle</th>
    <th COLSPAN="2">Error Recovery</th>
    <th COLSPAN="2">Restart Capabilities</th>
</tr>

<tr>
  <th>Setup</th>
    <TD>Crash?  <%= form.params_check_box  :setup_crash                       %></TD>
    <TD>Delay:  <%= form.params_text_field :setup_delay,           :size => 4 %></TD>
    <TD>Enable? <%= form.params_check_box  :recover_setup                     %></TD>
    <TD>Delay:  <%= form.params_text_field :recover_setup_delay,   :size => 4 %></TD>
    <TD>Enable? <%= form.params_check_box  :restart_setup                     %></TD>
    <TD>Delay:  <%= form.params_text_field :restart_setup_delay,   :size => 4 %></TD>
</tr>

<tr>
  <th>Cluster</th>
    <TD>Crash?  <%= form.params_check_box  :cluster_crash                     %></TD>
    <TD>Delay:  <%= form.params_text_field :cluster_delay,         :size => 4 %></TD>
    <TD>Enable? <%= form.params_check_box  :recover_cluster                   %></TD>
    <TD>Delay:  <%= form.params_text_field :recover_cluster_delay, :size => 4 %></TD>
    <TD>Enable? <%= form.params_check_box  :restart_cluster                   %></TD>
    <TD>Delay:  <%= form.params_text_field :restart_cluster_delay, :size => 4 %></TD>
</tr>

<tr>
  <th>PostProcess</th>
    <TD>Crash?  <%= form.params_check_box  :postpro_crash                     %></TD>
    <TD>Delay:  <%= form.params_text_field :postpro_delay,         :size => 4 %></TD>
    <TD>Enable? <%= form.params_check_box  :recover_postpro                   %></TD>
    <TD>Delay:  <%= form.params_text_field :recover_postpro_delay, :size => 4 %></TD>
    <TD>Enable? <%= form.params_check_box  :restart_postpro                   %></TD>
    <TD>Delay:  <%= form.params_text_field :restart_postpro_delay, :size => 4 %></TD>
</tr>

</table>



<h3>Miscellaneous</h3>

<strong>Crashes will reset to false after they are first triggered: </strong>
<%= form.params_check_box :crash_will_reset %>
<P>

<% if @task.new_record? %>
<strong>Number of copies of this task to launch: </strong>
<%= form.params_text_field :num_copies %> (for stress testing ONLY!)
<P>
<% end %>

