

<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>
<div style="max-height: 600px; overflow-y: auto; padding-right: 30px">
  <% if @users.count > 0 %>
    <fieldset style="border:0px; margin:0px; padding:0px">
      <legend>Either type in user logins (usernames) or emails </legend>
      <div id="emails_and_usernames" style="display:block">

      <%= form_tag create_with_usernames_invitations_path do %>
        <%= hidden_field_tag :group_id, @group.id %>
        <%= text_area_tag :emails, "", size: "65x2" %>
        <br>
        <%= submit_tag "Send Invitations" %>  or, select users in the form below
      <% end %>
      </div>
    </fieldset>
    <br>
    <hr>
    <%= form_tag invitations_path do -%>
      <%= hidden_field_tag :group_id, @group.id %>
      <%= render :partial => 'groups/users_form', :locals => {:parameter_name => "user_ids", :show_locked => false} %>
      <p>
        <%= submit_tag "Send Invitations" %>
      </p>
    <% end %>
  <% else %>
    <strong style="color:red">No users available to invite.</strong>
  <% end %>
</div>
