
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2021
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<fieldset>
  <legend>Inputs summary</legend>
  <% file_ids = params[:interface_userfile_ids] || [] %>
  <strong><%= file_ids.size %> files to be processed:</strong><BR>
  <ul>
    <% file_ids[0,10].each do |id| %>
      <li><%= link_to_userfile_if_accessible id %></li>
    <% end %>
    <% if file_ids.size > 10 %>
      <li>(<%= file_ids.size - 10 %> more files...)</li>
    <% end %>
  </ul>
</fieldset>

<fieldset>
  <legend>Extraction patterns:</legend>
  <% 10.times do |i| %>
    <%= form.params_text_field "patterns[#{i}]", :size => 120 %><p>
  <% end %>
  <p>
  <strong>About these patterns:</strong>
  <%= show_hide_toggle "(Show/Hide)", "#pat-notes", :class  => 'action_link' %>
  <br>
  <div id="pat-notes" style="display: none">
    These patterns are UNIX style <em>file matching patterns</em>, not <em>regular expressions</em>.
    <p>
    <dl>
      <dt>*</dt>
      <dd>
        An asterisk matches zero, one, or many characters, except "/".
      </dd>
      <dt>?</dt>
      <dd>
        A question mark matches a single character, except "/".
      </dd>
    </dl>
    <p>
    Typically, all patterns will start with <em>*/</em> because the first component must match
    the names of the FileCollections themselves.
    <p>
    See the 'help' link above for more information and examples.
  </div>
</fieldset>

<fieldset>
  <legend>Output name</legend>
  <%= form.params_text_field :output_file_name, :size => 40 %>
</fieldset>

