
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>

<% title 'Institutions' %>

<h1>Institutions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Province</th>
    <th>Country</th>
    <th colspan="2"/>
  </tr>

<% for institution in @institutions %>
  <tr class="<%= cycle('list-odd', 'list-even') %>">
    <td><%=h institution.name %></td>
    <td><%=h institution.city %></td>
    <td><%=h institution.province %></td>
    <td><%=h institution.country %></td>
    <td><%= button_to 'Edit', edit_institution_path(institution), :method => :get %></td>
    <td><%= button_to 'Destroy', institution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Create New Institution', new_institution_path, :method => :get %>
