
<ul class="filter_menu">

    <% @filter_params["filter_hash"].each do |att, val| %>
      <li>
        <%= h crop_text_to(30, display_filter(:userfiles, att, val, {:user  => :login})) %><%= filter_remove_link delete_icon, att  %>
      </li>
    <% end %>

    <% unless @filter_params["filter_tags_array"].blank? %>
      <% current_user.available_tags.find(@filter_params["filter_tags_array"]).each do |tag| %>
        <li>
          <%= h crop_text_to(30, "Tag:#{tag.name}") %><%= filter_remove_link delete_icon, tag.id, :parameter  => :filter_tags_array %>
        </li>
      <% end %>
    <% end %>
    <% unless @filter_params["filter_custom_filters_array"].blank? %>
      <% current_user.custom_filters.find(@filter_params["filter_custom_filters_array"]).each do |filter| %>
        <li>
          <%= h crop_text_to(30, "Custom:#{filter.name}") %><%= filter_remove_link delete_icon, filter.id, :parameter  => :filter_custom_filters_array %>
        </li>
      <% end %>
    <% end %>
</ul>

