<ul>
    <% session[:basic_filters].each do |filter|%>
       <li>
         <%= crop_text_to(20, filter) %><%= link_to_remote "&nbsp;x", :url  => userfiles_path(:remove_basic_filter  => filter), :method  => 'get' %>
       </li>
    <% end %>
    <% session[:custom_filters].each do |filter|%>
       <li>
         <%= crop_text_to(20, "custom:#{filter}") %><%= link_to_remote "&nbsp;x", :url  => userfiles_path(:remove_custom_filter  => filter), :method  => 'get'  %>
       </li>
    <% end %>
    <% session[:tag_filters].each do |filter|%>
        <li>
          <%= crop_text_to(20, "tag:#{filter}") %><%= link_to_remote "&nbsp;x", :url  => userfiles_path(:remove_tag_filter  => filter), :method  => 'get'  %>
        </li>
    <% end %>
</ul>