
<h4>Active Filters</h4>

<ul class="filter_menu">
    <% session[:userfiles_basic_filters].each do |filter|%>
       <li>
         <%= crop_text_to(20, filter) %><%= link_to_remote delete_icon, :url  => userfiles_path(:userfiles_remove_basic_filter  => filter), :method  => 'get' %>
       </li>
    <% end %>
    <% session[:userfiles_custom_filters].each do |filter|%>
       <li>
         <%= crop_text_to(20, "custom:#{filter}") %><%= link_to_remote delete_icon, :url  => userfiles_path(:userfiles_remove_custom_filter  => filter), :method  => 'get'  %>
       </li>
    <% end %>
    <% session[:userfiles_tag_filters].each do |filter|%>
        <li>
          <%= crop_text_to(20, "tag:#{filter}") %><%= link_to_remote delete_icon, :url  => userfiles_path(:userfiles_remove_tag_filter  => filter), :method  => 'get'  %>
        </li>
    <% end %>
</ul>

