
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
  default_project = current_project || current_user.own_group

  writable_dps = DataProvider
    .find_all_accessible_by_user(current_user)
    .all
    .reject { |dp| dp.read_only? }
%>

<div id="pp-hid-tp" class="html_tool_tip" style="z-index:105">
  Hidden files are invisible by default, and are usually reserved for
  maintenance, internal and archiving purposes.
</div>

<div id="pp-ro-tp" class="html_tool_tip" style="z-index:105">
  Locked files cannot be modified or moved across data providers.
</div>

<!-- DELETE FILES MODAL -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Modal title
      </div>
      <div class="modal-body">
        Are you absolutely sure you wish to delete these <span class="dlg-cfrm-cnt"></span> file(s)?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-confirm" data-dismiss="modal" data-url="<%= delete_files_userfiles_path %>" data-method="DELETE">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- MOVE/COPY MODAL -->
<div class="modal fade" id="move-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span id="move-modal-title">Move</span>
      </div>
      <div class="modal-body">
        <form action="<%= change_provider_userfiles_path %>" method="post">
          <div class="row">
            <div class="col-xs-2"><label for="cpmv-dp" class="dlg-fld-lbl">To</label></div>
            <div class="col-xs-10">
              <div class="input-group">
                <%=
                  data_provider_select('data_provider_id_for_mv_cp',
                    { :data_providers => writable_dps },
                    {
                      :id    => 'cpmv-dp',
                      :class => 'form-control',
                      :'data-placeholder' => "A data provider..."
                    }
                  )
                %>
                <span class="input-group-addon pop" data-toggle="popover" data-trigger="focus" data-container="body" data-content="<%= data_providers_descriptions.html_safe %>" data-html="true"><span class="glyphicon glyphicon-question-sign"></span></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-sm-offset-2">
              <label for="overwrite">Overwrite existing file(s) with the same name</label>
              <input id="overwrite" type="checkbox">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-confirm" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- UPLOAD MODAL -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog"
  data-max-upload-size="<%= RemoteResource.current_resource.meta[:upload_size_limit].to_i.megabytes %>"
  data-type-detect-url="<%= detect_file_type_userfiles_path %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span>File Upload</span>
      </div>
      <div class="modal-body">
        <form action="<%= userfiles_path %>" method="post" enctype="multipart/form-data">
          <div class="row">
            <div class="col-xs-2">
              <label for="up-file">Upload</label>
            </div>
            <div class="col-xs-10">
              <input id="up-file" type="file" name="upload_file" />
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12"><span id="up-file-warn" class="dlg-msg-err"></span></div>
          </div>

          <div class="row">
            <div class="col-xs-2"><label for="up-dp" class="dlg-fld-lbl">To</label></div>
            <div class="col-xs-10">
              <div class="input-group">
                <%=
                  data_provider_select('data_provider_id',
                    { :data_providers => writable_dps },
                    {
                      :id    => 'up-dp',
                      :class => 'form-control',
                      :'data-placeholder' => "A data provider..."
                    }
                  )
                %>
                <span class="input-group-addon pop" data-toggle="popover" data-trigger="focus" data-container="body" data-content="<%= data_providers_descriptions.html_safe %>" data-html="true"><span class="glyphicon glyphicon-question-sign"></span></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2"><label for="up-prj" class="dlg-fld-lbl">Project</label></div>
            <div class="col-xs-10">
              <%=
                group_select('userfile[group_id]', {}, {
                  :id    => 'up-prj',
                  :class => 'form-control',
                  :'data-placeholder' => "A project..."
                })
              %>
            </div>
          </div>

          <div clas="row" id="up-ex-container">
            <div class="col-xs-2"><label for="up-ex" class="dlg-chk-lbl">Extract</label></div>
            <div class="col-xs-10"><input id="up-ex" class="dlg-chk" type="checkbox" name="_do_extract" value="on" /></div>
          </div>

          <div class="row" id="up-ex-mode">
            <div class="col-xs-6">
              <input id="up-col" class="dlg-rad" type="radio" name="_up_ex_mode" value="collection" checked />
              <label for="up-col" class="dlg-rad-lbl">As a single collection</label>
            </div>
            <div class="col-xs-6">
              <input id="up-mul" class="dlg-rad" type="radio" name="_up_ex_mode" value="multiple" />
              <label for="up-mul" class="dlg-rad-lbl">As multiple files</label>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">

              <input id="up-opt-toggle" type="checkbox" />
              <label id="up-opt-icon" for="up-opt-toggle">
                <span class="ui-icon up-closed ui-icon-carat-1-e"></span>
                <span class="ui-icon up-open ui-icon-carat-1-s"></span>
              </label>
              <label id="up-opt-lbl" for="up-opt-toggle">Advanced options...</label>

              <div id="up-opt">
                <div class="row">
                  <div class="col-xs-2"><label for="up-tag" class="dlg-fld-lbl">Tags</label></div>
                  <div class="col-xs-10">
                    <select id="up-tag"
                      class="form-control dlg-chosen"
                      name="tags[]"
                      multiple="multiple"
                      data-placeholder="Some tags..."
                      data-default-project="<%= default_project.id %>"
                    >
                      <%= options_from_collection_for_select(current_user.available_tags, 'id', 'name') %>
                    </select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-2"><label for="up-type" class="dlg-fld-lbl">Detect as</label></div>
                  <div class="col-xs-10">
                    <%=
                      userfile_type_select(:file_type, {}, {
                        :id                 => 'up-type',
                        :class              => 'form-control',
                        :'data-placeholder' => "A file type...",
                        # :include_blank      => "(Detect during autoextract)",  # doesn't work
                      })
                    %>
                    <span id="up-type-auto">(autodetected)</span>
                    <span id="up-type-unknown" class="dlg-msg-warn">Unknown file type!</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2">
                    <input id="up-shr" class="dlg-chk" name="group_writable" type="checkbox" />
                    <label for="up-shr" class="dlg-chk-icon">
                      <span class="ui-icon ui-icon-check"></span>
                    </label>
                  </div>
                  <div class="col-xs-10">
                    <label for="up-shr" class="dlg-chk-lbl">
                      Allow modification by other project members
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <%
           # We create here a tiny SPAN element containing in its attribute "data-link"
           # a URL to some help page that users can refer to when uploading large datasets.
           # The URL is configured as a meta data value in the Portal's config page.
        %>
        <% large_upload_help_link_url = RemoteResource.current_resource.meta[:large_upload_url].presence.try(:strip) %>
        <% if large_upload_help_link_url %>
          <span <%= { :id         => "up-alt-help-link",
                      :style      => "display: none",
                      "data-link" => large_upload_help_link_url,
                    }.to_html_attributes.html_safe %> >
          </span>
        <% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-confirm" data-dismiss="modal" id="upload-files">OK</button>
      </div>

    </div>
  </div>
</div>

<!-- TAG MODAL -->
<div class="modal fade" id="tag-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Tags
      </div>
      <div class="modal-body">
        <form method="post">
          <%=
            group_select('', {}, {
              :id    => 'tag-mov-prj',
              :class => 'tag-in-prj form-control',
              :'data-placeholder' => "A project..."
            })
          %>
          <table class="table table-condensed table-hover table-striped" id="tag-table">
            <%= render(:partial => 'tags_table') %>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- PROPERTIES MODAL -->
<div class="modal fade" id="props-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="props-modal-title">Properties</div>
      </div>
      <div class="modal-body">
        <form action="<%= update_multiple_userfiles_path %>" method="put" class="form-horizontal">

          <div class="row">
            <div class="col-xs-2"><label for="pp-tag" class="dlg-fld-lbl">Tags</label></div>
            <div class="col-xs-10">
              <select id="pp-tag"
                class="dlg-fld dlg-chosen form-control"
                name="tags[]"
                multiple="multiple"
                data-placeholder="Keep current tags"
                data-default-project="<%= default_project.id %>"
              >
              <%= options_from_collection_for_select(current_user.available_tags, 'id', 'name') %>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
              <input id="pp-tag-clr" class="dlg-chk" type="checkbox" />
              <label for="pp-tag-clr" class="dlg-chk-icon">
                <span class="ui-icon ui-icon-check"></span>
              </label>
              <label for="pp-tag-clr" class="dlg-chk-lbl">
                Clear tags
              </label>
            </div>
          </div>

          <% unless current_user.has_role?(:normal_user) %>
            <div class="row">
              <div class="col-xs-2"><label for="pp-own" class="dlg-fld-lbl">Owner</label></div>
              <div class="col-xs-10">
                <%=
                  user_select('user_id', { :selector => nil }, {
                    :id       => 'pp-own',
                    :class    => 'dlg-fldm form-control',
                    :include_blank      => "(keep current owner)",
                    :'data-placeholder' => "Keep current owner"
                  })
                %>
              </div>
            </div>
          <% end %>

          <div class="row">
            <div class="col-xs-2">
              <label for="pp-prj" class="dlg-fld-lbl">Project</label>
            </div>
            <div class="col-xs-10">
              <%=
                group_select('group_id', { :selector => nil }, {
                  :id       => 'pp-prj',
                  :class    => 'dlg-fld form-control',
                  :include_blank      => "(keep current project)",
                  :'data-placeholder' => "Keep current project"
                })
              %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <input id="pp-shr" class="dlg-chk dlg-tri-state dlg-unset" data-name="group_writable" type="checkbox" />
              <label for="pp-shr" class="dlg-chk-icon">
                <span class="ui-icon ui-icon-check"></span>
              </label>
              <label for="pp-shr" class="dlg-chk-lbl">
                Allow modification by other project members
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2"><label for="pp-type" class="dlg-fld-lbl">Type</label></div>
            <div class="col-xs-10">
              <%=
                userfile_type_select(:type, { :selector => nil }, {
                  :id       => 'pp-type',
                  :class    => 'dlg-fld form-control',
                  :include_blank      => "(keep current file type)",
                  :'data-placeholder' => "Keep current file type"
                })
              %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <input id="pp-hid" class="dlg-chk dlg-tri-state dlg-unset" data-name="hidden" type="checkbox" />
              <label for="pp-hid" class="dlg-chk-icon">
                <span class="ui-icon ui-icon-check"></span>
              </label>
              <label for="pp-hid"
                class="dlg-chk-lbl html_tool_tip_trigger"
                data-tool-tip-id="pp-hid-tp"
                data-offset-x="80"
                data-offset-y="-2"
              >
                Hidden (<span class="pp-hid-ind">H</span>)
              </label>
            </div>
            <div class="col-xs-6">
              <input id="pp-ro" class="dlg-chk dlg-tri-state dlg-unset" data-name="immutable" type="checkbox" />
              <label for="pp-ro" class="dlg-chk-icon">
                <span class="ui-icon ui-icon-check"></span>
              </label>
              <label for="pp-ro"
                class="dlg-chk-lbl html_tool_tip_trigger"
                data-tool-tip-id="pp-ro-tp"
                data-offset-x="80"
                data-offset-y="-2"
              >
                Locked (<span class="pp-ro-ind">I</span>)
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-confirm" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

<!-- COLLECTION MODAL -->
<div class="modal fade" id="collection-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="collection-modal-title">Collection</div>
      </div>
      <div class="modal-body">
        <form action="<%= create_collection_userfiles_path %>" method="post" class="form-horizontal">

          <div class="row">
            <div class="col-xs-2"><label for="co-name" class="dlg-fld-lbl">Name</label></div>
            <div class="col-xs-10">
              <input id="co-name"
                class="dlg-fld form-control"
                type="text"
                name="collection_name"
                placeholder="NewCollection"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
              <span id="co-invalid-name" class="dlg-msg-err">
                &#9888; Invalid!
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-2">
              <label for="co-dp" class="dlg-fld-lbl">Provider</label>
            </div>
            <div class="col-xs-10">
              <%=
                data_provider_select('data_provider_id_for_collection',
                  { :data_providers => writable_dps },
                  {
                    :id    => 'co-dp',
                    :class => 'dlg-fld form-control',
                    :'data-placeholder' => "A data provider..."
                  }
                )
              %>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary modal-confirm" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
