
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<li class="act-item">
  <a style="text-decoration: none; display: block" href="/custom_filters/new?filter_class=UserfileCustomFilter">
   New filter
  <span class="ui-icon ui-icon-plus"></span>
  </a>
</li>
<li class="menu-separator">-</li>

<%
  filters = UserfileCustomFilter.where(:user_id => current_user.id).all
  filters.each do |filter|
%>
  <%
    apply_attr = {
      'data-method' => 'GET',
      'data-ajax'   => 1,
      'data-url'    => url_for(
        scope_custom_params(@scope, { 'custom_filters' => [filter.id] })
          .merge({
            'controller'  => params[:controller],
            '_scope_mode' => 'append'
          })
      )
    }

  %>
  <li class="filter-item act-item" <%= apply_attr.to_html_attributes.html_safe %>>
    <div>
      <span class="filter-edit act-icon ui-icon-pencil">
        <a href=<%= custom_filter_path(filter) %>></a>
      </span>
      <span class="filter-name">
        <%= filter.name %>
      </span>
    </div>
  </li>
<% end %>
<% unless filters.empty? %>
  <li class="menu-separator">-</li>
<% end %>

<%
  no_parent_attr = {
    'data-method' => 'GET',
    'data-ajax'   => 1,
    'data-url'    => url_for(scope_filter_params(
      @scope, :set, { 'type' => 'uf.hier', 'operator' => 'no_parent' }
    ))
  }

  no_children_attr = {
    'data-method' => 'GET',
    'data-ajax'   => 1,
    'data-url'    => url_for(scope_filter_params(
      @scope, :set, { 'type' => 'uf.hier', 'operator' => 'no_child' }
    ))
  }
%>
<li class="filter-item act-item" <%= no_parent_attr.to_html_attributes.html_safe %>>
  <div>
  Has no parent
  </div>
</li>
<li class="filter-item act-item" <%= no_children_attr.to_html_attributes.html_safe %>>
  <div>
  Has no children
  </div>
</li>
