
<%= link_to 'Create Custom Filter', new_custom_filter_path(:type  => 'userfile') %>

<P>

<h4>By Filter</h4>
     
<ul class="filter_menu">

  <li><%= link_to_remote 'All Files', :url  => {:controller  => :userfiles, :action  => :index, :userfiles_search_type  => :unfilter}, 
                                      :method  => 'get'
       %> 
  </li> 

  <li><%= link_to_remote 'MINC Files', :url  => {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :minc}, 
                                 :method  => 'get'
  %> 
  </li>

  <li><%= link_to_remote 'JIV Files', :url  => {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :jiv},
                                 :method  => 'get'
  %> 
  </li>
 
  <% UserfileCustomFilter.all(:conditions  =>  {:user_id  => current_user.id}).each do |filter| %>

    <li class="custom_filter">
      <b>
      <%= link_to_remote crop_text_to(15, filter.name),
           :url     => { :controller  => :userfiles, :action  => :index, :userfiles_custom_filter  => filter.id },
           :method  => 'get'
      %>
      </b>
      <small><small>
         <%= link_to 'Edit', edit_custom_filter_path(filter) %> 
         <%= link_to 'Delete', filter, :confirm => "Are you sure you want to delete filter '#{filter.name}'?", :method => :delete %>  
      </small></small>
    </li>

  <% end %>

</ul>

