<h4>By Type</h4>
     
<ul class="filter_menu">

  <li><%= ajax_link 'All Files', {:controller  => :userfiles, :action  => :index, :userfiles_search_type  => :unfilter}, :datatype  => 'script' %> 
  </li> 
  
  <% SingleFile.send(:subclasses).each do |sf| %>
    <li><%= ajax_link sf.name.underscore.titleize.pluralize, {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :format, :userfiles_search_term  => sf.name}, :datatype  => 'script' %> 
    </li>
  <% end %>
  
  <% FileCollection.send(:subclasses).each do |fc| %>
    <li><%= ajax_link fc.name.underscore.titleize.pluralize, {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :format, :userfiles_search_term  => fc.name}, :datatype  => 'script' %> 
    </li>
  <% end %>
</ul>

<h4>By Custom Filter</h4>

<%= link_to 'Create Custom Filter', new_custom_filter_path(:type  => 'userfile') %>

<ul class="filter_menu">
  <% UserfileCustomFilter.all(:conditions  =>  {:user_id  => current_user.id}).each do |filter| %>

    <li class="custom_filter">
      <b>
      <%= ajax_link crop_text_to(15, filter.name), { :controller  => :userfiles, :action  => :index, :userfiles_custom_filter  => filter.id }, :datatype  => 'script' %>
      </b>
      <small><small>
         <%= link_to 'Edit', edit_custom_filter_path(filter) %> 
         <%= link_to 'Delete', filter, :confirm => "Are you sure you want to delete filter '#{filter.name}'?", :method => :delete %>  
      </small></small>
    </li>

  <% end %>
</ul>


