
<%= link_to 'Create Custom Filter', new_custom_filter_path(:type  => 'userfile') %>

<P>

<h4>By Filter</h4>
     
<ul class="filter_menu">

  <li><%= ajax_link 'All Files', {:controller  => :userfiles, :action  => :index, :userfiles_search_type  => :unfilter}, :datatype  => 'script' %> 
  </li> 

  <li><%= ajax_link 'MINC Files', {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :minc}, :datatype  => 'script' %> 
  </li>

  <li><%= ajax_link 'JIV Files', {:controller  => :userfiles, :action  => :index, :userfiles_search_type => :jiv}, :datatype  => 'script' %> 
  </li>
 
  <% UserfileCustomFilter.all(:conditions  =>  {:user_id  => current_user.id}).each do |filter| %>

    <li class="custom_filter">
      <b>
      <%= ajax_link crop_text_to(15, filter.name), { :controller  => :userfiles, :action  => :index, :userfiles_custom_filter  => filter.id }, :datatype  => 'script' %>
      </b>
      <small><small>
         <%= link_to 'Edit', edit_custom_filter_path(filter) %> 
         <%= link_to 'Delete', filter, :confirm => "Are you sure you want to delete filter '#{filter.name}'?", :method => :delete %>  
      </small></small>
    </li>

  <% end %>

</ul>

