
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

    <%
      toggle_url = lambda do |key|
        url_for(scope_custom_params(@scope, { key => !@scope.custom[key] }))
      end
    %>


<div id="static-actions">
  <span id="launch-btn"
    class="act-btn"
    data-dialog="toolsDialog"
    data-icon="ui-icon-play"
  >Launch</span>

  <span id="upload-btn"
    class="act-btn"
    data-dialog="upload-dialog"
    data-icon="ui-icon-arrowthick-1-n"
  >Upload</span>

  <span id="vown-btn"
    class="act-btn"
    data-url="<%= toggle_url.(:view_all) %>"
    data-method="GET"
    data-ajax="1"
  >
    <% if @scope.custom[:view_all] %>
      Show only my files
    <% else %>
      Show all files
    <% end %>
  </span>

</div>

<div id="dynamic-actions" class="hidden">
  <span id="down-btn"
    class="act-btn"
    data-url="<%= download_userfiles_path %>"
    data-method="POST"
    data-empty-selection="0"
    data-icon="ui-icon-arrowthickstop-1-s"
  >Download</span>

  <span id="copy-btn"
    class="act-btn"
    data-dialog="cpmv-dialog"
    data-icon="ui-icon-copy"
  >Copy</span>

  <span id="move-btn"
    class="act-btn"
    data-dialog="cpmv-dialog"
    data-icon="ui-icon-arrowreturnthick-1-e"
  >Move</span>

  <span id="ren-btn"
    class="act-btn"
    data-icon="ui-icon-pencil"
  >Rename</span>

  <span id="comp-btn"
    class="act-btn"
    data-url="<%= compress_userfiles_path() %>"
    data-method="POST"
    data-icon="ui-icon-suitcase"
  >Compress</span>

  <span id="ucomp-btn"
    class="act-btn"
    data-url="<%= uncompress_userfiles_path() %>"
    data-method="POST"
    data-icon="ui-icon-folder-open"
  >Uncompress</span>

  <span id="del-btn"
    class="act-btn"
    data-url="<%= delete_files_userfiles_path %>"
    data-method="DELETE"
    data-icon="ui-icon-trash"
    data-confirm-dlg="delete-confirm"
  >Delete</span>
</div>

<div id="menu-actions">
  <span id="menu-btn" class="act-btn" data-icon="ui-icon-gear">More...</span>
  <ul id="menu-list">
    <li id="filters-item">
      <div>
      Custom filters
      </div>
      <ul id="filters-menu">
        <%= render(:partial => 'filter_items') %>
      </ul>
    </li>
    <li id="tag-item"
      class="act-item"
      data-dialog="tag-dialog"
    >
      <div>
      Tags
      <span class="ui-icon ui-icon-tag"></span>
      </div>
    </li>
    <li class="menu-separator">-</li>

    <li id="prop-item"
      class="act-item dyn-item"
      data-dialog="prop-dialog"
    >
      <div>
      Properties
      <span class="ui-icon ui-icon-document-b"></span>
      </div>
    </li>
    <li id="qc-item"
      class="act-item dyn-item"
      data-url="<%= quality_control_userfiles_path %>"
      data-method="POST"
      data-confirm-dlg="qc-confirm"
    >
      <div>
      Quality control
      <span class="ui-icon ui-icon-check"></span>
      </div>
    </li>
    <li id="sync-item"
      class="act-item dyn-item"
      data-url="<%= sync_multiple_userfiles_path(:operation => 'sync_local') %>"
      data-method="POST"
      data-empty-selection="0"
    >
      <div>
      Synchronize
      <span class="ui-icon ui-icon-refresh"></span>
      </div>
    </li>
    <li id="mnew-item"
      class="act-item dyn-item"
      data-url="<%= sync_multiple_userfiles_path(:operation => 'all_newer') %>"
      data-method="POST"
      data-empty-selection="0"
    >
      <div>
      Mark as newer
      <span class="ui-icon ui-icon-flag"></span>
      </div>
    </li>
    <li class="menu-separator dyn-item">-</li>

    <li id="col-item"
      class="act-item dyn-item"
      data-dialog="collection-dialog"
    >
      <div>
      New collection
      <span class="ui-icon ui-icon-folder-collapsed"></span>
      </div>
    </li>
    <li class="menu-separator dyn-item">-</li>

    <li id="col-item"
        class="act-item dyn-item"
        data-dialog="virtual-collection-dialog"
    >
      <div>
        New virtual collection
        <span class="ui-icon ui-icon-folder-collapsed"></span>
      </div>
    </li>
    <li class="menu-separator dyn-item">-</li>

    <li id="exp-item"
      class="act-item"
      data-url="<%= userfiles_path(:format => :csv) %>"
      data-method="GET"
    >
      <div>
      Export as CSV
      <span class="ui-icon ui-icon-extlink"></span>
      </div>
    </li>

    <li id="exp-list-item"
      class="act-item"
      data-url="<%= export_file_list_userfiles_path %>"
      data-method="POST"
    >
      <div>
      Create a file list
      <span class="ui-icon ui-icon-extlink"></span>
      </div>
    </li>

    <li class="menu-separator">-</li>

    <li id="vown-item"
      class="act-item"
      data-url="<%= toggle_url.(:view_all) %>"
      data-method="GET"
      data-ajax="1"
    >
      <div>
      <% if @scope.custom[:view_all] %>
        Show only my files
      <% else %>
        Show all files
      <% end %>
      <span class="ui-icon ui-icon-star"></span>
      </div>
    </li>
    <li id="vhid-item"
      class="act-item"
      data-url="<%= toggle_url.(:view_hidden) %>"
      data-method="GET"
      data-ajax="1"
    >
      <div>
      <% if @scope.custom[:view_hidden] %>
        Hide hidden files
      <% else %>
        Show hidden files
      <% end %>
      <span class="ui-icon ui-icon-note"></span>
      </div>
    </li>
    <li id="vtree-item"
      class="act-item"
      data-url="<%= toggle_url.(:tree_sort) %>"
      data-method="GET"
      data-ajax="1"
    >
      <div>
      <% if @scope.custom[:tree_sort] %>
        List view
      <% else %>
        Tree view
      <% end %>
      <span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>
      </div>
    </li>
  </ul>
</div>
