<span class="button_set">
  <% button_with_dropdown_menu("Download") do %>
    Specify Download File Name (optional):
    <%= text_field_tag :specified_filename %>
    <%= hijacker_submit_button("Download Files", :method  => :get) %>
  <% end %>

  <% button_with_dropdown_menu("Update Attributes") do %>
      <h4>Tags</h4>
      <%= render :partial => 'userfiles/tag_table'%>
      <hr>
      <h4>Projects</h4>
      Change Project: 
      <%= select(:userfile, :group_id, @user_groups.collect{|g| [g.name, g.id] }, {:selected => @default_group} , :class => :group) %>
      <%= hijacker_submit_button("Update Projects", :url  => url_for(:action  => :update_multiple), :method  => :put) %>
      <P>
      Project Permission Update: 
      <%= select(:userfile, :group_writable, [['Read Only', false],['Read/Write', true]]) %>
      <%= hijacker_submit_button("Update Permissions", :url  => url_for(:action  => :update_multiple), :method  => :put) %> 
      <hr>
      Update Parent-Child Relationships:
      <%= hijacker_submit_button("Update",  :url  => url_for(:action  => :new_parent_child ),
                                                   :overlay => true,
                                                   :width  => 600,
                                                   :height  => 100, 
                                                   :method  => :get) 
      %>
  <% end %>

  <% button_with_dropdown_menu("Move/Copy")  do %>
      <%= data_provider_select("data_provider_id") %>
      <%= hijacker_submit_button("Move Files", :url  => url_for(:action  => :change_provider), :method  => :post) %>
      <%= hijacker_submit_button("Copy Files", :url  => url_for(:action  => :change_provider), :method  => :post) %>
  <% end %>

  <%= hijacker_submit_button("Delete", :url  => url_for(:action  => :delete_files),
                                       :class  => "button",
                                       :confirm => "Are you sure you want to delete the selected files?",
                                       :method  => :delete) 
  %>

  <%= hijacker_submit_button("(Un)compress",  :url  => url_for(:action  => :compress ),
                                              :confirm => "Are you sure you want to compress or uncompress the selected files?", 
                                              :class  => "button", 
                                              :method  => :post) 
  %>

  <%= hijacker_submit_button("Create Collection", :url  => url_for(:action  => :create_collection),
                                                  :class  => "button", 
                                                  :method  => :post)
  %>

  <%= submit_button("Jiv Viewer", {:name => "commit", :id => "jiv_submit"}) %>
</span>