 <%

 #
 # CBRAIN Project
 #
 # $Id$
 #

 -%>
 <br>
 <table>
 <td>
 Move or copy files to: 
 <%= select_tag(
    "data_provider_id", 
    options_for_select(@data_providers.map { |dp| [ dp.name, dp.id ] })
    ) 
  %>
 </td>
 <td> 
 <%= submit_tag("Move Files") %>
 <%= submit_tag("Copy Files") %>
 <%= submit_tag("Merge Files into Collection") %>
 </td>
 </tr>
 </table>
 Other Operations:<br />
 <%= submit_tag("Delete Files", :confirm  => 'Are you sure you want to delete the selected files?') %>
 <br />
  
 <% form_tag(operation_userfiles_path(:method => :post)) do %>
    Specify Download File Name (optional):
     <%= text_field_tag :specified_filename %>
     <%= submit_tag("Download Files") %>
 <% end %>
 <br>
 <br>
 <%= userfiles_menu_close_button %>
<br>
