
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="row">
  <div class="col-xs-12">
    <div class="well well-sm">

      <div class="btn-group">
        <a id="launch-btn"
           class="btn btn-primary"
           data-toggle="modal"
           data-target="#launch-modal"
           role="button">
           <span class="glyphicon glyphicon-play"></span>
           Launch
        </a>
        <a id="upload-btn"
           class="btn btn-primary"
           data-toggle="modal"
           data-target="#upload-modal"
           role="button">
           <span class="glyphicon glyphicon-upload"></span>
           Upload
        </a>
      </div>

      <div class="btn-group" id="dynamic-actions">
        <a data-url="<%= download_userfiles_path %>"
           data-method="POST"
           data-empty-selection="0"
           class="btn btn-primary act-btn"
           role="button">
           <span class="glyphicon glyphicon-download"></span>
           Download
        </a>

        <a id="copy-btn"
           class="btn btn-primary"
           data-toggle="modal"
           data-target="#move-modal"
           role="button">
           <span class="glyphicon glyphicon-duplicate"></span>
           Copy
        </a>

        <a id="move-btn"
           class="btn btn-primary"
           data-toggle="modal"
           data-target="#move-modal"
           role="button">
           <span class="glyphicon glyphicon-move"></span>
           Move
        </a>
        <a id="ren-btn"
           class="btn btn-primary"
           role="button">
           <span class="glyphicon glyphicon-pencil"></span>
           Rename
        </a>

        <a id="comp-btn"
           data-url="<%= compress_userfiles_path() %>"
           data-type="script"
           data-method="POST"
           class="btn btn-primary act-btn"
           role="button">
           <span class="glyphicon glyphicon-compressed"></span>
           Compress
        </a>
        <a id="ucomp-btn"
           data-url="<%= uncompress_userfiles_path() %>"
           data-type="script"
           data-method="POST"
           class="btn btn-primary act-btn"
           role="button">
           <span class="glyphicon glyphicon-folder-open"></span>
           Uncompress
        </a>

        <a class="btn btn-primary"
           data-toggle="modal"
           data-target="#delete-modal"
           role="button">
           <span class="glyphicon glyphicon-trash"></span>
           Delete
        </a>
      </div>

      <div class="btn-group" role="group">
        <a href="" class="btn btn-primary dropdown" data-toggle="dropdown" role="dropdown">
          <span class="glyphicon glyphicon-filter"></span> Custom Filters <span class="caret"></span>
        </a>
        <ul class="dropdown-menu scrollable-menu" id="filters-menu" style="width: 250px; max-height: 250px;">
          <% @custom_filter = UserfileCustomFilter.new %>
          <%= render :partial => 'custom_filters/custom_filter_list' %>
        </ul>
      </div>

      <div class="btn-group pull-right" role="group" id="menu-actions">
        <a href="" class="btn btn-primary dropdown" data-toggle="dropdown" role="dropdown">
          <span class="glyphicon glyphicon-cog"></span> More <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a data-toggle="modal"
               data-target="#tag-modal">
               <span class="glyphicon glyphicon-tags"></span>
               Tags
            </a>
          </li>
          <li>
            <a data-toggle="modal"
               data-target="#props-modal">
               <span class="glyphicon glyphicon-list"></span>
               Properties
            </a>
          </li>
          <li>
            <a class="act-item"
               data-type="script"
               data-url="<%= quality_control_userfiles_path %>"
               data-method="POST">
               <span class="glyphicon glyphicon-ok-sign"></span>
               Quality Control
            </a>
          </li>
          <li>
            <a class="act-item"
               data-url="<%= sync_multiple_userfiles_path(:operation => 'sync_local') %>"
               data-method="POST"
               data-empty-selection="0"><span class="glyphicon glyphicon-import"></span>
               Synchronize
            </a>
          </li>
          <li>
            <a class="act-item"
               data-url="<%= sync_multiple_userfiles_path(:operation => 'all_newer') %>"
               data-method="POST"
               data-empty-selection="0">
               <span class="glyphicon glyphicon-flag"></span>
               Mark as Newer
            </a>
          </li>
          <li>
            <a data-toggle="modal"
               data-target="#collection-modal">
               <span class="glyphicon glyphicon-duplicate"></span>
               New Collection
            </a>
          </li>
          <li>
            <a class="act-item"
               data-url="<%= userfiles_path(:format => :csv) %>"
               data-method="GET">
               <span class="glyphicon glyphicon-list-alt"></span>
              Export as CSV
            </a>
          </li>
          <li>
            <a class="act-item"
               data-url="<%= export_file_list_userfiles_path %>"
               data-type="script"
               data-method="POST">
               <span class="glyphicon glyphicon-list-alt"></span>
               Create File List
            </a>
          </li>
          <%
            toggle_url = lambda do |key|
              url_for(scope_custom_params(@scope, { key => !@scope.custom[key] }))
            end
          %>
          <li>
            <a href=""
               id="vown-item"
               class="act-item"
               data-url="<%= toggle_url.(:view_all) %>"
               data-method="GET"
               data-ajax="1">
               <% if @scope.custom[:view_all] %>
                 <span class="glyphicon glyphicon-eye-close"></span>
                 Show only my files
               <% else %>
                 <span class="glyphicon glyphicon-eye-open"></span>
                 Show all files
               <% end %>
            </a>
          </li>

          <li>
            <a href=""
               class="act-item"
               data-url="<%= toggle_url.(:view_hidden) %>"
               data-method="GET"
               data-ajax="1">
               <% if @scope.custom[:view_hidden] %>
                 <span class="glyphicon glyphicon-eye-close"></span>
                 Hide hidden files
               <% else %>
                 <span class="glyphicon glyphicon-eye-open"></span>
                 Show hidden files
               <% end %>
            </a>
          </li>
          <li>
            <a href=""
               class="act-item"
               data-url="<%= toggle_url.(:tree_sort) %>"
               data-method="GET"
               data-type="script"
               data-ajax="1">
            <% if @scope.custom[:tree_sort] %>
              <span class="glyphicon glyphicon-list"></span>
              List view
            <% else %>
              <span class="glyphicon glyphicon-tree-conifer"></span>
              Tree view
            <% end %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
