
<% button_with_dropdown_menu(:title => "Download Files") do %>
  Specify Download File Name (optional):
  <%= text_field_tag :specified_filename %>
  <%= submit_tag("Download Files", {:class  => "ajax_submit_button", "data-method"  => :get}) %>
<% end %>

<% button_with_dropdown_menu(:title => "Update File Attributes") do %>
    <h4>Tags</h4>
    <%= render :partial => 'userfiles/tag_table'%>
  <br>
   <hr>
   <br>
   <h4>Projects</h4>
   Change Project: 
   <%= select(:userfile, :group_id, @user_groups.collect{|g| [g.name, g.id] }, {:selected => @default_group} , :class => :group) %>
   <%= submit_tag("Update Projects", {:class  => "ajax_submit_button", 
                                      "data-url"  => url_for({:action  => :update_multiple}),
                                      "data-method"  => :put})
   %>
   <br>
   Project permission update: 
   <%= select(:userfile, :group_writable, [['Read Only', false],['Read/Write', true]]) %>
   <%= submit_tag("Update Permissions", :class  => "ajax_submit_button", 
                                       "data-url"  => url_for({:action  => :update_multiple}),
                                       "data-method"  => :put) %> 
   <br>
<% end %>

<% button_with_dropdown_menu(:title => "Move/Copy Files")  do %>
    <%= data_provider_select("data_provider_id") %>
    <%= submit_tag("Move Files", :class  => "ajax_submit_button", 
                                 "data-url"  => url_for({:action  => :change_provider}),
                                 "data-method"  => :post) %>
    <%= submit_tag("Copy Files", :class  => "ajax_submit_button", 
                                 "data-url"  => url_for({:action  => :change_provider}),
                                 "data-method"  => :post) %>
<% end %>

<%= submit_button("Create Collection", {:name => "commit", 
                                        :class  => "ajax_submit_button", 
                                        "data-url"  => url_for({:action  => :create_collection}),
                                        "data-method"  => :post})
%>

<%= submit_button("Jiv Viewer", {:name => "commit", :id => "jiv_submit"}) %>
<%= submit_button("Delete Files", {:name => "commit", 
                                   :onclick => "return confirm('Are you sure you want to delete the selected files?');", 
                                   :class  => "ajax_submit_button", 
                                   "data-url"  => url_for({:action  => :delete_files}),
                                   "data-method"  => :delete}) 
%>