<%
  # This partial requires these hashes:
  #    fileclasses_totcount[fileclass]        -> number of files of class 'fileclass'
  #    user_fileclass_count[user][fileclass]  -> number of files belonging to 'user' in class 'fileclass'
  #    user_totcount[user]                    -> number of files belonging to 'user'
  #    additionnal_filt                       -> just more criteria for filtration
%>

 
<% if ! fileclasses_totcount.empty? %>
  
  <%
  sorted_classes = fileclasses_totcount.keys.sort { |a,b| a <=> b }
  have_tot_col   = sorted_classes.count > 1
  sorted_users   = user_fileclass_count.keys.sort { |a,b| a.login <=> b.login }
  %>

  <table>
    <tr>
      <th colspan="<%= 2 + sorted_classes.size %>">File Registration Statistics</th>
    </tr>
    <tr>
      <th></th>
      <% sorted_classes.each do |klass| %>
        <th><%= klass %></th>
      <% end %>
      <% if have_tot_col %>
        <th>Total</th>
      <% end %>
    </tr>
    
    
    <% sorted_users.each do |user| %>
      <% login        = user.login %>
      <% klass_counts = user_fileclass_count[user] || {} %>
      <% usertot      = user_totcount[user] || 0 %>
      <% next if usertot == 0 %>
      <tr>
        <td><%= link_to_user_with_tooltip(user) %></td>
        <% sorted_classes.each do |klass| %>
          <td><%= index_count_filter klass_counts[klass], :userfiles, {:user_id => user.id, :file_format => klass}.merge(additionnal_filt) %></td>
        <% end %>
        <% if have_tot_col %>
          <td><%= index_count_filter usertot, :userfiles, {:user_id => user.id}.merge(additionnal_filt) %></td>
        <% end%>
      </tr>
    <% end %>
    
    <% if sorted_users.count > 1%>
      <td>Total</td>
      <% sorted_classes.each do |klass| %>
        <td><%= index_count_filter fileclasses_totcount[klass], :userfiles, {:user_id => sorted_users, :file_format => klass}.merge(additionnal_filt) %></td>
      <% end %>
      <% if have_tot_col %>
        <td><%= index_count_filter all_totcount, :userfiles, {:user_id => sorted_users}.merge(additionnal_filt) %></td>
      <% end %>
    <% end %>
    
  </table>
  
<% end %>


