
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="container-fluid">
<div class="row menu-bar">
<div class="col-xs-12">
<div class="well well-sm">

<div class="btn-group" role="group" id="static-actions">
  <span id="launch-btn"
    class="btn btn-primary act-btn"
    data-dialog="toolsDialog">
    <span class="glyphicon glyphicon-play"></span>
    Launch</span>

  <span id="upload-btn"
    class="btn btn-primary act-btn"
    data-dialog="upload-dialog">
    <span class="glyphicon glyphicon-upload"></span>
    Upload</span>
</div>

<div class="btn-group" role="group" id="dynamic-actions" class="hidden">
  <span id="down-btn"
    class="btn btn-primary act-btn"
    data-url="<%= download_userfiles_path %>"
    data-method="POST"
    data-empty-selection="0">
    <span class="glyphicon glyphicon-download"></span>
    Download</span>

  <span id="Xcopy-btn"
    class="btn btn-primary act-btn"
    data-dialog="cpmv-dialog">
    <span class="glyphicon glyphicon-duplicate"></span>
    Copy</span>

  <span id="Xmove-btn"
    class="btn btn-primary act-btn"
    data-dialog="cpmv-dialog"
    data-icon="ui-icon-arrowreturnthick-1-e">
    <span class="glyphicon glyphicon-move"></span>
    Move</span>

  <span id="ren-btn"
    class="btn btn-primary act-btn">
    <span class="glyphicon glyphicon-pencil"></span>
    Rename</span>

  <span id="comp-btn"
    class="btn btn-primary act-btn"
    data-url="<%= compress_userfiles_path() %>"
    data-method="post">
    <span class="glyphicon glyphicon-compressed"></span>
    Compress</span>

  <span id="ucomp-btn"
    class="btn btn-primary act-btn"
    data-url="<%= uncompress_userfiles_path() %>"
    data-method="POST">
    <span class="glyphicon glyphicon-folder-open"></span>
    Uncompress</span>

  <span id="del-btn"
    class="btn btn-primary act-btn"
    data-url="<%= delete_files_userfiles_path %>"
    data-method="DELETE"
    data-confirm-dlg="delete-confirm">
    <span class="glyphicon glyphicon-trash"></span>
    Delete</span>
</div>

<div class="btn-group">
  <a               class="btn btn-primary" data-toggle="modal" data-target="#delete-modal" role="button">DELETE</a>
  <a id="move-btn" class="btn btn-primary" data-toggle="modal" data-target="#move-modal"   role="button">MOVE</a>
  <a id="copy-btn" class="btn btn-primary" data-toggle="modal" data-target="#move-modal"   role="button">COPY</a>
  <a               class="btn btn-primary" data-toggle="modal" data-target="#launch-modal" role="button">LAUNCH</a>
  <a               class="btn btn-primary" data-toggle="modal" data-target="#upload-modal" role="button">UPLOAD</a>
</div>

<div class="btn-group" role="group">
  <a href="javascript:;" class="btn btn-primary dropdown" data-toggle="dropdown" role="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-filter"></span> Custom Filters <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" id="filters-menu">
    <% @custom_filter = UserfileCustomFilter.new %>
    <div id="custom_filters_list">
      <%= render :partial => 'custom_filters/custom_filter_list' %>
    </div>
  </ul>
</div>


<div id="menu-actions">
  <span id="menu-btn" class="act-btn btn btn-primary"><span class="glphicon glyphicon-cog"></span> More...</span>
  <ul id="menu-list">

    <li id="tag-item"
      class="act-item"
      data-dialog="tag-dialog"
    >
      Tags
      <span class="ui-icon ui-icon-tag"></span>
    </li>
    <li class="menu-separator">-</li>

    <li id="prop-item"
      class="act-item dyn-item"
      data-dialog="prop-dialog"
    >
      Properties
      <span class="ui-icon ui-icon-document-b"></span>
    </li>
    <li id="qc-item"
      class="act-item dyn-item"
      data-url="<%= quality_control_userfiles_path %>"
      data-method="POST"
      data-confirm-dlg="qc-confirm"
    >
      Quality control
      <span class="ui-icon ui-icon-check"></span>
    </li>
    <li id="sync-item"
      class="act-item dyn-item"
      data-url="<%= sync_multiple_userfiles_path(:operation => 'sync_local') %>"
      data-method="POST"
      data-empty-selection="0"
    >
      Synchronize
      <span class="ui-icon ui-icon-refresh"></span>
    </li>
    <li id="mnew-item"
      class="act-item dyn-item"
      data-url="<%= sync_multiple_userfiles_path(:operation => 'all_newer') %>"
      data-method="POST"
      data-empty-selection="0"
    >
      Mark as newer
      <span class="ui-icon ui-icon-flag"></span>
    </li>
    <li class="menu-separator dyn-item">-</li>

    <li id="col-item"
      class="act-item dyn-item"
      data-dialog="collection-dialog"
    >
      New collection
      <span class="ui-icon ui-icon-folder-collapsed"></span>
    </li>
    <li class="menu-separator dyn-item">-</li>

    <li id="exp-item"
      class="act-item"
      data-url="<%= userfiles_path(:format => :csv) %>"
      data-method="GET"
    >
      Export as CSV
      <span class="ui-icon ui-icon-extlink"></span>
    </li>

    <li id="exp-list-item"
      class="act-item"
      data-url="<%= export_file_list_userfiles_path %>"
      data-method="POST"
    >
      Create a file list
      <span class="ui-icon ui-icon-extlink"></span>
    </li>

    <li class="menu-separator">-</li>

    <%
      toggle_url = lambda do |key|
        url_for(scope_custom_params(@scope, { key => !@scope.custom[key] }))
      end
    %>
    <li id="vown-item"
      class="act-item"
      data-url="<%= toggle_url.(:view_all) %>"
      data-method="GET"
      data-ajax="1"
    >
      <% if @scope.custom[:view_all] %>
        Show only my files
      <% else %>
        Show all files
      <% end %>
      <span class="ui-icon ui-icon-star"></span>
    </li>
    <li id="vhid-item"
      class="act-item"
      data-url="<%= toggle_url.(:view_hidden) %>"
      data-method="GET"
      data-ajax="1"
    >
      <% if @scope.custom[:view_hidden] %>
        Hide hidden files
      <% else %>
        Show hidden files
      <% end %>
      <span class="ui-icon ui-icon-note"></span>
    </li>
    <li id="vtree-item"
      class="act-item"
      data-url="<%= toggle_url.(:tree_sort) %>"
      data-method="GET"
      data-ajax="1"
    >
      <% if @scope.custom[:tree_sort] %>
        List view
      <% else %>
        Tree view
      <% end %>
      <span class="ui-icon ui-icon-arrowreturnthick-1-s"></span>
    </li>
  </ul>
</div>
</div>
</div>
</div>
</div>
