<%

#
# CBRAIN Project
#
# $Id$
#

-%> 
 
<table id= "plain_file_list" class="resource_list">
   <tr class="list-odd">
     <th>
       &nbsp;
       <%= link_to_function '&#10004;' do |page|
           page.select(".collection_checkbox").each do |check_box|
             check_box.checked=true
           end
         end
       %>
       &nbsp;
       <%= link_to_function '<big>&times;</big>' do |page|
           page.select(".collection_checkbox").each do |check_box|
             check_box.checked=false
           end
         end
       %>
     </th>
     <th>File</th>
   </tr>
   <% for file in @userfile.list_files %>
      <tr class="<%= cycle("list-odd", "list-even") %> row_highlight">
         <td><%= check_box_tag("filelist[]", file, false, :class  => "collection_checkbox") %></td>
         <td><%= h(File.basename(file)) %></td>
      </tr>
   <% end %>
</table>
