<%

#
# CBRAIN Project
#
# $Id$
#

-%>
<br>
Group Update: 
<%= group_select("userfile[group_id]") %>
<%= submit_tag("Update Groups") %> 
<br>
Group permission update: 
<%= select(:userfile, :group_writable, [['Read Only', false],['Read/Write', true]]) %></td>
<%= submit_tag("Update Permissions") %> 
<br>
<br>
<%= userfiles_menu_close_button %>
<br>
