<%

#
# CBRAIN Project
#
# $Id$
#

-%>
<br>
Group Update: 
<%= select(:userfile, :group_id, @user_groups.collect{|g| [g.name, g.id] }, {:selected => @default_group} , :class => :group) %>
<%= submit_tag("Update Groups") %> 
<br>
Group permission update: 
<%= select(:userfile, :group_writable, [['Read Only', false],['Read/Write', true]]) %></td>
<%= submit_tag("Update Permissions") %> 
<br>
<br>
<%= userfiles_menu_close_button %>
<br>
