
<% form_tag( "/userfiles", :multipart => true, :method => :post) do %>

  Select file to upload:<BR>

  <%= file_field_tag("upload_file") %>

  <P>

  Select tags for file:<BR>
  <select name="tags[]" multiple="multiple">
     <%= options_from_collection_for_select @user_tags, 'id', 'name', {:include_blank => true, :selected => nil}      %>
  </select>

  <% if current_project %>
    <%= hidden_field_tag 'userfile[group_id]', current_project.id %>
  <% else %>
    <P>
    Project for uploaded file:<br>
    <%= collection_select(:userfile, :group_id, @user_groups, :id, :name, {}, :class => :group) %>
  <% end %>

  <P>

  Project permissions:<BR>
  <%= select(:userfile, :group_writable, [['Read Only', false],['Read/Write', true]]) %>

  <P>

  Archive options (for zip or tar files):<BR>
  <%= select_tag(:archive, options_for_select([['Save file', 'save'],['Create collection', 'collection'], ['Auto-extract', 'extract']])) %>
  <P>
 
  Data provider for uploaded file:<BR>
  <%= data_provider_select :data_provider_id, { :data_providers => @data_providers } %>
  <% overlay_content_link("(info)", :enclosing_element => 'span', :width => 600) do %>
    <h1>Data Providers Descriptions</h1>
    <% DataProvider.find_all_accessible_by_user(current_user).each do |dp| %>
      <h3><%= h(dp.name) %></h3>
      <pre><%= dp.description.blank? ? "(No description)" : h(dp.description) %></pre>
    <% end %>
  <% end %>

  <P>

  <%= submit_tag("Upload file") %>
  
<% end %>

