
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="pagination_left_side">
  <% if current_session.persistent_userfile_ids.size > 0 %>
    <blink><%= html_colorize("(#{pluralize(current_session.persistent_userfile_ids.size," file")} persistently selected)") %></blink>
  <% end %>  
</div>

<div class="page_links">

  <%= will_paginate @userfiles, :inner_window => 5, :outer_window => 4, :container => false, :params => { :file_ids => nil } %>
  (<%= pluralize(@userfiles_total," files") %><%= 
  if @hidden_total.present? && (@hidden_total.is_a?(String) || @hidden_total > 0)
    (", #{@hidden_total} hidden " + hidden_icon).html_safe
  end
%>)
</div>

<div class="pagination_right_side">
  Search by name: <%= ajax_search_box "name_like", userfiles_path(:update_filter => :filter_hash) %>
</div>

