
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- State information -->

<% @filelist.each do |id| %>
  <%= hidden_field_tag "file_ids[]", id %>
<% end %>

<%= hidden_field_tag :index, @current_index %>



<h2>
  Quality Control Tagging for: <%= @userfile.name %>
</h2>

(Dataset <%= @current_index + 1 %> out of <%= @filelist.size %>)

<p>

<% if @current_index > 0 %>
  <%= submit_button "Previous", :name => :previous %>
<% end %>

<%= submit_button "Pass",    :name => :pass %>
<%= submit_button "Fail",    :name => :fail %>
<%= submit_button "Unknown", :name => :unknown %>

<% if @current_index < @filelist.size - 1 %>
  <%= submit_button "Next", :name => :next %>
<% end %>

<p>

<select name="tag_ids[]" multiple="multiple" style="width:150px" >
  <%= options_from_collection_for_select current_user.available_tags, 'id', 'name',
      @userfile.get_tags_for_user(current_user).raw_first_column(:id) %>
</select>

<br>

<%= submit_tag "Update Tags", :name => :tags %>

<p>

<% begin %>
  <%= render :file => @qc_view_file %>
<% rescue => ex %>
  There was an error generating the QC panel for this file. Please talk to the developers.
  <% if current_user.has_role? :admin_user %>
    <pre>
    Exception: <%= ex.class %> : <%= ex.message %>
    <% ex.backtrace.each do |line| %>
    <%= line %>
    <% end %>
    </pre>
  <% end %>
<% end %>

<br>

