
<% rus = @userfile.resource_usage.all.to_a %>
<% unless rus.empty? %>
  <%= build_accordion do |acc| %>
    <%= acc.section t('.disk_space_history') do %>
      <table class="simple">
        <tr>
          <th><%= t('.date') %></th>
          <th><%= t('.space_delta') %></th>
        </tr>
        <% rus.each do |ru| %>
          <tr>
            <td><%= pretty_past_date ru.created_at %></td>
            <td><%= pretty_resource_usage_value(ru) %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  <% end %>
<% end %>
