
<div id="page_display">  
  <%= render :partial => "userfiles/page_display" %>
</div>

<p/>

<fieldset id="userfiles_search_by_filename">
  <legend>Search by filename</legend>
  <div id="name_search_filter">
    <%= ajax_search_box "userfiles[filters_hash][name]", userfiles_path %>
  </div>
</fieldset>

<p/>

<fieldset class="filter_sidebar">
  <legend>Active Filters</legend>
    <div id="current_filters">
      <%= render :partial => 'userfiles/current_filters' %>
    </div>
    <%= filter_clear_link 'clear', :clear_params => [:filters_hash, :custom_filters_array, :tag_filters_array], :class  => "action_link" %>
</fieldset>

<p/>

<% build_accordion do |acc| %>
  <% acc.section "Filter Files" do %>
    <%= render :partial => 'userfiles/filters' %>
    <div id="tag_table_sidebar">
      <%= render :partial => 'userfiles/tag_table_sidebar' %>
    </div>
  <% end %>

  <% acc.section "Upload File" do %>
    <%= render :partial => "userfiles/new" %> 
  <% end %>

  <% acc.section "Help" do %>
        <%= overlay_ajax_link "Tools Info", "/doc/userfiles/tools_overview.html" %>
        <br>
        <%= overlay_ajax_link "File Formats Info", "/doc/userfiles/file_formats_overview.html" %>
        <br>
        <%= overlay_ajax_link "Jiv Viewer Info", "/doc/userfiles/jiv_viewer.html" %>
        <br><br>
        For more documentation on tools, please refer to the Tools tab.
        <br>
  <% end %>
<% end %>
