
<div id="page_display">  
  <%= render :partial => "userfiles/page_display" %>
</div>

<div id="userfiles_search_by_filename">
  <% form_tag({:controller  => :userfiles, :action => "index"}, :method => "get") do %>
    <h5>Search by filename</h5>
    <div id="name_search_filter">
         <%= text_field_tag :userfiles_search_term, nil, :class  => "search_box", "data-url"  => userfiles_path(:userfiles_search_type => "name_search") %>
    </div>
  <% end %>
</div>

<div class="filter_sidebar">
    <div id="current_filters">
        <%= render :partial => 'userfiles/current_filters' %>
    </div>
    <%= link_to 'clear', { :controller  => :userfiles, :action  => :index, :userfiles_search_type  => :unfilter }, "data-datatype"  => 'script', :class  => "ajax_link action_link" %>
</div>

<% build_accordion do |acc| %>
  <% acc.section "Filter Files" do %>
    <%= render :partial => 'userfiles/filters' %>
    <%= render :partial => 'userfiles/tag_table_sidebar' %>
    <div>
      <%= render :partial => "tags/new", :object => @tag %>
    </div>
  <% end %>

  <% acc.section "Upload File" do %>
    <%= render :partial => "userfiles/new" %> 
  <% end %>

  <% acc.section "Help" do %>
        <a class="overlay_link" data-url ="/doc/userfiles/file_info.html">Files Info</a>
        <br>
        <a class="overlay_link" data-url ="/doc/userfiles/tools_overview.html">Tools Info</a>
        <br>
        <a class="overlay_link" data-url ="/doc/userfiles/file_formats_overview.html">File Formats</a>
        <br>
        <a class="overlay_link" data-url = "/doc/userfiles/jiv_viewer.html">Jiv Viewer Info</a>
  <% end %>
<% end %>
