<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
  tags_for = lambda do |attr|
    current_user.available_tools
      .select(["tools.#{attr.to_s}", :id])
      .where("tools.category != 'background'")
      .where("tools.#{attr.to_s} IS NOT NULL")
      .where("tools.#{attr.to_s} != ''")
      .all
      .map(&attr)
      .flatten
      .uniq
  end

  types    = tags_for.(:application_type)
  packages = tags_for.(:application_package_name)
  tags     = tags_for.(:application_tags)
%>
<div id="toolsDialog" title="Select Tool" >

  <div class="userfiles_bourreau_selector" id="tool_version_selector">
  </div>

  <br/>

  <div id="toolsDialogWrapper">

    <div id="toolsDialogLeftCol">
      <div>
        <b>Search: </b><input type="text" id="searchToolSelectionBox">
      </div>


      <% unless types.empty? && packages.empty? && tags.empty? %>
      <br/>
      <div>
        <label><input type="checkbox" class="tag_checkbox" id="showAllTools"/>All tools</label><br/>
      </div>
      <br/>

      <% unless types.empty? %>
        <b>Type:</b>
        <br/>
        <% types.each do |type| %>

          <label><input type="checkbox" class="tag_checkbox" name="tooltags-<%= type %>"/><%= type %></label>
              <br/>

        <% end %>
        <br/>
      <% end %>

      <% unless packages.empty? %>
        <b>Sofware Package:</b><br/>
        <% packages.each do |package| %>
            <label><input type="checkbox" class="tag_checkbox" name="tooltags-<%= package %>"/><%= package %></label><br/>
        <% end %>
        <br/>
      <% end %>

      <% unless tags.empty? %>
        <b>Tags:</b><br/>
        <% tags.each do |tag|%>
            <label><input type="checkbox" class="tag_checkbox" name="tooltags-<%= tag %>"/><%= tag %></label><br/>
        <% end %>
        <br/>
      <% end %>
      <% end %>

    </div>

    <div id="toolsDialogRightCol">
        <b>Tools:</b>
        <div class="tools-container">

          <table id="toolSelectTable" >

            <% if @tools_to_pick.present? %>

              <% @tools_to_pick.each do |tool| %>

              <tr
              <%tool.get_all_tags.each do |tool_tag|%>
              data-tooltags-<%= tool_tag %> = 'true'
              <%end%>
              >
                <td id="tool_<%= tool.id %>">

                  <b><a href= "#" data-tool-id=<%=tool.id%> class="toolsLink"><%= tool.name %></a></b><br/>
                   Tags:       <%=tool.get_all_tags.join(' ')%><br/>


                   <%= link_to( "Tool Website", tool.url, :target => "_blank") if tool.url.present? %>

                 </td>
               </tr>

               <%end%>

          <% else %>

          <tr>
            <td>
              <% if current_user.has_role? :admin_user %>
                <h1 class="warning">No tools available. New tools may be registered from the Tools index.</h1>
              <% else %>
                <h1 class="warning">No tools available. Contact your admin to have them registered.</h1>
              <% end %>
            </td>
          </tr>

          <% end %>

        </table>
      </div>

    </div>

  </div>

</div>
