<thead>
   <tr>
      <td colspan="10" class="left">
  
           <div id="pages">
                <% if session[:pagination] == 'on' %>
                   <%= will_paginate %>
                 <% end %>
                 <% if @userfile_count > @userfiles_per_page %>
                     <%= link_to_remote "Toggle Pagination", :url  => userfiles_path(:pagination => set_toggle(session[:pagination])), :method  => 'get' %>
                 <% end %><br>
                 <% if current_user && (check_role(:admin) || check_role(:site_manager)) %>
                   <%= link_to_remote session[:view_all] == 'on' ? "Show your files ": "Show all files on the system", :url  => userfiles_path(:view_all => set_toggle(session[:view_all])), :method  => 'get' %>
                 <% end %><br><br>
                 <%= link_to_remote  "Tree view", :url  =>  {:action  => :index, :sort_order  => 'userfiles.lft'}, :method  => 'get'  %>
                 <%= set_order_icon('userfiles.lft', params[:sort_order]) %>
           </div>
      </td>
   </tr>
  
    <tr>
      <th>
        <div class="userfiles_select_all">
          <%= link_to_function '&radic;' do |page|
              page.select(".userfile_checkbox").each do |check_box|
                check_box.checked=true
              end
            end
          %>
        </div>
        &nbsp;
        <div class="userfiles_select_all">
          <%= link_to_function '<big>&times;</big>' do |page|
              page.select(".userfile_checkbox").each do |check_box|
                check_box.checked=false
              end
            end
          %>
        </div>
      </th>
      <th>
        <%= link_to_remote  "Filename", :url  =>  {:action  => :index, :sort_order  => 'userfiles.name', :sort_dir  => set_dir('userfiles.name', params[:sort_order], params[:sort_dir])}, :method  => 'get'  %>
        <%= set_order_icon('userfiles.name', params[:sort_order], params[:sort_dir]) %>
      </th>
      <th>
        <%= link_to_remote  "Owner", :url  =>  {:action  => :index, :sort_order  => 'users.login', :sort_dir  => set_dir('users.login', params[:sort_order], params[:sort_dir])}, :method  => 'get'  %>
        <%= set_order_icon('users.login', params[:sort_order], params[:sort_dir]) %>
      </th>
      <th>
        <%= link_to_remote  "Creation Date", :url  =>  userfiles_path(:sort_order  => 'userfiles.created_at', :sort_dir  => set_dir('userfiles.created_at', params[:sort_order], params[:sort_dir])), :method  => 'get'  %>
        <%= set_order_icon('userfiles.created_at', params[:sort_order], params[:sort_dir]) %>
      </th>
      <th>
        <%= link_to_remote  "Size", :url  =>  userfiles_path(:sort_order  => 'userfiles.size', :sort_dir  => set_dir('userfiles.size', params[:sort_order], params[:sort_dir])), :method  => 'get'  %>
        <%= set_order_icon('userfiles.size', params[:sort_order], params[:sort_dir]) %>
      </th>
      <th>
         <%= link_to_remote  "Tags", :url  =>  userfiles_path(:sort_order  => 'tags.name', :sort_dir  => set_dir('tags.name', params[:sort_order], params[:sort_dir])), :method  => 'get'  %>
         <%= set_order_icon('tags.name', params[:sort_order], params[:sort_dir]) %>
      </th>
      <th>
         <%= link_to_remote  "Groups", :url  =>  userfiles_path(:sort_order  => 'groups.name', :sort_dir  => set_dir('groups.name', params[:sort_order], params[:sort_dir])), :method  => 'get'  %>
         <%= set_order_icon('groups.name', params[:sort_order], params[:sort_dir]) %>
      </th>
      <th>
        <%= link_to_remote  "Group Access", :url  =>  userfiles_path(:sort_order  => 'userfiles.group_writable', :sort_dir  => set_dir('userfiles.group_writable', params[:sort_order], params[:sort_dir])), :method  => 'get'  %>
         <%= set_order_icon('userfiles.group_writable', params[:sort_order], params[:sort_dir]) %>
      </th>
      <th>Provider</th>
    </tr>
  </thead>
  <tbody>
       <%= render :partial => 'userfile', :collection  => @userfiles %>                   
  </tbody>
