<thead>
   <tr>
      <td colspan="10">
  
  
           <div class = "pages">
                <% if session[:pagination] == 'on' %>
                   <%= will_paginate %>
                 <% end %>
                 <% if @userfile_count > @userfiles_per_page %>
                     <%= link_to_remote "Toggle Pagination", :url  => userfiles_path(:pagination => set_toggle(session[:pagination])), :method  => 'get' %>
                 <% end %><br>
                 <% if current_user && (check_role(:admin) || check_role(:site_manager)) %>
                   <%= link_to_remote session[:view_all] == 'on' ? "Show your files ": "Show all files on the system", :url  => userfiles_path(:view_all => set_toggle(session[:view_all])), :method  => 'get' %>
                 <% end %>
           </div>
      </td>
   </tr>
  
    <tr>
      <th>
        <%= link_to 'Select All', userfiles_path(:select_all => true, :page  => params[:page]) %>
      </th>
      <th>
        <%= link_to "Filename", userfiles_path(:order  => 'userfiles.name') %>
        <%= set_order_icon('name', session[:order]) %>
      </th>
      <th>
        <%= link_to "Owner", userfiles_path(:order  => 'users.login') %>
        <%= set_order_icon('user_id', session[:order]) %>
      </th>
      <th>
        <%= link_to "Creation Date", userfiles_path(:order  => 'userfiles.created_at') %>
        <%= set_order_icon('created_at', session[:order]) %>
      </th>
      <th>
        <%= link_to "Size", userfiles_path(:order  => 'userfiles.size') %>
        <%= set_order_icon('size', session[:order]) %>
      </th>
      <th>
        Tags
      </th>
      <th>
        <%= link_to "Groups", userfiles_path(:order  => 'groups.name') %>
        <%= set_order_icon('group_id', session[:order]) %>
      </th>
      <th>
         <%= link_to "Group Permissions", userfiles_path(:order  => 'userfiles.group_writable') %>
         <%= set_order_icon('group_writable', session[:order]) %>
      </th>
    </tr>
  </thead>
  <tbody>
       <%= render :partial => 'userfile', :collection  => @userfiles %>                   
  </tbody>