
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<tr class="<%= cycle("list-odd", "list-even") %> row_highlight">
   <td><%= check_box_tag("filelist[]", userfile.id.to_s, false, :class  => 'userfile_checkbox') %></td>
   <td class="left">
      <%= tree_view_icon(session[:order], userfile.level) if userfile.level > 0 -%>
      <%= link_if_accessible h(userfile.name), edit_userfile_path(userfile), userfile, current_user %>
      <%= userfile.pretty_type %>      
      <% SyncStatus.find(:all, :conditions => { :userfile_id => userfile.id }).each do |syncstat| %>
        <%= render :partial => 'syncstatus', :locals => { :syncstat => syncstat } %>
      <% end %>
   </td>
   <td><%= h userfile.user.login  %></td>
   <td>
      <span title="<%= h (userfile.created_at.localtime.strftime("%A %B %d, %Y at %H:%M:%S"))%>">
         <%= h(to_localtime(userfile.created_at.to_s,:date)) -%>
      </span>
   </td>

   <% if userfile.size != nil %>
     <td><%= h(userfile.format_size)-%></td>
   <% else %>
     <td></td>
   <% end %>
   <td><%= userfile.get_tags_for_user(current_user).collect(&:name).join("<br>") -%></td>
   <% if userfile.group != nil %>
     <td><%= h userfile.group.name -%></td>
     <td><%= userfile.group_writable ? 'Read/Write' : 'Read Only' -%></td>
   <% else %>
     <td/><td/>
   <% end %>
   <td>
      <%= userfile.data_provider.name %>
   </td>
</tr>
