
<%

#
# CBRAIN Project
#
# $Id$
#

-%>

 <tr class= "<%= cycle('list-odd', 'list-even')%>" onMouseOver="javascript:highlightTableRowVersionA(this, '#FFEBE5')">
   <td class = "checkbox"><%= check_box_tag("filelist[]", userfile.id.to_s, params[:select_all]) %></td>
   <td class = "centered"><%= userfile.user.full_name %></td>
   <td>
      <%=  tree_view_icon(session[:order], userfile.level) if userfile.level > 0 -%>
      <%= link_to h(userfile.name), edit_userfile_path(userfile) %>
      <%= userfile.is_a?(FileCollection) ? "(Collection)" : "" %>      
   </td>
   <td><%= h(to_localtime(userfile.created_at.to_s)) -%></td>
   <% if userfile.size != nil %>
	<td><%= h(userfile.format_size)-%></td>
   <% else %>
	<td></td>
   <% end %>
   <td class = "centered"><center><%= userfile.tags.collect{|u| h(u.name)}.join("<br>") -%></center></td>
       <% if userfile.group != nil %>
	    <td class = "centered"><%= userfile.group.name -%></td>
       <% else %>
	    <td></td>
	<% end %>
   <td class = "centered"><%= link_to h(userfile.data_provider.name), data_provider_path(userfile.data_provider) %></td>
</tr>
