<tr class="<%= cycle('list-odd', 'list-even') %>">
   <td><%= check_box_tag("filelist[]", userfile.id.to_s, params[:select_all]) %></td>
   <% if params[:view_all] %>
      <td><%= userfile.user.login %></td>
   <% end %>
   <td>
      <%= '&nbsp' * 4 * userfile.level + '&#x21b3;' if userfile.level > 0 -%>
      <%= link_to h(userfile.name), userfile %>
   </td>
   <td><%= h(to_localtime(userfile.created_at.to_s)) -%></td>
   <td><%= h(userfile.size) -%></td>
   <td><%= userfile.tags.collect{|u| h(u.name)}.join("<br>") %></td>
   <td><%= link_to 'Edit Tags', edit_userfile_path(userfile, :view_all  => params[:view_all]), :method => :get %></td>
</tr>