<thead>
   <tr>
      <td colspan="10">
  
           <div id="pages">
                <% if session[:pagination] == 'on' %>
                   <%= will_paginate %>
                 <% end %>
                 <% if @userfile_count > @userfiles_per_page %>
                     <%= link_to_remote "Toggle Pagination", :url  => userfiles_path(:pagination => set_toggle(session[:pagination])), :method  => 'get' %>
                 <% end %><br>
                 <% if current_user && (check_role(:admin) || check_role(:site_manager)) %>
                   <%= link_to_remote session[:view_all] == 'on' ? "Show your files ": "Show all files on the system", :url  => userfiles_path(:view_all => set_toggle(session[:view_all])), :method  => 'get' %>
                 <% end %><br><br>
                 <%= link_to_remote  "Tree view", :url  =>  userfiles_path(:order  => 'userfiles.lft'), :method  => 'get'  %>
                 <%= set_order_icon('userfiles.lft', session[:order]) %>
           </div>
      </td>
   </tr>
  
    <tr>
      <th>
        <div class="userfiles_select_all">
          <%= link_to_function '&radic;' do |page|
              page.select(".userfile_checkbox").each do |check_box|
                check_box.checked=true
              end
            end
          %>
        </div>
        &nbsp;
        <div class="userfiles_select_all">
          <%= link_to_function '<big>&times;</big>' do |page|
              page.select(".userfile_checkbox").each do |check_box|
                check_box.checked=false
              end
            end
          %>
        </div>
      </th>
      <th>
        <%= link_to_remote  "Filename", :url  =>  userfiles_path(:order  => 'userfiles.name'), :method  => 'get'  %>
        <%= set_order_icon('userfiles.name', session[:order]) %>
      </th>
      <th>
        <%= link_to_remote  "Owner", :url  =>  userfiles_path(:order  => 'users.login'), :method  => 'get'  %>
        <%= set_order_icon('users.login', session[:order]) %>
      </th>
      <th>
        <%= link_to_remote  "Creation Date", :url  =>  userfiles_path(:order  => 'userfiles.created_at'), :method  => 'get'  %>
        <%= set_order_icon('userfiles.created_at', session[:order]) %>
      </th>
      <th>
        <%= link_to_remote  "Size", :url  =>  userfiles_path(:order  => 'userfiles.size'), :method  => 'get'  %>
        <%= set_order_icon('userfiles.size', session[:order]) %>
      </th>
      <th>
        <%= link_to_remote  "Tags", :url  =>  userfiles_path(:order  => 'tags.name'), :method  => 'get'  %>
        <%= set_order_icon('tags.name', session[:order]) %>
      </th>
      <th>
        <%= link_to_remote  "Groups", :url  =>  userfiles_path(:order  => 'groups.name'), :method  => 'get'  %>
        <%= set_order_icon('groups.name', session[:order]) %>
      </th>
      <th>
         <%= link_to_remote  "Group Permissions", :url  =>  userfiles_path(:order  => 'userfiles.group_writable'), :method  => 'get'  %>
         <%= set_order_icon('userfiles.group_writable', session[:order]) %>
      </th>
      <th>Provider</th>
    </tr>
  </thead>
  <tbody>
       <%= render :partial => 'userfile', :collection  => @userfiles %>                   
  </tbody>
