
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%=
  render(:partial => 'shared/active_filters', :locals  => {
    :scope => @scope,
    :model => Userfile
  })
%>

<div class="pagination">
  <div class="pagination_left_side">
    <%=
      render(:partial => 'shared/persistent_selection', :locals => {
        :name      => 'userfiles',
        :param     => 'file_ids[]',
        :watch     => 'th.dt-sel > .dt-sel-check',
        :item_name => t('activerecord.models.userfile.one'),
        :all_url   => userfiles_path(:ids_only => 1),
        :initial_clear => @force_clear_persistent,
      })
    %>
  </div>
  <div class="page_links">
    (
      <%
        show_total = lambda do |total, name, icon|
          (", #{total} #{name} " + icon).html_safe if
            total.present? && (total.is_a?(String) || total > 0)
        end
      %>

      <%= t('.entry', count: @userfiles_total) %>
      <% unless @scope.custom[:view_all] %>
        <span class="own_files"><%= t('.own_files_only') %></span>
      <% end %>,

      <%= colored_pretty_size(@userfiles_total_size) %>
      <%= show_total.(@hidden_total,    t('.hidden'),   hidden_icon) %>
      <%= show_total.(@archived_total,  t('.archived'), archived_icon) %>
      <%= show_total.(@immutable_total, t('.locked'),   immutable_icon) %>
    )
  </div>
  <div class="pagination_right_side">
    <%= t('.search_by_name') %> <%= ajax_search_box("name_like", userfiles_path) %>
  </div>
</div>

<%=
  dynamic_scoped_table(@userfiles,
    :id           => 'userfiles_table',
    :request_type => :server_javascript,
    :order_map    => {
      :creation_date => { :a => 'created_at' },
      :login         => { :a => 'users.login',         :j => User         },
      :group         => { :a => 'groups.name',         :j => Group        },
      :data_provider => { :a => 'data_providers.name', :j => DataProvider },
    },
    :filter_map   => {
      :login         => { :a => 'user_id'          },
      :group         => { :a => 'group_id'         },
      :data_provider => { :a => 'data_provider_id' },
    }
  ) do |t|
%>
  <%
    t.paginate(@scope.pagination.per_page > 50 ? :both : :top)

    t.row do |u|
      {
        :select_param => 'file_ids[]',
        :select_value => u.id,
        :html => { 'data-id' => u.id }
      } if u.available?
    end
  %>

  <%
    t.column('', :type_icon,
      :pretty_name => t('.type_icon')
    ) do |u|
  %>
    <% if u.is_a?(FileCollection) %>
      <span class="ui-icon ui-icon-folder-collapsed"></span>
    <% else %>
      <span class="ui-icon ui-icon-document"></span>
    <% end %>
  <% end %>

  <%
    t.column(t('.filename'), :name,
      :sortable => true
    ) do |u|
      filename_listing(u,
        :html_options => { :class      => ('error_link' unless u.available?) },
        :query_params => { :sort_index => (@current_offset + @userfiles.index(u) if @current_offset) }
      )
    end

    t.column(t('.file_type'), :type,
      :field_name => :pretty_type,
      :sortable   => true,
      :filters    => default_filters_for(@base_scope, @custom_scope, :type)
    )

    t.column(t('userfiles.common.owner'), :login,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, @custom_scope, User)
    ) { |u| link_to_user_if_accessible(u.user) }

    t.column(t('.creation_date'), :creation_date,
      :sortable => true
    ) do |u|
      html_tool_tip(to_localtime(u.created_at, :date), :offset_x => 0, :offset_y => 20) do
        ("#{t('.created')} #{u.created_at.in_time_zone.strftime("%a %b %d, %Y at %H:%M:%S %Z")} <br />" +
         "#{t('.updated')} #{u.updated_at.in_time_zone.strftime("%a %b %d, %Y at %H:%M:%S %Z")}").html_safe
      end
    end
  %>

  <%
    t.column(t('.size'), :size,
      :sortable => true
    ) do |u|
  %>
    <%= u.archived? ? archived_icon : "" %>
    <% if u.size.present?  %>
      <span title="<%= t('userfiles.common.size_bytes', size: u.size) %>"><%= u.archived ? colored_pretty_size(u.size) : colored_format_size(u) %></span>
    <% else %>
      <%= html_colorize(t('unknown').downcase,"red") %>
    <% end %>
    <% if u.archived? %>
      <% before_archiving_size      = u.meta[:before_archiving_size].presence %>
      <% before_archiving_num_files = u.meta[:before_archiving_num_files].presence %>
      <% if before_archiving_size || before_archiving_num_files %>
        <%= t('.was_html',
              size: colored_pretty_size(before_archiving_size),
              file_count: before_archiving_num_files ? view_pluralize(before_archiving_num_files, t('activerecord.models.userfile.other')) : t('unknown').downcase
            )
        %>
      <% end %>
    <% end %>
  <% end %>

  <%
    filtering_tags = ((
      @scope.filters.find do |f|
        f.attribute == 'tags' && f.is_a?(UserfilesController::TagFilter)
      end
    ).try(:value) || []).dup

    t.column(t('activerecord.models.tag.other'), :tags,
      :filters       => @tag_filters,
      :filter_target => lambda do |column, filter|
        ({
          :controller      => params[:controller],
          :action          => params[:action],
          :page            => 1,
          :_pag_scope_name => @scope.name
        }).merge(scope_filter_params(@scope, :set, {
          'type'  => 'uf.tags',
          'value' => (filtering_tags + [filter.value]).uniq
        }))
      end
    ) do |u|
      u.get_tags_for_user(current_user)
        .collect { |t| h(t.name) }
        .join("<br />")
        .html_safe
    end

    unless current_project
      t.column(t('activerecord.models.group.other'), :group,
        :sortable => true,
        :filters  => default_filters_for(@base_scope, @custom_scope, Group)
      ) do |u|
        link_to_group_if_accessible(u.group) if u.group
      end
    end

    t.column(t('.project_access'), :group_writable,
      :sortable => true
    ) do |u|
      u.group_writable ? t('userfiles.common.read_write') : t('userfiles.common.read_only') if u.group
    end

    t.column(t('activerecord.models.data_provider.other'), :data_provider,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, @custom_scope, DataProvider)
    ) do |u|
      link_to_data_provider_if_accessible(u.data_provider)
    end

    t.column(t('activerecord.attributes.description')) do |u|
      html_tool_tip(crop_text_to(40, u.description), :offset_x => 0, :offset_y => 20) do
        simple_format(u.description, :sanitize => true)
      end if u.description.present?
    end
  %>
<% end %>
