<%= button_with_dropdown_menu("View Options") do %>
  <div class="view_options">
    <%= 
      filter_add_link (@filter_params["details"] == 'off' ? "Show Details" : "Hide Details"),
                      :parameter => :details, 
                      :value     => set_toggle(@filter_params["details"])
    %>
    <br>
    <% if @userfiles_total > @user_pref_page_length %>
      <%= filter_add_link (@filter_params["pagination"] == 'on' ? "Disable Pagination" : "Paginate" ),
                         :parameter => :pagination,
                         :value     => set_toggle(@filter_params["pagination"])
      %>
      <br>
    <% end %>
    <%= 
        filter_add_link (@filter_params["tree_sort"] == "off" ? "Enable Tree View" : "Disable Tree View"), 
                        :parameter => :tree_sort,  
                        :value     => set_toggle(@filter_params["tree_sort"])
    %>
    <br>
    <%= filter_add_link @filter_params["view_all"] == 'on' ? "Show your files ": "Show all available files", 
                        :parameter => :view_all,
                        :value     => set_toggle(@filter_params["view_all"]) 
    %>
  </div>
<% end %>

