
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%= button_with_dropdown_menu("View Options") do %>
  <div class="view_options">
    <%
      toggle_link = lambda do |on, off, key|
        scope_custom_link((@scope.custom[key] ? off : on),
          @scope, { key => !@scope.custom[key] },
          link: { :ajax => true }
        )
      end
    %>

    <%= toggle_link.("Enable Tree View",         "Disable Tree View",        :tree_sort)   %><br />
    <%= toggle_link.("Show all available files", "Show only your own files", :view_all)    %><br />
    <%= toggle_link.("Show hidden files",        "Do not show hidden files", :view_hidden) %>
    (<%= hidden_icon %>)
  </div>
<% end %>

