
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>

<% title "File Info: #{@userfile.name}" %>

<h1>File details for <%= h @userfile.name %></h1>

<% form_for(@userfile) do |f| %>
<%= f.error_messages %>

<table>
   <tr class="list-odd">
      <th>Name:</th>
      <td colspan="2"><%= f.text_field :name %></td>
   </tr class="list-odd">
   <tr class="list-even">
      <th>Owner:</th>
      <td colspan="2"><%=h @userfile.user.full_name %></td>
   </tr>
   <tr class="list-odd">
      <th>Size:</th>
      <td colspan="2"><%=h @userfile.format_size %></td>
   </tr>
   <% if @userfile.is_a? SingleFile %>
      <tr class="list-even">
         <th>Parent:</th>
         <td colspan="2"><%=h @userfile.parent.name rescue ""%></td>
      </tr>
      <tr class="list-odd">
         <th>Children:</th>
         <td colspan="2"><%=@userfile.children.map{|c| h(c.name)}.join("<br>") %></td>
      </tr>
   <% end %>
   <tr class="list-even">
      <th>Created at:</th>
      <td colspan="2"><%=h(to_localtime(@userfile.created_at.to_s)) %></td>
   </tr>
   <tr class="list-odd">
      <th>Modified at:</th>
      <td colspan="2"><%=h(to_localtime(@userfile.updated_at.to_s)) %></td>
   </tr>
   <tr class="list-odd">
      <th rowspan="<%= @tags.size %>" valign="top">Tags:</th>
      <td><%= @tags[0].name %></td>
      <td><%= check_box_tag("userfile[tag_ids][]", @tags[0].id, @userfile.tags.include?(@tags[0])) %></td>
      <% for tag in @tags[1..-1] %>
         <tr class="list-odd">
            <td><%= tag.name %></td>
            <td><%= check_box_tag("userfile[tag_ids][]", tag.id, @userfile.tags.include?(tag)) %></td>
         </tr>
      <% end %>
   </tr>
</table>
<%= submit_tag "Update Fields" %>
<% end %>
<br>
   <% if @userfile.is_a?(FileCollection) && @userfile.size > 0 %>
      <table>
      <% form_tag(extract_userfiles_path) do %>
      <tr class="list-odd">
         <th rowspan="<%= @userfile.size %>" valign="top">Files:</th>
         <td><%= @userfile.list_files[0].sub(/^#{@userfile.name + '/'}/, "") %></td>
         <td><%= check_box_tag("filelist[]", @userfile.list_files[0]) %></td>
         <% for file in @userfile.list_files[1..-1] %>
            <tr class="list-odd">
               <td><%= file.sub(/^#{@userfile.name + '/'}/, "") %></td>
               <td><%= check_box_tag("filelist[]", file) %></td>
            </tr>
         <% end %>
      </tr>
      
      </table>
      <%= submit_tag "Extract Files from Collection" %>
      <% end %>
   <% else %>
      </table>
   <% end %>
<br>

<%= link_to 'Index', userfiles_path %>
