
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>

<% title "File Info: #{@userfile.name}" %>

<h2>File details for <%= h @userfile.name %></h2>

<% form_for(@userfile) do |f| %>

  <%= f.error_messages %>

  <div class = "splitleft">

  <table class="resource_list">
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Name:</th>
      <td colspan="2"><%= f.text_field :name, :disabled => !@userfile.can_be_accessed_by?(current_user) %></td>
    </tr class="list-odd">
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Owner:</th>
      <td colspan="2"><%=h @userfile.user.full_name %></td>
    </tr>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Size:</th>
      <td colspan="2"><%=h @userfile.size %></td>
    </tr>  
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Data Provider:</th>
      <td colspan="2"><%=h @userfile.data_provider.name %></td>
    </tr>  
  
    <%if @userfile.is_a? SingleFile %>
      <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Parent:</th>
        <td colspan="2"><%=h @userfile.parent.name rescue ""%></td>
      </tr>

      <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Task:</th>
        <td colspan="2"><%= @userfile.task rescue ""%></td>
      </tr>
     
      <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Children:</th>
        <td colspan="2"><%=h @userfile.parent.name rescue ""%></td>
      </tr>
    <% end %> <!-- singlefile -->
   
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Created at:</th>
      <td colspan="2"><%=h(to_localtime(@userfile.created_at.to_s,:datetime)) %></td>
    </tr>

    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Modified at:</th>
      <td colspan="2"><%=h(to_localtime(@userfile.updated_at.to_s,:datetime)) %></td>
    </tr>
   
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Group:</th>
      <td colspan="2"><%= f.collection_select(:group_id,  @user_groups, :id, :name, {}, :disabled => !@userfile.has_owner_access?(current_user)) %></td>
    </tr>
    <tr>
      <th class="right_align">Group permission on file:</th>
      <td colspan="2"><%= f.select(:group_writable, [['Read Only', false],['Read/Write', true]], {}, :disabled => !@userfile.has_owner_access?(current_user)) %></td>
    </tr>

  </table>
  
  <%= render :partial => 'tags_edit_table', :locals  => {:tags => @tags} %>
  
  
  <% if @sync_status == "InSync" %>
    <% if @userfile.is_a?(FileCollection) %>
      <%= render :partial  => 'file_collection', :locals  => {:file => @userfile} %> 
    <% end %>
  <% elsif @sync_status =~ /^To/ %>
    <% if @userfile.is_a?(FileCollection) %>
      <p>This Collection is currently being synchronized,
         so the content is not listable yet.</p>
    <% else %>
      <p>This file is currently being synchronized.</p>
    <% end %>
  <% else %>
    <% if @userfile.is_a?(FileCollection) %>
      <p>This Collection is not currently synchronized, so
         the content is not listable yet.<BR>
    <% else %>
      <p>This file is not currently synchronized.<BR>
    <% end %>
    Click <%= link_to "here", edit_userfile_path(@userfile, :start_sync => 'yes') %>
    to start the synchronization process.</p>
  <% end %>

  <br>

  <% if @userfile.can_be_accessed_by?(current_user)  %>
    <%= submit_tag "Update Fields" %>
    <br> 
  <% end %>
</div>

<div class = "splitright">

  <% if @log %>
    <table>
      <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th colspan="3">File log</th>
      </tr>
      <tr class="<%= cycle('list-odd', 'list-even') %>">
        <td colspan="3"><pre><%= @log %></pre></td>
      </tr>
    </table>
  <% end %>
</div>

<% end %> <!-- form -->
