
<% title "Edit File" %>

<h2>Edit File: <%= link_to_userfile_if_accessible(@userfile) %></h2>

<div class="generalbox">

  <%= 
    file_link_table(@userfile, :joins => :data_provider, :conditions => {"data_providers.online" => true}, :access_requested  => :read,
                               :html  => {:class  => "action_link"}) 
  %>
  <br>

<% form_for :userfile, @userfile, :url => { :controller => :userfiles, :action => :update }, :html => { :method => :put } do |f| %>

  <%= f.error_messages %>

  <table class="property_list edit_file_table">
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Name:</th>
      <td colspan="2"><%= f.text_field :name, :disabled => !@userfile.can_be_accessed_by?(current_user) %></td>
    </tr>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Type:</th>
      <td>
        <%= select_tag "file_type", options_for_select(@userfile.valid_file_classes.map{ |c| [c.pretty_type, c.name]  }, @userfile.class.name) %>
      </td>
      <td>
        <% if @userfile.suggested_file_type &&  @userfile.suggested_file_type != @userfile.class %>
          (<span>Suggested file type: </span> <span class="warning"><%= @userfile.suggested_file_type.pretty_type %></span>)
        <% end %>
      </td>
    </tr>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Owner:</th>
      <td><%= user_select("userfile[user_id]", { :selector => @userfile }, :disabled => ! @userfile.data_provider.allow_file_owner_change?) %></td>
      <td></td>
    </tr>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Size:</th>
      <td><%= h(@userfile.format_size) %></td>
      <td><% if @userfile.size && @userfile.size >= 1_000 -%>
          = <%= @userfile.size %> bytes
          <% end -%>
      </td>
    </tr>  
  
    <%if @userfile.is_a? SingleFile %>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Parent:</th>
        <td><%=h @userfile.parent.name rescue "" %></td>
        <td></td>
    </tr>

    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Children:</th>
        <td><%=h @userfile.parent.name rescue "" %></td>
        <td></td>
    </tr>
    <% end %> <!-- singlefile -->
   
    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Created at:</th>
        <td><%=h(to_localtime(@userfile.created_at,:datetime)) %></td>
        <td>(<%= pretty_elapsed(Time.now - @userfile.created_at) %> ago)</td>
    </tr>

    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Modified at:</th>
        <td><%=h(to_localtime(@userfile.updated_at,:datetime)) %></td>
        <td>(<%= pretty_elapsed(Time.now - @userfile.updated_at) %> ago)</td>
    </tr>
   
    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Project:</th>
        <td><%= group_select 'userfile[group_id]', { :groups => current_user.available_groups, :selector => @userfile.group_id.to_s }, { :disabled => !@userfile.has_owner_access?(current_user) || @userfile.format_source_id } %></td>
        <td></td>
    </tr>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Project Access:</th>
        <td><%= f.select(:group_writable, [['Read Only', false],['Read/Write', true]], {}, :disabled => !@userfile.has_owner_access?(current_user)) %></td>
        <td></td>
    </tr>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Tags:</th>
        <td colspan="2">
        <%= @userfile.get_tags_for_user(current_user).map(&:name).join(", ") %></td>
    </tr>
    <% if current_user.has_role? :admin %>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Data Provider:</th>
        <td><%= link_to_data_provider_if_accessible(@userfile.data_provider) %>
      ( <%= h(@userfile.data_provider.class.to_s) %> )
        </td>
      <td>
        <% @userfile.sync_status.each do |syncstat| %>
            <%= render :partial => 'syncstatus', :locals => { :syncstat => syncstat } %>
        <% end %>
      </td>
    </tr>
    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Local Data Provider (cache) path:</th>
        <td colspan="2"><%= h(@userfile.cache_full_path) %></td>
    </tr>
      <% if @userfile.data_provider.respond_to?(:provider_full_path) %>
        <tr class="<%= cycle('list-odd', 'list-even') %>">
            <th class="right_align">Remote SSH Data Provider path:</th>
            <td colspan="2"><%= h(@userfile.data_provider.provider_full_path(@userfile)) %></td>
        </tr>
      <% end %>
    <% end %>
    
  </table>

  <P>
  
  <% if current_user.available_tags.count > 0 %>
    Tags for this file:<br>
    <select name="tag_ids[]" multiple="multiple" style="width:150px" >
        <%= options_from_collection_for_select current_user.available_tags, 'id', 'name', @userfile.get_tags_for_user(current_user).map(&:id) %>
    </select>
  <% end %>
  
  <P>

  <% if @userfile.can_be_accessed_by?(current_user)  %>
    <%= submit_tag "Update Fields", :class => "button" %>
    <BR>
  <% end %>

<% end %> <!-- form -->


<% unless @userfile.is_locally_synced? %>
    <P>
    
    <% if @sync_status =~ /^To/ %>
      <p>The content of this data file is currently being synchronized.</p>
    <% elsif ! (@userfile.data_provider.not_syncable?) %>
      <p>The content of this data file is not currently synchronized.<BR>
      Click <%= link_to "here", sync_to_cache_userfile_path(@userfile), :method  => :post %>
      to start the synchronization process.<br>
      This will allow you to view displayable content (if any)<% if @userfile.is_a?(FileCollection) %>
      and extract files from this collection<% end %>.
      </p>
    <% end %>

<% end %>

  <P>

<%= render :partial => "layouts/log_report", :locals  => { :log  => @log, :title => 'File Log' } %>

</div> <!-- generalbox -->

