
<% title 'Files' %>

<!-- **************************************************************************** -->
<!-- CELL #1 : The two menu button lines, the pagination, and the userfiles table -->
<!-- **************************************************************************** -->

<div id="userfiles_menus_and_filelist">

  <%= multi_form_tag(:method => :post, "data-type"  => "script") do %>
    <%= hidden_field_tag :page, @current_page %>
      
      <%= render :partial => "userfiles/file_menu" %>
      <div id="userfiles_display" class="index_block">
        <%= render :partial => 'userfiles_display' %>
      </div>
      
      <%
      legend_array = []
      [ "InSync", "ProvNewer", "CacheNewer", "Corrupted", "ToCache", "ToProvider" ].each do |name|
        legend_array << [ status_html_symbol(name), name ]
      end
      %>
      
      <%= center_legend("Synchronization symbols:", *legend_array )%>
  <% end %> <!-- form -->
</div> <!-- cell #1 -->



