<%

#
# CBRAIN Project
#
# File manager main layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<% title 'Files' %><% #Side bar stuff goes here -%>

  <div class="generalcontent">

      <div class = 'help_button_drop_down'>
          <% button_with_dropdown_menu(:title => "Help") do %>
            <a class = "overlay_link" data-url ="/doc/userfiles/file_info.html">Files Info</a>
              <br>
              <a class = "overlay_link" data-url ="/doc/userfiles/tools_overview.html">Tools Info</a>
              <br>
              <a class = "overlay_link" data-url ="/doc/userfiles/file_formats_overview.html">File Formats</a>
          <% end %>     
      </div>

   <%= javascript_tag "var current_options;" %> 
       
        <div id="main_userfiles_content"  style="width: 90%">
        <div id="userfiles_top_menu">
            <%= userfiles_menu_option('Conversion Tools', 'conversion_tool_option', 'tool_management_conversion') %>
            <%= userfiles_menu_option('Scientific Tools', 'scientific_tool_option', 'tool_management_scientific') %>
        <br>
        </div>
        <br>
        <div class="userfiles_upper_form">  
          <div id="upload_option_div" class="upper_form" style="display:none">
          </div>
        </div>
          
    <% form_tag(operation_userfiles_path(:method => :post)) do %>
         
        <div class="userfiles_upper_form">
        <div id="conversion_tool_option_div" class="upper_file_menu" style="display:none">
        </div>
        <div id="scientific_tool_option_div" class="upper_file_menu" style="display:none">
        </div>
        </div>
    
        <div id = "file_menu">
          <%= userfiles_menu_option('Upload File', 'upload_option', 'new')%> 
          <%= render :partial => "file_menu" %>
        </div>
        
        <table id="userfilesdisplay" class="resource_list">
              <%= render :partial => 'userfiles_table' %>
        </table>
        
        <center>
           Synchronization symbols:&nbsp;&nbsp;&nbsp;&nbsp;
           <% [ "InSync", "ProvNewer", "CacheNewer", "Corrupted", "ToCache", "ToProvider" ].each do |name| %>
           <%= status_html_symbol(name) %>:&nbsp;<%= name %>&nbsp;&nbsp;&nbsp;&nbsp;
         <% end %>
        </center>
        <% end %>
</div>
</div>
