
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title("Files") %>

<% content_for :head do %>
  <%= javascript_include_tag 'userfiles' %>
  <%= stylesheet_link_tag    'userfiles' %>
<% end %>

<% content_for :scripts do %>
  <%= javascript_include_tag 'cbrain/userfiles/launch_task' %>
  <%= javascript_include_tag 'cbrain/userfiles/tools_interface' %>
<% end %>


<div id="userfiles_menus_and_filelist">
  <%= multi_form_tag(:method => :post, 'data-type' => 'script') do %>
    <div class="index_block">
      <div id="menu_bar">
        <%= render(:partial => 'file_menu') %>
      </div>

      <div id="userfiles_display">
        <%= render(:partial => 'userfiles_display') %>
      </div>

      <% sync_statuses = ['InSync', 'ProvNewer', 'CacheNewer', 'Corrupted', 'ToCache', 'ToProvider'] %>
      <%= center_legend("Synchronization symbols:", sync_statuses.map { |s| [status_html_symbol(s), s] }) %>
    </div>
  <% end %>

  <div id="userfiles_dialogs">
    <%= render(:partial => 'dialogs') %>
  </div>

  <div id="userfiles_context_menu">
    <%= render(:partial => 'context_menu') %>
  </div>
</div>

<%= render(:partial => 'tools_interface') %>
