<%

#
# CBRAIN Project
#
# File manager main layout
#
# Original author: Pierre Rioux
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>
<table>
<% title 'Files' %>

<h1>Welcome. These are your files:</h1>
<tr>
<% form_tag userfiles_path, {:method => :get} do %>
   <td><%= text_field_tag :search_term, @search_term %></td>
   <%= hidden_field_tag :search_type, :name_search %>
   <td><%= submit_tag "Search Names", :name => nil %></td>
<% end %>
<tr/>

<tr>
<% form_tag userfiles_path, {:method => :get} do %>
   <td>
   <%= select_tag(
      :search_term, 
      %{<option value="">Select a Tag</option>} + options_for_select(current_user.tags.collect(&:name))
      ) 
   %>
   </td>
   <%= hidden_field_tag :search_type, :tag_search %>
   <td><%= submit_tag "Search Tags", :name => nil %></td>
<% end %>
   <td><%= button_to "Manage Tags", tags_path, :method => :get %></td>
</tr>
</table>

<strong>Show:</strong>
<%= link_to 'All Files', userfiles_path %>
<%= link_to 'MINC Files', userfiles_path(:search_type => :minc) %>
<%= link_to 'JIV Files', userfiles_path(:search_type => :jiv) %>

<% form_tag(operation_userfiles_path, :method => :post) do %>

<table>
   <tr>
       <th><%= link_to 'Select All', userfiles_path(:select_all => true) %></th>
       <th>Filename</th>
       <th>Size</th>
       <th colspan="2">Tags</th>
       <th/>
   </tr>
   <% for userfile in @userfiles %>
       <tr class="<%= cycle('list-odd', 'list-even') %>">
         <td><%= check_box_tag("filelist[]", userfile.id.to_s, params[:select_all]) %></td>
         <td>
            <%= '&nbsp' * 4 * userfile.level + '&#x21b3;' if userfile.level > 0 -%>
            <%= link_to h(userfile.name), userfile %>
         </td>
         <td><%= h(userfile.size) -%></td>
         <td><%= userfile.tags.collect{|u| h(u.name)}.join("<br>") %></td>
         <td><%= link_to 'Edit Tags', edit_userfile_path(userfile), :method => :get %></td>
       </tr>
   <% end %>
</table>

Operations: <%= select_tag(
   "operation", 
    '
    <option value="">Select an operation</option>

    <optgroup label="Scientific operations">
    <option value="minc2jiv">Convert selected MINC files to JIV</option>

    <optgroup label="Management operations">
    <option value="delete">Delete selected files</option>
    '
   ) %>

<%= submit_tag("Apply Operation") %>

<% end %>

<br/>

<h3>Add a new file:</h3>

<%
   form_tag( "/userfiles", :multipart => true, :method => :post ) do
%>
      <%= file_field_tag("upload_file") %>
      <%= submit_tag("Upload file")     %>
<% end %>
