
<% title 'Files' %>

<!-- **************************************************************************** -->
<!-- CELL #1 : The two menu button lines, the pagination, and the userfiles table -->
<!-- **************************************************************************** -->

<div class="display_cell" id="userfiles_menus_and_filelist">

  <% form_tag(url_for(:controller => 'userfiles', :action => 'download'), :method => :post, "data-datatype"  => "script") do %>

  <div class="menu_bar">
    <span class="button_set">  
    <% button_with_dropdown_menu("Scientific Tools")  do %>
          
             <%= render :partial => 'userfiles/tool_management_scientific' %>
          
      <% end %>

      <% button_with_dropdown_menu("Conversion Tools")  do %>
          
            <%= render :partial => 'userfiles/tool_management_conversion' %>
          
      <% end %>
      <% button_with_dropdown_menu("Download") do %>
        Specify Download File Name (optional):
        <%= text_field_tag :specified_filename %>
        <%= hijacker_submit_button("Download Files", :method  => :get) %>
      <% end %>

      <% button_with_dropdown_menu("Update Attributes") do %>
          <h4>Tags</h4>
          <%= render :partial => 'userfiles/tag_table'%>
          <hr>
          <h4>Projects</h4>
          Change Project: 
          <%= select(:userfile, :group_id, @user_groups.collect{|g| [g.name, g.id] }, {:selected => @default_group} , :class => :group) %>
          <%= hijacker_submit_button("Update Projects", :url  => url_for(:action  => :update_multiple), :method  => :put) %>
          <P>
          Project Permission Update: 
          <%= select(:userfile, :group_writable, [['Read Only', false],['Read/Write', true]]) %>
          <%= hijacker_submit_button("Update Permissions", :url  => url_for(:action  => :update_multiple), :method  => :put) %> 
          <hr>
          Update Parent-Child Relationships:
          <%= hijacker_submit_button("Update",  :url  => url_for(:action  => :new_parent_child ),
                                                       :overlay => true,
                                                       :width  => 600,
                                                       :height  => 100, 
                                                       :method  => :get) 
          %>
          <hr>
          Update File Type: <%= select_tag :file_type, grouped_options_for_select([["Files", SingleFile.valid_file_types.map{|c| [c, c]}], ["Collections", FileCollection.valid_file_types.map{|c| [c, c]}] ]) %>
          <%= hijacker_submit_button("Update File Type", :url  => url_for(:action  => :update_multiple), :method  => :put) %> 
      <% end %>

      <% button_with_dropdown_menu("Move/Copy")  do %>
          <%= data_provider_select("data_provider_id") %>
          <%= hijacker_submit_button("Move Files", :url  => url_for(:action  => :change_provider), :method  => :post) %>
          <%= hijacker_submit_button("Copy Files", :url  => url_for(:action  => :change_provider), :method  => :post) %>
      <% end %>
     </span>
  </div>
  
  <div class="menu_bar">
    <%= render :partial => "userfiles/file_menu" %>
  </div>

  <div class="pagination">
    <%= render :partial => 'userfiles/pagination' %>
  </div>

  <div>
    <table class="resource_list" id="userfiles_table">
      <%= render :partial => 'userfiles/userfiles_table' %>
    </table>

    <center>
       Synchronization symbols:&nbsp;&nbsp;&nbsp;&nbsp;
       <% [ "InSync", "ProvNewer", "CacheNewer", "Corrupted", "ToCache", "ToProvider" ].each do |name| %>
         <%= status_html_symbol(name) %>:&nbsp;<%= name %>&nbsp;&nbsp;&nbsp;&nbsp;
       <% end %>
    </center>
  </div>

  <% end %> <!-- form -->
</div> <!-- cell #1 -->

<!-- ********************* -->
<!-- CELL #2 : The SIDEBAR -->
<!-- ********************* -->

<div class="display_cell sidebar">   
  <%= render :partial => "userfiles/sidebar" %>
</div>

