<%

#
# CBRAIN Project
#
# File manager main layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<% title 'Files' %><% #Side bar stuff goes here -%>
<%= javascript_tag "var current_options;" %>

<div id="sidebar_wrapper" style="display:none;">
  <div id="sidebar">
    <br><br>
   <h3>
      Filters<br> 
      <small><small><small><%= link_to 'Create Custom Filter', new_custom_filter_path %></small></small></small><br>
   </h3>
   <ul>
   <li><%= link_to_remote 'All Files', :url  => {:action  => :index, :search_type  => :unfilter}, :method  => 'get' %> </li> 
   <li><%= link_to_remote 'MINC Files', :url  => {:action  => :index, :search_type => :minc}, :method  => 'get' %> </li>
   <li><%= link_to_remote 'JIV Files', :url  => {:action  => :index, :search_type => :jiv}, :method  => 'get' %></li>
   <% current_user.custom_filters.each do |filter| %>
   <li>
   <%= link_to_remote filter.name, :url  => {:action  => :index, :custom_filter  => filter.id}, :method  => 'get' %><br>
   <small><small>
      <%= link_to 'Edit', edit_custom_filter_path(filter) %> 
      <%= link_to 'Delete', filter, :confirm => "Are you sure you want to delete filter '#{filter.name}'?", :method => :delete %>  
   </small></small>
   </li>
   <% end %>
   </ul>
   <br>
   <h3>
      Filter Tags<br> 
      <small><small><small><%= link_to 'Manage Tags', tags_path %></small></small></small>
   </h3>
   <ul>
   <% current_user.tags.collect(&:name).each do |tag| %> 
     <li><%= link_to_remote tag, :url  => {:action  => :index, :tag_filter => tag}, :method  => 'get' %></li>
   <% end %> 
   </ul>
   
   <h3>
      Current filters
    </h3>
    <div id="current_filters">
      <%= render :partial => 'current_filters' %>
    </div>

  </div>
</div>   <!-- End id="sidebar" -->

<div class="generalcontent" id="main_userfiles_content"  style="width: 90%">
  <div id="userfiles_top_menu">
    <%= userfiles_menu_option('Tags', 'tag_option', 'tag_table') %>
    <%= userfiles_menu_option('Groups', 'group_option', 'groups_table') %>
    <%= userfiles_menu_option('Management', 'management_option', 'file_management') %>
    <%= userfiles_menu_option('Conversion Tools', 'conversion_tool_option', 'tool_management_conversion') %>
    <%= userfiles_menu_option('Scientific Tools', 'scientific_tool_option', 'tool_management_scientific') %>
    
    <%= userfiles_menu_option('Upload File', 'upload_option', 'new')%>
    <%= userfiles_menu_option('Jiv Viewer', 'jiv_option', 'jiv/index') %>
  </div>

  <br>
  <div class="userfiles_upper_form">
    <div id="upload_option_div" class="upper_form" style="display:none">
    </div>
    <div id="jiv_option_div" class="upper_form" style="display:none">
    </div>
  </div>

  

  <% form_tag(operation_userfiles_path(:method => :post)) do %>
  <div class="userfiles_upper_form">
    <div id="tag_option_div" class="upper_form" style="display:none">
    </div>
    <div id="group_option_div" class="upper_form" style="display:none">
    </div>
    <div id="management_option_div" class="upper_form" style="display:none">
    </div>
    <div id="conversion_tool_option_div" class="upper_form" style="display:none">
    </div>
    <div id="scientific_tool_option_div" class="upper_form" style="display:none">
    </div>
  </div>

  <br><br>

  <%= link_to_function "<< Show Filters",  {:class  => 'action_link', :id => 'filter_option_show'} do |page|
        page['sidebar_wrapper'].visual_effect(:blind_right, :duration  => 0.5)
        page['main_userfiles_content'].visual_effect(:morph, :style  => "width:87%", :duration  => 0.5)
        page['filter_option_show'].hide
        page['filter_option_hide'].show
      end
  %>

  <%= link_to_function ">> Hide Filters",  {:class  => 'action_link', :id => 'filter_option_hide', :style  => 'display:none;'} do |page|
        page['sidebar_wrapper'].visual_effect(:blind_left, :duration  => 0.5)
        page['main_userfiles_content'].visual_effect(:morph, :style  => "width:90%", :duration  => 0.5)
        page['filter_option_hide'].hide
        page['filter_option_show'].show
      end
  %>

      <table id="userfilesdisplay" class="resource_list">
          <%= render :partial => 'userfiles_table' %>
      </table>
  <% end %>
  
</div>


