<%

#
# CBRAIN Project
#
# File manager main layout
#
# Original author: Pierre Rioux
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>
<% title 'Files' %>

<table class="userfiles">
   <tr>
   
    <td colspan="2">
   <h1>Welcome. These are your files:</h1>

   <br>

   <strong>Current filters:</strong>
   <% session[:current_filters].each do |filter|%>
      <%= filter %>
      <%= link_to "x", userfiles_path(:remove_filter  => filter) %>
      <%= ' / ' %>
   <% end %>
   <% if current_user.has_role?(:admin) %>
      <br><br>
      <strong>Admin options:</strong>
      <%= link_to session[:view_all] == 'on' ? "Show your files ": "Show all files on the system", userfiles_path(:view_all => set_toggle(session[:view_all]) ) %>
      <br><br>
   <% end %>
   </td>
   </tr>
   
   <tr>
   <td>
   <% form_tag(operation_userfiles_path(:method => :post)) do %>
    
         <% if session[:pagination] == 'on' %>
              <%= will_paginate %>
           <% end %>
         <% if @userfiles.total_pages > 1 %>  
           <%= link_to "Toggle Pagination", userfiles_path(:pagination => set_toggle(session[:pagination])) %>
         <% end %>
         <%= link_to "Tree View", userfiles_path(:order  => 'lft') %>
      <table class="userfiles">
         <tr>
             <th><%= link_to 'Select All', userfiles_path(:select_all => true) %></th>
             <% if ((session[:view_all] == 'on' && current_user.has_role?(:admin))|| current_user) %>
               <th><%= link_to "Owner", userfiles_path(:order  => 'user_id') %><%= set_order_icon('user_id', session[:order]) %></th>
             <% end %>
             <th><%= link_to "Filename", userfiles_path(:order  => 'name') %><%= set_order_icon('name', session[:order]) %></th>
             <th><%= link_to "Creation Date", userfiles_path(:order  => 'created_at') %><%= set_order_icon('created_at', session[:order]) %></th>
             <th><%= link_to "Size", userfiles_path(:order  => 'size') %><%= set_order_icon('size', session[:order]) %></th>
             <th>Tags</th>
             <% if session[:view_all] == 'on' && current_user.has_role?(:admin)%>
               <th><%= link_to "Groups", userfiles_path(:order  => 'group_id') %><%= set_order_icon('group_id', session[:order]) %></th>
	     <% else %>
		<th>Groups</th>
	     <% end %>
         </tr>
            <%= render :partial => 'userfile', :collection  => @userfiles %>
      </table>      
   
         <%= submit_tag("Download Selected Files") %>
         <%= submit_tag("Merge Files into Collection") %>
         <%= submit_tag("Delete Selected Files", :confirm  => 'Are you sure you want to delete the selected files?') %><br><br>
        Operations: <%= select_tag(
              "operation", 
               '
               <option value="">Select an operation</option>
               <optgroup label="Scientific operations">
               <option value="DrmaaMinc2jiv">Convert selected MINC files to JIV</option>
               <option value="DrmaaDcm2mnc">Convert selected DICOM collection to MINC files</option>
               <option value="DrmaaCivet">Process selected MINC files through a simple CIVET pipeline</option>
               <option value="DrmaaMincaverage">Average selected MINC files with mincaverage</option>
	       	   <option value="DrmaaMincmath">Mincmath</option>
	           <option value="DrmaaCw5filter">Apply a filter over a simple optical cw5 file</option>
			   <option value="DrmaaCw5">Process selected Cw5 files through a simple optical Cw5 pipeline</option>
  	       <option value="DrmaaMincresample">Launch Mincresample</option>

'
              ) %>

           <%= submit_tag("Apply Operation") %><br><br>
            <% if @user_tags %>
              <br>
                 Tag update:
                 <%= render :partial  => 'tag_table', :locals  => {:tags => @user_tags} %>
                 <%= submit_tag("Update Tags for Selected Files") %>  
              <% end %>

	<% submit_tag("Apply Operation")%><br><br><br>
	  <% if @user_groups %>
	  <br>
		Group Update:
		<%= render :partial => 'group_table', :locals => {:groups => @user_groups} %>
		<%= submit_tag("Update Groups for Selected Files") %>
	  
	<% end %>

   <% end %>
   </td>
   <td class="table-menu">
      <table>
      <% form_tag userfiles_path, {:method => :get} do %>
      <%= hidden_field_tag :search_type, 'name_search' %>
      <tr>
         <td colspan="2"><%= text_field_tag :search_term, @search_term %></td>
         <td><%= submit_tag "Search Names" %></td>
      <tr/>
      <% end %>
      </table>

      <strong>Add filter:</strong>
      <%= link_to 'All Files', userfiles_path(:search_type  => :none) %>
      <%= link_to 'MINC Files', userfiles_path(:search_type => :minc) %>
      <%= link_to 'JIV Files', userfiles_path(:search_type => :jiv) %>
      <%= link_to 'CW5 Files', userfiles_path(:search_type => :cw5) %>
      <br>
      <strong>Filter tags:</strong>
      <% current_user.tags.collect(&:name).each do |tag| %>
         <%= link_to tag, userfiles_path(:search_type  => :tag_search, :search_term => tag) %>
      <% end %>
      <% form_tag tags_path do %>
         <%= text_field_tag 'tag[name]' %>
         <%= submit_tag "New Tag" %>
      <% end %>
      <%= button_to "Manage Tags", tags_path, :method => :get %>  
   
      <hr>
      <h3>Add a new file:</h3>

      <%
         form_tag( "/userfiles", :multipart => true, :method => :post ) do
      %>

            <%= file_field_tag("upload_file") %>
            <%= submit_tag("Upload file")     %>
            <br>
            Archived files: <%= select_tag(:archive, options_for_select([['Save file', 'save'],['Create collection', 'collection'], ['Civet collection', 'civet collection' ], ['Auto-extract', 'extract']])) %>
            <br><br>
            <% if @user_tags %>
               Tags for uploaded file:
               <%= render :partial  => 'tag_table', :locals  => {:tags => @user_tags} %>
            <% end %>
	     <br><br>
	     <% if @user_groups %>
               Groups for uploaded file:
               <%= render :partial  => 'group_table', :locals  => {:groups => @user_groups} %>
            <% end %>
      <% end %>
    </td>
</tr>
 
</table>




