<%

#
# CBRAIN Project
#
# File manager main layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%><% title 'Files' %><% #Side bar stuff goes here -%>
<%= javascript_include_tag "tableH" %>
<%= javascript_include_tag 'prototype' %>
<% content_for(:sidebar) do %>
  
  <% 
#If there is something going on - a notice that something has been done - put here
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

      <% if current_user && (check_role(:admin) || check_role(:site_manager)) %>
      <h3>
        Admin Options
      </h3>
    <ul>
      <li>
        <%= link_to session[:view_all] == 'on' ? "Show your files ": "Show all files on the system", userfiles_path(:view_all => set_toggle(session[:view_all]) ) %>
      </li>
    </ul>
    
      <br>
      <% end %>
          <h3>
            Current filters
          </h3>
        <ul>
          <% session[:basic_filters].each do |filter|%>
             <li>
               <%= filter %><%= link_to "    x", userfiles_path(:remove_basic_filter  => filter) %>
             </li>
          <% end %>
          <% session[:custom_filters].each do |filter|%>
             <li>
               <%= "custom:#{filter}" %><%= link_to "    x", userfiles_path(:remove_custom_filter  => filter) %>
             </li>
          <% end %>
          <% session[:tag_filters].each do |filter|%>
              <li>
                <%= "tag:#{filter}" %><%= link_to "    x", userfiles_path(:remove_tag_filter  => filter) %>
              </li>
          <% end %>
        </ul><% if current_user.has_role?(:admin) %>
        
        <% end %>
        
        <br>
        
        <h3>Filters <small><small><small><%= link_to 'Create Custom Filter', new_custom_filter_path %></small></small></small><br></h3>
        <ul>
        <li><%= link_to 'All Files', userfiles_path(:search_type  => :unfilter) %> </li> 
        <li><%= link_to 'MINC Files', userfiles_path(:search_type => :minc) %> </li>
        <li><%= link_to 'JIV Files', userfiles_path(:search_type => :jiv) %></li>
        <% current_user.custom_filters.each do |filter| %>
        <li>
        <%= link_to filter.name, userfiles_path(:custom_filter  => filter.id) %>
        <small><small>
        <%= link_to 'Edit', edit_custom_filter_path(filter) %> 
        <%= link_to 'Delete', filter, :confirm => "Are you sure you want to delete filter '#{filter.name}'?", :method => :delete %>  
        </small></small>
        </li>
        <% end %>
        </ul>
        <br>
        <h3>Filter Tags</h3>
        <ul>
        <% current_user.tags.collect(&:name).each do |tag| %> 
          <li><%= link_to tag, userfiles_path(:tag_filter => tag) %></li>
        <% end %> 
        </ul>
      <% end %> 
      
<div class = "userfilescontent">

<div class = "filesheader">
    
    
    
    <div class = "container">
      <%= button_to_function "Tag Management" do |page|
        page.replace_html "filesheadermenu2", :partial => 'tag_management'
      end %>
    </div>    


    <div class = "container">
      <%= button_to_function "Tags" do |page|
        page.replace_html "filesheadermenu", :partial => 'tag_table', :locals => {:tags => @user_tags} 
      end %>
    </div>

    <div class = "container"> 
      <%= button_to_function "Groups" do |page|
        page.replace_html "filesheadermenu", :partial => 'groups_table', :locals => {:groups => @user_groups }
      end %>    
    </div>
   
    <div class = "container">
    <%= button_to_function "Management" do |page|
        page.replace_html "filesheadermenu", :partial => 'file_management' 
     end %>    
   </div>
    
   <div class = "container">
        <%= button_to_function "Conversion Tools" do |page|
          page.replace_html "filesheadermenu", :partial => 'tool_management_conversion'
        end %>
    </div>
    
    <div class = "container">
          <%= button_to_function "Scientific Tools" do |page|
            page.replace_html "filesheadermenu", :partial => 'tool_management_scientific' 
          end %>
      </div>
    
    <div class = "container">
      <%= button_to_function "Upload File" do |page| 
       page.redirect_to(:controller => :userfiles, :action => :new ) 
      end %>
    </div>
      
    <div class = "container">
      <%= button_to_function "Jiv Viewer" do |page| 
       page.redirect_to(jiv_path) 
      end %>
    </div>
</div>
    
<div class = "filesheader">
      <div class = "search">
      <table class="searchtable">
          <% form_tag userfiles_path, {:method => :get} do %>
          <%= hidden_field_tag :search_type, 'name_search' %>
          <tr>
          <td colspan="2">
              <%= text_field_tag :search_term, @search_term %>
          </td>
          <td>
              <%= submit_tag "Search Names" %>
          </td>
          </tr>
        <% end %>
      </table>
      </div>
     
     <div id = "filesheadermenu2">
     </div>
     
     <% form_tag(operation_userfiles_path(:method => :post)) do %>
     
      <div id ="filesheadermenu">
      </div>
      
   </div>
</div>

<div class = "pages">
     <% if session[:pagination] == 'on' %>
        <%= will_paginate %>
      <% end %>
      <% if @userfile_count > @userfiles_per_page %>
          <%= link_to "Toggle Pagination", userfiles_path(:pagination => set_toggle(session[:pagination])) %>
      <% end %>
</div>
  
<table class="userfilesdisplay" onMouseOut="javascript:highlightTableRowVersionA(0);">
    <thead>
        <tr>
          <th>
            <%= link_to 'Select All', userfiles_path(:select_all => true, :page  => params[:page]) %>
          </th>
          <th>
            <%= link_to "Filename", userfiles_path(:order  => 'name') %>
            <%= set_order_icon('name', session[:order]) %>
          </th>
          <th>
            <%= link_to "Owner", userfiles_path(:order  => 'user_id') %>
            <%= set_order_icon('user_id', session[:order]) %>
          </th>
          <th>
            <%= link_to "Creation Date", userfiles_path(:order  => 'created_at') %>
            <%= set_order_icon('created_at', session[:order]) %>
          </th>
          <th>
            <%= link_to "Size", userfiles_path(:order  => 'size') %>
            <%= set_order_icon('size', session[:order]) %>
          </th>
          <th>
            Tags
          </th>
          <th>
            <%= link_to "Groups", userfiles_path(:order  => 'group_id') %>
            <%= set_order_icon('group_id', session[:order]) %>
          </th>
          <th>
             <%= link_to "Group Permissions", userfiles_path(:order  => 'group_writable') %>
             <%= set_order_icon('group_writable', session[:order]) %>
          </th>
          <th>
             <%= link_to "Provider", userfiles_path(:order  => 'provider_id') %>
              <%= set_order_icon('provider_id', session[:order]) %>
          </th>
          <th>
            Site
          </th>
        </tr>
      </thead>
      <tbody>
      <%= render :partial => 'userfile', :collection  => @userfiles %>
      </tbody>
    </table>
    <% end %>
</div>
</div>
</div>
