
<% title 'Files' %>

<!-- **************************************************************************** -->
<!-- CELL #1 : The two menu button lines, the pagination, and the userfiles table -->
<!-- **************************************************************************** -->

<div id="userfiles_menus_and_filelist">

  <%= multi_form_tag(:method => :post, "data-type"  => "script") do %>
    <%= hidden_field_tag :page, @current_page %>
      
      <%= render :partial => "userfiles/file_menu" %>
      <div id="userfiles_display" class="index_block">
        <%= render :partial => 'userfiles_display' %>
      </div>
      

      <center>
        Synchronization symbols:&nbsp;&nbsp;&nbsp;&nbsp;
        <% [ "InSync", "ProvNewer", "CacheNewer", "Corrupted", "ToCache", "ToProvider" ].each do |name| %>
          <%= status_html_symbol(name) %>:&nbsp;<%= name %>&nbsp;&nbsp;&nbsp;&nbsp;
        <% end %>
      </center>
  <% end %> <!-- form -->
</div> <!-- cell #1 -->



