
<% title 'Files' %>

<!-- **************************************************************************** -->
<!-- CELL #1 : The two menu button lines, the pagination, and the userfiles table -->
<!-- **************************************************************************** -->

<div class="display_cell" id="userfiles_menus_and_filelist">

  <%= multi_form_tag(:method => :post, "data-datatype"  => "script") do %>

  <%= render :partial => "userfiles/file_menu" %>

  <div id="pagination" class="pagination">
    <%= render :partial => 'userfiles/pagination' %>
  </div>

  <div>
    <table class="resource_list" id="userfiles_table">
      <%= render :partial => 'userfiles/userfiles_table' %>
    </table>

    <center>
       Synchronization symbols:&nbsp;&nbsp;&nbsp;&nbsp;
       <% [ "InSync", "ProvNewer", "CacheNewer", "Corrupted", "ToCache", "ToProvider" ].each do |name| %>
         <%= status_html_symbol(name) %>:&nbsp;<%= name %>&nbsp;&nbsp;&nbsp;&nbsp;
       <% end %>
    </center>
  </div>

  <% end %> <!-- form -->
</div> <!-- cell #1 -->

<!-- ********************* -->
<!-- CELL #2 : The SIDEBAR -->
<!-- ********************* -->

<div class="display_cell sidebar">   
  <%= render :partial => "userfiles/sidebar" %>
</div>

