<%

#
# CBRAIN Project
#
# File manager main layout
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<% title 'Files' %><% #Side bar stuff goes here -%>

<div id = "content_userfiles">
 <div id = "file_manager_sidebar">   
     <br>
     <div class = "upload_file_format">
        <% overlay_dialog_with_button({:name => "Upload", :partial => "new", :button_text => "Upload File"}) %> 
     </div>
     <br>
     <br>
     <%= render :partial => "sidebar" %>
 </div>
   
   <div class="generalcontent">
   
        <% form_tag(operation_userfiles_path(:method => :post)) do %>
        
        <div id="userfiles_top_menu">
            <% button_with_dropdown_menu(:title => "Scientific Tools")  do %>
                <center>
                 	<%= render :partial => 'tool_management_scientific' %>
                </center>
            <% end %>

            <% button_with_dropdown_menu(:title => "Conversion Tools")  do %>
                <center>
               		<%= render :partial => 'tool_management_conversion' %>
                </center>
            <% end %>
              <div class = 'help_button_userfiles'>
                  <% button_with_dropdown_menu(:title => "Help") do %>
                    <a class = "overlay_link" data-url ="/doc/userfiles/file_info.html">Files Info</a>
                      <br>
                      <a class = "overlay_link" data-url ="/doc/userfiles/tools_overview.html">Tools Info</a>
                      <br>
                      <a class = "overlay_link" data-url ="/doc/userfiles/file_formats_overview.html">File Formats</a>
                  <% end %>     
              </div>
        </div>        
        <br>        
        <br>
        
      <div id = "file_menu">
          <%= render :partial => "file_menu" %>
          <div id = "pagination" colspan = "4">
              <%= render :partial => 'pagination' %>
          </div>
      </div>
             
      <table id="userfilesdisplay" class="resource_list">
           <%= render :partial => 'userfiles_table' %>
      </table>
        
      <center>
           Synchronization symbols:&nbsp;&nbsp;&nbsp;&nbsp;
         <% [ "InSync", "ProvNewer", "CacheNewer", "Corrupted", "ToCache", "ToProvider" ].each do |name| %>
           <%= status_html_symbol(name) %>:&nbsp;<%= name %>&nbsp;&nbsp;&nbsp;&nbsp;
         <% end %>
      </center>
      <% end %>
   </div>
</div>
</div>