
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%= form_tag("/userfiles", :id => "file_upload", :multipart => true, :method => :post) do %>

  <div>
    Select file to upload: <%= file_field_tag("upload_file")  %>
    <% limit = RemoteResource.current_resource.meta[:upload_size_limit] %>
    <% if limit.present? %>
      <span class="warning">Upload size limit: <%= limit %></span>
    <% end %>
  </div>
  </p>

  <div class="display_cell">
    <fieldset>
      <legend>Where to upload the file</legend>
      Data Provider for uploaded file:<BR>
      <%= data_provider_select :data_provider_id, { :data_providers => @data_providers } %><%= overlay_data_providers_descriptions(@data_providers) %>

    </fieldset>

    <fieldset>
      <legend>Content handling</legend>
      Archive options (for zip or tar files):<BR>
      <%= select_tag(:archive, options_for_select([['Save file', 'save'],['Create collection', 'collection'], ['Auto-extract', 'extract']])) %></br>
      <small>
        <strong>Save file:</strong></br> Save the file or the archive to the Data Provider as is.</br>
        <strong>Create collection:</strong></br> Extract all the files from the archive and create a single collection.</br>
        <strong>Auto-extract:</strong></br> Extract the files from the archive and individually register them as entries.<br>
      </small>
    </fieldset>
  </div>

  <div class="display_cell">
   <fieldset>
      <legend>Other properties (optional)</legend>
      File type:<br>
      <%= userfile_type_select(:file_type, {}, :include_blank => "(Auto detection)") %><br>
      <small>(Applies to each file when auto-extracting)</small>
      </p>
      <% if current_project %>
        <%= hidden_field_tag 'userfile[group_id]', current_project.id %>
      <% else %>
        Project for uploaded file:<br>
        <%= group_select 'userfile[group_id]', { :groups => current_user.available_groups, :selector => current_user.own_group } %>
        </p>
      <% end %>

      Project permissions:<br>
      <%= select(:userfile, :group_writable, [['Read Only', false],['Read/Write', true]]) %>
      </p>

      Select tags for file:<br>
      <select name="tags[]" multiple="multiple">
        <%= options_from_collection_for_select @user_tags, 'id', 'name', {:include_blank => true, :selected => nil}      %>
      </select>
    </fieldset>
  </div>
  </p>

  <% content_for :scripts do %>
    <%= javascript_tag (render :partial => "file_upload.js.erb", :formats => [:js]).to_s %>
  <% end %>

  <div><%= submit_tag("Upload file") %></div>
<%end%>
