
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title("Quality Control") %>

<div class="row menu_bar">
  <div class="col-xs-12">
    <div class="well well-sm">
      <%= button_to "Finished", {:action => :index}, :class => "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <%= ajax_form_tag url_for(:action  => :quality_control_panel), :target => "#qc_left_panel" do %>
      <%= ajax_element url_for(:action => :quality_control_panel), :data => {:file_ids => @filelist, :index => -1, :authenticity_token => form_authenticity_token}, :method => :post, :id => "qc_left_panel" do %>
        <span class="loading_message">Loading panel...</span>
      <% end %>
    <% end %>
  </div>
  <% if @filelist.size > 1 %>
    <div class="col-xs-6">
      <%= ajax_form_tag url_for(:action  => :quality_control_panel), :target => "#qc_right_panel" do %>
        <%= ajax_element url_for(:action => :quality_control_panel), :data => {:file_ids => @filelist, :index => 0, :authenticity_token => form_authenticity_token}, :method => :post, :id => "qc_right_panel" do %>
          <span class="loading_message">Loading panel...</span>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>

