
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>

<% title "File Info: #{@userfile.name}" %>

<h1>File details for <%= h @userfile.name %></h1>
<table>
   <tr class="list-even">
      <td><b>Name:</b></td>
      <td><%=h @userfile.name %></td>
   </tr class="list-odd">
   <tr class="list-even">
      <td><b>Owner:</b></td>
      <td><%=h @userfile.user.full_name %></td>
   </tr>
   <tr class="list-even">
      <td><b>Size:</b></td>
      <td><%=h @userfile.size %></td>
   </tr>
   <tr class="list-even">
      <td><b>Parent:</b></td>
      <td><%=h @userfile.parent.name rescue ""%></td>
   </tr>
   <tr class="list-even">
      <td><b>Children:</b></td>
      <td><%=@userfile.children.map{|c| h(c.name)}.join("<br>") %></td>
   </tr>
   <tr class="list-even">
      <td><b>Created at:</b></td>
      <td><%=h @userfile.created_at %></td>
   </tr>
   <tr class="list-even">
      <td><b>Modified at:</b></td>
      <td><%=h @userfile.updated_at %></td>
   </tr>
   <tr class="list-even">
      <td><b>Tags:</b></td>
      <td><%= @userfile.tags.collect{|u| h(u.name)}.join("<br>") %></td>
   </tr>
</table>

<%= link_to 'Index', userfiles_path %>
