
<% title "File Info" %>

<h2>File details for <%= h @userfile.name %></h2>

<div class="generalbox">

  <%= 
    file_link_table(@userfile, :joins => :data_provider, :conditions => {"data_providers.online" => true}, :access_requested  => :read,
                               :html  => {:class  => "action_link"}) 
  %>
  <br>
  
  <table class="property_list edit_file_table">
    
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Name:</th>
      <td colspan="2"><%= h @userfile.name %></td>
    </tr>
    
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Type:</th>
      <td><%= @userfile.pretty_type %></td>
      <td>
        <% unless @userfile.class == @userfile.suggested_file_type %>
          (<span class="warning">This file appears to be a <%= @userfile.suggested_file_type.pretty_type %>. You can edit the file type <%= link_to "here", edit_userfile_path(@userfile), :class  => "action_link" %></span>)
        <% end %>
      </td>
    </tr>
    
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Owner:</th>
      <td><%= link_to_user_if_accessible(@userfile.user) %></td>
      <td></td>
    </tr>
    
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Size:</th>
      <td><%= h(@userfile.format_size) %></td>
      <td><% if @userfile.size && @userfile.size >= 1_000 -%>
          = <%= @userfile.size %> bytes
          <% end -%>
      </td>
    </tr>  

    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Parent:</th>
      <td><%= link_to_userfile_if_accessible(@userfile.parent) %></td>
      <td></td>
    </tr>

    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Children:</th>
      <td><%= @userfile.children.sort {|a,b| a.name.casecmp(b.name)}.map {|u| link_to_userfile_if_accessible(u)}.join("<br>") %></td>
      <td></td>
    </tr>
 
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Created at:</th>
      <td><%=h(to_localtime(@userfile.created_at,:datetime)) %></td>
      <td>(<%= pretty_elapsed(Time.now - @userfile.created_at) %> ago)</td>
    </tr>

    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Modified at:</th>
      <td><%=h(to_localtime(@userfile.updated_at,:datetime)) %></td>
      <td>(<%= pretty_elapsed(Time.now - @userfile.updated_at) %> ago)</td>
    </tr>
 
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Project:</th>
      <td><%= link_to_group_if_accessible(@userfile.group) %></td>
      <td></td>
    </tr>
    
    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Project permission on file:</th>
      <td><%= h @userfile.group_writable? ? "Read/Write" : "Read" %></td>
      <td></td>
    </tr>

    <tr class="<%= cycle('list-odd', 'list-even') %>">
      <th class="right_align">Data Provider:</th>
      <td><%= link_to_data_provider_if_accessible(@userfile.data_provider) %>
      ( <%= h(@userfile.data_provider.class.to_s) %> )
      </td>
      <td>
          <% @userfile.sync_status.each do |syncstat| %>
            <%= render :partial => 'syncstatus', :locals => { :syncstat => syncstat } %>
          <% end %>
      </td>
    </tr>

    <% if current_user.has_role? :admin %>
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th class="right_align">Local Data Provider (cache) path:</th>
          <td colspan="2"><%= h(@userfile.cache_full_path) %></td>
      </tr>
      <% if @userfile.data_provider.respond_to?(:provider_full_path) %>
      <tr class="<%= cycle('list-odd', 'list-even') %>">
          <th class="right_align">Remote SSH Data Provider path:</th>
          <td colspan="2"><%= h(@userfile.data_provider.provider_full_path(@userfile)) %></td>
      </tr>
      <% end %>
    <% end %>

    <tr class="<%= cycle('list-odd', 'list-even') %>">
        <th class="right_align">Tags:</th>
        <td colspan="2">
            <%= @userfile.get_tags_for_user(current_user).map(&:name).join(", ") %>
        </td>
    </tr>
  </table>
  
  <% if current_user.tags %>
    <br>
    <% form_for :userfile, @userfile, :url => { :controller => :userfiles, :action => :update_multiple }, :html => { :method => :put } do |f| %>
      <%= hidden_field_tag "file_ids[]", @userfile.id %>
      <%= hidden_field_tag "redirect_action", userfile_path(@userfile) %>
      <select name="tags[]" multiple="multiple" style="width:150px" >
      <%= options_from_collection_for_select current_user.tags, 'id', 'name', @userfile.get_tags_for_user(current_user).map(&:id) %>
      </select>
      <br>
      <%= submit_tag "Update Tags" %>
    <% end %>
    <br>
  <% end %>
  
  <P>

  <% if @userfile.can_be_accessed_by?(current_user) %>
    <% unless @userfile.is_locally_synced? %>

      <P>

      <% if @sync_status =~ /^To/ %>
        <p>This data is currently being synchronized.</p>
      <% elsif ! (@userfile.data_provider.not_syncable?) %>
        <p>This data is not currently synchronized.<BR>
        Click <%= link_to "here", sync_to_cache_userfile_path(@userfile), :method  => :post %>
        to start the synchronization process.<br>
        This will allow you to view displayable contents<% if @userfile.is_a?(FileCollection) %> and extract files from this collection<% end %>.
        </p>
      <% end %>
      <% end %>
  
      <%= link_to "Edit File", edit_userfile_path(@userfile), :class  => "action_link" %>
    <% end %>
  
  <P>
    
  <% if @userfile.viewers && @userfile.viewers.size > 1 %>
    <% ajax_form_tag display_userfile_path(@userfile), :method  => :get, :target  => "#userfile_viewer", :reset_form  => false do %>
      <%= select_tag "viewer", options_for_select(@userfile.viewers.map{ |v| [v.name, v.name] }, @userfile.class.name.underscore) %>
      <%= submit_tag "Change View" %>
    <% end %>
  <% end  %>
  
  <P>
    
  <div id="userfile_viewer">
    <div class="display_userfile">   
      <% if @default_viewer %>
        <%= render :partial  => "userfiles/viewers/#{@default_viewer.partial}" %>
      <% end %>
    </div>
  </div>
    
  <P>

  <%= render :partial => "layouts/log_report", :locals  => { :log  => @log, :title => 'File Log' } %>

</div>

