
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id: index.html.erb 38 2008-10-31 17:13:03Z prioux $
#

-%>

<% title "File Info: #{@userfile.name}" %>

<h1>File details for <%= h @userfile.name %></h1>
<table>
   <tr class="list-odd">
      <th>Name:</th>
      <td><%=h @userfile.name %></td>
   </tr class="list-odd">
   <tr class="list-even">
      <th>Owner:</th>
      <td><%=h @userfile.user.full_name %></td>
   </tr>
   <tr class="list-odd">
      <th>Size:</th>
      <td><%=h @userfile.size %></td>
   </tr>
   <tr class="list-even">
      <th>Parent:</th>
      <td><%=h @userfile.parent.name rescue ""%></td>
   </tr>
   <tr class="list-odd">
      <th>Children:</th>
      <td><%=@userfile.children.map{|c| h(c.name)}.join("<br>") %></td>
   </tr>
   <tr class="list-even">
      <th>Created at:</th>
      <td><%=h(to_localtime(@userfile.created_at)) %></td>
   </tr>
   <tr class="list-odd">
      <th>Modified at:</th>
      <td><%=h(to_localtime(@userfile.updated_at)) %></td>
   </tr>
   <tr class="list-even">
      <th>Tags:</th>
      <td><%= @userfile.tags.collect{|u| h(u.name)}.join("<br>") %></td>
   </tr>
</table>

<%= link_to 'Index', userfiles_path %>
