<!doctype html>
<html lang="en">

<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2021
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% max_entries = 25 %>
<% title "Top #{max_entries} Tools By #{@mode == 'cpu' ? 'CPU' : 'count'}" %>

<head>
  <title><%= RemoteResource.current_resource.name.presence || "CBRAIN" %><%= yield :title %></title>
  <link rel="shortcut icon"                    type="image/png" href="/images/custom_logos/cb-small_white_blue.png">
  <link rel="apple-touch-icon" sizes="96x96"   type="image/png" href="/images/custom_logos/cb-small_white_blue.png">
  <link rel="apple-touch-icon" sizes="145x145" type="image/png" href="/images/custom_logos/cb-large_white_blue.png">
  <%= stylesheet_link_tag 'cbrain' %>
  <%= stylesheet_link_tag 'noc' %>
</head>

<body>
<div class="daily">

<h1>
<%= image_tag("custom_logos/cbrain-large_white_alpha.png", :id => "header_logo") %>
<%= yield :title %>
</h1>

<% max_width = 1500 %>
<% scale = lambda { |x| x * max_width / @max_val } %>

<% color = "blue" %>

<div class="noc_tools_table">
  <% @tools_stats[0..(max_entries-1)].each do |pair| %>
    <% tool,val = *pair %>
    <% pretty_val = val %>
    <% if @mode == 'cpu' %>
    <%   pretty_val = pretty_elapsed(pretty_val, :num_components => 1, :short => true) %>
    <% end %>
    <div class="noc_tools_row">
      <div class="noc_tools_name"><%= tool %></div>
      <div class="noc_tools_value"><%= pretty_val %></div>
      <div class="noc_tools_graph"><span class="noc_tools_bar" style="background-color: <%= color %>; width: <%= scale.(val) %>px"></span></div>
    </div>
  <% end %>
</div>

</div>

<div class="ip_address"><%= @ip_address %></div>
</body>
</html>
