
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%= error_messages_for(@tool) %>

<p>
 <%= f.label :name, "Tool Name:" %>
 <%= f.text_field :name %>
</p>

<p>
  <span title="PortalTask subclass which implements this tool.">
     <%= f.label :cbrain_task_class_name, "CbrainTask Class name:" %>
     <%= f.text_field :cbrain_task_class_name %>
  </span>
</p>

<p>
 <%= f.label :user_id, "Belongs to:" %>
 <%= user_select "tool[user_id]", @tool, :id => 'tool_user_id' %>
</p>

<p>
 <%= f.label :group_id, "Available to members of project:" %>
 <%= group_select "tool[group_id]", @tool, :id => 'tool_group_id' %>
</p>

<p>
  <%= f.label :category, "Category:" %>
  <%= f.select :category, Tool::Categories %>
</p>


<p>
  <%= f.label :license_agreements, "License agreements:" %><br>
  <%= f.text_area :license_agreements, :value => @tool.new_record? ? "" : @tool.license_agreements.join("\n") , :rows => 5, :cols => 40 %>
  <div class="field_explanation">Enter one agreement name per line. Note that only alphanumeric characters, underscores (_) and dashes (-) are accepted.</div>
</p>

<p>
  <%= f.label :description, "Description:" %><br>
  <%= f.text_area :description, :cols => 80, :rows => 10 %><br>
  <div class="field_explanation">The first line must should be a short summary, and the rest are for any special notes for the users.</div>
</p>

<p>
  <%= f.label :application_package_name, "Package name:" %><br>
  <%= f.text_field :application_package_name %><br>
</p>

<p>
  <%= f.label :application_type, "Tool type:" %><br>
  <%= f.text_field :application_type %><br>
</p>

<p>
  <%= f.label :application_tags, "Comma separated tags:" %><br>
  <%= f.text_field :application_tags %><br>
</p>

<p>
  <%= f.label :url, "Tool URL:" %><br>
  <%= f.text_field :url %><br>
</p>


<p>
  <%= f.label :select_menu_text, "Text for select box on the userfiles page:" %>
  <%= f.text_field :select_menu_text %>
</p>

<% if @tool && !@tool.new_record? %>
<p>
  Common configuration for all servers: <%= link_to "Edit", new_tool_config_path( :tool_id => @tool.id ) %><br/>
</p>
<p>
  Versions installed on the following execution servers:<br/>
  <table class="simple" width="100%">
    <% for bourreau in Bourreau.find_all_accessible_by_user(current_user).all %>
      <tr>
          <th colspan="6" class="centered">
            <%= link_to_bourreau_if_accessible(bourreau) %>
          </th>
      </tr>
      <% tcs = ToolConfig.where( :bourreau_id => bourreau.id, :tool_id => @tool.id ).all.to_a %>
      <% tcs << 'Dummy entry for "add new" row' %>
      <% rows = tcs.size %>
      <% tcs.each_with_index do |tc,i| %>
        <tr class="<%= cycle("list-odd", "list-even") %>">
          <% if i == rows - 1 %>
            <td colspan="6">
              <center>
              <% if rows <= 1 %>
                <%= html_colorize("(No specific versions configured).") %>
              <% else %>
                <%= pluralize(rows-1," version") + " configured." %>
              <% end %>
              <%= link_to "Add new", new_tool_config_path( :tool_id => @tool.id, :bourreau_id => bourreau.id ) %>
              </center>
            </td>
          <% else %>
            <td><%= overlay_description(tc.version_name + "\n" + tc.description) %></td>
            <td><%= link_to_group_if_accessible(tc.group) %></td>
            <td><%= pluralize((tc.ncpus || 1), "cpu") %></td>
            <td><%= link_to "Edit", edit_tool_config_path(tc) %></td>
            <td><%= link_to "Show", tool_config_path(tc) %></td>
            <td><%= link_to 'Delete', tc, :confirm => "Are you sure you want to delete version configuration '#{tc.version_name}'?", :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</p>
<% end %>

