
<%= f.error_messages %>

<p>
 Tool Name: 
 <%= f.text_field :name %>
</p>

<p>
  <span title="PortalTask subclass which implements this tool.">
    CbrainTask Class: 
     <%= f.text_field :cbrain_task_class %>
  </span>
</p>

<p>
 Belongs to:
 <%= user_select "tool[user_id]", @tool %>
</p>

<p>
 Belongs to group:
 <%= group_select "tool[group_id]", @tool %>
</p>

<p>
  <%= f.label :category %>: 
  <%= f.select :category, Tool::Categories %>  
</p>

<p>
  Description:<br>
  <%= f.text_area :description, :cols => 80, :rows => 10 %><br>
  <small>The first line must should be a short summary, and the rest are for any special notes for the users.</small>
</p>

<p>
  Text for select box on the userfiles page:
  <%= f.text_field :select_menu_text %>
</p>

<% if @tool && !@tool.new_record? %>
<p>
  Common configuration for all servers: <%= link_to "Edit", new_tool_config_path( :tool_id => @tool.id ) %><br/>
</p>
<p>
  Versions installed on the following execution servers:<br/>
  <table class="simple">
    <tr>
      <th>Execution Server</th>
      <th>Enabled?</th>
      <th colspan="5">Versions Configuration</th>
    </tr>
    <% for bourreau in @bourreaux %>
      <% tcs = ToolConfig.find(:all, :conditions => { :bourreau_id => bourreau.id, :tool_id => @tool.id }) %>
      <% tcs << 'Dummy entry for "add new" row' %>
      <% rows = tcs.size %>
      <% rowcolor = cycle("list-odd", "list-even") %>
      <% tcs.each_with_index do |tc,i| %>
        <tr class="<%= rowcolor %>">
          <% if i == 0 %>
            <td rowspan="<%= rows %>"><%= link_to_bourreau_if_accessible(bourreau) %></td>
            <td rowspan="<%= rows %>"><%= check_box_tag "tool[bourreau_ids][]", bourreau.id, @tool && @tool.bourreaux.include?(bourreau) %></td>
          <% end %>
          <% if i == rows - 1 %>
            <td colspan="5">
              <center>
              <% if rows <= 1 %>
                <%= red_if(true,"(No specific versions configured).") %>
              <% else %>
                <%= pluralize(rows-1," version") + " configured." %>
              <% end %>
              <%= link_to "Add new", new_tool_config_path( :tool_id => @tool.id, :bourreau_id => bourreau.id ) %>
              </center>
            </td>
          <% else %>
            <td><%= overlay_description(tc.description) %></td>
            <td><%= link_to_group_if_accessible(tc.group) %></td>
            <td><%= link_to "Edit", edit_tool_config_path(tc) %></td>
            <td><%= link_to "Show", tool_config_path(tc) %></td>
            <td><%= link_to 'Delete', tc, :confirm => "Are you sure you want to delete version configuration '#{tc.short_description}'?", :method => :delete %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
</p>
<% end %>

