
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">
  <% if current_user.has_role?(:admin_user) %>
    <%= new_model_button 'Create New Tool', new_tool_path %>
    <%= link_to 'Autoload Tools', { :action  => :create, :autoload  => true}, :method  => :post, :class => "button menu_button", :title => "Registers all subclasses of PortalTask as Tools" %>
    <%= link_to 'Access Reports', { :controller => :tool_configs, :action => :index }, :class => "button menu_button" %>
  <% end %>

  <%= overlay_ajax_link "Help", "/doc/tool/tool_info.html", :class  => "button menu_button" %>
</div>


<%= render :partial => 'shared/active_filters', :locals => {:model => :tool} %>

<%=
  dynamic_index_table(@tools,
    :id         => 'tools_table',
    :class      => [ :resource_list ],
    :sort_map   => {
      :name        => 'tools.name',
      :description => 'tools.description',
      :category    => 'tools.category',
      :owner       => 'users.login',
      :group       => 'groups.name'
    },
    :filter_map => {
      :owner    => 'user_id',
      :group    => 'group_id'
    }
  ) do |t|
%>
  <%
    t.column("Tool Name", :name,
      :sortable => true
    ) do |tool|
      if current_user.has_role?(:admin_user)
        link_to tool.name, { :action => :edit, :id => tool.id }
      else
        tool.name
      end
    end

    t.column("Description", :description,
      :sortable => true
    ) { |tool| overlay_description(tool.description) }

    t.column("Category", :category,
      :sortable => true,
      :filters  => basic_filters_for(@filtered_scope, @header_scope, Tool, :category)
    )

    t.column("Owner", :owner,
      :sortable => true,
      :filters  => association_filters_for(@filtered_scope, @header_scope, Tool, :user, :name_method => :login)
    ) { |tool| link_to_user_with_tooltip(tool.user) }

    t.column("Project", :group,
      :sortable => true,
      :filters  => association_filters_for(@filtered_scope, @header_scope, Tool, :group)
    ) { |tool| link_to_group_if_accessible(tool.group) }

    t.column("Execution & Versions", :exec) do |tool|
      tool.bourreaux
        .reject { |b| ! b.can_be_accessed_by?(current_user) }
        .sort { |a,b| a.name.casecmp(b.name) }
        .map do |b|
          tcs = ToolConfig
            .where(:bourreau_id => b.id, :tool_id => tool.id)
            .reject { |tc| ! tc.can_be_accessed_by?(current_user) }
            .size
          "#{link_to_bourreau_if_accessible(b)}#{" (#{pluralize tcs, "version"})" if tcs >= 1}"
        end
        .join('<br />')
        .html_safe
    end

    if current_user.has_role?(:admin_user)
      t.column("Access?", :access) do |tool|
        link_to 'Access?',
          {
            :controller => :tool_configs,
            :action     => :index,
            :tool_id    => tool.id
          },
          :class => "action_link"
      end
    end

    t.column("Help", :help) do |tool|
      path = tool.cbrain_task_class.constantize.public_path("edit_params_help.html") rescue nil
      overlay_ajax_link "Help", path.to_s if path
    end

    t.column("Info", :info) do |tool|
      path = tool.cbrain_task_class.constantize.public_path("tool_info.html") rescue nil
      overlay_ajax_link "Info", path.to_s if path
    end
  %>

<% end %>
