
<tr class="<%= cycle("list-odd", "list-even") %> row_highlight" id="tool_<%= tool.id %>" title="<%= h tool.description %>">
  <td><%=h tool.name %></td>
  <td><%= link_to_user_if_accessible(tool.user) %>
  <td><%= link_to_group_if_accessible(tool.group) %></td>
  <td><%= tool.bourreaux.sort{|a, b| a.name.casecmp(b.name)}.map{|b| link_to_bourreau_if_accessible(b)}.join("<br>") %></td>
  <td><%=h tool.category %></td>
  <% if current_user.has_role?(:admin) %>
    <td><%= link_to 'Edit', edit_tool_path(tool), :class  => "action_link" %></td>
    <td>
      <%= 
           link_to 'Delete', tool_path(tool), :class  => "action_link delete_button", 
                                              "data-confirm"  => 'Are you sure?', 
                                              "data-delete-selector"  => "#tool_#{tool.id}",
                                              "data-delete-text"  => "<td colspan='11' style='color:red; text-align:center'>Deleting...</td>"
       %>
    </td>
  <% else %>
    <td colspan="2"></td>
  <% end %>
    <td><a class="overlay_link" data-url = "/doc/tasks/<%=h tool.cbrain_task_class.from(12).downcase%>_options.html">Help</a>
    </td
  
</tr>

