
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="menu_bar">
  <% if current_user.has_role?(:admin) %>
    <%= new_model_button 'Create New Tool', new_tool_path %>
       
    <span title="Registers all subclasses of PortalTask as Tools">
      <%= link_to 'Autoload Tools', { :action  => :create, :autoload  => true}, :method  => :post, :class => " button" %>
    </span>
            
    <%= link_to 'Access Reports', { :controller => :tool_configs, :action => :index }, :class => " button" %>
  <% end %>

  <%= overlay_ajax_link "Help", "/doc/tool/tool_info.html", :class  => "button" %>
</div> 

<div class="active_status">
  <span class="active_status_left_side">
    <%= render :partial => 'shared/active_filters', :locals => {:model => :tool} %>
  </span>
</div>

<%= index_table(@tools, :class => "resource_list") do |t| %>
  <% 
    if current_user.has_role?(:admin)
      t.sort_column("Tool Name", Tool, :name) { |tool| link_to tool.name, { :action => :edit, :id => tool.id }}
    else
      t.sort_column("Tool Name", Tool, :name, &:name)
    end
    t.sort_column("Description", Tool, :description) { |tool|  overlay_description(tool.description) } 
    t.sort_column("Category", Tool, :category, :filters => basic_filters_for(@filtered_scope, @header_scope, Tool, :category), &:category)
    t.sort_column("Owner", User, :login, :filters => association_filters_for(@filtered_scope, @header_scope, Tool, :user, :name_method => :login)) { |tool| link_to_user_with_tooltip(tool.user) }
    t.sort_column("Project", Group, :name, :filters => association_filters_for(@filtered_scope, @header_scope, Tool, :group)) { |tool| link_to_group_if_accessible(tool.group) }
    t.describe_column("Execution & Versions") do |col|
      col.cell(:class => "left") do |tool|
        result = ""
        tool.bourreaux.sort{|a, b| a.name.casecmp(b.name)}.each do |b|
          tcs = ToolConfig.where( :bourreau_id => b.id, :tool_id => tool.id )
          tcs.reject! { |tc| ! tc.can_be_accessed_by?(current_user) }
          result += link_to_bourreau_if_accessible(b)
          if tcs.size >= 1
            result += " (#{pluralize tcs.size, "version"})"
          end
          result += "<br/>"
        end
        result.html_safe
      end
    end
    if current_user.has_role?(:admin)
      t.column("Access?") { |tool| link_to 'Access?', { :controller => :tool_configs, :action => :index, :tool_id => tool.id }, :class => "action_link" }
    end
    t.describe_column("Help/Info") do |col|
      col.cell do |tool|
        tool_plain_name = tool.cbrain_task_class.demodulize.underscore
        help_path = "/doc/tasks/#{tool_plain_name}_options.html"
        if File.exist?( Rails.root.to_s + "/public" + help_path )
          overlay_ajax_link "Help", help_path
        end
      end
      col.cell do |tool|
        tool_plain_name = tool.cbrain_task_class.demodulize.underscore
        info_path = "/doc/tasks/#{tool_plain_name}_info/#{tool_plain_name}_info.html"
        if File.exist?( Rails.root.to_s + "/public" + info_path )
          overlay_ajax_link "Info", info_path
        end
      end
    end
  %>
<% end %>

