
<% tool_plain_name = tool.cbrain_task_class.sub(/^CbrainTask::/,"").underscore %>

<tr class="<%= cycle("list-odd", "list-even") %> row_highlight" id="tool_<%= tool.id %>">
  <td><%= h tool.name %></td>
  <td><%= overlay_description(tool.description) %></td>
  <td><%= h tool.category %></td>
  <td><%= link_to_user_if_accessible(tool.user) %>
  <td><%= link_to_group_if_accessible(tool.group) %></td>
  <td class="left">
    <% tool.bourreaux.sort{|a, b| a.name.casecmp(b.name)}.each do |b| %>
      <% tcs = ToolConfig.find(:all, :conditions => { :bourreau_id => b.id, :tool_id => tool.id }) %>
      <% tcs.reject! { |tc| ! tc.can_be_accessed_by?(current_user) } %>
      <%= link_to_bourreau_if_accessible(b) %>
      <% if tcs.size >= 1 %>
        (<%= pluralize tcs.size, "version" %>)
      <% end %>
      <br/>
    <% end %>
  </td>

  <% if current_user.has_role?(:admin) %>
    <td><%= link_to 'Edit', edit_tool_path(tool), :class  => "action_link" %></td>
    <td>
      <%= 
          delete_button 'Delete', tool_path(tool), :class  => "action_link", 
                                                   :confirm  => 'Are you sure?', 
                                                   :target  => "#tool_#{tool.id}",
                                                   :target_text  => "<td colspan='12' style='color:red; text-align:center'>Deleting...</td>"
       %>
    </td>
  <% end %>
    
  <td><%= overlay_ajax_link "Help", "/doc/tasks/#{ tool_plain_name }_options.html" %>
  </td>
  <% info_path = "/doc/tasks/#{tool_plain_name}_info/#{tool_plain_name}_info.html" %>
  <td>
    <% if File.exist?( RAILS_ROOT + "/public" + info_path ) %>
        <%= overlay_ajax_link "Info", info_path %></td>
    <% end %>
  </td>
</tr>

