
<tr class="<%= cycle("list-odd", "list-even") %> row_highlight" id="tool_<%= tool.id %>" title="<%= h tool.description %>">
  <td><%=h tool.name %></td>
  <td><%=h tool.user.login %>
  <td><%=h tool.group.name %></td>
  <td><%= tool.bourreaux{g.name == bourreau.name}.sort{|a, b| a.name.casecmp(b.name)}.map{|g| link_to(g.name, bourreau_path(g))}.join("<br>") %></td>
  <td><%=h tool.category %></td>
  <% if current_user.has_role?(:admin) %>
    <td><%= link_to 'Edit', edit_tool_path(tool), :class  => "action_link" %></td>
    <td>
      <%= 
           link_to 'Delete', tool_path(tool), :class  => "action_link delete_button", 
                                              "data-confirm"  => 'Are you sure?', 
                                              "data-delete-selector"  => "#tool_#{tool.id}",
                                              "data-delete-text"  => "<td colspan='11' style='color:red; text-align:center'>Deleting...</td>"
       %>
    </td>
  <% else %>
    <td colspan="2"></td>
  <% end %>
</tr>

