<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<div class = "generalcontenttools">

   <div class = "generalbox">
     
<% form_for(@tool) do |f| %>
  <%= f.error_messages %>

  <p>
    Tool Name: 
    <%= f.text_field :tool_name %>
  </p>
  <p>
     Belongs to:
        <%= collection_select(:tool, :user_id, @users, :id, :full_name, {}, :class => :group) %>
  </p>
  <p>
     Belongs to group:
        <%= collection_select(:tool, :group_id, @groups, :id, :name, {}, :class => :group)%>
  </p>
  <p>
    Installed on the following bourreau: <br/>
    <% for bourreau in Bourreau.find(:all) %>
      <%= check_box_tag "tool[bourreau_ids][]", bourreau.id, @tool.bourreaux.include?(bourreau) %>
      <%= bourreau.name %>
    <% end %>
  </p>
  
    <p>
      <%= f.label :category %>
      <%= f.select :category, ["scientific tool", "conversion tool"] %>  
  </p>
  <p>
    <br/>
    <%= f.submit "Update tool" %>
  </p>
<% end %>
<%= link_to 'Show Tool', @tool %> |
<%= link_to 'Back', tools_path %>
</div>
</div>