
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Edit Tool' %>

<div class="container-fluid">
  <div class="row menu-bar">
    <div class="col-xs-12">
      <div class="well well-sm">
        <a href="<%= tool_path(@tool) %>" data-type="script" data-method="DELETE" data-confirm="Are you sure you want to delete '<%= @tool.name %>' ?" class="btn btn-primary"><span class="glyphicon glyphicon-trash"></span> Delete</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@tool) do |f| %>
        <%= render :partial => 'form_fields', :locals  => {:f  => f} %>
        <%= f.submit "Update tool", :class => "btn btn-primary btn-block" %>
      <% end %>
    </div>
  </div>

  <% if @tool.has_owner_access?(current_user) %>
    <div class="row">
      <div class="col-xs-12">
        <%= render :partial => "layouts/log_report", :locals  => { :log  => @tool.getlog, :title => 'Tool Log' } %>
      </div>
    </div>
  <% end %>

</div>






