
<% title 'Tools' %>

<div class="menu_bar menu_bar_left">
  <% if current_user.has_role?(:admin) %>
            
    <%= button_with_dropdown_menu('Create New Tool', :partial => 'new', :content_id => 'new_tool', :button_id => "new_tool_button") %>
       
    <span title="Registers all subclasses of PortalTask as Tools">
      <%= link_to 'Autoload Tools', { :action  => :create, :autoload  => true}, :method  => :post, :class => " button" %>
    </span>
            
    <%= link_to 'Manage Tools', { :controller => :tools, :action => :tool_management }, :class => " button" %>

    <%= link_to 'Access Reports', { :controller => :tool_configs, :action => :index }, :class => " button" %>
    <% unless @filter_params["filter_hash"].blank? %>
      <%= render :partial => "shared/manage_filter_button", :locals => {:model => :tool}  %>
    <% end %>
  <% end %>

  <%= overlay_ajax_link "Help", "/doc/tool/tool_info.html", :class  => "button" %>
</div> 

<P>
        
<table class="resource_list" id="tool_table">

  <tr>
    <th>Tool Name</th>
    <th>Description</th>
    <th>Category</th>
    <th>User</th>
    <th>Project</th>
    <th>Execution Server &amp; Versions</th>
    <% if current_user.has_role?(:admin) %>
      <th colspan="3">Operations</th>
    <% end %>
    <th colspan ="2">Help/Info</th>
  </tr>
   
  <% for tool in @tools %>
    <%= render :partial => 'tools/tool_table_row', :locals  => {:tool  => tool} %>
  <% end %>

</table>

