<%

#
# CBRAIN Project
#
# Revision_info="$Id$"
#

-%>

<div class = "generalcontent">

    <div class = 'help_button_drop_down'>
          <% button_with_dropdown_menu(:title => "Help") do %>
            <a class = "overlay_link" data-url = "/doc/tool/tool_info.html">Tool Information</a>
          <% end %>     
    </div>

<% if current_user.has_role?(:admin) %>
    <span title="Registers all subclasses of PortalTask as Tools">
            
        <%= javascript_tag "var current_options;" %> 

        <div class = "menu_bar">
             <% button_with_dropdown_menu({:title => 'Create New Tool', :partial => 'new'}, {:id => "new_tool_button"}) %>
       
                <%= link_to 'Autoload Tools', { :action  => :create, :autoload  => true}, :method  => :post, :class => " button" %>
            
            <%= link_to 'Tool Management', {:controller => "tools",  :action => "tool_management"}, :class => " button" %>
      
        </div> 
        
<% end %>

<table class="resource_list" id="tool_table">
  <tr>
    <th>Tool Name</th>
    <th>User</th>
    <th>Group</th>
    <th>Bourreau</th>
    <th>Category</th>
   
      <% form_tag({:controller => :tools, :action => :delete_tools}, :method => :delete) do %>
          <% if current_user.has_role?(:admin) %>
              <th colspan="2">Operations</th>
                <th class = "ck_box_delete"> <%= submit_button("Delete Tools", {:name => "commit", :onclick => "return confirm('Are you sure you want to delete the selected tools?')"}) 
          %></th>
        <% end %>
    
  </tr>

  <% for tool in @tools %>
    <%= render :partial => 'tools/tool_table_row', :locals  => {:tool  => tool} %>
  <% end %>
<% end %>

</table>



<%= link_to 'Tool Statistics', {:controller => "statistics", :action => "index"}, :class => "action_link" %>

</div>