
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Add New Tool' %>

<h2>Add New Tool</h2>

<%= error_messages_for @tool %>

<%= form_for @tool, :as => :tool, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="generalbox">
      <p>
       <%= f.label :name, "Tool Name:" %>
       <%= f.text_field :name %>
      </p>

      <p>
        <span title="PortalTask subclass which implements this tool.">
           <%= f.label :cbrain_task_class_name, "CbrainTask Class:" %>
           <%= f.text_field :cbrain_task_class_name %>
        </span>
      </p>

      <p>
       <%= f.label :user_id, "Belongs to:" %>
       <%= user_select "tool[user_id]", @tool, :id => 'tool_user_id' %>
      </p>

      <p>
       <%= f.label :group_id, "Available to members of project:" %>
       <%= group_select "tool[group_id]", @tool, :id => 'tool_group_id' %>
      </p>

      <p>
        <%= f.label :category, "Category:" %>
        <%= f.select :category, Tool::Categories %>
      </p>


      <p>
        <%= f.label :license_agreements, "License agreements:" %><br>
        <%= f.text_area :license_agreements, :value => @tool.new_record? ? "" : @tool.license_agreements.join("\n") , :rows => 5, :cols => 40 %><br>
        <span class="field_explanation">Enter one agreement name per line. Note that only alphanumeric characters, underscores (_) and dashes (-) are accepted.</span>
      </p>

      <p>
        <%= f.label :description, "Description:" %><br>
        <%= f.text_area :description, :cols => 80, :rows => 10 %><br>
        <span class="field_explanation">The first line must should be a short summary, and the rest are for any special notes for the users.</span>
      </p>

      <p>
        <%= f.label :application_package_name, "Package name:" %><br>
        <%= f.text_field :application_package_name %><br>
      </p>

      <p>
        <%= f.label :application_type, "Tool type:" %><br>
        <%= f.text_field :application_type %><br>
      </p>

      <p>
        <%= f.label :application_tags, "Comma separated tags:" %><br>
        <%= f.text_field :application_tags %><br>
      </p>

      <p>
        <%= f.label :url, "Tool URL:" %><br>
        <%= f.text_field :url %><br>
      </p>


      <p>
        <%= f.label :select_menu_text, "Text for select box on the userfiles page:" %>
        <%= f.text_field :select_menu_text %>
      </p>
  </div>

  <p><%= f.submit "Create new tool" %></p>

<% end %>


