<%

#
# CBRAIN Project
#
# $Id$
#

-%>

<div class = "generalcontenttools">

   <div class = "generalbox">

<p>
  <b>Tool Name:</b>
  <%=h @tool.tool_name %>
</p>

<p>
  <b>Tool belongs to:</b>
  <%=h @user.full_name %>
</p>

<p>
  <b>Tool belongs to group:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Tool belongs to bourreau:</b>
  <% for bourreau in @tool.bourreaux %>
    <td><%= bourreau.name %></td>
  <% end %>
</p>

<p>
  <b>Category:</b>
  <%=h @tool.category %>
</p>


<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>

</div>
</div>