<%
#
# CBRAIN Project
#
# $Id$
#
-%>

<div class = "generalcontent">
  <br>
 <div class="generalbox">
 
 <table>    
     <tr>
        <td><b>Bourreau</b></td>
        <td><b>Tools</b></td>
        <td><b>Update</b></td>
    </tr>
    <% @bourreaux.each do |bourreau| %>
        <% form_tag({:controller => "bourreaux", :action => "update", :id => bourreau.id}, :method => :put) do %>
        <%= hidden_field_tag :tool_management, "true" %>
        <%= hidden_field_tag "bourreau[tool_ids][]", [] %>
        <tr>    
            <th><%= bourreau.name %></th>
            <th>
                <br/>
                <select name= "bourreau[tool_ids][]", multiple="multiple", "overflow:scroll", style="height:125px; width:120">
                    <%= options_from_collection_for_select (@tools, 'id', 'name', bourreau.tools.collect{|u| u.id}) %>
                </select><br/><br/>
            </th>
            <th>
                <%= submit_tag "Update Bourreau"%>
            </th>
        </tr>  
    <% end %>
    <% end %>
    </table>
    <%= link_to "Back to Tools Page", :action  => :index %>  
  </div> 
</div>