<h1>Create New Group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :institution_id, 'Institution' %><br />
     <%= f.collection_select :institution_id, Institution.find(:all), :id, :name, :prompt => 'Select an Institution' %>
  </p>
  <p>
      <%= f.label :manager_id, 'Manager' %><br />
      <%= f.collection_select :manager_id, User.find_all_by_role('manager'), :id, :full_name, :prompt => 'Select a Manager' %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :building %><br />
    <%= f.text_field :building %>
  </p>
  <p>
    <%= f.label :room %><br />
    <%= f.text_field :room %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <br/>
  <label for="users">Users:</label>
  <table>
     <% for user in User.find(:all).reject{|u| u.login == 'admin'}  %>
         <tr>
           <td><%= check_box_tag("group[user_ids][]", user.id.to_s) %></td>
           <td><%= h(user.full_name) -%></td>
         </tr>
     <% end %>
  </table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= button_to 'Cancel', groups_path, :method => :get %>
