<div id="new_model_panel">
  <%= ajax_form_for @site, :as => :site, :url => { :action => "create" }, :datatype => "script" do |f| -%>

    <%= f.error_messages %>

    <div class="display_row">
      <%= f.label :name %><br/>
      <%= f.text_field :name %>
      <P>

      <span title="Brief description of the site.">
        <p><%= f.label :description, "Description" %><br/>
        <%= f.text_area :description, :rows => 10, :cols => 40 %><br/>
        <small>The first line should be a short summary, and the rest are for any special notes for the users.</small>
        </p>
      </span>
      <P>

    </div>

    <div class="display_cell">
      <label>Users</label>
      <table class="button_table">
        <tr>
          <td>Login</td>
          <td>Regular User</td>
          <td>Site Manager</td>
        </tr>
        <% for user in User.all.sort { |a,b| a.full_name.casecmp(b.full_name) } %>
          <tr>
            <td class="left_align"><%= link_to_user_with_tooltip(user) -%></td>
            <td class="left_align"><%= check_box_tag("site[user_ids][]", user.id) %></td>
            <td class="left_align"><%= check_box_tag("site[manager_ids][]", user.id) %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="display_cell">
      <label>Projects</label>
      <table class="button_table">
        <% for group in WorkGroup.all.sort { |a,b| a.name.casecmp(b.name) } %>
          <tr>
            <td class="left_align"><%= group.name -%></td>
            <td class="left_align"><%= check_box_tag("site[group_ids][]", group.id.to_s) %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="display_row">
      <P>
      <%= f.submit "Create" %>
    </div>

  <% end %>
</div>
