<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id: new.html.erb 457 2009-09-02 20:36:49Z tsherif $
#

-%>
<div class = "generalcontent">
<br>
<% remote_form_for :site, @site, :url => { :action => "create" } do |f| -%>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<label for="users">Users:</label>
	<table id ="button_table">
	   <tr>
	     <td>Name</td>
	     <td>Regular User</td>
	     <td>Site Manager</td>
	   </tr>
	   <% for user in User.all %>
	       <tr>
	         <td class="left_align"><%= h(user.full_name) -%></td>
	         <td class="left_align"><%= check_box_tag("site[user_ids][]", user.id) %></td>
	         <td class="left_align"><%= check_box_tag("site[manager_ids][]", user.id) %></td>
	       </tr>
	   <% end %>
	</table>
	<label for="groups">Groups</label>
	<table id="button_table">
	   <% for group in WorkGroup.all %>
	       <tr>
	         <td class="left_align"><%= h(group.name) -%></td>
	         <td class="left_align"><%= check_box_tag("site[group_ids][]", group.id.to_s) %></td>
	       </tr>
	   <% end %>
	</table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>
