
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="site_<%= site.id %>">
  <td><%= link_to_site_if_accessible(site) %></td>
  <td><%= overlay_description(site.description) %></td>
  <td><%= array_to_2d_table(site.managers.sort{|a, b| a.login.casecmp(b.login)}, :table_class => 'simple bordered') { |m,r,c| link_to_user_if_accessible(m)} %></td>
  <td><%= site.users.count %></td>
  <td><%= site.groups.count %></td>   
  <td><%= link_to 'Edit', edit_site_path(site), :class  => 'action_link' %></td>
  <td>
    <%= 
         delete_button 'Delete', site_path(site), :class  => "action_link", 
                                                  :confirm  => 'Are you sure?', 
                                                  :target  => "#site_#{site.id}",
                                                  :target_text  => "<td colspan='6' style='color:red; text-align:center'>Deleting...</td>"
     %>
  </td>
</tr>

