
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">
  <%= new_model_button 'Create New Site', new_site_path %>
  <%= overlay_ajax_link "Help", "/doc/sites/site_info.html", :class  => "button" %>
</div>

<%= render :partial => 'shared/active_filters', :locals => {:model => :site} %>

<div class="centered"> (<%= pluralize @sites.count, "site" %>) </div>

<%=
  dynamic_index_table(@sites,
    :id       => 'sites_table',
    :class    => [ :resource_list ],
    :sort_map => {
      :name        => 'sites.name',
      :description => 'sites.description'
    }
  ) do |t|
%>
  <%
    t.column("Name", :name,
      :sortable => true,
    ) { |s| link_to_site_if_accessible(s) }

    t.column("Description", :description,
      :sortable => true,
    ) { |s| overlay_description(s.description) }

    t.column("Managers", :managers) do |s|
      array_to_table(s.managers.sort { |a,b| a.login.casecmp(b.login) },
        :min_data    => 2,
        :table_class => 'simple bordered'
      ) { |m,r,c| link_to_user_with_tooltip(m) }
    end

    t.column("Number of Users", :nusers) do |s|
      filter_add_link s.users.count.to_s,
        :controller => :users,
        :filters    => { :site_id => s.id },
        :ajax       => false
    end

    t.column("Number of Projects", :nprojects) do |s|
      filter_add_link s.groups.count.to_s,
        :controller => :groups,
        :filters    => { :site_id => s.id },
        :ajax       => false
    end
  %>
<% end %>
