<h1>New site</h1>

<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<label for="users">Users:</label>
	<table>
	   <tr>
	     <td>Name</td>
	     <td>Regular User</td>
	     <td>Site Manager</td>
	   </tr>
	   <% for user in @users %>
	       <tr>
	         <td class="info"><%= h(user.full_name) -%></td>
	         <td class="info"><%= check_box_tag("site[user_ids][]", user.id) %></td>
	         <td class="info"><%= check_box_tag("site[manager_ids][]", user.id) %></td>
	       </tr>
	   <% end %>
	</table>
	<label for="groups">Groups</label>
	<table>
	   <% for group in @groups %>
	       <tr>
	         <td class="info"><%= h(group.name) -%></td>
	         <td class="info"><%= check_box_tag("site[group_ids][]", group.id.to_s) %></td>
	       </tr>
	   <% end %>
	</table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', sites_path %>
