
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Add New Site' %>


<div class="row">
  <div class="col-xs-12">
    <%= error_messages_for @site %>
  </div>
</div>

<%= form_for @site, :as => :site, :url => { :action => "create" }, :datatype => "script", :class => "form-horizontal" do |f| -%>

<div class="row">
  <h3 class="text-center">Add New Site</h3>
</div>

<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Basic Info <span class="pull-right glyphicon glyphicon-chevron-up clickable" data-toggle="collapse" data-target="#basic-panel"></span></div>
      <div class="panel-body collapse in" id="basic-panel">
        <div class="row">
          <div class="col-xs-4"><%= f.label :name %></div>
          <div class="col-xs-8"><%= f.text_field :name, :class => "form-control", :placeholder => "Required"  %></div>
        </div>
        <div class="row" title="Brief description of the site.">
          <div class="col-xs-4"><%= f.label :description, "Description" %></div>
          <div class="col-xs-8">
            <%= f.text_area :description, :rows => 10, :class => "form-control" %>
            The first line should be a short summary, and the rest are for any special notes for the users.
          </div>
        </div>

      </div>
    </div>
  </div>

  <%
  user_by_lock_status_hash = User.all.hashed_partition { |u| u.account_locked == false ? "Active users" : "Locked users"}
  active_users = user_by_lock_status_hash["Active users"] || []
  locked_users = user_by_lock_status_hash["Locked users"] || []
  %>

  <!-- Active Users -->
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Active Users <span class="pull-right glyphicon glyphicon-chevron-up clickable" data-toggle="collapse" data-target="#active-panel"></span></div>
        <div class="collapse in" id="active-panel">
          <table class="table table-striped table-condensed">
            <tr>
              <th>Login</th>
              <th>Regular User</th>
              <th>Site Manager</th>
            </tr>
            <% for user in active_users.sort { |a,b| a.full_name.casecmp(b.full_name) } %>
              <tr>
                <td class="left_align"><%= link_to_user_with_tooltip(user) -%></td>
                <td class="left_align"><%= check_box_tag("site[user_ids][]", user.id, nil, :class => "form-control") %></td>
                <td class="left_align"><%= check_box_tag("site[manager_ids][]", user.id, nil, :class => "form-control") %></td>
              </tr>
            <% end %>
         </table>
        </div>

    </div>

    <!-- Locked Users -->
    <%if !locked_users.empty? %>
    <div class="panel panel-primary">
      <div class="panel-heading">Locked Users <span class="pull-right glyphicon glyphicon-chevron-down clickable" data-toggle="collapse" data-target="#locked-panel"></span></div>
      <div class="collapse" id="locked-panel">
        <table class="table table-striped table-condensed">
          <tr>
            <th>Login</th>
            <th>Regular User</th>
            <th>Site Manager</th>
          </tr>
          <% for user in locked_users.sort { |a,b| a.full_name.casecmp(b.full_name) } %>
            <tr>
              <td><%= link_to_user_with_tooltip(user) -%></td>
              <td><%= check_box_tag("site[user_ids][]", user.id, nil, :class => "form-control") %></td>
              <td><%= check_box_tag("site[manager_ids][]", user.id, nil, :class => "form-control") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <% end %>
  </div>

  <!-- Projects -->
  <div class="col-xs-4">
    <div class="panel panel-primary">
      <div class="panel-heading">Projects <span class="pull-right glyphicon glyphicon-chevron-up clickable" data-toggle="collapse" data-target="#projects-panel"></span></div>
      <div class="collapse in" id="projects-panel">
        <table class="table table-striped">
          <% for group in WorkGroup.all.sort { |a,b| a.name.casecmp(b.name) } %>
            <tr>
              <td><label><%= group.name -%></label></td>
              <td><%= check_box_tag("site[group_ids][]", group.id.to_s, nil, :class => "form-control") %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <%= f.submit "Create", :class => "btn btn-primary btn-block" %>
  </div>
</div>

<% end %>
