
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Add New Site' %>

<h2>Add New Site</h2>

<%= error_messages_for @site %>

<%= form_for @site, :as => :site, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="generalbox">

      <div>
        <%= f.label :name %><br/>
        <%= f.text_field :name %>
        <P/>

        <span title="Brief description of the site.">
          <%= f.label :description, "Description" %><br/>
          <%= f.text_area :description, :rows => 10, :cols => 40 %><br/>
          <span class="field_explanation">The first line should be a short summary, and the rest are for any special notes for the users.</span>
        </span>
        <P/>

      </div>

      <div class="button_div">
        <!-- Separation between active and locked users -->
        <%
        user_by_lock_status_hash = User.all.to_a.hashed_partition { |u| u.account_locked == false ? "Active users" : "Locked users"}
        active_users = user_by_lock_status_hash["Active users"] || []
        locked_users = user_by_lock_status_hash["Locked users"] || []
        %>

        <!-- Active Users -->
        <div style="margin:0px">
          Active users
          <br>
          <div id="active_users" class="button_inner_div">
            <table class="button_table" style="border:0px;">
              <tr>
                <td>Login</td>
                <td>Regular User</td>
                <td>Site Manager</td>
              </tr>
              <% for user in active_users.sort { |a,b| a.full_name.casecmp(b.full_name) } %>
                <tr>
                  <td class="left_align"><%= link_to_user_with_tooltip(user) -%></td>
                  <td class="left_align"><%= check_box_tag("site[user_ids][]", user.id) %></td>
                  <td class="left_align"><%= check_box_tag("site[manager_ids][]", user.id) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>

      </div>

      <!-- Projects -->
      <div class="button_div">
        <div style="margin:0px">
          Projects
          <br>
          <div id="projects" class="button_inner_div">
            <table class="button_table" style="border:0px;">
              <% for group in WorkGroup.all.sort { |a,b| a.name.casecmp(b.name) } %>
                <tr>
                  <td class="left_align"><%= group.name -%></td>
                  <td class="left_align"><%= check_box_tag("site[group_ids][]", group.id.to_s) %></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>

      <%if !locked_users.empty? %>
      <div>
        <!-- Locked Users -->
        <br/>
            Locked users
            <%= show_hide_toggle "(Show)", "#locked_users", :class  => 'action_link', :alternate_text => "(Hide)" %>
          <div id="locked_users" style="display:none" class="button_inner_div">
            <table class="button_table" style="border:0px;">
              <tr>
                <td>Login</td>
                <td>Regular User</td>
                <td>Site Manager</td>
              </tr>
              <% for user in locked_users.sort { |a,b| a.full_name.casecmp(b.full_name) } %>
                <tr>
                  <td class="left_align"><%= link_to_user_with_tooltip(user) -%></td>
                  <td class="left_align"><%= check_box_tag("site[user_ids][]", user.id) %></td>
                  <td class="left_align"><%= check_box_tag("site[manager_ids][]", user.id) %></td>
                </tr>
              <% end %>
            </table>
          </div>
      </div>

      <% end %>

      <div class="display_row">
        <P/>
        <%= f.submit "Create" %>
      </div>
<% end %>
