
<h2>Information about site '<%= @site.name %>'</h2>

<div class="menu_bar menu_bar_left">
  <%= overlay_ajax_link "Help", "/doc/sites/site_info.html", :class  => "button" %>    
</div>

<br>

<table class="property_list show_file_table">
   <tr class="<%= cycle('list-odd', 'list-even') %>">
     <th class="right_align">Description:</th>
     <td><%= overlay_description(@site.description) %></td>
   </tr>
   <tr class="<%= cycle('list-odd', 'list-even') %>">
     <th class="right_align">Managers:</th>
     <td><%= @site.managers.collect(&:login).join(", ") %></td>
   </tr>
   <tr class="<%= cycle('list-odd', 'list-even') %>">
     <th class="right_align">Number of users:</th>
     <td><%= @site.users.count %></td>
   </tr>
   <tr class="<%= cycle('list-odd', 'list-even') %>">
     <th class="right_align">Number of groups:</th>
     <td><%= @site.groups.count %></td>
   </tr>
   <tr class="<%= cycle('list-odd', 'list-even') %>">
     <th class="right_align">Number of files:</th>
     <td><%= @site.userfiles_find_all.count %></td>
   </tr>  
   <tr class="<%= cycle('list-odd', 'list-even') %>">
     <th class="right_align">Number of data providers:</th>
     <td><%= @site.data_providers_find_all.count %></td>
   </tr>
   <tr class="<%= cycle('list-odd', 'list-even') %>">
     <th class="right_align">Number of remote resources:</th>
     <td><%= @site.remote_resources_find_all.count %></td>
   </tr>
</table>

<br>

<table class="resource_list">
  <tr>
    <th>Users</th>
    <th>Projects</th>
    <th>Data Providers</th>
    <th>Remote Resources</th>
  </tr>
  <tr>
    <td><% array_to_2d_table(@site.users.all.sort{|a, b| a.login.casecmp(b.login)}, :min_data => 2, :table_class => 'simple bordered') {|u,r,c| link_to_user_with_tooltip(u)} %></td>
    <td><% array_to_2d_table(@site.groups.all.sort{|a, b| a.name.casecmp(b.name)}, :min_data => 2, :table_class => 'simple bordered') {|g,r,c| link_to_group_if_accessible(g)} %></td>
    <td><% array_to_2d_table(@site.data_providers_find_all.sort{|a, b| a.name.casecmp(b.name)}, :min_data => 2, :table_class => 'simple bordered') {|d,r,c| link_to_data_provider_if_accessible(d)} %></td>
    <td><% array_to_2d_table(@site.remote_resources_find_all.sort{|a, b| a.name.casecmp(b.name)}, :min_data => 2, :table_class => 'simple bordered') {|b,r,c| link_to_bourreau_if_accessible(b)} %></td>
  </tr>
</table>

<p>

<% if check_role(:admin) %>
  <%= link_to 'Edit', edit_site_path(@site), :class => 'action_link' %><br>
<% end %>

