
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title "Site" %>

<div class="menu_bar">
  <%= overlay_ajax_link "Help", "/doc/sites/site_info.html", :class  => "button" %>
  <%= link_to 'Delete', site_path(@site),  { :confirm => "Are you sure you want to delete '#{@site.name}' ?", :method => :delete, :class => "button"} %>
</div>

<br>

<%= error_messages_for @site, :header_message => "site could not be updated." %>
<div class="display_inline_block" style="min-width: 50%">

  <%= show_table(@site, :edit_condition => check_role(:admin_user)) do |t| %>
    <% t.edit_cell(:name) { |f| f.text_field :name } %>
    <% t.edit_cell(:description, content: full_description(@site.description)) do |f|%>
      <%= f.text_area :description, cols:40, rows: 10 %><br/>
      <div class="field_explanation">The first line should be a short summary, and the rest are for any special notes for the users.</div><br>
    <% end %>
  <% end %>
  <%= show_table(@site, :header => 'Resources') do |t| %>
    <% t.cell("Managers", :show_width => 2) do %>
      <%= array_to_table(@site.managers.sort{|a, b| a.login.casecmp(b.login)}, :min_data => 6, :table_class => 'simple bordered') {|u,r,c| link_to_user_with_tooltip(u)} %>
    <% end %>
    <%
      t.blank_row
      t.cell("Users")            { index_count_filter @site.users.count,  :users,  {:site_id => @site.id} }
      t.cell("Projects")         { index_count_filter @site.groups.count, :groups, {:site_id => @site.id} }
      t.cell("Files")            { @site.userfiles_find_all.count }
      t.cell("Data Providers")   { @site.data_providers_find_all.count }
      t.cell("Remote Resources") { @site.remote_resources_find_all.count }
    %>
  <% end %>

  <br>

  <table class="resource_list">
    <tr>
      <th>
        Users
        <% if check_role(:admin_user) %>
          <%= overlay_content_link "(Update)", :style => "text-decoration: underline; font-size: 0.9em", :enclosing_element => "span", :height => 400 do %>
            <%= form_for(@site) do |f| %>
              <div class="display_cell">
                <label>Users</label>
                <table class="button_table">
                  <tr>
                    <td>Login</td>
                    <td>Regular User</td>
                    <td>Site Manager</td>
                  </tr>
                  <% for user in User.all.sort { |a,b| a.full_name.casecmp(b.full_name) } %>
                    <tr>
                      <td class="left_align"><%= link_to_user_with_tooltip(user) -%></td>
                      <td class="left_align"><%= check_box_tag("site[user_ids][]", user.id, @site.users.include?(user)) %></td>
                      <td class="left_align"><%= check_box_tag("site[manager_ids][]", user.id, @site.managers.include?(user)) %></td>
                    </tr>
                  <% end %>
                </table>
              </div>

              <div class="display_row">
                <P>
                <%= f.submit "Update Users", :name => :update_users %>
              </div>

            <% end %>
          <% end %>
        <% end %>
      </th>
      <th>
        Projects
        <% if check_role(:admin_user) %>
          <%= overlay_content_link "(Update)", :style => "text-decoration: underline; font-size: 0.9em", :enclosing_element => "span", :height => 400 do %>
            <%= form_for(@site) do |f| %>
              <%= render :partial => 'shared/group_tables', :locals => {:model => @site} %><br>
              <%= f.submit 'Update Projects', :name => :update_groups %>
            <% end %>
          <% end %>
        <% end %>
      </th>
      <th>Data Providers</th>
      <th>Remote Resources</th>
    </tr>
    <tr>
      <td><%= array_to_table(@site.users.all.sort{|a, b| a.login.casecmp(b.login)}, :min_data => 2, :table_class => 'simple bordered') {|u,r,c| link_to_user_with_tooltip(u)} %></td>
      <td><%= array_to_table(@site.groups.all.sort{|a, b| a.name.casecmp(b.name)}, :min_data => 2, :table_class => 'simple bordered') {|g,r,c| link_to_group_if_accessible(g)} %></td>
      <td><%= array_to_table(@site.data_providers_find_all.sort{|a, b| a.name.casecmp(b.name)}, :min_data => 2, :table_class => 'simple bordered') {|d,r,c| link_to_data_provider_if_accessible(d)} %></td>
      <td><%= array_to_table(@site.remote_resources_find_all.sort{|a, b| a.name.casecmp(b.name)}, :min_data => 2, :table_class => 'simple bordered') {|b,r,c| link_to_bourreau_if_accessible(b)} %></td>
    </tr>
  </table>
</div>


  <P>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @site.getlog, :title => 'Site Log' } %>


