
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%= form_tag( { :action => :multi_action }, :method => :post) do %>

  <div class="menu-bar">
    <%= link_to "New Request", new_signup_path, :class => "button" %>

    <%
       # Careful, the labels of the buttons below are used by the controller
       # to select which multi action to perform. Change them at both places.
    %>

    <%= submit_tag "Delete",                :class => "button", :data => { :confirm =>  'Delete the selected signup requests?' } %>
    <%= submit_tag "Adjust Login",          :class => "button" %>
    <%= submit_tag "Resend Confirm Email",  :class => "button" %>
    <%= submit_tag "Toggle Hidden",         :class => "button" %>

    <% if @scope.custom[:view_hidden] %>
      <%= link_to "Hide Hidden Records", signups_path(:view_hidden => false), :class => "button" %>
    <% else %>
      <%= link_to "Show All Records",    signups_path(:view_hidden => true),  :class => "button" %>
    <% end %>

    <%= scope_filter_link("Latest TODO", "signups#index", :replace,
          [ { :a => :approved_by, :v => '' }, { :a => :confirmed, :v => 1 } ],
          :url => { :controller => :signups, :action => :index, :view_hidden => false },
          :link => { :class => "button" }
        )
    %>
  </div>

  <hr>

  <%=
    render(:partial => 'shared/active_filters', :locals  => {
      :scope => @scope,
      :model => Signup,
    })
  %>

  <div class="pagination">
    <span class="page_links">
      (
      <%= pluralize @signups.total_entries, "signup" %>
      <% if @num_hidden && @num_hidden > 0 %>
        , <%= @num_hidden %> hidden <%= hidden_icon %>
      <% end %>
      )
    </span>
  </div>

  <%=
    dynamic_scoped_table(@signups,
      :class      => [ :resource_list ],
      :id         => "signups_table",
      :order_map  => {
        :created_at     =>  { :a => 'signups.created_at' },
        :institution    =>  { :a => 'signups.institution' },
        :email          =>  { :a => 'signups.email' },
      },
      :scope      => @scope
    ) do |t|
  %>
    <%
      t.paginate
      t.row do |d|
        {
          :select_param => 'reqids[]',
          :select_value => d.id,
          :html => { 'data-id' => d.id }
        }
      end
    %>

    <%
      t.column("Name", :last,
        :sortable => true
      ) { |d| link_to d.full_name, signup_path(d) }
    %>

    <%
      t.column("Edit", :edit) do |d|
    %>
      <%= link_to "Edit", edit_signup_path(d), :class => 'action_link' %>
    <% end %>

    <%
      t.column("Email", :email,
        :sortable => true
      ) { |d| red_if((d.dup_email? and not d.approved?), d.email) }
    %>

    <%
      t.column("Position", :position,
        :sortable => true,
        :hidden   => true,
        :filters  => default_filters_for(@base_scope, :position)
      )
    %>

    <%
      t.column("Department", :department,
        :sortable => true,
        :hidden   => true,
        #:filters  => default_filters_for(@base_scope, :department)
      )
    %>

    <%
      t.column("Institution", :institution,
        :sortable => true,
        #:filters  => default_filters_for(@base_scope, :institution)
      )
    %>

    <%
      t.column("Country", :country,
        :sortable => true,
        :filters => default_filters_for(@base_scope, :country)
      )
    %>

    <%
      t.column("Username", :login,
        :sortable => true
      )
    %>

    <%
      t.column("Comments", :comment) do |d|
        html_tool_tip(crop_text_to(40, d.comment), :offset_x => 0, :offset_y => 20) do
          simple_format(d.comment, :sanitize => true)
        end if d.comment.present?
      end
    %>

    <%
      t.column("Private Comments", :admin_comment) do |d|
        html_tool_tip(crop_text_to(40, d.admin_comment), :offset_x => 0, :offset_y => 20) do
          simple_format(d.admin_comment, :sanitize => true)
        end if d.admin_comment.present?
      end
    %>

    <%
      t.column("In CBRAIN", :user) do |d|
        user = User.where(:id => d.user_id).first
        if (user)
          link_to_user_with_tooltip(user)
        else
          "(None)"
        end
      end
    %>

    <%
      t.column("Portal", :remote_resource) do |d|
        portal = d.remote_resource
        if (portal)
          link_to_bourreau_if_accessible(portal)
        else
          "(None)"
        end
      end
    %>

    <%
      t.column("Origin", :form_page,
        :sortable => true
      )
    %>

    <%
      t.column("Created", :created_at,
        :sortable => true
      ) do |d|
        html_tool_tip(to_localtime(d.created_at, :datetime), :offset_x => 0, :offset_y => 20) do
          "Updated: #{d.updated_at.in_time_zone.strftime("%a %b %d, %Y at %H:%M:%S %Z")}".html_safe
        end
      end
    %>

    <%
      t.column("Approved By", :approved_by,
        :sortable => true,
        :filters => [ { :value => nil,
                        :label => '(Not approved)',
                        :indicator => @base_scope.where(:approved_by => nil).count,
                      }
                    ] +
                    default_filters_for(@base_scope, :approved_by)
      )
    %>

    <%
      t.column("Status", :status) do |d|
    %>
      <%= render :partial => 'status', :locals => { :signup => d, :multi_lines => false } %>
    <% end %>

  <% end %>
<% end %>

