
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'New Account Request' %>

<%= form_for @signup, :url => {:action => (@signup.new_record? ? "create" : "update"), :id => @signup.id} do |f| %>
  <%= error_messages_for @signup %>

  <div class="generalbox">
    <p class="warning"> Fields with an asterisk (*) are mandatory.</p>

    <fieldset class="groupentry">

      <legend>
        Personal Info
      </legend>

      <div class="tree-column-grid">

        <%= f.label(:title, "Title:") %>
        <%= f.text_field :title %>
        <span class="wide_field_explanation">for example: 'Mrs.', 'Mr', 'Dr.', etc.</span>

        <%= f.label(:first, "* First Name:") %>
        <%= f.text_field :first %>
        <br>

        <%= f.label(:middle, "Middle Name:") %>
        <%= f.text_field :middle %>
        <br>

        <%= f.label(:last, "* Last Name:") %>
        <%= f.text_field :last %>
        <br>

        <%= f.label(:login, "Preferred 'login' name:") %>
        <%= f.text_field :login %>
        <span class="wide_field_explanation">
            <small>one letter + alphanums. <strong>By convention</strong>: the first letter of your first name + last name.
            For example, John Doe login: 'jdoe' </small>
        </span>
      </div>
    </fieldset>

    <br>

    <fieldset class="groupentry">

      <legend>
        Institution Info
      </legend>

      <div class="two-column-grid">

        <%= f.label(:institution, "* Name of Institution/Organization:") %>
        <%= f.text_field :institution, :size => 60 %>

        <%= f.label(:department, "* Department") %>
        <%= f.text_field :department, :size => 60 %>

        <%= f.label(:position, "* Current position or role:") %>
        <%= f.select :position, options_for_select(
            [["(select one)", ""], "Faculty",
                                   "Postdoctoral",
                                   "PhD. candidate",
                                   "Masters student",
                                   "Student",
                                   "Researcher",
                                   "Other"
            ],
            @signup.position)
        %>

        <%= f.label(:affiliation, "* Current affiliation:") %>
        <%= f.select :affiliation, options_for_select(
            [["(select one)", ""], "Academic",
                                   "Private sector",
                                   "Government",
                                   "Non-profit",
                                   "Other",
            ],
            @signup.affiliation)
        %>

        <%= f.label(:email, "* Institutional Email address:") %>
        <%= f.text_field :email, :size => 60 %>

        <div></div>
        <div class="wide_field_explanation">
          <small>Please supply the address of <strong class="warning"> your research institution.</strong>
            Requests with non-institutional address or email
            will be <strong>ignored</strong>
          </small>
        </div>

        <%= f.label(:street1, "Institution Street Address (line 1):") %>
        <%= f.text_field :street1, :size => 60 %>

        <%= f.label(:street2, "Institution Street Address (line 2):") %>
        <%= f.text_field :street2, :size => 60 %>

        <%= f.label(:city, "* City of Institution:") %>
        <%= f.text_field :city, :size => 30 %>

        <%= f.label(:province, "* Province/State:") %>
        <%= f.text_field :province, :size => 30 %>

        <%= f.label(:country, "* Country:") %>
        <%= f.text_field :country, :size => 30 %>

        <%= f.label(:postal_code, "Postal/ZIP Code:") %>
        <%= f.text_field :postal_code, :size => 8 %>

        <%= f.label(:time_zone, "Time Zone:") %>
        <%= f.time_zone_select :time_zone,
                               ActiveSupport::TimeZone.all.select {|t| t.name =~ /canada/i},
                               {:default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'], :include_blank => true}
        %>

        <%= f.label(:comment, "Comments or special requests:") %>
        <%= f.text_area :comment, :cols => 80, :rows => 5 %>
        <br>
        <div class="wide_field_explanation">
          Please tell us the name of the laboratory you work for,
          the name of its Principal Investigator (if not you), and if possible
          anyone else you know in your lab who are already CBRAIN users. <br>
          We'll use this information to create or add you to a
          <em>Site</em> within CBRAIN.
        </div>

      <% if current_user.present? && current_user.has_role?(:admin_user) %>
          <%= f.label(:admin_comment, "Private, admin-only comments:") %>
          <%= f.text_area :admin_comment, :cols => 80, :rows => 5 %>
      <% end %>
      </div>
      <br>
    </fieldset>
    <br>
    <div class="centered">
      <%= f.submit(@signup.new_record? ? "Request Account" : "Update Request") %>
    </div>

<br>

<b>Privacy note</b>
<br>
The information you supply in this form is
only used in order to review your application and, <br> when approved, to
automatically generate your user account. <br>
This information will not be used in any other way, or passed on to
any other entities or persons.

<% if RemoteResource.current_resource.support_email.present? %>
  <br>
  For more information, contact
  <a href="mailto:<%= RemoteResource.current_resource.support_email %>"><%= RemoteResource.current_resource.support_email %></a>.
<% end %>
</div>
<% end %>