
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'New Account Request' %>

<%= form_for @signup, :url => { :action => (@signup.new_record? ? "create" : "update"), :id => @signup.id } do |f| %>

  <%= error_messages_for @signup %>

  <div class="generalbox">

    <p class="warning"> Fields with an asterisk (*) are mandatory.</p>

    <div class="leftgrid">

      <%= f.label(:title, "Title:") %>
      <%= f.text_field :title, :size => 10 %> <span class="field_note">(e.g. 'Mr.', 'Dr.', etc.)</span>


      <%= f.label(:first, "* First Name:") %>
      <%= f.text_field :first, :size => 20 %> <span></span>

      <%= f.label(:middle, "Middle Name:") %>
      <%= f.text_field :middle, :size => 20 %> <span></span>

      <%= f.label(:last, "* Last Name:") %>
      <%= f.text_field :last, :size => 20 %> <span></span>

      <%= f.label(:login, "Preferred 'login' name:") %>
      <%= f.text_field :login, :size => 15 %> <span class="field_note">(one letter + alphanums. <b>By convention</b>: first letter of your first name + last name. For John Doe: 'jdoe')</span>

      <span></span>


      </div>

      <fieldset class="groupentry">

        <legend>
          Institution Info
        </legend>
      <div class="leftgrid">
      <%= f.label(:institution, "* Name of Institution/Organization:") %>
      <%= f.text_field :institution, :size => 60 %>
      <br>


      <%= f.label(:department, "* Department") %>
      <%= f.text_field :department, :size => 60 %>
      <br>



      <%= f.label(:position, "* Current position or role:") %>
      <%= f.select :position, options_for_select(
              [ [ "(select one)", "" ], "Faculty",
                                        "Postdoctoral",
                                        "PhD. candidate",
                                        "Masters student",
                                        "Student",
                                        "Researcher",
                                        "Other"
              ],
              @signup.position)
          %>
        <span></span>



      <%= f.label(:affiliation, "* Current affiliation:") %>
      <%= f.select :affiliation, options_for_select(
              [ [ "(select one)", "" ], "Academic",
                                        "Private sector",
                                        "Government",
                                        "Non-profit",
                                        "Other",
              ],
              @signup.affiliation)
          %>

      <span></span>


      <%= f.label(:email, "* Institutional Email address:") %>
      <%= f.text_field :email, :size => 60 %>
        <span><small>Please supply an address from your research institution</small></span>
      

      <%= f.label(:street1, "Street Address (line 1):") %>
      <%= f.text_field :street1, :size => 60 %>
      <br>


      <%= f.label(:street2, "Street Address (line 2):") %>
      <%= f.text_field :street2, :size => 60 %>
      <br>


      <%= f.label(:city, "* City:") %>
      <%= f.text_field :city, :size => 30 %>
      <br>


      <%= f.label(:province, "* Province/State:") %>
      <%= f.text_field :province, :size => 30 %>
      <br>

      <%= f.label(:country, "* Country:") %>
      <%= f.text_field :country, :size => 30 %>
      <br>

      <%= f.label(:postal_code, "Postal/ZIP Code:") %>
      <%= f.text_field :postal_code, :size => 8 %>
      <br>

      <%= f.label(:time_zone, "Time Zone:") %>

        <%= f.time_zone_select :time_zone,
            ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
            { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'], :include_blank => true }
        %>
     <br>

      </div>
    </fieldset>

    <p>
      <td colspan="2">&nbsp;
    </p>
  </div>
  <p>
      <%= f.label(:comment, "Comments or special requests:") %>
      
          <%= f.text_area :comment, :cols => 80, :rows => 5 %>
          <br>
          <small>
                 Please tell us the name of the laboratory you work for, the name of its Principal Investigator (if not you), and if possible anyone<br>
                 else you know in your lab who are already CBRAIN users. We'll use this information to create or add you to a <em>Site</em> within CBRAIN.
          </small>
      
    </p>

    <% if current_user.present? && current_user.has_role?(:admin_user) %>
      <p>
        <td colspan="2">&nbsp;
      </p>

      <p>
         <%= f.label(:admin_comment, "Private, admin-only comments:") %> 
         <%= f.text_area :admin_comment, :cols=>80, :rows => 5 %> 
      </p>
    <% end %>

    <p>
      <td colspan="2">&nbsp;
    </p>

    <p>
      <td colspan="2" class="centered">
        <%= f.submit(@signup.new_record? ? "Request Account" : "Update Request") %>
      
    </p>

  </div>

  <% end %>

<br>

<b>Privacy note:</b>
The information you supply in this form is
only used in order to review your application and, when approved, to
automatically generate your user account. <br>
This information will not be used in any other way, or passed on to
any other entities or persons.

<% if RemoteResource.current_resource.support_email.present? %>
  <br>
  For more information, contact <a href="mailto:<%= RemoteResource.current_resource.support_email %>"><%= RemoteResource.current_resource.support_email %></a>.
<% end %>
