
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'New Account Request' %>

<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <%= error_messages_for @signup %>
  </div>
</div>


<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Account Request</div>
        <div class="panel-body">
          <%= form_for @signup, :url => { :action => (@signup.new_record? ? "create" : "update"), :id => @signup.id }, :class => "form-horizontal" do |f| %>

            Fields with an asterisk (*) are mandatory.

            <div class="row">
              <div class="col-xs-4"><%= f.label(:title, "Title:") %></div>
              <div class="col-xs-8"><%= f.text_field :title, :class => "form-control", :placeholder => "(e.g. 'Mr.', 'Dr.', etc.)" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:first, "* First Name:") %></div>
              <div class="col-xs-8"><%= f.text_field :first, :class => "form-control"%></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:middle, "Middle Name:") %></div>
              <div class="col-xs-8"><%= f.text_field :middle, :class => "form-control" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:last, "* Last Name:") %></div>
              <div class="col-xs-8"><%= f.text_field :last, :class => "form-control" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:login, "Preferred 'login' name:") %></div>
              <div class="col-xs-8"><%= f.text_field :login, :class => "form-control", :placeholder => "(one letter + alphanums)" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:institution, "* Name of Institution/Organization:") %></div>
              <div class="col-xs-8"><%= f.text_field :institution, :class => "form-control" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:department, "* Department") %></div>
              <div class="col-xs-8"><%= f.text_field :department, :class => "form-control"%></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:position, "* Current position or role:") %></div>
              <div class="col-xs-8"><%= f.select :position, options_for_select(
                    [ [ "(select one)", "" ], "Faculty", "PostDoc", "Researcher", "Student", "Industry", "Other" ],
                    @signup.position), {}, { :class => "form-control" }
                %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:email, "* Institutional Email address:") %></div>
              <div class="col-xs-8"><%= f.text_field :email, :class => "form-control", :placeholder => "Please supply an address from your research institution" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:street1, "Street Address (line 1):") %></div>
              <div class="col-xs-8"><%= f.text_field :street1, :class => "form-control" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:street2, "Street Address (line 2):") %></div>
              <div class="col-xs-8"><%= f.text_field :street2, :class => "form-control" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:city, "* City:") %></div>
              <div class="col-xs-8"><%= f.text_field :city, :class => "form-control" %></div>
            </div>

            <div class="row">
              <div class="col-xs-4"><%= f.label(:province, "* Province/State:") %></div>
              <div class="col-xs-8"><%= f.text_field :province, :class => "form-control" %></div>
            </div>
            <div class="row">
              <div class="col-xs-4"><%= f.label(:country, "* Country:") %></div>
              <div class="col-xs-8"><%= f.text_field :country, :class => "form-control" %></div>
            </div>
            <div class="row">
              <div class="col-xs-4"><%= f.label(:postal_code, "Postal/ZIP Code:") %></div>
              <div class="col-xs-8"><%= f.text_field :postal_code, :class => "form-control" %></div>
            </div>
            <div class="row">
              <div class="col-xs-4"><%= f.label(:time_zone, "Time Zone:") %></div>
              <div class="col-xs-8"><%= f.time_zone_select :time_zone,
                  ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
                  { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'], :include_blank => true }, :class => "form-control"
              %></div>
            </div>
            <div class="row">
              <div class="col-xs-4"><%= f.label(:comment, "Comments or special requests:") %></div>
              <div class="col-xs-8"><%= f.text_area :comment,:class => "form-control", :rows => 5 %>
                  Please tell us the name of the laboratory you work for, the name of its Principal Investigator (if not you), and if possible anyone
                  else you know in your lab who are already CBRAIN users. We'll use this information to create or add you to a <em>Site</em> within CBRAIN.
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12"><%= f.submit(@signup.new_record? ? "Request Account" : "Update Request", :class => "btn btn-primary btn-block") %></div>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
      <b>Privacy note:</b>
    The information you supply in this form is
    only used in order to review your application and, when approved, to
    automatically generate your user account. <br>
    This information will not be used in any other way, or passed on to
    any other entities or persons.

    <% if RemoteResource.current_resource.support_email.present? %>
      <br>
      For more information, contact <a href="mailto:<%= RemoteResource.current_resource.support_email %>"><%= RemoteResource.current_resource.support_email %></a>.
    <% end %>

    </div>

  </div>
</div>
