<%
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
%>

<% title 'Registration Info' %>

<% if @exception_trace.present? %>
  <div class="flash_error"><pre><%= @exception_trace %></pre></div>
<% end %>

<h1>Account Request Summary</h1>

<% if !current_user.nil? %>
  <% if current_user.has_role?(:admin_user) %>
    <h3>Editing this form:</h3>
      As an administrator, you can <%= link_to "edit", :action => :edit %> this form.

      <% if ! @signup.approved_by.present? %>

        <h3>Approving this request:</h3>

        <% unless @signup.dup_login? %>
          You can also <%= link_to "approve", approve_signup_path(@signup), :method => :post, :confirm => "Approve a user account for \"#{@signup.full}\"?" %> this request.
        <% else %>
          <span style="color: red">This user's login conflicts with a user already in the system.</span>
        <% end %>

        <% if ! @signup.confirmed? %>
          <span style="color: red">The user has not yet confirmed their email address.</span>
        <% else %>
          The user has confirmed the email address.
        <% end %>

      <% end %>
    <% end %>
<% else %>

<p>
  You can <%= link_to "edit", :action => :edit %> this form, but
  this option will only be available while you are using the
  same browser session you used for submitting this form
  originally. Do it now while you can!

<% end %>

<% if current_user.nil? && ! @signup.confirmed? %>
<p>
A confirmation email has been sent to the address you provided. Once you receive
it, please click on the provided link so we can confirm your identity. If you haven't received the email, you can ask for another <%= link_to "email confirmation request", resend_confirm_signup_path(@signup) %> to be sent to you.

<% end %>
<p>
You can also <%= link_to "delete", signup_path(@signup), :action => :destroy, :method => :delete, :confirm => "Are you sure you want to delete the request of \"#{@signup.full}\" ?" %> this request. No traces or backups will be kept on our servers.
</br></br>
Below is a summary of the information you provided.
<p>

<div>
  <table class="simple bordered">

  <tr>
    <th>Full Name:</th>
    <td><%= @signup.full %></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <th>Name of Institution/Organization:</th>
    <td><%= @signup.institution %></td>
  </tr>

  <tr>
    <th>Department:</th>
    <td><%= @signup.department %></td>
  </tr>

  <tr>
    <th>Position or role:</th>
    <td><%= @signup.position %></td>
  </tr>

  <tr>
    <th>Email address:</th>
    <td><%= @signup.email %></td>
  </tr>

  <tr>
    <th>Street Address (line 1):</th>
    <td><%= @signup.street1 %></td>
  </tr>

  <tr>
    <th>Street Address (line 2):</th>
    <td><%= @signup.street2 %></td>
  </tr>

  <tr>
    <th>City:</th>
    <td><%= @signup.city %></td>
  </tr>

  <tr>
    <th>Province/State:</th>
    <td><%= @signup.province %></td>
  </tr>

  <tr>
    <th>Country:</th>
    <td><%= @signup.country %></td>
  </tr>

  <tr>
    <th>Postal Code:</th>
    <td><%= @signup.postal_code %></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <th>Prefered 'login' name:</th>
    <td><%= @signup.login.presence || "(none)" %></td>
  </tr>

  <% if @signup.comment.present? %>

  <tr>
    <th>Comments or special requests:</th>
    <td><%= @signup.comment %></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <% end %>


  <tr>
    <th>Status of request:</th>
    <td>
        <% if @signup.confirmed? %>
          Email address confirmed by user.<br>
          <% if @signup.approved_by.present? %>
            Request approved by administrator.
          <% else %>
            <span style="color: #bd2936">Request not yet approved by administrator.</span>
          <% end %>
        <% else %>
          <span style="color: #bd2936">Email address not yet confirmed.</span>
        <% end %>
    </td>
  </tr>

  </table>

</div>



<% unless current_user.nil? %>
  <% if current_user.has_role?(:admin_user) %>
    <p>
    You can go <%= link_to "back to request list", :action => :index %>.
  <% end %>
<% end %>
