
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2021
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%# Generate a parameter's description block for +desc+ %>
  <span class="tsk-prm-desc">
    <% lines = desc.split("\n") %>
    <% if lines.size <= 3 %>
      <% lines.each do |line| %>
        <%= line %><br>
      <% end %>
    <% else %>
      <% rando = "btq-sh-" + rand(10000000).to_s %>
      <% while lines.size > 0 && lines[0].present? %>
        <%= lines.shift %><br>
      <% end %>
      <% lines.shift %>
      <% if lines.size > 0 %>
        <%= show_hide_toggle "(Show more)", "##{rando}", :class => 'action_link', :slide_effect => true, :slide_duration => 'fast' %>
        <div id="<%= rando %>" style="display: none">
          <% lines.each do |line| %>
            <%= line %><br>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% if isGroupMember %>
    <br>
  <% end %>
  </span>

