
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">
  <%= new_model_button "Leave Feedback", new_feedback_path %>
  <%= overlay_ajax_link "Help", "/doc/feedback/feedback.html", :class  => "button" %>
</div>

<%=
  render(:partial => 'shared/active_filters', :locals => {
    :scope => @scope,
    :model => Feedback
  })%>

<%=
  dynamic_scoped_table(@feedbacks,
    :id         => 'feedbacks_table',
    :class      => [ :resource_list ],
    :scope      => @scope,
    :sort_map   => {
      :author => { :a => 'users.login', :j => User }
    },
    :filter_map => {
      :author => { :a => 'user_id' }
    }
  ) do |t|
%>
  <%
    t.column("Summary", :summary,
      :sortable => true
    ) { |f| link_to f.summary, f }

    t.column("Author", :author,
      :sortable => true,
      :filters  => default_filters_for(@base_scope, User)
    ) { |f| link_to_user_with_tooltip(f.user) }

    t.column("Posted at", :created_at,
      :sortable => true
    ) { |f| to_localtime(f.created_at, :datetime) }
  %>

  <% t.column("Operations", :operations) do |f| %>
    <div id="#feedback_<%= f.id %>">
      <%=
        delete_button('Delete', { :action => :destroy, :id => f.id },
          :class           => 'action_link',
          :confirm         => "Are you sure you want to delete this feedback?",
          :target          => "#feedback_#{f.id}",
          :loading_message => "Deleting..."
        )
      %>
    </div>
  <% end %>
<% end %>
