
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="feedback_<%= feedback.id %>">
  <td><%=link_to h(feedback.summary), feedback %></td>
  <td><%= link_to_user_with_tooltip(feedback.user) %></td>
  <td><%= to_localtime(feedback.created_at,:datetime) %></td>

  <% if current_user.has_role?(:admin) || current_user.id == feedback.user_id %>
     <td><%= link_to 'Edit', edit_feedback_path(feedback), :class  => 'action_link' %></td>
     <td>
       <%= 
          delete_button 'Delete', feedback_path(feedback), :class  => "action_link", 
                                                           :confirm  => 'Are you sure?', 
                                                           :target  => "#feedback_#{feedback.id}",
                                                           :target_text  => "<td colspan='5' style='color:red; text-align:center'>Deleting...</td>"
        %>
     </td>
  <% else %>
     <td colspan="2"></td>
  <% end %>
</tr>

