
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="feedback_<%= feedback.id %>">
  <td><%=link_to h(feedback.summary), feedback %></td>
  <td><%= link_to_user_if_accessible(feedback.user) %></td>
  <td><%= h(to_localtime(feedback.created_at.to_s,:datetime)) %></td>

  <% if current_user.has_role?(:admin) || current_user.id == feedback.user_id %>
     <td><%= link_to 'Edit', edit_feedback_path(feedback), :class  => 'action_link' %></td>
     <td>
       <%= 
          link_to 'Delete', feedback_path(feedback), :class  => "action_link delete_button", 
                                                     "data-confirm"  => 'Are you sure?', 
                                                     "data-delete-selector"  => "#feedback_#{feedback.id}",
                                                     "data-delete-text"  => "<td colspan='5' style='color:red; text-align:center'>Deleting...</td>"
        %>
     </td>
  <% else %>
     <td colspan="2"></td>
  <% end %>
</tr>

