
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<span id="new_model">
  <%= button_with_dropdown_menu("Leave Feedback", :open => true) do %>
    You can use this form to leave feedback for the developers.

    <P>

    <strong>Important Note:</strong>
    Any and all feedback you leave is <em>public</em>, and can be seen
    by all the other users too!

    <P>

    <%= ajax_form_for @feedback, :as => :feedback, :url => { :action => "create" }, :datatype => "script"  do |f| -%>

      <%= f.error_messages %>
      <p>
        <%= f.label :summary %><br/>
        <%= f.text_field :summary, :size => 80 %>
      </p>
      <p>
        <%= f.label :details %><br/>
        <%= f.text_area :details, :rows => 20, :cols => 80 %>
      </p>
      <p>
        <%= f.submit "Create" %>
      </p>

    <% end %>
  <% end %>
</span>

