
<% ajax_form_for :feedback, @feedback, :url => { :action => "create" }, :datatype => "script"  do |f| -%>

  <%= f.error_messages %>
  <p>
    <%= f.label :summary %><br />
    <%= f.text_field :summary %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>

<% end %>
    
