
<% title 'Edit Feedback' %>

<h2>Editing feedback</h2>

<div class="generalbox">
  
   <%= form_for(@feedback) do |f| %>
     <%= f.error_messages %>
     <p>
       <%= f.label :summary %><br />
       <%= f.text_field :summary %>
     </p>
     <p>
       <%= f.label :details %><br />
       <%= f.text_area :details %>
     </p>
     <p>
       <%= f.submit "Update" %>
     </p>
   <% end %>

</div> <!-- End class="generalbox" -->

