<% title 'Feedback' %>
 
<div class="menu_bar menu_bar_left">
  <%= button_with_dropdown_menu('Leave Feedback', :partial => 'new', :content_id => 'new_model_panel', :button_id => "new_model_button") %>
  <%= render :partial => "shared/manage_filter_button", :locals => {:model => :feedback}  %>
  <%= overlay_ajax_link "Help", "/doc/feedback/feedback.html", :class  => "button" %>      
</div>
                 
<%= form_tag({:controller => :feedbacks, :action => :delete_feedback}, :method => :delete) do %>
     <%= render :partial => "feedbacks_table" %>
<% end %>


