
<% title 'Feedback' %>

<h2>Feedback</h2>

<table class = "property_list">
   <tr>
     <th class = "center_align_heading" colspan="2"><%= h @feedback.summary %></th>
   </tr>

   <tr>
      <td> <%= link_to_user_with_tooltip(@feedback.user) %> </td>
      <td> <%= h(to_localtime(@feedback.created_at,:datetime)) %> </td>
   </tr>

   <tr>
     <td colspan="2" class="white_background_text"><%= simple_format h(@feedback.details) %></td>
   </tr>
</table>

<% if current_user.has_role?(:admin) || current_user.id == @feedback.user_id %>
    <%= link_to 'Edit', edit_feedback_path(@feedback) %> &nbsp;
    <%= link_to 'Destroy', @feedback, :confirm => 'Are you sure?', :method => :delete %>
<% end %>

