
<% title 'Feedback' %>

<br>
<%= error_messages_for :feedback, :header_message => "Feedback could not be updated." %>
<div class="display_inline_block" style="min-width: 50%">
  <%= show_table(@feedback, :width => 1, :edit_path => feedback_path(@feedback)) do |t| %>
    <% t.edit_cell(:summary, :disabled => (!current_user.has_role?(:admin) && current_user.id != @feedback.user_id)) do %>
      <%= text_field_tag "feedback[summary]", @feedback.summary %>
    <% end %>
    <% t.cell("Author") { link_to_user_with_tooltip(@feedback.user) } %>
    <% t.cell("Date Submitted") { to_localtime(@feedback.created_at,:datetime) }  %>
    <% t.edit_cell(:details, :content => h(@feedback.details).gsub("\n", "<br>"), :disabled => (!current_user.has_role?(:admin) && current_user.id != @feedback.user_id)) do %>
      <%= text_area_tag "feedback[details]", @feedback.details, :rows => 20, :cols => 80 %><br>
      <%= submit_tag "Update" %>
    <% end %>
  <% end %>
</div>


