
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% title 'Feedback' %>

<br>
<%= error_messages_for :feedback, :header_message => "Feedback could not be updated." %>
<div class="display_inline_block" style="min-width: 50%">
  <%= show_table(@feedback, :width => 1) do |t| %>
    <% t.edit_cell(:summary, :disabled => (!current_user.has_role?(:admin) && current_user.id != @feedback.user_id)) do %>
      <%= text_field_tag "feedback[summary]", @feedback.summary %>
    <% end %>
    <% t.cell("Author") { link_to_user_with_tooltip(@feedback.user) } %>
    <% t.cell("Date Submitted") { to_localtime(@feedback.created_at,:datetime) }  %>
    <% t.edit_cell(:details, :content => h(@feedback.details).gsub("\n", "<br>"), :disabled => (!current_user.has_role?(:admin) && current_user.id != @feedback.user_id)) do %>
      <%= text_area_tag "feedback[details]", @feedback.details, :rows => 20, :cols => 80 %>
    <% end %>
  <% end %>
</div>

<P>

<% if current_user.available_users.include? @feedback.user %>
  <P>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @feedback.getlog, :title => 'Feedback Log' } %>
<% end %>

