<div class="menu_bar menu_bar_left">
  <% if check_role(:admin) || check_role(:site_manager)%>
    <% button_with_dropdown_menu('Create New Server', :partial => 'new', :content_id => "new_bourreau", :button_id => "new_bourreau_button") %>
    <%= link_to "Refresh SSH Public Keys", {:action  => :refresh_ssh_keys }, { :method  => :post, :class  => "button" } %>
  <% end %>
  <%= ajax_link (@filter_params["details"] == 'on' ? "Hide Details" : "Show Details" ),
              {:controller  => :bourreaux, :action  => :index, :bourreaux  => {:details  => set_toggle(@filter_params["details"])}},
              :datatype  => 'script', :class  => "button"
  %>
  <%= overlay_ajax_link "Help", "/doc/server/view_server.html", :class  => "button" %>
</div>

<P>
  
<table id="bourreau_table" class="resource_list">
  <tr>
      <th>Server Class</th>
      <th>Server Name</th>
      <% if @filter_params["details"] == 'on'  %>
        <th>Revision Numbers</th>
        <th>Owner</th>
      <% end %>
      <th>Project</th>
      <% if @filter_params["details"] == 'on'  %>
        <th>Site</th>
        <th>Time Zone</th>
      <% end %>
      <th>Online?</th>
      <th>Alive?</th>
      <th>Workers?</th>
      <th>Load</th>
      <th>Tasks</th>
      <% if @filter_params["details"] == 'on'  %>
        <th>Description</th>
      <% end %>
      <th colspan="5">Operations</th>
  </tr>

  <% numcol = @filter_params["details"] == 'on' ? 18 : 13 %>

  <% for bour in @bourreaux %>
    <% staggered_loading "tr", url_for(:action  => :row_data, :id => bour.id), 
                         :id             => "bourreau_#{bour.id}",
                         :class          => "row_highlight #{cycle("list-odd", "list-even")}", 
                         :error_message  => "<td colspan=\"#{numcol}\" class=\"loading_message\">Information for '#{bour.name}' unavailable</td>" do %>
       <td colspan="<%= numcol %>" class="loading_message">Fetching information for '<%= h(bour.name) %>' ...</td>
    <% end %>
  <% end %>
</table>

