<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="bourreau_<%= bour.id %>">
  <td><%= link_if_has_access(bour, bour.name, bourreau_path(bour)) %></td>
  <td><%= h(bour.user.login) %></td>
  <td><%= h(bour.group.name) %></td>
  <td><%= (link_to h(bour.site_affiliation.name), site_path(bour.site)) rescue "(Unassigned)" %></td>
  <td><%= h(bour.online ? "Yes" : "No") %></td>
  <td><%= bour.is_alive? ? "Yes" : "<font color=\"red\">No</font>" %></td>
  <td><%= h(bour.description) %></td>
  <% if bour.has_owner_access?(current_user) %>
    <td><%= link_to 'Edit', edit_bourreau_path(bour), :class => 'action_link' %></td>
    <td>
      <%= 
          link_to_remote  'Delete',
                        {:url  => bourreau_path(bour),
                         :method  => 'delete',
                         :confirm => 'Are you sure?',
                         :before  => "$('bourreau_#{bour.id}').update('<td colspan=\"11\" style=\"color:red; text-align:center;\">Deleting...</td>');"
                         },
                        {:class => 'action_link'}
        %>
     </td>
    <% if bour.has_remote_control_info? %>
      <td><%= link_to 'Start', start_bourreau_path(bour), :class => 'action_link' %></td>
      <td><%= link_to 'Stop', stop_bourreau_path(bour), :class => 'action_link' %></td>
    <% else %>
      <td colspan="2"></td>
    <% end %>
  <% else %>
    <td colspan="4"></td>
  <% end %>
</tr>