
<% info        = bour.info            %>
<% diskrev     = info.lc_rev;             diskrev = "????" if diskrev == "???" %>
<% runrev      = info.starttime_revision; runrev  = "????" if runrev  == "???" %>
<% worker_pids = info.worker_pids     %>
<% worker_pids = nil if worker_pids == "???" %>
<% tasks_tot   = info.tasks_tot %>
<% tasks_max   = info.tasks_max %>
<% tasks_max   = 'unlimited' if tasks_max.to_s == '0' %>
<% isbourreau  = bour.is_a?(Bourreau) %>
<% num_running = isbourreau ? CbrainTask.count(:all, :conditions => { :bourreau_id => bour.id, :status => CbrainTask::ACTIVE_STATUS }) : 0 %>


<td><%= isbourreau ? "Execution" : "Portal" %></td>
<td><%= link_to_bourreau_if_accessible(bour) %></td>
<% if @filter_params["details"] == 'on' %>
  <td><%= red_if(diskrev.to_s != runrev.to_s,"Code:&nbsp;#{diskrev}&nbsp;Live:&nbsp;#{runrev}") %></td>
  <td><%= link_to_user_with_tooltip(bour.user) %></td>
<% end %>
<td><%= link_to_group_if_accessible(bour.group) %></td>
<% if @filter_params["details"] == 'on' %>
  <td><%= link_to_site_if_accessible(bour.site_affiliation) %></td>
  <td><%= h(bour.time_zone || "(Unset)") %></td>
<% end %>
<td><%= red_if( ! bour.online,      "Yes", "Offline" ) %></td>
<td><%= red_if( info.name == "???", "Yes", "Down!"   ) %></td>

<% if isbourreau %>
  <td><%= red_if( worker_pids.blank? , "Running (x #{worker_pids.to_s.split(",").size})", "Stopped" ) %></td>
  <td><%= "#{tasks_tot}/#{tasks_max}" %></td>
  <td><% if num_running > 0 %>
        <%= filter_reset_link num_running, :controller => :tasks, :filters  => { :bourreau_id => bour.id, :status => :active }, :ajax => false %>
      <% else %>
        0
      <% end %>
  </td>
<% else %>
  <td>-</td>
  <td>-</td>
  <td>-</td>
<% end %>

<% if @filter_params["details"] == 'on' %>
  <td><%= overlay_description(bour.description) %></td>
<% end %>

<% if bour.has_owner_access?(current_user) %>

  <td><%= link_to 'Edit', edit_bourreau_path(bour), :class => 'action_link' %></td>
  <td>
    <% if RemoteResource.current_resource.id != bour.id %>
      <%= 
          delete_button 'Delete', bourreau_path(bour), :class  => "action_link", 
                                                       :confirm  => "Are you sure you want to delete '#{bour.name}' ?", 
                                                       :target  => "#bourreau_#{bour.id}",
                                                       :target_text  => "<td colspan='17' style='color:red; text-align:center'>Deleting...</td>"
      %>
     <% end %>
  </td>

  <% if ! isbourreau %>
    <td colspan="2"></td>
  <% elsif ! bour.has_remote_control_info? %>
    <td colspan="2"><%= red_if(true,"(Missing SSH control info)") %></td>
  <% elsif ! bour.has_actres_tunnelling_info? %>
    <td colspan="2"><%= red_if(true,"(Missing ActiveResource SSH tunnel info)") %></td>
  <% elsif ! bour.has_db_tunnelling_info? %>
    <td colspan="2"><%= red_if(true,"(Missing database SSH tunnel info)") %></td>
  <% else %>
    <td><%= link_to 'Start', start_bourreau_path(bour), :class => 'action_link', :method  => :post %></td>
    <td><%= link_to 'Stop',  stop_bourreau_path(bour),  :class => 'action_link', :method  => :post %></td>
  <% end %>

  <% if isbourreau %>
    <td><%= link_to 'Access?', { :controller => :tool_configs, :action => :index, :bourreau_id => bour.id }, :class => 'action_link' %></td>
  <% else %>
    <td></td>
  <% end %>

<% else %>
  <td colspan="5"></td>
<% end %>

