
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% info = @bourreau.info(:ping) %>

<td data-column="name">
  <%=
    link_to_bourreau_if_accessible(@bourreau, current_user, :html_options => {
      :class => info.name != '???' ? nil : 'error_link'
    })
  %>
</td>

<td data-column="revision">
  <%=
    revision = info.starttime_revision
    red_if(revision != '???' && revision != $CBRAIN_StartTime_Revision, revision, nil, :color2 => 'red')
  %>
</td>

<td data-column="uptime">
  <% if info.name == '???' %>
    <%= red_if(@bourreau.online?, "-", "Down!") %>
  <% else %>
    <%=
      html_tool_tip(
        pretty_elapsed(info.uptime.to_i, :num_components => 2, :short => true),
        :offset_x => 50
      ) do
    %>
      Since <%= to_localtime(info.uptime.to_i.ago, :datetime) %>
      (for <%= pretty_elapsed(info.uptime.to_i) %>)
    <% end %>
  <% end %>
</td>

<td data-column="workers">
  <% if @bourreau.is_a?(Bourreau) && @bourreau.online? %>
    <% if info.worker_pids == '???' %>
      <%= html_colorize("Stopped", "red") %>
    <% else %>
      <%=
        nworkers = info.worker_pids.count(',') + 1
        red_if(nworkers != @bourreau.workers_instances, "Running (x #{nworkers})", nil, :color2 => "orange")
      %>
    <% end %>
  <% else %>
    -
  <% end %>
</td>
