
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="menu_bar">
  <% if check_role(:site_manager) || check_role(:admin_user) %>
    <%= new_model_button 'Create New Server', new_bourreau_path %>
    <%= link_to "Refresh SSH Public Keys", {:action  => :refresh_ssh_keys }, { :method  => :post, :class  => "button" } %>
  <% end %>
  <%= ajax_link (@filter_params["details"] == 'on' ? "Hide Details" : "Show Details" ),
              {:controller  => :bourreaux, :action  => :index, :bourreaux  => {:details  => set_toggle(@filter_params["details"])}},
              :datatype  => 'script', :class  => "button"
  %>
  
  <%= link_to "User Access Report",
             {:controller  => :bourreaux, :action  => :rr_access},
              :datatype  => 'script', :class  => "button"
  %>   
  
  <%= link_to "Disk Cache Report",
              {:controller  => :bourreaux, :action  => :rr_disk_usage},
              :datatype  => 'script', :class  => "button"
  %>
  
  <%= link_to "Task Workdir Size Report",
             {:controller  => :portal, :action  => :report, :table_name => "cbrain_tasks.combined_task_rep", 
             :row_type => :user_id, :col_type => :bourreau_id, :generate => "ok" }, :class  => "button"
  %>
  
  <%= link_to "Access to Data Providers",
              {:controller  => :bourreaux, :action  => :rr_access_dp},
              :datatype  => 'script', :class  => "button"
  %>
  
  <%= overlay_ajax_link "Help", "/doc/server/view_server.html", :class  => "button" %>
</div>

<div class="active_status">
  <span class="active_status_left_side">
    <%= render :partial => 'shared/active_filters', :locals => {:model => :bourreau} %>
  <span>
</div>

<% operations_width_colspan = 3 %>
<%= index_table(@bourreaux, :id => "bourreau_table", :class => "resource_list") do |t| %>
  <%
    t.sort_column("Server Type", RemoteResource, :type, :filters => basic_filters_for(@filtered_scope, @header_scope, RemoteResource, :type))
    t.sort_column("Server Name", RemoteResource, :name)
    if @filter_params["details"] == 'on'
      t.column("Live Revision")
      t.sort_column("Owner", User, :login, :filters => association_filters_for(@filtered_scope, @header_scope, RemoteResource, User, :name_method => :login))
    end
    t.sort_column("Project", Group, :name, :filters => association_filters_for(@filtered_scope, @header_scope, RemoteResource, Group))
    if @filter_params["details"] == 'on'
      t.column("Site")
      t.sort_column("Time Zone", RemoteResource, :time_zone, :filters => basic_filters_for(@filtered_scope, @header_scope, RemoteResource, :time_zone))
    end
    t.sort_column("Online?", RemoteResource, :online)
    t.column("Uptime")
    t.describe_column("Workers") do |col|
      col.cell(:if => Proc.new{ |rr| rr.is_a?(Bourreau) })
    end
    t.describe_column("Tasks") do |col|
      col.cell(:if => Proc.new{ |rr| rr.is_a?(Bourreau) })
    end
    if @filter_params["details"] == 'on'
      t.describe_column("Tasks Space") do |col|
        col.cell(:if => Proc.new{ |rr| rr.is_a?(Bourreau) })
      end
    end
    if @filter_params["details"] == 'on'
      t.sort_column("Description", RemoteResource, :description)
    end
    t.column("Operations", :colspan => operations_width_colspan)  
  %>
  
  <% row_number = 0 %>
  <% t.row_override do |rr| %>
    <% row_number += 1 %>
    <% full_width_colspan = t.num_cells + operations_width_colspan - 1 %>
    <% if rr.is_a?(Bourreau) && rr.online? && !rr.info_cached?(:ping)  %>
      <%= staggered_loading "tr", url_for(:action  => :row_data, :id => rr.id, :row_number => row_number), 
                           :id             => "bourreau_#{rr.id}",
                           :class          => "row_highlight #{cycle("list-odd", "list-even")}",
                           :replace        => true,
                           :error_message  => "<td colspan=\"#{full_width_colspan}\" class=\"loading_message\">Information for '#{h(rr.name)}' unavailable</td>" do %>
          <td colspan="<%= full_width_colspan %>" class="loading_message">Checking '<%= rr.name %>'...</td>
      <% end %>
    <% else %>
      <%= render :partial => 'bourreau_table_row', :locals  => { :bourreau  => rr, :row_number => row_number } %>
    <% end %>
  <% end %>
  
<% end %>


