
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<%
   info        = bourreau.info(:ping)
   b_alive     = info.name != "???"
   runrev      = info.starttime_revision
   worker_pids = info.worker_pids
   worker_pids = nil if worker_pids == "???"
   num_workers = worker_pids ? worker_pids.count(',')+1 : 0
   isbourreau  = bourreau.is_a?(Bourreau).presence # make sure it's 'nil' if false so substition -> empty string
   num_running = isbourreau ? CbrainTask.status(:active).where( :bourreau_id => bourreau.id ).count : 0
   task_space_known = isbourreau ? CbrainTask.real_tasks.where( :bourreau_id => bourreau.id ).sum(:cluster_workdir_size)                                               : ""
   task_space_unkn  = isbourreau ? CbrainTask.real_tasks.where( :bourreau_id => bourreau.id, :cluster_workdir_size => nil ).where("cluster_workdir IS NOT NULL").count : ""
%>

<tr class="row_highlight <%= row_number % 2 == 0 ? "list-even" : "list-odd" %>" id="bourreau_<%= bourreau.id %>">
  <td class="left_align"><%= isbourreau ? "Execution" : "Portal" %></td>
  <td class="left_align"><%= link_to_bourreau_if_accessible(bourreau, current_user, :html_options => { :class => b_alive ? nil : 'error_link' } ) %></td>
  <% if @filter_params["details"] == 'on' %>
    <td>
        <%= red_if(runrev  != '???' && runrev  != $CBRAIN_StartTime_Revision, runrev, nil, :color2 => 'red') %>
    </td>
    <td><%= link_to_user_with_tooltip(bourreau.user) %></td>
  <% end %>
  <td><%= link_to_group_if_accessible(bourreau.group) %></td>
  <% if @filter_params["details"] == 'on' %>
    <td><%= link_to_site_if_accessible(bourreau.site_affiliation) %></td>
    <td><%= bourreau.time_zone || "(Unset)" %></td>
  <% end %>
  <td><%= red_if( ! bourreau.online, "Yes", "Offline" ) %></td>
  <td>
      <% if ! b_alive %>
        <%= red_if( bourreau.online? , "-", "Down!" ) %>
      <% else %>
        <%= html_tool_tip("#{pretty_elapsed(info.uptime.to_i, :num_components => 2, :short => true)}", :offset_x => 50) do %>
          Since: <%= to_localtime(info.uptime.to_i.ago,:datetime) %>
          (for <%= pretty_elapsed(info.uptime.to_i) %>)
        <% end %>
      <% end %>
  </td>

  <td>
    <% if (! isbourreau) || (! bourreau.online?) %>
      -
    <% elsif worker_pids.blank? %>
      <%= html_colorize("Stopped", "red") %>
    <% else %>
      <%= red_if(num_workers != bourreau.workers_instances, "Running (x #{num_workers})", nil, :color2 => "orange") %>
    <% end %>
  </td>
  <td>
      <%= isbourreau && html_tool_tip(
         index_count_filter(num_running, :tasks, { :bourreau_id => bourreau.id, :status => :active }, :show_zeros => true),
         :tooltip_div_class => 'white_bg html_tool_tip'
         ) do %>
           <%= render :partial => 'load_info', :locals => { :bourreau => bourreau } %>
      <% end %>
  </td>
  <% if @filter_params["details"] == 'on' %>
    <td>
      <% if isbourreau %>
      <%= link_to colored_pretty_size(task_space_known), report_path(
          :table_name  => "cbrain_tasks.combined_task_rep",
          :col_type    => "bourreau_id",
          :row_type    => "user_id",
          :bourreau_id => bourreau.id,
          :generate    => "Go"
          ), { :class => 'no_decorations' }
      %>
      <%= "(#{task_space_unkn} unkn)" if task_space_unkn > 0 %>
      <% end %>
    </td>
  <% end %>

  <% if @filter_params["details"] == 'on' %>
    <td class="left_align"><%= overlay_description(bourreau.description) %></td>
  <% end %>

  <% if isbourreau %>
    <% external_status_page_url = bourreau.external_status_page_url.nil? ? 
         "" : link_to("Status", bourreau.external_status_page_url, :class => "action_link", :target => "_blank") %>
    <td><%= external_status_page_url %></td>
  <% elsif %>
    <td></td>
  <% end %>
  
  <% if bourreau.has_owner_access?(current_user) %>
    <% if ! isbourreau %>
      <td colspan="2"></td>
    <% elsif ! bourreau.has_remote_control_info? %>
      <td colspan="2"><%= html_colorize("(Missing SSH control info)") %></td>
    <% elsif ! bourreau.has_actres_tunnelling_info? %>
      <td colspan="2"><%= html_colorize("(Missing ActiveResource SSH tunnel info)") %></td>
    <% elsif ! bourreau.has_db_tunnelling_info? %>
      <td colspan="2"><%= html_colorize("(Missing database SSH tunnel info)") %></td>
    <% else %>
      <td><%= link_to 'Start', start_bourreau_path(bourreau), :class => 'action_link', :method  => :post %></td>
      <td><%= link_to 'Stop',  stop_bourreau_path(bourreau),  :class => 'action_link', :method  => :post %></td>
    <% end %>

    <% if isbourreau && current_user.has_role?(:admin_user)%>
      <td><%= link_to 'Access?', { :controller => :tool_configs, :action => :index, :bourreau_id => bourreau.id }, :class => 'action_link' %></td>
    <% else %>
      <td></td>
    <% end %>

  <% else %>
    <td colspan="3"></td>
  <% end %>

</tr>
