
<% info        = bour.info            %>
<% diskrev     = info.revision;           diskrev = "????" if diskrev == "???" %>
<% runrev      = info.starttime_revision; runrev  = "????" if runrev  == "???" %>
<% worker_pids = info.worker_pids     %>
<% worker_pids = nil if worker_pids == "???" %>
<% tasks_tot   = info.tasks_tot %>
<% tasks_max   = info.tasks_max %>
<% tasks_max   = 'unlimited' if tasks_max.to_s == '0' %>
<% isbourreau  = bour.is_a?(Bourreau) %>

<td><%= isbourreau ? "Execution" : "Portal" %></td>
<td><%= link_to_bourreau_if_accessible(bour) %></td>
<td class="resource_details" style="display:none"><%= red_if(diskrev.to_s != runrev.to_s,"Code:&nbsp;#{diskrev}&nbsp;Live:&nbsp;#{runrev}") %></td>
<td class="resource_details" style="display:none"><%= link_to_user_if_accessible(bour.user) %></td>
<td><%= link_to_group_if_accessible(bour.group) %></td>
<td class="resource_details" style="display:none"><%= link_to_site_if_accessible(bour.site_affiliation) %></td>
<td class="resource_details" style="display:none"><%= h(bour.time_zone || "(Unset)") %></td>
<td><%= red_if( ! bour.online,      "Yes", "Offline" ) %></td>
<td><%= red_if( info.name == "???", "Yes", "Down!"   ) %></td>

<% if isbourreau %>
  <td><%= red_if( worker_pids.blank? , "Running (x #{worker_pids.to_s.split(",").size})", "Stopped" ) %></td>
  <td><%= "#{tasks_tot}/#{tasks_max}" %></td>
  <td><%= @num_running %>
<% else %>
  <td>-</td>
  <td>-</td>
  <td>-</td>
<% end %>

<td class="resource_details" style="display:none"><%= overlay_description(bour.description) %></td>

<% if bour.has_owner_access?(current_user) %>

  <td><%= link_to 'Edit', edit_bourreau_path(bour), :class => 'action_link' %></td>
  <td>
    <% if RemoteResource.current_resource.id != bour.id %>
      <%= 
          delete_button 'Delete', bourreau_path(bour), :class  => "action_link", 
                                                       :confirm  => 'Are you sure?', 
                                                       :target  => "#bourreau_#{bour.id}",
                                                       :target_text  => "<td colspan='17' style='color:red; text-align:center'>Deleting...</td>"
      %>
     <% end %>
  </td>

  <% if bour.has_remote_control_info? %>
    <td><%= link_to 'Start', start_bourreau_path(bour), :class => 'action_link', :method  => :post %></td>
    <td><%= link_to 'Stop',  stop_bourreau_path(bour),  :class => 'action_link', :method  => :post %></td>
  <% else %>
    <td colspan="2"></td>
  <% end %>

<% else %>
  <td colspan="4"></td>
<% end %>

