<div class="menu_bar">
  <% if check_role(:admin) || check_role(:site_manager) %>
    <%= new_model_button 'Create New Server', new_bourreau_path %>
    <%= link_to "Refresh SSH Public Keys", {:action  => :refresh_ssh_keys }, { :method  => :post, :class  => "button" } %>
  <% end %>
  <%= ajax_link (@filter_params["details"] == 'on' ? "Hide Details" : "Show Details" ),
              {:controller  => :bourreaux, :action  => :index, :bourreaux  => {:details  => set_toggle(@filter_params["details"])}},
              :datatype  => 'script', :class  => "button"
  %>
  
  <%= link_to ("Access Report"),
             {:controller  => :bourreaux, :action  => :rr_access},
              :datatype  => 'script', :class  => "button"
  %>   
  
  <%= link_to ("Disk Cache Report"),
              {:controller  => :bourreaux, :action  => :rr_disk_usage},
              :datatype  => 'script', :class  => "button"
  %>
  
  <%= link_to ("Task Workdir Size Report"),
              {:controller  => :bourreaux, :action  => :task_workdir_size},
              :datatype  => 'script', :class  => "button"
  %>
  
  <%= link_to ("Access to Data Providers"),
              {:controller  => :bourreaux, :action  => :rr_access_dp},
              :datatype  => 'script', :class  => "button"
  %>
  
  <%= overlay_ajax_link "Help", "/doc/server/view_server.html", :class  => "button" %>
</div>

<div class="active_filters">
  <% unless @filter_params["filter_hash"].blank? %>  
     Active Filters (<%= filter_clear_link 'clear', :class  => "action_link" %>):  
      <span id="current_filters">
        <% 
          filters = @filter_params["filter_hash"].map do |att, val| 
            if att == "type"
              "<span class=\"current_filters_item\">#{crop_text_to(30, "Type:#{val == "Bourreau" ? "Excecution" : "Portal"}")}</span>" + filter_remove_link(delete_icon, att)
            else
              "<span class=\"current_filters_item\">#{crop_text_to(30, display_filter(:remote_resource, att, val, {:user  => :login}))}</span>" + filter_remove_link(delete_icon, att)
            end            
          end 
        %>
        <%= filters.join(", ").html_safe %>
      </span>
  <% end %>
</div>

<%= index_table(@bourreaux, :id => "bourreau_table", :class => "resource_list") do |t| %>
  <%
    t.sort_column("Server Class", RemoteResource, :type, :filters => basic_filters_for(@header_scope, RemoteResource, :type){ |t| t == "Bourreau" ? "Excecution" : "Portal" })
    t.sort_column("Server Name", RemoteResource, :name)
    if @filter_params["details"] == 'on'
      t.column("Revision Numbers")
      t.sort_column("Owner", User, :login, :filters => association_filters_for(@header_scope, RemoteResource, User, :name_method => :login))
    end
    t.sort_column("Project", Group, :name, :filters => association_filters_for(@header_scope, RemoteResource, Group))
    if @filter_params["details"] == 'on'
      t.column("Site")
      t.sort_column("Time Zone", RemoteResource, :time_zone, :filters => basic_filters_for(@header_scope, RemoteResource, :time_zone))
    end
    t.sort_column("Online?", RemoteResource, :online)
    t.column("Uptime")
    t.describe_column("Workers") do |col|
      col.cell(:if => Proc.new{ |rr| rr.is_a?(Bourreau) })
    end
    t.describe_column("Load") do |col|
      col.cell(:if => Proc.new{ |rr| rr.is_a?(Bourreau) })
    end
    t.describe_column("Tasks") do |col|
      col.cell(:if => Proc.new{ |rr| rr.is_a?(Bourreau) })
    end
    if @filter_params["details"] == 'on'
      t.describe_column("Tasks Space") do |col|
        col.cell(:if => Proc.new{ |rr| rr.is_a?(Bourreau) })
      end
    end
    if @filter_params["details"] == 'on'
      t.sort_column("Description", RemoteResource, :description)
    end
    t.column("Operations", :colspan => 5)  
  %>
  <% t.row_override do |rr| %>
    <% if rr.is_a?(Bourreau) && rr.online? && !rr.info_cached?  %>
      <% staggered_loading "tr", url_for(:action  => :row_data, :id => rr.id), 
                           :id             => "bourreau_#{rr.id}",
                           :class          => "row_highlight #{cycle("list-odd", "list-even")}",
                           :replace        => true,
                           :error_message  => "<td colspan=\"#{t.num_cells}\" class=\"loading_message\">Information for '#{h(rr.name)}' unavailable</td>" do %>
          <td colspan="<%= t.num_cells %>" class="loading_message">Checking '<%= rr.name %>'...</td>
      <% end %>
    <% else %>
      <%= render :partial => 'bourreau_table_row', :locals  => { :bourreau  => rr } %>
    <% end %>
  <% end %>
<% end %>


