
      <% is_bourreau = @bourreau.is_a?(Bourreau) %>

      <p><label for="name">Name</label><p/>
      <%= f.text_field :name %></p>

      <% if ! is_bourreau %>
      <p><label for="site_url_prefix">Site URL Home Page</label><br/>
      <%= f.text_field :site_url_prefix %></p>
      <% end %>

      <p><label for="description">Description</label><br/>
      <%= f.text_area :description, :rows => 10 %><br/>
      <small>The first line should be a short summary, and the rest are for any special notes for the users.</small>
      </p>
      
      <p><label for="user_id">Owner</label><br/>
      <%= user_select("bourreau[user_id]", { :selector => @bourreau }, { :disabled => ! current_user.has_role?(:admin) } ) %></p>

      <p><label for="group_id">Project</label><br/>
      <%= group_select("bourreau[group_id]", :selector => @bourreau) %></p>

      <p><label for="online">Status</label><br/>
      <%= f.select :online, { "Online" => true, "Offline" => false }, :prompt => "Select status" %></p>

      <span title="Time zone where this server is located.">
        <p><label for="time_zone">Time Zone</label><br/>
        <%= f.time_zone_select :time_zone, 
            ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
            { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'],
              :include_blank => true }
        %></p>
      </span>

      <% if is_bourreau %>

      <p><label>ActiveResource Configuration</label><p/>

      <div class="groupentry">
          <p><label for="actres_host">Hostname</label><br/>
          <%= f.text_field :actres_host %></p>

          <p><label for="actres_port">Port Number</label><br/>
          <%= f.text_field :actres_port, :size => 6 %></p>
      </div>

      <p><label>SSH Remote Control Configuration</label></p>

      <div class="groupentry">
          <p><label for="ssh_control_host">Hostname</label><br/>
          <%= f.text_field :ssh_control_host %></p>

          <p><label for="ssh_control_user">Username</label><br/>
          <%= f.text_field :ssh_control_user %></p>

          <p><label for="ssh_control_port">Port Number</label><br/>
          <%= f.text_field :ssh_control_port, :size => 6 %></p>

          <p><label for="ssh_control_rails_dir">Rails Server Directory</label><br/>
          <%= f.text_field :ssh_control_rails_dir, :size => 60 %></p>
      </div>
        
      <p><label>Tunneling Configuration</label><p/>

      <div class="groupentry">
        <p><label for="tunnel_mysql_port">Database Server Remote Tunnel Port</label><br/>
        <%= f.text_field :tunnel_mysql_port, :size => 6 %></p>

        <p><label for="tunnel_actres_port">ActiveResource Remote Tunnel Port</label><br/>
        <%= f.text_field :tunnel_actres_port, :size => 6 %></p>
      </div>

      <% end %>

      <p><label>Cache Management Configuration</label></p>

      <div class="groupentry">
          <p><label for="dp_cache_dir">Path to Data Provider caches</label><br/>
          <%= f.text_field :dp_cache_dir, :size => 60 %><br/>
          <small>Warning! Changing this field will result in resetting the synchronization<br/>
          status of all files from all Data Providers! Also, the Rails app will have to<br/>
          be restarted, and all files in that directory will be erased!
          </p>

          <p><label for="spaced_dp_ignore_patterns">Patterns for filenames to ignore</label><br/>
          <%= f.text_field :spaced_dp_ignore_patterns, :size => 80 %><br/>
          <small>Separate several patterns with spaces; each pattern can contain single '*'s, but no '/'s or special characters.</small></p>

          <p><label for="cache_trust_expire">Cache Expiration Timeout</label><br/>
          <%= f.select :cache_trust_expire, [
                  [ "Never",      "0"                ],
                  [ "Six hours",  6.hours.to_i.to_s  ],
                  [ "One day",    1.day.to_i.to_s    ],
                  [ "One week",   1.week.to_i.to_s   ],
                  [ "One month",  1.month.to_i.to_s  ],
                  [ "Six months", 6.month.to_i.to_s  ]
              ]
          %></p>
      </div>

      <% if is_bourreau %>

      <p><label>Common configuration for all tasks:</label> <%= link_to "Edit", new_tool_config_path( :bourreau_id => @bourreau.id ) %>
      </p>

      <p><label>Cluster Management System Configuration</label></p>

      <div class="groupentry">
          <p><label for="cms_class">Type of cluster</label><br/>
          <%= f.select :cms_class, [
                  [ "(Unconfigured)",  "" ],
                  [ "Sun GridEngine",  "ScirSge" ],
                  [ "PBS",             "ScirPbs" ],
                  [ "MOAB",            "ScirMoab" ],
                  [ "Sharcnet custom", "ScirSharcnet" ],
                  [ "UNIX processes",  "ScirUnix" ]
              ]
          %></p>

          <p><label for="cms_shared_dir">Path to shared work directory</label><br/>
          <%= f.text_field :cms_shared_dir, :size => 60 %><br/>
          <small>Optional. This directory must be visible and writable from all nodes.<br>
                 This is were the work subdirectories for all tasks will be created.</small>
          </p>

          <p><label for="cms_default_queue">Default queue name</label><br/>
          <%= f.text_field :cms_default_queue %><br/>
          <small>Optional.</small>
          </p>

          <p><label for="cms_extra_qsub_args">Extra 'qsub' options</label><br/>
          <%= f.text_field :cms_extra_qsub_args, :size => 60 %><br/>
          <small>Optional. Careful, this is inserted as-is in the command-line for submitting jobs.</small>
          </p>
      </div>

      <p><label>Bourreau Workers Configuration</label></p>

      <div class="groupentry">

          <p><label for="workers_instances">Number of Workers</label><br/>
          <%= f.select :workers_instances, [
                  [ "None (for debug)",  0 ],
                  [ "1",                 1 ],
                  [ "2",                 2 ],
                  [ "3",                 3 ],
                  [ "4",                 4 ],
                  [ "5",                 5 ],
                  [ "10",                10 ],
                  [ "20",                20 ]
              ]
          %></p>

          <p><label for="workers_chk_time">Check interval</label><br/>
          <%= f.select :workers_chk_time, [
                  [ "5 seconds",               5 ],
                  [ "10 seconds",              10 ],
                  [ "30 seconds",              30 ],
                  [ "1 minute (recommended)",  60 ],
                  [ "2 minutes",               120 ],
                  [ "5 minutes",               300 ],
                  [ "15 minutes",              900 ],
                  [ "1 hour",                  3600 ]
              ]
          %></p>

          <p><label for="workers_log_to">Log destination</label><br/>
          <%= f.select :workers_log_to, [
                  [ "Combined file (recommended)", "combined" ],
                  [ "Separate files",              "separate" ],
                  [ "RAILS log",                   "bourreau" ],
                  [ "RAILS stdout",                "stdout" ],
                  [ "RAILS stderr",                "stderr" ],
                  [ "RAILS stdout and stderr",     "stdout|stderr" ],
                  [ "No logging",                  "none" ]
              ]
          %></p>

          <p><label for="workers_verbose">Log verbosity</label><br/>
          <%= f.select :workers_verbose, [
                  [ "Normal",      1 ],
                  [ "Debug info",  2 ]
              ]
          %><br/>
          <small>This option only affects logs sent to 'Separate files'.</small>
          </p>

      </div>

      <% end %>

