
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% is_bourreau = @bourreau.is_a?(Bourreau) %>
<% is_portal   = @bourreau.is_a?(BrainPortal) %>

  <p><%= f.label :name %><br/>
    <%= f.text_field :name %><br/>
    <small>
      Important note: this name must also be changed accordingly in the config file<br/>
      <em><%= is_bourreau ? "Bourreau/config/initializers/config_bourreau.rb" : "BrainPortal/config/initializers/config_portal.rb" %></em><br/>
      for this server to restart properly later on.
    </small>
  </p>

<% if is_portal %>

  <p><%= f.label :site_url_prefix, "Site URL Home Page" %><br/>
  <%= f.text_field :site_url_prefix %></p>

  <p><%= f.label :help_url, "URL for local documentation" %><br/>
  <%= f.text_field :help_url %><br/>
  <small>If set, the portal will show a link called 'User Manual' in the account bar at the top.</small>
  </p>

<% end %>

  <p><%= f.label :description %><br/>
  <%= f.text_area :description, :rows => 10, :cols => 40 %><br/>
  <small>The first line should be a short summary, and the rest are for any special notes for the users.</small>
  </p>
      
  <p><%= f.label :user_id, "Owner" %><br/>
  <%= user_select("bourreau[user_id]", { :selector => @bourreau }, { :disabled => ! current_user.has_role?(:admin) } ) %></p>

  <p><%= f.label :group_id, "Project" %><br/>
  <%= group_select("bourreau[group_id]", :selector => @bourreau) %></p>

  <p><%= f.label :online, "Status" %><br/>
  <%= f.select :online, { "Online" => true, "Offline" => false }, :prompt => "Select status" %></p>
      
  <p><%= f.label :rr_timeout, "Timeout for is alive check (seconds)" %><br/>
  <%= f.text_field :rr_timeout, :size => 5 %></p>

  <span title="Time zone where this server is located.">
    <p><%= f.label :time_zone, "Time Zone" %><br/>
    <%= f.time_zone_select :time_zone, 
        ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
        { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'],
          :include_blank => true }
    %></p>
  </span>

<% if is_bourreau %>

  <p>

  <fieldset class="groupentry">
  <legend>SSH Remote Control Configuration</legend>

      <p><%= f.label :ssh_control_host, "Hostname" %><br/>
      <%= f.text_field :ssh_control_host %></p>

      <p><%= f.label :ssh_control_user, "Username" %><br/>
      <%= f.text_field :ssh_control_user %></p>

      <p><%= f.label :ssh_control_port, "Port Number" %><br/>
      <%= f.text_field :ssh_control_port, :size => 6 %></p>

      <p><%= f.label :ssh_control_rails_dir, "Rails Server Directory" %><br/>
      <%= f.text_field :ssh_control_rails_dir, :size => 60 %></p>

      <p><%= f.label :proxied_host, "Second-level effective host" %><br/>
      <%= f.text_field :proxied_host %><br/>
      <small>This is an experimental field for advanced and non-standard setups<br/>
             where the remote hostname, above, is actually just a login node and<br/>
             the real host where we run the server is one step further.</small>
      </p>
  </fieldset>
        
  <p>

  <fieldset class="groupentry">
  <legend>Tunnelling Configuration</legend>

    <p><%= f.label :tunnel_mysql_port, "Database Server Remote Tunnel Port" %><br/>
    <%= f.text_field :tunnel_mysql_port, :size => 6 %></p>

    <p><%= f.label :tunnel_actres_port, "ActiveResource Remote Tunnel Port" %><br/>
    <%= f.text_field :tunnel_actres_port, :size => 6 %></p>
  </fieldset>

<% end %>

  <p>

  <fieldset class="groupentry">
  <legend>Cache Management Configuration</legend>

    <p><%= f.label :dp_cache_dir, "Path to Data Provider caches" %><br/>
    <%= f.text_field :dp_cache_dir, :size => 60 %><br/>
    <small>Warning! Changing this field will result in resetting the synchronization<br/>
    status of all files from all Data Providers! Also, the Rails app will have to<br/>
    be restarted, and all files in that directory will be erased!</small>
    </p>

    <p><%= f.label :spaced_dp_ignore_patterns, "Patterns for filenames to ignore" %><br/>
    <%= f.text_field :spaced_dp_ignore_patterns, :size => 80 %><br/>
    <small>Separate several patterns with spaces; each pattern can contain single '*'s, but no '/'s or special characters.</small></p>

    <p><%= f.label :cache_trust_expire, "Cache Expiration Timeout" %><br/>
    <%= f.select :cache_trust_expire, [
            [ "Never",        "0"                  ],
            [ "Six hours",     6.hours.to_i.to_s   ],
            [ "Twelve hours", 12.hours.to_i.to_s   ],
            [ "One day",       1.day.to_i.to_s     ],
            [ "Three days",    3.days.to_i.to_s    ],
            [ "One week",      1.week.to_i.to_s    ],
            [ "Two weeks",     2.weeks.to_i.to_s   ],
            [ "One month",     1.month.to_i.to_s   ],
            [ "Two months",    2.months.to_i.to_s  ],
            [ "Three months",  3.months.to_i.to_s  ],
            [ "Six months",    6.months.to_i.to_s  ]
        ]
    %></br>
    <small>This means that in the execution server's cache, files that have been recorded<br/>
    as 'InSync' but were last accessed more than this amount of time will be considered untrustworthy</br/>
    and will be re-synchronized the next time they are accessed. Set this to a value less than <em>N</em></br/>
    if the cluster's file policy, for instance, deletes all scratch files older than <em>N</em> days.</small>
    </p>
  </fieldset>


<% if is_bourreau %>

  <p>

  <fieldset class="groupentry">
  <legend>Tool Version Configuration</legend>

    <% if @bourreau.new_record? %>

      <p><label>A tool configuration for this Execution Server can be made once the server is created.</label></p>

    <% else %>

      <p><label>Common configuration for all tasks:</label> <%= link_to "Edit", new_tool_config_path( :bourreau_id => @bourreau.id ) %></p>

    <% end %>

  </fieldset>

  <p>

  <fieldset class="groupentry">
  <legend>Cluster Management System Configuration</legend>

    <p><%= f.label :cms_class, "Type of cluster" %><br/>
    <%= f.select :cms_class, [
            [ "(Unconfigured)",  "" ],
            [ "Sun GridEngine",  "ScirSge" ],
            [ "PBS",             "ScirPbs" ],
            [ "MOAB",            "ScirMoab" ],
            [ "Sharcnet custom", "ScirSharcnet" ],
            [ "UNIX processes",  "ScirUnix" ]
        ]
    %></p>

    <p><%= f.label :cms_shared_dir, "Path to shared work directory" %><br/>
    <%= f.text_field :cms_shared_dir, :size => 60 %><br/>
    <small>Mandatory. This directory must be visible and writable from all nodes.<br>
           This is were the work subdirectories for all tasks will be created.</small>
    </p>

    <p><%= f.label :cms_default_queue, "Default queue name" %><br/>
    <%= f.text_field :cms_default_queue %><br/>
    <small>Optional.</small>
    </p>

    <p><%= f.label :cms_extra_qsub_args, "Extra 'qsub' options" %><br/>
    <%= f.text_field :cms_extra_qsub_args, :size => 60 %><br/>
    <small>Optional. Careful, this is inserted as-is in the command-line for submitting jobs.</small>
    </p>

  </fieldset>

  <p>

  <fieldset class="groupentry">
  <legend>Bourreau Workers Configuration</legend>

    <p><%= f.label :workers_instances, "Number of Workers" %><br/>
    <%= f.select :workers_instances, [
            [ "None (for debug)",  0 ],
            [ "1",                 1 ],
            [ "2",                 2 ],
            [ "3",                 3 ],
            [ "4",                 4 ],
            [ "5",                 5 ],
            [ "10",                10 ],
            [ "20",                20 ]
        ]
    %></p>

    <p><%= f.label :workers_chk_time, "Check interval" %><br/>
    <%= f.select :workers_chk_time, [
            [ "5 seconds",               5 ],
            [ "10 seconds",              10 ],
            [ "30 seconds",              30 ],
            [ "1 minute (recommended)",  60 ],
            [ "2 minutes",               120 ],
            [ "5 minutes",               300 ],
            [ "15 minutes",              900 ],
            [ "1 hour",                  3600 ]
        ]
    %></p>

    <p><%= f.label :workers_log_to, "Log destination" %><br/>
    <%= f.select :workers_log_to, [
            [ "Combined file (recommended)", "combined" ],
            [ "Separate files",              "separate" ],
            [ "RAILS log",                   "bourreau" ],
            [ "RAILS stdout",                "stdout" ],
            [ "RAILS stderr",                "stderr" ],
            [ "RAILS stdout and stderr",     "stdout|stderr" ],
            [ "No logging",                  "none" ]
        ]
    %></p>

    <p><%= f.label :workers_verbose, "Log verbosity" %><br/>
    <%= f.select :workers_verbose, [
            [ "Normal",      1 ],
            [ "Debug info",  2 ]
        ]
    %><br/>
    <small>This option has not affect if the logs are sent to the RAILS log.</small>
    </p>

  </fieldset>

<% end %>

<% if is_bourreau %>

    <p>

    <fieldset class="groupentry">
    <legend>Task Limits</legend>

    <% if @bourreau.new_record? %>

      <p><label>Task limits can be set once the Execution Server is created.</label></p>

    <% else %>

      <p><label for="meta_task_limit_total">Maximum total number of active tasks:</label>
      <%= select_tag 'meta[task_limit_total]',
          options_for_select( [ [ "Unlimited", "" ] ] + %w( 1 2 3 4 5 8 10 15 20 25 30 35 40 45 50 60 75 100 200 500 1000 ) ,
                              @bourreau.meta[:task_limit_total] )
      %>
      </p>

      <p><label for="meta_task_limit_user">Default maximum number of active tasks for each user:</label>
      <%= select_tag 'meta[task_limit_user_default]',
          options_for_select( [ [ "Server's max", "" ] ] + %w( 1 2 3 4 5 8 10 15 20 25 30 35 40 45 50 60 75 100 200 500 1000 ) ,
                              @bourreau.meta[:task_limit_user_default] )
      %>
      <small>(Unless specified below)</small>
      </p>

      <p><label>Override maximum number of active tasks per user:</label>
      <%= array_to_table(@users.sort { |a,b| a.login <=> b.login }, :table_class => 'simple', :td_class => 'right', :cols => 4, :fill_by_columns => true) do |user,r,c| %>
        <% metkey = "task_limit_user_#{user.id}".to_sym %>
        <%= link_to_user_with_tooltip(user) %>:
        </td><td class="no_left_right_padding">
        <%= select_tag "meta[#{metkey}]",
            options_for_select( [ [ "Default", "" ] ] + %w( 1 2 3 4 5 8 10 15 20 25 30 35 40 45 50 60 75 100 150 200 250 300 400 500 750 1000 ) ,
                                @bourreau.meta[metkey] )
        %>
      <% end %>
      </p>

    <% end %>

    </fieldset>

<% end %>

