
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>
<br/>

<% unless @latest_in_queue_delay.blank? %>
<%
    @latest_in_queue_delay = @latest_in_queue_delay.to_i
    rating = case
      when @latest_in_queue_delay <  1.minute
        html_colorize("instant",  'green')
      when @latest_in_queue_delay <  2.minute
        html_colorize("superb",   'blue')
      when @latest_in_queue_delay < 15.minutes
        html_colorize("good",     'black')
      when @latest_in_queue_delay <  1.hour
        html_colorize("mediocre", 'orange')
      when @latest_in_queue_delay <  2.hours
        html_colorize("bad",      'purple')
      else
        html_colorize("awful",    'red')
      end
%>
  <b>Last wait time:</b> <%= pretty_elapsed(@latest_in_queue_delay.to_i, :num_components => 2) %> (<%= rating %>)<br/>
  <% unless @time_of_last_queue_delay.blank? %>
    <small>(This happened <%= pretty_elapsed(Time.now.to_i - @time_of_last_queue_delay.to_i, :num_components => 2) %> ago)</small>&nbsp;<a href="#" id="showAdditionalToolInfo">more info</a><br/><br/>
  <% end %>
<% end %>
<div class="additionalToolInfo">
Number of active tasks (all users):  <%= @num_active %><br/>
Number of queued tasks (all users):  <%= @num_queued %><br/>
Number of running tasks (all users): <%= @num_processing %>
</div>
