
<% title "Edit #{@bourreau.name}" %>

<% is_bourreau = @bourreau.is_a?(Bourreau) %>

<h2>Edit <%= @bourreau.name %></h2>


<div class="generalbox">

   <% form_for @bourreau.class.to_s.underscore.to_sym, @bourreau, :url => { :action => "update" }, :html => { :method => :put } do |f| -%>

      <%= f.error_messages %>

      <%= render :partial => 'form_fields', :locals => { :f => f } %>

      <p><%= submit_tag 'Update' %></p>

   <% end %>

   <%= button_to 'Cancel', bourreaux_path, :method => :get %>

</div> <!-- End class="generalbox" -->

<%= render :partial => "notes" %>

