
<% title "Edit #{@bourreau.name}" %>

<% is_bourreau = @bourreau.is_a?(Bourreau) %>

<h2>Edit <%= @bourreau.name %></h2>

<div class="generalbox">

   <%= error_messages_for :bourreau %>

   <% form_for @bourreau.class.to_s.underscore.to_sym, @bourreau, :url => { :action => "update" }, :html => { :method => :put } do |f| -%>

      <p><label for="name">Name</label><br/>
      <%= f.text_field :name %></p>

      <p><label for="description">Description</label><br/>
      <%= f.text_area :description, :rows => 10 %><br/>
      <small>The first line should be a short summary, and the rest are for any special notes for the users.</small>
      </p>
      
      <p><label for="user_id">Owner</label><br/>
      <%= user_select("bourreau[user_id]", { :selector => @bourreau }, { :disabled => ! current_user.has_role?(:admin) } ) %></p>

      <p><label for="group_id">Project</label><br/>
      <%= group_select("bourreau[group_id]", :selector => @bourreau) %></p>

      <p><label for="online">Status</label><br/>
      <%= f.select :online, { "Online" => true, "Offline" => false }, :prompt => "Select status" %></p>

      <p><label>ActiveResource Configuration</label><br/>

      <div class="groupentry">
          <p><label for="actres_host">Hostname</label><br/>
          <%= f.text_field :actres_host %></p>

          <p><label for="actres_port">Port Number</label><br/>
          <%= f.text_field :actres_port %></p>
      </div>

      <p><label>SSH Remote Control Configuration</label><br/>

      <div class="groupentry">
          <p><label for="ssh_control_host">Hostname</label><br/>
          <%= f.text_field :ssh_control_host %></p>

          <p><label for="ssh_control_user">Username</label><br/>
          <%= f.text_field :ssh_control_user %></p>

          <p><label for="ssh_control_port">Port Number</label><br/>
          <%= f.text_field :ssh_control_port %></p>

          <p><label for="ssh_control_rails_dir">Rails Server Directory</label><br/>
          <%= f.text_field :ssh_control_rails_dir %></p>
      </div>
        
      <p><label>Tunneling Configuration</label><br/>
      <div class="groupentry">
        <% if is_bourreau %>
          <p><label for="tunnel_mysql_port">Database Server Remote Tunnel Port</label><br/>
          <%= f.text_field :tunnel_mysql_port %></p>
        <% end %>

        <p><label for="tunnel_actres_port">ActiveResource Remote Tunnel Port</label><br/>
        <%= f.text_field :tunnel_actres_port %></p>
      </div>

      <p><label>Cache Management Configuration</label><br/>
      <div class="groupentry">
          <p><label for="cache_trust_expire">Cache Expiration Timeout (in seconds)</label><br/>
          <%= f.text_field :cache_trust_expire %></p>
      </div>

      <% if is_bourreau %>
      <p><label>Common configuration for all tasks:</label> <%= link_to "Edit", new_tool_config_path( :bourreau_id => @bourreau.id ) %>
      </p>
      <% end %>

      <p><%= submit_tag 'Update' %></p>

   <% end -%>

   <%= button_to 'Cancel', bourreaux_path, :method => :get %>

</div> <!-- End class="generalbox" -->

<%= render :partial => "notes" %>
