
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

  <% title 'Bourreaux' %>

  <h2>Bourreaux</h2>

  <% if check_role(:admin) || check_role(:site_manager)%>
    <div class = "bourreauxbox">
       <div class = "bourreauxmenuoptions">
         <%= button_to 'Create New Bourreau', new_bourreau_path, :method => :get %>
       </div>  <!-- End class="bourreauxmenuoptions" -->
    </div>  <!-- End class="bourreauxbox" -->
  <% end %>
  
  <table class = "bourreauxtable">
     <tr>
         <th>Bourreau Name</th>
         <th>Owner</th>
         <th>Group</th>
         <th>Site</th>
         <th>Online?</th>
         <th>Alive?</th>
         <th>Description</th>
         <th colspan="4">Operations</th>
     </tr>
  
     <% for bour in @bourreaux %>
         <tr class="<%= cycle('list-odd', 'list-even') %>">
           <td><%= link_if_has_access(bour, bour.name, bourreau_path(bour)) %></td>
           <td><%= h(bour.user.login) %></td>
           <td><%= h(bour.group.name) %></td>
           <td><%= (link_to h(bour.site_affiliation.name), site_path(bour.site)) rescue "(Unassigned)" %></td>
           <td><%= h(bour.online ? "Yes" : "No") %></td>
           <td><%= bour.is_alive? ? "Yes" : "<font color=\"red\">No</font>" %></td>
           <td><%= h(bour.description) %></td>
           <% if bour.has_owner_access?(current_user) %>
             <td><%= button_to 'Edit', edit_bourreau_path(bour), :method => :get %></td>
             <td><%= button_to 'Delete', bourreau_path(bour), :confirm => 'Are you sure?', :method => :delete %> </td>
             <% if bour.has_remote_control_info? %>
               <td><%= button_to 'Start', start_bourreau_path(bour), :method => :get %></td>
               <td><%= button_to 'Stop', stop_bourreau_path(bour), :method => :get %></td>
             <% else %>
               <td colspan="2"></td>
             <% end %>
           <% else %>
             <td colspan="4"></td>
           <% end %>
         </tr>
     <% end %>
  
     <% if @bourreaux.nil? || @bourreaux.empty? %>
       <tr class="list-odd"><td colspan="9">There are no Bourreaux in this list.</td></tr>
     <% end %>
  
  </table>
</div>  <!-- End class="generalcontent" -->
