
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

<% title "Create Bourreau" %>

<h2>Create Bourreau</h2>


<%= error_messages_for :bourreau %>

<div class = "generalbox">


<% form_for :bourreau, @bourreau, :url => { :action => "create" } do |f| -%>

<p><label for="name">Name</label><br/>
<%= f.text_field :name %></p>

<p><label for="description">Description</label><br/>
<%= f.text_field :description %></p>

<p><label for="user_id">Owner</label><br/>
<%= f.select :user_id, @users.collect { |u| [ u.login, u.id ] }, :prompt => "Select owner" %></p>

<p><label for="group_id">Group</label><br/>
<%= f.select :group_id, @groups.collect { |g| [ g.name, g.id ] }, :prompt => "Select group" %></p>

<p><label for="online">Status</label><br/>
<%= f.select :online, { "Online" => true, "Offline" => false }, :prompt => "Select status" %></p>

<p><label for="remote_host">Remote Hostname</label><br/>
<%= f.text_field :remote_host %></p>

<p><label for="remote_user">Remote Username</label><br/>
<%= f.text_field :remote_user %></p>

<p><label for="remote_dir">Remote Directory</label><br/>
<%= f.text_field :remote_dir %></p>

<p><label for="remote_port">Remote Port Number</label><br/>
<%= f.text_field :remote_port %></p>

<p><%= submit_tag 'Create' %></p>

<% end -%>

<%= button_to 'Cancel', bourreaux_path, :method => :get %>
</div>
</div>
