
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<% title 'Add New Server' %>

<h2>Add New Server</h2>

<%= error_messages_for @bourreau, :object_name => "server" %>

<%= form_for @bourreau, :as => :bourreau, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="generalbox">

        <p><%= f.label :name %><br/>
        <%= f.text_field :name %><br/>
        <div class="field_explanation">
          Important note: this name must also be changed accordingly in the config file
          <em>Bourreau/config/initializers/config_bourreau.rb</em>
          for this server to restart properly later on.
        </div>

        <p><%= f.label :system_from_email, "System 'From' reply address" %><br/>
        <%= f.text_field :system_from_email %><br/>
        <div class="field_explanation">If set, messages sent automatically by this system will contain this return address.</div>

        <p><%= f.label :description %><br/>
        <%= f.text_area :description, :rows => 10, :cols => 40 %><br/>
        <div class="field_explanation">The first line should be a short summary, and the rest are for any special notes for the users.</div>

        <p><%= f.label :user_id, "Owner" %><br/>
        <%= user_select("bourreau[user_id]", { :selector => @bourreau }, { :disabled => ! current_user.has_role?(:admin_user) } ) %>

        <p><%= f.label :group_id, "Project" %><br/>
        <%= group_select("bourreau[group_id]", :selector => @bourreau) %>

        <p><%= f.label :online, "Status" %><br/>
        <%= f.select :online, { "Online" => true, "Offline" => false }, :prompt => "Select status" %>

        <p><%= f.label :rr_timeout, "Timeout for is alive check (seconds)" %><br/>
        <%= f.text_field :rr_timeout, :size => 5 %>

        <span title="Time zone where this server is located.">
          <p><%= f.label :time_zone, "Time Zone" %><br/>
          <%= f.time_zone_select :time_zone,
            ActiveSupport::TimeZone.all.select { |t| t.name =~ /canada/i },
            { :default => ActiveSupport::TimeZone['Eastern Time (US & Canada)'],
              :include_blank => true }
           %>
        </span>

        <p>

        <fieldset class="groupentry">
          <legend>SSH Remote Control Configuration</legend>
          <p><%= f.label :ssh_control_host, "Hostname" %><br/>
                 <%= f.text_field :ssh_control_host %>

        <p><%= f.label :ssh_control_user, "Username" %><br/>
               <%= f.text_field :ssh_control_user %>

         <p><%= f.label :ssh_control_port, "Port Number" %><br/>
                     <%= f.text_field :ssh_control_port, :size => 6 %>

         <p><%= f.label :ssh_control_rails_dir, "Rails Server Directory" %><br/>
                     <%= f.text_field :ssh_control_rails_dir, :size => 60 %>

            <p><%= f.label :proxied_host, "Second-level effective host" %><br/>
                     <%= f.text_field :proxied_host %><br/>
                <div class="field_explanation">This is an experimental field for advanced and non-standard setups
                  where the remote hostname, above, is actually just a login node and
                  the real host where we run the server is one step further.</div>
        </fieldset>

        <p>

        <fieldset class="groupentry">
          <legend>Cache Management Configuration</legend>

          <p><%= f.label :dp_cache_dir, "Path to Data Provider caches" %><br/>
                 <%= f.text_field :dp_cache_dir, :size => 60 %><br/>
          <div class="field_explanation">Warning! Changing this field will result in resetting the synchronization
              status of all files from all Data Providers! Also, the Rails app will have to
              be restarted, and all files in that directory will be erased!</div>

          <p><%= f.label :spaced_dp_ignore_patterns, "Patterns for filenames to ignore" %><br/>
                 <%= f.text_field :spaced_dp_ignore_patterns, :size => 80 %><br/>
          <div class="field_explanation">Separate several patterns with spaces; each pattern can contain single '*'s, but no '/'s or special characters.</div>

          <p><%= f.label :cache_trust_expire, "Cache Expiration Timeout" %><br/>
                  <%= f.select :cache_trust_expire, [
                      [ "Never",        "0"                  ],
                      [ "Six hours",     6.hours.to_i.to_s   ],
                      [ "Twelve hours", 12.hours.to_i.to_s   ],
                      [ "One day",       1.day.to_i.to_s     ],
                      [ "Three days",    3.days.to_i.to_s    ],
                      [ "One week",      1.week.to_i.to_s    ],
                      [ "Two weeks",     2.weeks.to_i.to_s   ],
                      [ "One month",     1.month.to_i.to_s   ],
                      [ "Two months",    2.months.to_i.to_s  ],
                      [ "Three months",  3.months.to_i.to_s  ],
                      [ "Six months",    6.months.to_i.to_s  ]
                  ]
                  %></br>
           <div class="field_explanation">This means that in the execution server's cache, files that have been recorded
             as 'InSync' but were last accessed more than this amount of time will be considered untrustworthy
             and will be re-synchronized the next time they are accessed. Set this to a value less than <em>N</em>
             if the cluster's file policy, for instance, deletes all scratch files older than <em>N</em> days.</div>
        </fieldset>

        <p>

        <fieldset class="groupentry">
          <legend>Tool Version Configuration</legend>
          A tool configuration for this Execution Server can be made once the server is created.
        </fieldset>

        <p>

        <fieldset class="groupentry">
          <legend>Cluster Management System Configuration</legend>
          <p><%= f.label :cms_class, "Type of cluster" %><br/>
          <%= f.select :cms_class, [
                    [ "(Unconfigured)",  "" ],
                    [ "Sun GridEngine",  "ScirSge" ],
                    [ "PBS",             "ScirPbs" ],
                    [ "MOAB",            "ScirMoab" ],
                    [ "Sharcnet custom", "ScirSharcnet" ],
                    [ "LSF",             "ScirLsf" ],
                    [ "SLURM",           "ScirSlurm" ],
                    [ "Google Cloud",    "ScirGcloudBatch" ],
                    [ "UNIX processes",  "ScirUnix" ],
                  ]
          %>

          <p><%= f.label :cms_shared_dir, "Path to shared work directory" %><br/>
          <%= f.text_field :cms_shared_dir, :size => 60 %><br/>
          <div class="field_explanation">Mandatory. This directory must be visible and writable from all nodes.
                 This is were the work subdirectories for all tasks will be created.</div>

          <p><%= f.label :cms_default_queue, "Default queue name" %><br/>
          <%= f.text_field :cms_default_queue %><br/>
          <div class="field_explanation">Optional.</div>

          <p><%= f.label :cms_extra_qsub_args, "Extra 'qsub' options" %><br/>
          <%= f.text_field :cms_extra_qsub_args, :size => 60 %><br/>
          <div class="field_explanation">Optional. Careful, this is inserted as-is in the command-line for submitting jobs.</div>

        </fieldset>

        <p>

        <fieldset class="groupentry">
          <legend>Bourreau Workers Configuration</legend>

          <p><%= f.label :workers_instances, "Number of Workers" %><br/>
          <%= f.select :workers_instances, [
                    [ "None (for debug)",  0 ],
                    [ "1",                 1 ],
                    [ "2",                 2 ],
                    [ "3",                 3 ],
                    [ "4",                 4 ],
                    [ "5",                 5 ],
                    [ "10",                10 ],
                    [ "20",                20 ]
              ]
          %>

          <p><%= f.label :workers_chk_time, "Check interval" %><br/>
          <%= f.select :workers_chk_time, [
                    [ "5 seconds",               5 ],
                    [ "10 seconds",              10 ],
                    [ "30 seconds",              30 ],
                    [ "1 minute (recommended)",  60 ],
                    [ "2 minutes",               120 ],
                    [ "5 minutes",               300 ],
                    [ "15 minutes",              900 ],
                    [ "1 hour",                  3600 ]
                ]
          %>

          <p><%= f.label :workers_log_to, "Log destination" %><br/>
          <%= f.select :workers_log_to, [
                    [ "Combined file (recommended)", "combined" ],
                    [ "Separate files",              "separate" ],
                    [ "RAILS log",                   "bourreau" ],
                    [ "RAILS stdout",                "stdout" ],
                    [ "RAILS stderr",                "stderr" ],
                    [ "RAILS stdout and stderr",     "stdout|stderr" ],
                    [ "No logging",                  "none" ]
                ]
          %>

          <p><%= f.label :workers_verbose, "Log verbosity" %><br/>
          <%= f.select :workers_verbose, [
                    [ "Normal",      1 ],
                    [ "Debug info",  2 ]
                ]
          %><br/>
          <div class="field_explanation">This option has no affect if the logs are sent to the RAILS log.</div>

        </fieldset>

        <p>

        <fieldset class="groupentry">
          <legend>Task Limits</legend>
          Task limits can be set once the Execution Server is created.
        </fieldset>

  </div>

  <p><%= submit_tag 'Create New Server' %></p>

<% end -%>

<%= render :partial => "notes" %>
