
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- *********************************** -->
<!-- Bourreau acces by user -->
<!-- *********************************** -->

<% title "Execution Server Access" %>

<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center">Execution Server Access Report</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <% if @remote_r.empty? || @users.empty? %>
      There is no information to show at this time.
    <% else %>

      <div class="table-responsive">
        <table class="table table-striped table-condensed table-hover">

          <tr>
            <th class="blank"></th>
            <% @remote_r.each do |bourreau| %>
              <th class="text-center"><%= link_to_bourreau_if_accessible(bourreau, current_user) %>
                <br/><small><%= bourreau.is_a?(Bourreau) ? "(Execution)" : "(Portal)" %></small>
              </th>
            <% end %>
          </tr>

          <% @users.each do |user| %>
            <%
            accessible_rr = RemoteResource.find_all_accessible_by_user(user).all.index_by &:id || {}
            %>
            <tr>
              <td class="text-left"><%= link_to_user_with_tooltip(user) %></td>

              <% @remote_r.each do |bourreau| %>
                <td class="text-center"> <%= accessible_rr[bourreau.id]  ? o_icon : times_icon %></td>
              <% end %>
            </tr>
          <% end %>

        </table>
      </div>

      <%= center_legend(nil, [ [o_icon, "accessible"], [times_icon, "not accessible"] ] ) %>

    <% end %>
  </div>
</div>
