
<!-- *********************************** -->
<!-- Bourreau acces by user -->
<!-- *********************************** -->

<% title "Execution Server Access" %>

<h2>Execution Server Access Report</h2>

<% if @remote_r.empty? || @users.empty? %>

There is no information to show at this time.

<% else %>

<span class="display_cell">
  <table>

    <tr>
      <th></th>
      <% @remote_r.each do |bourreau| %>
        <th><%= link_to_bourreau_if_accessible(bourreau, current_user, :html_options => {:class => "header_link"}) %>
          <br/><small><%= bourreau.is_a?(Bourreau) ? "(Execution)" : "(Portal)" %></small>
        </th>
      <% end %>
    </tr>
    
    <% @users.each do |user| %>
      <% 
      accessible_rr = RemoteResource.find_all_accessible_by_user(user).index_by &:id || {}
      %>
      <tr>
        <td class="left_align"><%= link_to_user_with_tooltip(user) %></td>
        
        <% @remote_r.each do |bourreau| %>
          <td> <%= accessible_rr[bourreau.id]  ? o_icon : times_icon %></td>
        <% end %>
      </tr>
    <% end %>
    
  </table>
  
  <%= center_legend(nil, [o_icon,"accessible"], [times_icon,"not accessible"] )%>
  
</span>

<% end %>
