
<% title "Servers Access to Data Providers" %>

<h2>Servers Access to Data Providers</h2>

<% if @bourreaux.empty? || @dps.empty? %>

There is no information to show at this time.

<% else %>

<span class="display_cell">

  <table>

    <tr>
      <th></th>
      <th>Last Checked (<%= link_to "Refresh all", { :refresh => 'all' }, :class => "header_link" %>)</th>
      <% @dps.each do |dp| %>
        <th>
        <%= link_to_data_provider_if_accessible(dp, current_user, :html_options => {:class => "header_link"}) %>
        </th>
      <% end %>
    </tr>
    
    
    <% @bourreaux.each do |bourreau| %>
      <tr>
        <td class="left_align"><%= link_to_bourreau_if_accessible(bourreau, current_user) %></td>
        <td class="left_align">
          <% last_update = bourreau.meta[:data_provider_statuses_last_update] %>
          <% if last_update.blank? %>
            (Unknown)
          <% else %>
            <%= pretty_elapsed(Time.now.to_i - last_update.to_i, :num_components => 2) %> ago
          <% end %>
          <% if bourreau.online? %>
            (<%= link_to "Refresh", :refresh => bourreau.id %>)
          <% end %>
        </td>
        <% if ! bourreau.online? %>
          <td colspan="<%= @dps.count %>" >Execution Server is Offline</td>
        <% else %>
          <% dp_stats = bourreau.meta[:data_provider_statuses] %>
          <% if dp_stats.blank? || dp_stats.empty? %>
            <td colspan="<%= @dps.count %>" >Information not yet available</td>
          <% else %>
            <% @dps.each do |dp| %>
              <td><%= (! dp.online?) ? times_icon("grey") : dp_stats[dp.id] == "alive" ? o_icon : times_icon %></td>
            <% end %>
          <% end %>
       <% end %>
      </tr>
    <% end %>
    
  </table>
  
  <%= center_legend("Data Provider Status:", [o_icon,"alive"], [times_icon,"down"], [times_icon("grey"),"offline"] )%>
  
</span>

<% end %>
