
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<!-- *********************************** -->
<!-- Disk usage summary       -->
<!-- For Data Provider Caches -->
<!-- *********************************** -->

<% title "Disk Usage Caches" %>

<% # Precompute a hash of active tasks for all pairs [user_id,bourreau_id]
   # Used to provde red warnings when there are active tasks on a bourreau
   uids = @report_users.map(&:id)
   bids = @report_rrs.select { |b| b.is_a?(Bourreau) }.map(&:id)
   active_counts_by_uid_bid = (uids.empty? || bids.empty?) ?
     {} :
     CbrainTask.status(:active).where(:user_id => uids, :bourreau_id => bids).group(:user_id,:bourreau_id).count
%>

<h2>Disk Usage Statistics for Server's Data Provider Caches</h2>

<span class="display_cell">
  <%= form_tag(:action  => :cleanup_caches) do %>
    <P>

    <table>

      <% if @report_rrs.size > 0 %>
        <tr>
          <th class="blank"></th>
          <% @report_rrs.each do |rr| %>
            <th>
              <% if rr.is_a?(String) %>
                <%= rr.capitalize %>
              <% else %>
                <%= link_to_bourreau_if_accessible(rr, current_user) %>
                <br>
                <small><%= rr.is_a?(Bourreau) ? "(Execution)" : "(Portal)" %></small>
                <% if rr.has_owner_access?(current_user) %>
                  <br><small><%= rr.dp_cache_dir %></small>
                <% end %>
              <% end %>
            </th>
          <% end %>
        </tr>
      <% end %>

      <% @report_users_all.each do |user| %>
        <tr>
          <td>
            <% if user.is_a?(User) %>
              <%= link_to_user_with_tooltip(user) %>
              <% # All servers checkbox -%>
              <BR><%= select_all_checkbox("clean_cache_users_#{user.id}") %>
            <% else %>
              <% # Usually this is the keyword 'TOTAL' -%>
              <%= user.capitalize %>
            <% end %>
          </td>

          <% @report_rrs.each do |rr| %>

            <% cell = @report_stats[user] ? @report_stats[user][rr] : nil %>

            <% if ! cell %>
              <td></td>
              <% next %>
            <% end %>

            <td>
              <%= disk_space_info_display(cell[:size] || 0) do %>
                <%= pretty_size(cell[:size]) %></br>
                <%= (pluralize(cell[:num_entries],"entry") + " / " + pluralize(cell[:num_files],"file")).gsub(/ / ,"&nbsp;").html_safe %>
                <% if cell[:unknowns] > 0 %>
                  </br><%= pluralize(cell[:unknowns],"unknown").gsub(/ / ,"&nbsp;").html_safe %>
                <% end %>

                <% if @report_rrs.include?(rr) && @report_users.include?(user) %>
                  </br><%= check_box_tag('clean_cache[]', "#{user.id},#{rr.id}", false, :class => "clean_cache_users_#{user.id} clean_cache_rrs_#{rr.id}" ) %>
                  <% if user.is_a?(User) && rr.is_a?(Bourreau) # && @cache_older <= 6.days.to_i %>
                    <%  active_cnt = active_counts_by_uid_bid[[user.id, rr.id]] || 0 %>
                    <%= red_if(active_cnt > 0, "", "(Danger! " + pluralize(active_cnt,"active task") + "!)") %>
                  <% end %>
                <% elsif @report_users_all[-1] == user && ! @report_users.include?(user) %>
                  <br/>
                  <% if user.is_a?(String) %>
                     <strong>All on <%= rr.name %>: </strong>
                  <% end %>
                  <%= select_all_checkbox( "clean_cache_rrs_#{rr.id}" ) %>
                <% end %>

              <% end %>
            </td>

          <% end %>    <%# end column iteration %>
        </tr>
      <% end %>    <%# end row iteration %>

      <tr>
        <% if @report_rrs.size == 0 && @report_users.size == 0 %>
          <th>(There are no entries in this report)</th>
        <% else %>
          <th colspan="<%= 1+@report_rrs.size %>">
            <%= submit_tag 'Cleanup Selected Caches' %>
          </th>
        <% end %>
      </tr>
    </table>

    <p>
    <%= disk_usage_legend %>

    <%= hidden_field_tag "cleanup_older",    @cache_older %>
    <%= hidden_field_tag "cleanup_younger",  @cache_younger %>
    <% (params[:types] || []).each do |type| %>
      <%= hidden_field_tag "types[]", type  %>
    <% end %>

    <% end %> <!-- form -->
  </span>

<P>

<!-- *********************************** -->
<!-- Refresh form -->
<!-- *********************************** -->

<%= form_tag({ :action  => :rr_disk_usage }, :method => :get) do %>
  <h4>Filter this report: files reported above...</h4>
  <div class="display_cell">
    ... are of type:<br>
    <%= userfile_type_select :types, {:selector => params[:types]} , :multiple => true, :size => 10 %>
    <br>(None selected means <em>any</em>)
  </div>
  <div class="box_spacer"></div>
  <div class="display_cell">
    ... were last accessed:<br>
    <% params[:date_range] ||= {} %>
    <% params[:date_range]["relative_from"] ||= 50.years.to_i.to_s %>
    <% params[:date_range]["relative_to"]   ||= 1.week.to_i.to_s %>
    <%= date_range_panel(params[:date_range], "date_range", :date_attributes => [], :without_abs => true) %>
    <p>
    <center>
      <%= submit_tag 'Refresh Report' %>
    </center>
  </div>
<% end %>

