
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<!-- *********************************** -->
<!-- Task Workdir Size Report            -->
<!-- *********************************** -->

<% title "Task Sizes" %>

<h2>Task Work Directory Size Report </h2>

<% if ! @bourreaux.empty? && ! @users.empty? %>

<%
  user_ids     = @users.map &:id
  bourreau_ids = @bourreaux.map &:id
  tasklist = CbrainTask.real_tasks.where( :user_id => user_ids, :bourreau_id => bourreau_ids )
  t_nosize = tasklist.where( :cluster_workdir_size => nil ).where("cluster_workdir IS NOT NULL")
  
  # Tasks by user and bourreaux
  task_count_by_user_and_bourreau       = tasklist.group( [ :user_id, :bourreau_id ] ).count
  task_space_known_by_user_and_bourreau = tasklist.group( [ :user_id, :bourreau_id ] ).sum(:cluster_workdir_size)
  task_space_unk_by_user_and_bourreau   = t_nosize.group( [ :user_id, :bourreau_id ] ).count
  
  # Total Tasks by user 
  task_count_by_user                  = tasklist.group( :user_id ).count
  task_space_known_by_user            = tasklist.group( :user_id ).sum(:cluster_workdir_size)
  task_space_unk_by_user              = t_nosize.group( :user_id ).count
  
  # Total Tasks by bourreau
  task_count_by_bourreau              = tasklist.group( :bourreau_id ).count
  task_space_known_by_bourreau        = tasklist.group( :bourreau_id ).sum(:cluster_workdir_size)
  task_space_unk_by_bourreau          = t_nosize.group( :bourreau_id ).count

  # Remove users with no task info
  @users.reject! { |u| (! task_count_by_user[u.id]) || task_count_by_user[u.id] == 0 }

  # Remove bourreaux with no task info
  @bourreaux.reject! { |b| (! task_count_by_bourreau[b.id]) || task_count_by_bourreau[b.id] == 0 }
%>

      
      
  <span class="display_cell"> 
    <table>
      
      <tr>
        <th class="blank"></th>
        <% @bourreaux.each do |b| %>
          <th>
            <%= link_to_bourreau_if_accessible(b, current_user) %>
          </th>
        <% end %>
        <% if @bourreaux.count > 1%>
          <th>Total</th>
        <% end %>
      </tr>
      
      <% @users.each do |user| %>
        <% accessible_rr = RemoteResource.find_all_accessible_by_user(user).all.index_by &:id || {} %>
        <tr>
          <th><%= link_to_user_with_tooltip(user) %></th>
          
          <% @bourreaux.each do |b| %>
          <% cell_key = [ user.id, b.id ] %>
            <td> 
              <% if accessible_rr[b.id] && task_count_by_user_and_bourreau[cell_key].to_i > 0 %>         
                <%= disk_space_info_display((task_space_known_by_user_and_bourreau[cell_key] || 0), nil, 1_000_000) do %>
                   <%= format_task_size_unk(
                         index_count_filter(task_count_by_user_and_bourreau[cell_key], :tasks, { :user_id => user.id, :bourreau_id => b.id }, :show_zeros => 1 ),
                         task_space_known_by_user_and_bourreau[cell_key] || 0,
                         task_space_unk_by_user_and_bourreau[cell_key]
                       )
                   %>
                <% end %>
              <% end %>
            </td>
          <% end %>
          
          <!-- Total for the user -->
          <% if @bourreaux.count > 1%>
            <td>
              <% if task_count_by_user[user.id].to_i > 0 %>
                <%= disk_space_info_display((task_space_known_by_user[user.id] || 0), nil, 1_000_000) do %>
                  <%= format_task_size_unk(
                        index_count_filter(task_count_by_user[user.id], :tasks, { :user_id => user.id, :bourreau_id => bourreau_ids }, :show_zeros => 1 ),
                        task_space_known_by_user[user.id] || 0,
                        task_space_unk_by_user[user.id]
                      )
                  %>
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>

      <!-- Total by bourreau -->
      <% if @users.count > 1 %>
        <tr>
          <th class="left_align">Total</th>
            <% @bourreaux.each do |b| %>
              <td>
                <strong><%= b.name %></strong><br>
                <% if task_count_by_bourreau[b.id].to_i > 0 %>
                  <%= disk_space_info_display((task_space_known_by_bourreau[b.id] || 0) , nil, 1_000_000) do %>
                    <%= format_task_size_unk(
                          index_count_filter(task_count_by_bourreau[b.id], :tasks, { :user_id => user_ids, :bourreau_id => b.id }, :show_zeros => 1 ),
                          task_space_known_by_bourreau[b.id] || 0,
                          task_space_unk_by_bourreau[b.id]
                        )
                    %>
                  <% end %>
                <% end %>
            </td>
          <% end %>
          
          <!-- Total -->
          <% if @bourreaux.count > 1 && @users.count > 1 %>
            <td>
              <strong>Overall Total</strong><br>
              <%= disk_space_info_display((tasklist.sum( :cluster_workdir_size) || 0), nil, 1_000_000) do %>
                <%= format_task_size_unk(
                      index_count_filter(tasklist.count, :tasks, { :user_id => user_ids, :bourreau_id => bourreau_ids }, :show_zeros => 1 ),
                      tasklist.sum(:cluster_workdir_size) || 0,
                      t_nosize.count
                    )
                %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      
      
    </table>
    
    <p/><%= disk_usage_legend %>
    
  </span>

<% end %>

