<h1>Editing statistic</h1>

<% form_for(@statistic) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :bourreau_id %><br />
    <%= f.text_field :bourreau_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :task_id %><br />
    <%= f.text_field :task_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @statistic %> |
<%= link_to 'Back', statistics_path %>
