
<h2>Statistics for <%= @bourreau.name %> </h2>

<h3><%= @bourreau.name %> Statistics</h3>

<table class="resource_list" id="stat_table">
  <tr>
    <th>Task</th>
	<th>Number of times used</th>
	<th>Percent Used</th>
  </tr>
	<% @task_stats.each do |key, value| %>
		<tr>
		    <% if key != "total_count_bourreau"%>
			    <td><%=key %></td>
			    <td><%=value %></td>
			    <td><%=h (value *100)/(@task_stats["total_count_bourreau"]) %></tr>	
			<% end %>
	<% end %>
		
</table>

<%= link_to 'Back', statistics_path %>

