
<h2>Statistics for Execution Server <%= @bourreau.name %> </h2>

<table class="resource_list">
  <tr>
    <th>Task</th>
    <th>Number of times used</th>
    <th>Percent Used</th>
  </tr>
  <% @task_stats.each do |key, value| %>
    <% if key != "total_count_bourreau" %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
        <td><%= h (value *100)/(@task_stats["total_count_bourreau"]) %>
      </tr>
    <% end %>
  <% end %>
</table>

<p>

<%= link_to 'Back', statistics_path %>

