<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
  return if scope.blank? || (
    scope.filters.blank? &&
    scope.custom[:custom_filters].blank?
  )
%>

<div class="active_status">
  <span class="active_status_left_side">
    <span class="active_label">Active Filters</span>
    (<%=
      empty = scope.dup
      empty.filters.clear
      empty.custom[:custom_filters] = [] if
        empty.custom.has_key?(:custom_filters)

      scope_link('clear',
        scope.name, empty.to_hash,
        link: { :ajax => true }
      )
    %>)
    <span id="current_filters">
      <% scope.filters.each do |filter| %>
        <span class="current_filters_item">
          <%= pretty_scope_filter(filter, model: model) %>
        </span>
        <%=
          scope_filter_link(delete_icon,
            scope, :remove, filter,
            link: { :ajax => true }
          )
        %>
      <% end %>
      <% Array(scope.custom[:custom_filters]).uniq.each do |id| %>
        <span class="current_filters_item">
          <%= crop_text_to(30, CustomFilter.find(id).name) %>
        </span>
        <%=
          scope_custom_link(delete_icon,
            scope, { 'custom_filters' => [id] },
            url:  { '_scope_mode' => 'delete' },
            link: { :ajax         => true     }
          )
        %>
      <% end %>
    </span>
  </span>
</div>
