
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% 

# List of cache update offsets we support
big_bang = 50.years.to_i # for convenience, because obviously 13.75 billion != 50 ! Fits in signed 32 bits int.

offset_times = [
  [ "Now",               0.seconds.to_i.to_s ],
  [ "One hour ago",      1.hour.to_i.to_s    ],
  [ "Six hours ago",     6.hour.to_i.to_s    ],
  [ "One day ago",       1.day.to_i.to_s     ],
  [ "One week ago",      1.week.to_i.to_s    ],
  [ "One month ago",     1.month.to_i.to_s   ],
  [ "One year ago",      1.year.to_i.to_s    ],  
  [ "The Big Bang",      big_bang.to_s       ]
]

%>                                           


<div class="date_range_display_table" >

  <!-- First line -->
  <div class="left_align">
    <%= radio_button_tag date_attribute[0], "", !date_attribute[1] || date_attribute[1] == ""  %> Do not filter
    <%= radio_button_tag date_attribute[0], "created_at", date_attribute[1] == "created_at"    %> By creation date
    <%= radio_button_tag date_attribute[0], "updated_at", date_attribute[1] == "updated_at"    %> By update date
  </div>
  
  <div>
    <!-- from column-->
    <span class="display_cell">
      <div class="centered">From</div>
      <div class="date_range_with_size">
        <%= radio_button_tag absolute_or_relative_from[0], "relative", !absolute_or_relative_from[1] || absolute_or_relative_from[1] == "relative" %> 
        <%= select_tag relative_from[0], options_for_select(offset_times, (relative_from[1] || 1.week).to_i ) %>
      </div>
        
      <div class="date_range_with_size">
        <%= radio_button_tag absolute_or_relative_from[0], "absolute", absolute_or_relative_from[1] == "absolute" %> 
        <%= text_field_tag absolute_from[0],  absolute_from[1], :class => "daterangepicker date_range_txt_with_size", "data-datefieldtype" => "from" %>
      </div>                                                              
    </span>
    
    <!-- to column -->
    <span class="display_cell">
      <div class="centered">To</div>
      <div class="date_range_with_size">
        <%= radio_button_tag absolute_or_relative_to[0],   "relative", !absolute_or_relative_to[1] || absolute_or_relative_to[1]   == "relative" %>
        <%= select_tag relative_to[0],   options_for_select(offset_times, (relative_to[1] || 0).to_i) %>
      </div>
        
      <div class="date_range_with_size">
        <%= radio_button_tag absolute_or_relative_to[0], "absolute", absolute_or_relative_to[1] == "absolute" %> 
        <%= text_field_tag absolute_to[0],  absolute_to[1], :class => "daterangepicker date_range_txt_with_size", "data-datefieldtype" => "to" %>
      </div>
    </span>
  </div>
  
</div>

