
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="date_range_display_table" >

  <!-- First line date attribute selector -->
  <% if !date_attributes.empty? %>
    <div class="left_align">
      <%= radio_button_tag date_attribute[0], "", !date_attribute[1] || date_attribute[1] == ""  %> Do not filter
      <% date_attributes.each do |attribute|  %>
        <% attribute_name = attribute[0].to_s %>
        <% attribute_text = attribute[1].to_s %>
        <%= radio_button_tag date_attribute[0], attribute_name, date_attribute[1].to_s == attribute_name %> <%= attribute_text %> 
      <% end %>
    </div>
  <% end %>
  
  <div>
    <!-- from column-->
    <span class="display_cell">
      <div class="centered">From</div>
      <!-- relative-->
      <div class="date_range_with_size">
        <% if !without_abs %>
          <%= radio_button_tag absolute_or_relative_from[0], "relative", !absolute_or_relative_from[1] || absolute_or_relative_from[1] == "relative" %> 
        <% else %>
          <%= hidden_field_tag absolute_or_relative_from[0], "relative" %>
        <% end %>
        <%= select_tag relative_from[0], grouped_options_for_select(offset_times, adjusted_relative_from ) %>
      </div>
      <!-- absolute-->
      <% if !without_abs %>
        <div class="date_range_with_size">
          <%= radio_button_tag absolute_or_relative_from[0], "absolute", absolute_or_relative_from[1] == "absolute" %> 
          <%= text_field_tag absolute_from[0],  absolute_from[1], :class => "daterangepicker date_range_txt_with_size", "data-datefieldtype" => "from" %>
        </div>                     
      <% end %>
    </span>
    
    <!-- to column -->
    <span class="display_cell">
      <div class="centered">To</div>
      <!-- relative-->
      <div class="date_range_with_size">
        <% if !without_abs %>
          <%= radio_button_tag absolute_or_relative_to[0],   "relative", !absolute_or_relative_to[1] || absolute_or_relative_to[1]   == "relative" %>
        <% else %>
          <%= hidden_field_tag absolute_or_relative_to[0], "relative" %>
        <% end %>
        <%= select_tag relative_to[0],   grouped_options_for_select(offset_times, adjusted_relative_to ) %>
      </div>
      <!-- absolute-->  
      <% if !without_abs %>
        <div class="date_range_with_size">
          <%= radio_button_tag absolute_or_relative_to[0], "absolute", absolute_or_relative_to[1] == "absolute" %> 
          <%= text_field_tag absolute_to[0],  absolute_to[1], :class => "daterangepicker date_range_txt_with_size", "data-datefieldtype" => "to" %>
        </div>
      <% end %>
    </span>
  </div>
  
</div>

