
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<%
    if current_user.has_role? :admin_user
      work_groups  = WorkGroup.where(invisible: false).all
      invis_groups = WorkGroup.where(invisible: true).all
    elsif current_user.has_role? :site_manager
      work_groups  = current_user.site.groups.where( :type  => "WorkGroup" )
      invis_groups = []
    else
      work_groups  = []
      invis_groups = []
    end
    work_groups  = work_groups.sort  { |a,b| a.name <=> b.name }
    invis_groups = invis_groups.sort { |a,b| a.name <=> b.name }
    class_name   = model.class.sti_root_class.to_s.underscore
%>


<label>Work Projects</label>
<%= hidden_field_tag "#{class_name}[group_ids][]", [] %>
<%= array_to_table(work_groups, :cols => 4, :td_class => 'left_align no_wrap') do |group,r,c| %>
  <%= check_box_tag("#{class_name}[group_ids][]", group.id.to_s, model.groups.include?(group) ) %>
  <%= group.name %>
<% end %>

<% unless invis_groups.blank? %>

  <br/>

  <label>Invisible Projects</label>
  <%= array_to_table(invis_groups, :cols => 4, :td_class => 'left_align no_wrap') do |group,r,c| %>
    <%= check_box_tag("#{class_name}[group_ids][]", group.id.to_s, model.groups.include?(group) ) %>
    <%= group.name %>
  <% end %>

<% end %>

