
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Add New Access Profile' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="well well-sm">
        <a href="#" class="btn btn-primary help-btn" data-toggle="modal" data-target="#help-modal" data-url="/doc/access_profiles/access_profiles.html"><span class="glyphicon glyphicon-question-sign"></span> Help</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">Add New Access Profile</h3>
    </div>
  </div>

  <%= form_for @access_profile, :url => { :action => "create" }, :datatype => "script" do |f| -%>
    <div class="row">
      <div class="col-xs-12"><%= error_messages_for(@access_profile) %></div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Profile Info <span class="pull-right glyphicon glyphicon-chevron-up clickable" data-toggle="collapse" data-target="#profile-panel"></span></div>
          <div class="panel-body collapse in" id="profile-panel">
            <div class="row">
              <div class="col-xs-4"><%= f.label :name %></div>
              <div class="col-xs-8"><%= f.text_field :name, :class => "form-control" %></div>
            </div>
            <div class="row">
              <div class="col-xs-4"><%= f.label :color %></div>
              <div class="col-xs-8">
                <%= f.text_field :color, :class => "form-control" %>
                Use a CSS-compliant <strong>pale</strong> colour: e.g. <em>#ff0</em> or <em>yellow</em> etc.
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4"><%= f.label :description, "Description" %></div>
              <div class="col-xs-8">
                <%= f.text_area :description, :rows => 8, :class => "form-control" %>
                These are your private notes about this profile.
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4"></div>
              <div class="col-xs-8"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-6">
        <%= render :partial => 'shared/group_tables', :locals => { :model => @access_profile } %>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12"><%= f.submit "Create", :class => "btn btn-primary btn-block" %></div>
    </div>

  <% end %>
</div>
