
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Add New Access Profile' %>

<%= overlay_ajax_link "Help", "/doc/access_profiles/access_profiles.html", :class  => "button" %>

<h2>Add New Access Profile</h2>

<%= error_messages_for(@access_profile) %>

<%= form_for @access_profile, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="generalbox">

    <%= f.label :name %><br>
    <%= f.text_field :name, :class => "cb_colorpick_bg_target" %>
    <p>

    <%= f.label :color %><br>
    <%= f.text_field :color, :class => "cb_colorpick_val_target" %><br>
    <span class="field_explanation">Use a CSS-compliant <strong>pale</strong> color:<br>
    e.g. <em>#ff0</em> or <em>yellow</em> etc.</span><br>
    <%= render :partial => 'shared/color_picker', :locals => { :step => 30, :greys => false, :dark => false } %>
    <p>

    <span title="Brief description of the profile.">
      <%= f.label :description, "Description" %><br/>
      <%= f.text_area :description, :rows => 6, :cols => 60 %><br/>
      <span class="field_explanation">These are your private notes about this profile.</span>
    </span>

  </div>

  <div class="box_spacer"></div>

  <div class="generalbox">
    <h5>Project Membership</h5>
    <%= render :partial => 'shared/group_tables', :locals => { :model => @access_profile } %>
  </div>

  <div class="display_row centered">
    <p>
    <%= f.submit "Create" %>
  </div>

<% end %>

