
<tr class="<%= cycle("list-odd", "list-even") %> row_highlight" id="data_provider_<%= data_provider.id %>">
  <td><%= link_to_data_provider_if_accessible(data_provider) %></td>
  <% if @filter_params["details"] == 'on' %>
    <td><%= link_to_user_with_tooltip(data_provider.user) %></td>
  <% end %>
  <td><%= link_to_group_if_accessible(data_provider.group) %></td>
  <% if @filter_params["details"] == 'on' %>
    <td><%= link_to_site_if_accessible(data_provider.site) %></td>
    <td><%= h(data_provider.time_zone || "(Unset)") %></td>
  <% end %>
  <td><%= data_provider.online    ? "Yes" : "<font color=\"red\">No</font>" %></td>
  <% staggered_loading "td", url_for(:action  => :is_alive, :id  => data_provider.id), :error_message  => "<span class=\"warning\">???</span>" do %>
    <span class="loading_message">Checking...</span>
  <% end %>
  <td><%= h(data_provider.read_only    ? "Read Only"    : "Read/Write") %></td>
  <% if @filter_params["details"] == 'on' %>
    <td><%= h(data_provider.not_syncable ? "NOT syncable" : "Fully syncable") %></td>
    <td><%= overlay_description(data_provider.description) %></td>
  <% end %>
  <td>
     <% if data_provider.has_owner_access?(current_user) %>
     <%= link_to 'Edit', edit_data_provider_path(data_provider), :class => 'action_link' %>
     <% end %>
  </td>
  <td>
     <% if data_provider.has_owner_access?(current_user) %>
       <%= 
           delete_button 'Delete', data_provider_path(data_provider), :class  => "action_link", 
                                                                      :confirm  => 'Are you sure?', 
                                                                      :target  => "#data_provider_#{data_provider.id}",
                                                                      :target_text  => "<td colspan='11' style='color:red; text-align:center'>Deleting...</td>"
       %>
     <% end %>
  </td>
  <td>
     <% if data_provider.is_browsable? && data_provider.can_be_accessed_by?(current_user) && data_provider.online? %>
     <%= link_to 'Browse', browse_data_provider_path(data_provider), :class => 'action_link' %>
     <% end %>
  </td>
</tr>

