<div class="menu_bar menu_bar_left">

  <% if check_role(:admin) || check_role(:site_manager) %>
    <%= button_with_dropdown_menu('Create New Data Provider', :content_id => 'new_data_provider', :partial => 'new', :button_id => "new_data_provider_button") %>
  <% end %> 
  
  <%= ajax_link (@filter_params["details"] == 'on' ? "Hide Details" : "Show Details" ),
              {:controller  => :data_providers, :action  => :index, :data_providers  => {:details  => set_toggle(@filter_params["details"])}},
              :datatype  => 'script', :class  => "button"
  %>   
  <% unless @filter_params["filter_hash"].blank? %>
    <%= render :partial => "shared/manage_filter_button", :locals => {:model => :data_provider}  %>
  <% end %>
  <%= overlay_ajax_link "Help", "/doc/data_providers/data_provider_info.html", :class  => "button" %>    
</div>

<P>

<table class="resource_list whole_width" id="cbrain_data_provider_table">

  <%= render :partial => 'data_provider_table_headers', :locals => { :table_title => 'Official CBRAIN Storage' } %>

  <% for prov in @providers["CBRAIN Official Storage"].sort_by(&:name) %>
    <%= render :partial => 'data_provider_table_row', :locals  => {:data_provider  => prov} %>
  <% end %>
      
  <% if @providers["CBRAIN Official Storage"].nil? || @providers["CBRAIN Official Storage"].empty? %>
    <tr class="list-odd"><td colspan="13">There are no providers in this list.</td></tr>
  <% end %>

</table>

<P><br>
  
<table class="resource_list whole_width" id="user_data_provider_table">

  <%= render :partial => 'data_provider_table_headers', :locals => { :table_title => 'User Storage' } %>

  <% for prov in @providers["User Storage"].sort_by(&:name) %>
    <%= render :partial => 'data_provider_table_row', :locals  => {:data_provider  => prov} %>
  <% end %>

  <% if @providers.nil? || @providers.empty? %>
    <tr class="list-odd"><td colspan="12">There are no providers in this list.</td></tr>
  <% end %>

</table>
