
<%
   user_storage     = @data_providers.select { |dp|   ( dp.class <= SshDataProvider ) }
   official_storage = @data_providers.select { |dp| ! ( dp.class <= SshDataProvider ) }
%>

<div class="menu_bar menu_bar_left">

  <% if check_role(:admin) || check_role(:site_manager) %>
    <%= new_model_button "Create New Data Provider", new_data_provider_path %>
  <% end %> 

  <%= ajax_link (@filter_params["details"] == 'on' ? "Hide Details" : "Show Details" ),
              {:controller  => :data_providers, :action  => :index, :data_providers  => {:details  => set_toggle(@filter_params["details"])}},
              :datatype  => 'script', :class  => "button"
  %>   
  <%= render :partial => "shared/manage_filter_button", :locals => {:model => :data_provider}  %>
  <%= overlay_ajax_link "Help", "/doc/data_providers/data_provider_info.html", :class  => "button" %>    
</div>

<P>

<fieldset>
<legend>Official Data Storage</legend>
  <%= render :partial => 'one_data_provider_table', :locals => { :data_providers => official_storage, :id => 'official' } %>
</fieldset>

<P>                 

<fieldset>
<legend>User or Site Storage</legend>
  <%= render :partial => 'one_data_provider_table', :locals => { :data_providers => user_storage, :id => 'user' } %>
</fieldset>

