<tr class="<%= cycle("list-odd", "list-even") %> row_highlight" id="data_provider_<%= prov.id %>">
  <td><%= link_if_manager(prov.name, data_provider_path(prov)) %></td>
  <td><%= h(prov.user.login) %></td>
  <td><%= h(prov.group.name) %></td>
  <td><%= (link_to h(prov.site.name), site_path(prov.site)) rescue "(Unassigned)" %></td>
  <td><%= h(prov.online ? "Yes" : "No") %></td>
  <td><%= prov.is_alive? ? "Yes" : "<font color=\"red\">No</font>" %></td>
  <td><%= h(prov.read_only ? "Read Only" : "Read/Write") %></td>
  <td><%= h(prov.description) %></td>
  <td>
     <% if prov.has_owner_access?(current_user) %>
     <%= link_to 'Edit', edit_data_provider_path(prov), :class => 'action_link' %>
     <% end %>
  </td>
  <td>
     <% if prov.has_owner_access?(current_user) %>
     <!-- <%= link_to_remote 'Delete', data_provider_path(prov), :confirm => 'Are you sure?', :class => 'action_link' %> -->
     <%= 
        link_to_remote  'Delete',
                      {:url  => data_provider_path(prov),
                       :method  => 'delete',
                       :confirm => 'Are you sure?',
                       :before  => "$('data_provider_#{prov.id}').update('<td colspan=\"11\" style=\"color:red; text-align:center;\">Deleting...</td>');"
                       },
                      {:class => 'action_link'}
      %>
     <% end %>
  </td>
  <td>
     <% if prov.is_browsable? && prov.can_be_accessed_by?(current_user) %>
     <%= link_to 'Browse', browse_data_provider_path(prov), :class => 'action_link' %>
     <% end %>
  </td>
</tr>