
<!-- *********************************** -->
<!-- Disk usage summary -->
<!-- For Data Providers -->
<!-- *********************************** -->

<% ajax_form_tag(url_for(:action  => :cleanup),  :target  => "#disk_usage") do %>

  <% if @report_dps_all.size > 0 && @report_users_all.size > 0 %>

  <h3>Disk Usage Statistics for Data Providers</h3>
 
  <table>

    <tr>
      <th ROWSPAN="2"></th>
      <th COLSPAN="<%= @report_dps_all.size %>">Data Providers</th>
    </tr>

    <tr>
      <% @report_dps_all.each do |col| %>
        <th><%= h(col.is_a?(String) ? col : col.name) %></th>
      <% end %>
    </tr>
      
    <% @report_users_all.each do |row| %>
      <tr>
          <th><%= h(row.is_a?(String) ? row : row.login) %></th>
          
          <% @report_dps_all.each do |col| %>

            <% cell = @report_stats[row] ? @report_stats[row][col] : nil %>

            <% if ! cell %>
              <td bgcolor="#cccccc"></td>
              <% next %>
            <% end %>

            <% cellcolor = if cell[:size]    >= 10_000_000_000 # 10 gig
                              "#ff4444"
                           elsif cell[:size] >=  1_000_000_000 # 1 gig
                              "#ff8888"
                           elsif cell[:size] >=    100_000_000 # 100 megs
                              "#ffcccc"
                           elsif cell[:size] >=     10_000_000 # 10 megs
                              "#ffffcc"
                           else
                              "#ffffff"
                           end
            %>
            <td bgcolor="<%= cellcolor %>"><%= pretty_size(cell[:size]).gsub(/ /,"&nbsp;") %><BR>
                <%= (pluralize(cell[:num_entries],"entry") + " / " + pluralize(cell[:num_files],"file")).gsub(/ /,"&nbsp;") %>
                <% if cell[:unknowns] > 0 %>
                   <BR><%= pluralize(cell[:unknowns],"unknown").gsub(/ /,"&nbsp;") %>
                <% end %>
            </td>
          <% end %>    <% # end column iteration -%>

      </tr>
    <% end %>    <% # end row iteration -%>

  </table>
   
  <% end %>

  <!-- *********************************** -->
  <!-- Disk usage summary -->
  <!-- For Data Provider Caches -->
  <!-- *********************************** -->
   
  <% if @report_rrs.size > 0 && @report_users_all.size > 0 %>

  <h3>Disk Usage Statistics for Data Provider Caches</h3>
   
  <table>
    <tr>
      <th ROWSPAN="2"></th>
      <th COLSPAN="<%= @report_rrs.size %>">Data Provider Caches for Servers</th>
    </tr>

    <tr>
      <% @report_rrs.each do |col| %>
        <th><%= h(col.is_a?(String) ? col : col.name) %></th>
      <% end %>
    </tr>
      
    <% @report_users_all.each do |row| %>
      <tr>
        <th><%= h(row.is_a?(String) ? row : row.login) %></th>
         
          <% @report_rrs.each do |col| %>
          
            <% cell = @report_stats[row] ? @report_stats[row][col] : nil %>

            <% if ! cell %>
              <td bgcolor="#cccccc"></td>
              <% next %>
            <% end %>

            <% cellcolor = if cell[:size]    > 10_000_000_000 # 10 gig
                              "#ff4444"
                           elsif cell[:size] >  1_000_000_000 # 1 gig
                              "#ff8888"
                           elsif cell[:size] >    100_000_000 # 100 megs
                              "#ffcccc"
                           elsif cell[:size] >     10_000_000 # 10 megs
                              "#ffffcc"
                           else
                              "#ffffff"
                           end
            %>
            <td bgcolor="<%= cellcolor %>"><%= pretty_size(cell[:size]).gsub(/ /,"&nbsp;") %><BR>
              <%= (pluralize(cell[:num_entries],"entry") + " / " + pluralize(cell[:num_files],"file")).gsub(/ /,"&nbsp;") %>
              <% if cell[:unknowns] > 0 %>
                <BR><%= pluralize(cell[:unknowns],"unknown").gsub(/ /,"&nbsp;") %>
              <% end %>
                
              <% #Check box for cleaning the cache -%>
              <% if @report_rrs.include?(col) && @report_users.include?(row) %>
                <BR><%= check_box_tag('clean_cache[]', "#{row.id},#{col.id}", false ) %>
              <% end %>
            </td>

          <% end %>    <% # end column iteration -%>
      </tr>
    <% end %>    <% # end row iteration -%>

    <tr>
      <th COLSPAN="<%= 1+@report_rrs.size %>">
        <%= submit_tag 'Cleanup Selected Caches' %>
      </th>
    </tr>

  </table>

  <% end %>
   
  <%= hidden_field_tag "cleanup_before", @cache_older %>

<% end %> <!-- form -->

<P>

<!-- *********************************** -->
<!-- Refresh form -->
<!-- *********************************** -->

<% ajax_form_tag(url_for(:action  => :disk_usage),  :target  => "#disk_usage", :method  => "GET") do %>
  Files reported under the <em>Caches</em> columns were last accessed
  <%= select_tag("cache_older", options_for_select( @offset_times, @cache_older )) %>
  <%= submit_tag 'Refresh' %>
<% end %> <!-- form -->

