
<!-- *********************************** -->
<!-- Disk usage summary -->
<!-- For Data Providers -->
<!-- *********************************** -->

<% if @report_dps_all.size > 0 && @report_users_all.size > 0 %>

  <table>

    <tr>
      <th colspan="<%= @report_dps_all.size + 2 %>"> Disk Usage Statistics<%= " for Data Providers" if @report_dps_all.size > 1 %> </th>
    </tr>
    
    <tr>
      <th>User</th>
      <% @report_dps_all.each do |col| %>
        <th><%= col.is_a?(String) ? col : col.name %></th>
      <% end %>
    </tr>
      
    <% @report_users_all.each do |row| %>
          <td><%= row.is_a?(String) ? h(row) : link_to_user_with_tooltip(row) %></td>
          
          <% 
          is_an_user =  row.is_a?(User)
          if is_an_user
            accessible_dp = DataProvider.find_all_accessible_by_user(row).map &:name 
          end
          %>
         
          <% @report_dps_all.each do |col| %>

            <% 
            cell = @report_stats[row] ? @report_stats[row][col] : nil
            is_a_dp = col.is_a? DataProvider
            if is_a_dp
              dp_is_accessible = accessible_dp && accessible_dp.index(col.name) ? true : false 
            end
            %>
            
            <% if ! cell %>
              <td> <%= dp_is_accessible ? green_o_icon : red_times_icon %> </td>
              <% next %>
            <% end %>

            <% 
              cellcolor = size_to_color((cell[:size]/1_000_000) || 0, 500_000) 
              filters = {}
              if is_an_user
                filters[:user_id] = row.id
              end
              if is_a_dp
                filters[:data_provider_id] = col.id
              end
            %>
            
            <td>
              <span class="display_cell dp_disk_usage_color_span">
              <div class="dp_disk_usage_color_block" style="background: <%= cellcolor %>"></div>
              </span>
              <span class="display_cell">
                <%= pretty_size(cell[:size]).gsub(/ /,"&nbsp;").html_safe %>
                <% if is_a_dp && is_an_user && !dp_is_accessible %>
                  <%= red_times_icon %>
                <% end%>
                <BR>
                <%= 
                  filter_reset_link (pluralize(cell[:num_entries],"entry") + " / " + pluralize(cell[:num_files],"file")).gsub(/ /,"&nbsp;").html_safe,
                                    :controller => :userfiles,
                                    :filters => filters,
                                    :ajax => false
                %>
                <% if cell[:unknowns] > 0 %>
                  <BR>
                  <%= pluralize(cell[:unknowns],"unknown").gsub(/ /,"&nbsp;").html_safe %>
                <% end %>
              </span>
            </td>
          <% end %>    <%# end column iteration %>

      </tr>
    <% end %>    <%# end row iteration %>

  </table>
   
<% end %>


<!-- *********************************** -->
<!-- Disk usage summary       -->
<!-- For Data Provider Caches -->
<!-- *********************************** -->

<% if @report_rrs.size > 0 && @report_users_all.size > 0 %>

  <%= ajax_form_tag(url_for(:action  => :cleanup),  :target  => "#disk_usage") do %>
    <P>
      
    <table>

    <tr>
      <th colspan="<%= @report_rrs.size + 2 %>"> Disk Usage Statistics for Server's DP Caches </th>
    </tr>
    
    <tr>
      <th>User</th>
      <% @report_rrs.each do |col| %>
        <th><% if col.is_a?(String) %>
              <%= col %>
            <% else %>
              <%= col.name %>
              <br/><small><%= col.is_a?(Bourreau) ? "(Execution)" : "(Portal)" %></small>
            <% end %>
        </th>
      <% end %>
    </tr>
      
    <% @report_users_all.each do |row| %>
        <td><%= row.is_a?(String) ? h(row) : link_to_user_with_tooltip(row) %>
          <% # All servers checkbox -%>
          <% if row.is_a?(User) %>
            <BR><%= select_all_checkbox("clean_cache_users_#{row.id}") %>
          <% end %>
        </td>
         
          <% @report_rrs.each do |col| %>
          
            <% cell = @report_stats[row] ? @report_stats[row][col] : nil %>

            <% if ! cell %>
              <td></td>
              <% next %>
            <% end %>

            <% cellcolor = size_to_color((cell[:size]/1_000_000) || 0, 500_000) %>

            <td>
              <span class="display_cell dp_disk_usage_color_span">
              <div class="dp_disk_usage_color_block" style="background: <%= cellcolor %>"></div>
              </span>
              <span class="display_cell">
                <%= pretty_size(cell[:size]).gsub(/ /,"&nbsp;").html_safe %>
                <BR>
                <%= (pluralize(cell[:num_entries],"entry") + " / " + pluralize(cell[:num_files],"file")).gsub(/ /,"&nbsp;").html_safe %>
                <% if cell[:unknowns] > 0 %>
                  <BR><%= pluralize(cell[:unknowns],"unknown").gsub(/ /,"&nbsp;").html_safe %>
                <% end %>
                  
                <% # Check box for cleaning the cache -%>
                <% if @report_rrs.include?(col) && @report_users.include?(row) %>
                  <BR><%= check_box_tag('clean_cache[]', "#{row.id},#{col.id}", false, :class => "clean_cache_users_#{row.id} clean_cache_rrs_#{col.id}" ) %>
                <% elsif @report_users_all[-1] == row && ! @report_users.include?(row) %>
                  <% # All users checkbox -%>
                  <BR><%= select_all_checkbox("clean_cache_rrs_#{col.id}") %>
                <% end %>
              </span>
            </td>

          <% end %>    <%# end column iteration %>
      </tr>
    <% end %>    <%# end row iteration %>

    <tr>
      <th COLSPAN="<%= 1+@report_rrs.size %>">
        <%= submit_tag 'Cleanup Selected Caches' %>
      </th>
    </tr>

  </table>

  <%= hidden_field_tag "cleanup_older",    @cache_older %>
  <%= hidden_field_tag "cleanup_younger",  @cache_younger %>

  <% end %> <!-- form -->

  <P>

  <!-- *********************************** -->
  <!-- Refresh form -->
  <!-- *********************************** -->

  <%= ajax_form_tag(url_for(:action  => :disk_usage),  :target  => "#disk_usage", :method  => "GET") do %>
    Files reported in the <em>Caches</em> report were last accessed between
    <%= select_tag("cache_older",   options_for_select( @offset_times, @cache_older )) %> and
    <%= select_tag("cache_younger", options_for_select( @offset_times, @cache_younger )) %>
    <%= submit_tag 'Refresh' %>
  <% end %> <!-- form -->

<% end %>
