
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div name="dataprovider_files" class="index_block">

  <h2>Files Available On Remote Data Provider '<%= @provider.name %>'
  <% if @as_user != current_user %>
    (Browsing as user '<%= @as_user.login %>')
  <% end %>
  </h2>

  <% if params[:search].present? %>
    <div class="active_status">
      <span class="active_status_left_side">
         <span class="active_label">Active Filters:</span>
         <span class="current_filters_item">
           Name like: <%= params[:search] %>
         </span>
         <%= ajax_link delete_icon, {:action  => :browse}, :datatype  => 'script' %>
      </span>
    </div>
  <% end %>

  <div class="pagination">
    <span class="page_links">
      <%= will_paginate @fileinfolist, :container => false %> (<%= pluralize @file_count, "files" %>)
    </span>

    <span class="pagination_right_side">
      Search by name: <%= ajax_search_box :search, browse_data_provider_path %>
    </span>
  </div>
  
  <table class="resource_list" id="dp_browse_table"> 
    <tr>
      <th><%= select_all_checkbox "checkbox" %></th>
      <th>Name</th>
      <th>Size</th>
      <th>Type<br>
        <%= master_select("file_select", ["All files as..."] + SingleFile.valid_file_classes.map(&:pretty_type) ) %><br>
        <%= master_select("directory_select", ["All directories as..."] + FileCollection.valid_file_classes.map(&:pretty_type) ) %>
      </th>
      <th>Last modified</th>
      <th>Registered?</th>
      <th>Note</th>
    </tr>
    
    <% @fileinfolist.each do |fi| %>
      <%
         fi_name     = fi.name
         fi_size     = fi.size
         fi_type     = fi.symbolic_type
         fi_mtime    = fi.mtime
    
         fi_userfile = fi.userfile
         fi_ok       = fi.state_ok
         fi_message  = fi.message
      %>
      <tr class="<%= cycle('list-odd', 'list-even') %>  row_highlight">
    
        <% if fi_ok %>
          <td><%= check_box_tag("basenames[]",fi_name, false, :class  => "checkbox") %></td>
        <% else %>
          <td></td>
        <% end %>
    
        <td class="left"><%= fi_name %></td>
    
        <td><%= fi_type == :regular ? fi_size : "-" %></td>
    
        <% if fi_userfile %>
          <td><%= fi_userfile.class.to_s %></td>
        <% else %>
           <% if ! fi_ok %>
             <td><%= html_colorize("Unacceptable?") %></td>
           <% elsif fi_type == :regular %>
             <td>
               <%= 
                 select_tag("filetypes[]",
                   options_for_select(SingleFile.valid_file_classes.map{|c| [c.pretty_type, "#{c.name}-#{fi_name}"]}, class_param_for_name(fi_name, SingleFile)), 
                   :class  => "file_select")
               %>
             </td>
           <% elsif fi_type == :directory %>
             <td>
              <%= 
                select_tag("filetypes[]",
                    options_for_select(FileCollection.valid_file_classes.map{|c| [c.pretty_type, "#{c.name}-#{fi_name}"]}, class_param_for_name(fi_name, FileCollection)), 
                    :class  => "directory_select")
              %>
             </td>
           <% end %>
        <% end %>
    
        <td><%= to_localtime(Time.at(fi_mtime),:datetime) %></td>
    
        <% if fi_userfile %>
          <% to_who = "" %>
          <% to_who = " (as user #{fi_userfile.user.login})" if (fi_userfile.user_id != @as_user.id) || (fi_userfile.user_id != current_user.id) %>
          <td><%= link_to "Registered#{to_who}", { :controller => 'userfiles', :action => 'show', :id => fi_userfile.id } %></td>
        <% else %>
          <td>No</td>
        <% end %>
        <td><%= fi_message %></td>
      </tr>
    <% end %> <!-- each fileinfo -->
  </table>
</div>

