
<tr>

  <td colspan="7">
    <div class="dp_browse_pages">
      <%= will_paginate @fileinfolist %>
      <% if @fileinfolist.total_entries > 50 %>
        <%= ajax_link "Toggle Pagination", {:controller  => :data_providers, :action  => :browse, :pagination => set_toggle(params[:pagination])}, :datatype  => "script" %>
        <br>
      <% end %>
      <%= ajax_link 'Refresh list of files', browse_data_provider_path(:refresh => true, :pagination  => params[:pagination] ), :datatype  => 'script' %>
     </div>
            
     <% if params[:search] %>
       <div id="current_filters">
         Filtering: <strong><%= params[:search] %></strong><%= ajax_link delete_icon, {:action  => :browse, :pagination  => params[:pagination]}, :datatype  => 'script' %>
       </div>
     <% end %>
   </td>

</tr>


<tr>
  <th><%= select_all_checkbox "checkbox" %></th>
  <th onMouseOver="jQuery('#name_search_filter').show()" onMouseOut="jQuery('#name_search_filter').hide();">
    Name
    <div id="name_search_filter" class="filter_list" style="display:none;">
      Search: <%= text_field_tag :search, nil, :class  => "search_box", "data-url"  => browse_data_provider_path(:pagination  => params[:pagination])  %>
    </div>
  </th>
  <th>Size</th>
  <th>
    Type<br>
    <%= master_select("type_select", ["All directories as...", "FileCollection", "CivetCollection"]) %>
  </th>
  <th>Last modified</th>
  <th>Registered?</th>
  <th>Note</th>
</tr>


<% @fileinfolist.each do |fi| %>
  <%
     fi_name     = fi.name
     fi_size     = fi.size
     fi_type     = fi.symbolic_type
     fi_mtime    = fi.mtime

     fi_userfile = fi.userfile
     fi_ok       = fi.state_ok
     fi_message  = fi.message
  %>
  <tr class="<%= cycle('list-odd', 'list-even') %>  row_highlight">

    <% if fi_ok %>
      <td><%= check_box_tag("basenames[]",fi_name, false, :class  => "checkbox") %></td>
    <% else %>
      <td></td>
    <% end %>

    <td class="left"><%= h(fi_name) %></td>

    <td><%= h(fi_size) %></td>

    <% if fi_userfile %>
      <td><%= h(fi_userfile.class.to_s) %></td>
    <% else %>
       <% if ! fi_ok %>
         <td><%= red_if(true,"Unacceptable?") %></td>
       <% elsif fi_type == :regular %>
         <td>SingleFile</td>
       <% elsif fi_type == :directory %>
         <td><%= select_tag("directorytypes[]",
                options_for_select([
                   [ "Directory as...", "Unset-#{fi_name}" ],
                   [ "FileCollection",  "FileCollection-#{fi_name}" ],
                   [ "CivetCollection", "CivetCollection-#{fi_name}" ]
                ]), :class  => "type_select") %>
         </td>
       <% elsif fi_type == :symlink %>
         <td><%= select_tag("directorytypes[]",
                options_for_select([
                   [ "Symbolic link as...", "Unset-#{fi_name}" ],
                   [ "SingleFile",      "SingleFile-#{fi_name}" ],
                   [ "FileCollection",  "FileCollection-#{fi_name}" ],
                   [ "CivetCollection", "CivetCollection-#{fi_name}" ]
                ]), :class  => "type_select") %>
         </td>
       <% end %>
    <% end %>

    <td><%= h(to_localtime(Time.at(fi_mtime),:datetime)) %></td>

    <% if fi_userfile %>
      <td><%= link_to "Registered", { :controller => 'userfiles', :action => 'show', :id => fi_userfile.id } %></td>
    <% else %>
      <td>No</td>
    <% end %>
    <td><%= h(fi_message) %></td>
  </tr>

<% end %> <!-- each fileinfo -->
