
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<span id="new_model">
  <%= button_with_dropdown_menu("Create New Data Provider", :open => true) do %>
    <%= error_messages_for @provider %>

    <div class="display_cell">
      <%= ajax_form_for @provider, :as => :data_provider, :url => { :action => "create" }, :datatype => "script" do |f| -%>

      <%= render :partial => 'form_fields', :locals  => {:f  => f} %>

      <p><%= submit_tag 'Create' %></p>

      <% end %>
    </div>

    <div class="display_cell" style="padding-left: 1em;">
      <table>
        <tr><th colspan="2" class="supertitle">Public SSH Key for this CBRAIN Portal</th></tr>
        <tr><td>This key should be installed on the host machines of SSH or Smart Data Providers to allow remote access.</td></tr>
        <tr><td><PRE class="ssh_key"><%= pretty_ssh_key(RemoteResource.current_resource.get_ssh_public_key || 'Unknown! Talk to sysadmin!') %></PRE></td></tr>
      </table>
    </div>
  <% end %>
</span>

