
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id: new.html.erb 457 2009-09-02 20:36:49Z tsherif $
#

-%>
<div class = "generalcontent">
<br><br>
   <%= error_messages_for :provider %>

   <div class = "splitleft">

      <% remote_form_for :data_provider, @provider, :url => { :action => "create" } do |f| -%>

         <p><label for="name">Name</label><br/>
         <%= f.text_field :name %></p>

         <p><label for="description">Description</label><br/>
         <%= f.text_field :description %></p>

         <p><label for="type">Type</label><br/>
         <%= f.select :type, @typelist, :prompt => "Select Provider Type" %></p>

         <p><label for="user_id">Owner</label><br/>
         <%= f.select :user_id, current_user.available_users.collect { |u| [ u.login, u.id ] }, :prompt => "Select owner" %></p>

         <p><label for="group_id">Group</label><br/>
         <%= f.select :group_id, current_user.available_groups.collect { |g| [ g.name, g.id ] }, :prompt => "Select group" %></p>

         <p><label for="online">Status</label><br/>
         <%= f.select :online, { "Online" => true, "Offline" => false }, :prompt => "Select status" %></p>

         <p><label for="read_only">Mode</label><br/>
         <%= f.select :read_only, { "Read/Write" => false, "Read Only" => true }, :prompt => "Select mode" %></p>

         <p><label for="remote_host">Remote Hostname</label><br/>
         <%= f.text_field :remote_host %></p>

         <p><label for="remote_user">Remote Username</label><br/>
         <%= f.text_field :remote_user %></p>

         <p><label for="remote_dir">Remote Directory</label><br/>
         <%= f.text_field :remote_dir %></p>

         <p><label for="remote_port">Remote Port Number</label><br/>
         <%= f.text_field :remote_port %></p>

         <p><%= submit_tag 'Create' %></p>

      <% end -%>
   </div> <!-- End class="generalbox" -->

   <div class="splitright">
      Public SSH Keys for this CBRAIN Portal and all accessible Execution Servers.
      <table>
        <% @ssh_keys.each do |pair| %>
          <tr><th><%= h(pair[0]) %></th></tr>
          <tr><td><SMALL><SMALL><PRE><%= pretty_ssh_key(pair[1]) %></PRE></SMALL></SMALL></th></tr>
        <% end %>
      </table>
   </div> <!-- End class="ssh_keys" -->

</div> <!-- End class="generalcontent" -->
