
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>


  <div id="new_data_provider">

   <%= error_messages_for :provider %>

   <div class = "splitleft">
      <% remote_form_for :data_provider, @provider, :url => { :action => "create" } do |f| -%>

        <%= render :partial => 'form_fields', :locals  => {:f  => f} %>

         <p><%= submit_tag 'Create' %></p>

      <% end -%>
   </div> <!-- End class="splitleft" -->

   <div class="ssh_keys">
      Public SSH Keys for this CBRAIN Portal and all accessible Execution Servers.
      <table id="provider_info_table">
        <% @ssh_keys.each do |pair| %>
          <tr><th><%= h(pair[0]) %></th></tr>
          <tr><td><SMALL><SMALL><PRE id="standard_out"><%= pretty_ssh_key(pair[1] || "This Execution Server is DOWN!") %></PRE></SMALL></SMALL></td></tr>
        <% end %>
      </table>
   </div> <!-- End class = "ssh_keys" -->
</div> <!-- End class="generalcontent" -->
