
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%= button_with_dropdown_menu("Register Files") do %>

  <p class="medium_paragraphs">
  This panel allows you to <strong>register</strong> files that are present on
  the remote Data Provider, but not yet known by the CBRAIN
  interface. Once registered, a file will be visible in
  the <strong>Files</strong> manager, and can be used for launching
  tasks.
  </p>

  <p class="medium_paragraphs">
  We recommand that you use this Data Provider only to
  transfer data in and out of CBRAIN. When registering files,
  as you can see below, you can have them automatically moved
  or copied to another official CBRAIN Data Provider.
  <% if @provider.meta[:must_move].present? %>
  <strong>In fact, this particular Data Provider leaves you no choice</strong>
  and you MUST select another Data Provider where your files will be copied or moved.
  <% end %>
  Once files are copied to another official Data Provider, we recommand you
  clean up the files here using the <strong>Delete Files</strong> panel, further right.
  </p>

  <strong>When registering, automatically...</strong>
  <br/>

  <table class="simple">
    <tr>
      <td class="centered">&darr; ... assign them to project ... &darr;</td>
      <td class="centered">&darr; ... move or copy them ... &darr;</td>
      <td class="centered">&darr; ... to ... &darr;
        <% main_dp_set = DataProvider.find_all_accessible_by_user(current_user).all.select { |dp| ! dp.is_browsable? } %>
        <%= html_tool_tip("(info)", :offset_y => 25, :offset_x => -200 ) do %>
          <%= data_providers_descriptions(main_dp_set) %>
        <% end %>
      </td>
      <td rowspan="2" class="centered">
        <%= hijacker_submit_button(
          "Register the files!",
          :name     => :register,
          :url      => url_for(:action => :register),
          :method   => :post,
          :datatype => :script,
          :class    => "button"
        ) %>
      </td>
    </tr>
    <tr>
      <td><%= group_select :other_group_id, {}, { :include_blank => "(Select a project)" } %></td>

    <td>
    <% auto_do_options = [
                            [ "... MOVE the files to Data Provider ->", "MOVE" ],
                            [ "... COPY the files to Data Provider ->", "COPY" ]
                         ]
      # Disable the MOVE option if the DP is read only
      auto_do_options[0].push({:disabled => true}) if @provider.read_only?
      # Add an option to leave files on the DP if the DP allows it.
      auto_do_options.unshift( ["... do nothing else!", "" ] ) unless @provider.meta[:must_move].present?
    %>
    <%= select_tag :auto_do, options_for_select( auto_do_options ) %>
    </td>

    <td>
    <%= data_provider_select :other_data_provider_id,
        { :data_providers => main_dp_set },
        { :include_blank => "(Select another Data Provider)" }
    %>
    </td>
  </table>


  <P>
  <strong>Important notes about automatically copying and moving files:</strong>
  </P>

  <UL>
    <LI>The MOVE or COPY operation will start in background as soon as you click 'Register files'.</LI>
    <LI>While the operation is in progress, do not modify the files on the remote Data Provider!</LI>
    <LI><strong>While a COPY operation is in progress</strong>, there will seem to be two registered versions of the file in the file manager (one on each Data Provider).</LI>
    <LI><strong>After a COPY operation is done</strong>, the files will still be visible here and will no longer seem to be registered.</LI>
    <LI>After a MOVE operation is done, the files will have been erased from here.</LI>
    <LI>Attempts to COPY or MOVE files to Data Providers where identically named files already exist will be ignored silently.</LI>
  </UL>

<% end %>

