
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Browse Data Provider' %>

<%= form_tag(url_for(:controller => 'data_providers', :id => @provider.id, :action => 'register'), :method => :post, :id => "browse_form") do %>
  <div class="row menu_bar">
    <div class="col-xs-12">
      <div class="well well-sm">
        <%= render :partial => "register_button" %>
        <%= render :partial => "unregister_button" %>
        <%= render :partial => "delete_button" %>
        <%= render :partial => "view_option_button" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12" id="dp_browse_table_container">
      <%= render :partial => 'dp_browse_table' %>
    </div>
  </div>

<% end %>

