
<% title 'Browse Data Provider' %>

<div class="menu_bar">
  <%= render :partial => "register_button" %>
  <%= render :partial => "unregister_button" %>
  <%= nil and render :partial => "delete_button" %>
  <%= render :partial => "view_option_button" %>
</div>

<h2>Files Available On Data Provider '<%= @provider.name %>'</h2>

<%= form_tag(url_for(:controller => 'data_providers', :id => @provider.id, :action => 'register'), :method => :post, :id => "browse_form") do %>

  <div class="resource_list" id="dp_browse_table">
    <%= render :partial => 'dp_browse_table' %>
  </div>

<% end %>


