
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% title 'Browse Data Provider' %>

<%= form_tag(url_for(:controller => 'data_providers', :id => @provider.id, :action => 'register'), :method => :post, :id => "browse_form") do %>

  <div class="menu_bar">
    <%= render :partial => "register_button" %>
    <%= render :partial => "unregister_button" %>
    <%= render :partial => "delete_button" %>
    <%= render :partial => "view_option_button" %>
  </div>

  <div class="resource_list" id="dp_browse_table">
    <%= render :partial => 'dp_browse_table' %>
  </div>

<% end %>

<p class="medium_paragraphs">
<strong>Important note about the behavior of this Data Provider:</strong>
<% if @provider.meta[:must_erase].present? %>
  Files registered on this Data Provider will be <strong>deleted completely</strong>
  if the <strong>Delete</strong> button of the file manager is used.
<% else %>
  Files registered on the Data Provider will only be <strong>unregistered</strong>
  if the <strong>Delete</strong> button of the file manager is used. Please use
  the <strong>Delete Files</strong> panel above to remove them completely.
<% end %>
</p>

