
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% title "Disk Usage" %>

<h2>Data Provider Disk Usage Report</h2>

<span class="display_cell">
  <table>
  
      <tr>
        <% if @report_dps_all.present? %>
          <th class="blank"></th>
          <% @report_dps_all.each do |dp| %>
            <th><%= dp.is_a?(String) ? dp.capitalize : link_to_data_provider_if_accessible(dp, current_user) %></th>
          <% end %>
        <% else %>
          <th>(There are no entries in this report)</th>
        <% end %>
      </tr>
    
    
    <% @report_users_all.each do |user| %>
      <tr>  
        <td><%= user.is_a?(String) ? h(user).capitalize : link_to_user_with_tooltip(user) %></td>
        
        <% @report_dps_all.each do |dp| %>
        
          <% cell = @report_stats[user] ? @report_stats[user][dp] : nil %>
          
          <% if ! cell %>
            <td></td>
            <% next %>
          <% end %>
        
          <% 
            filters = {}
            if user.is_a?(User)
              filters[:user_id] = user.id
            end
            if dp.is_a? DataProvider
              filters[:data_provider_id] = dp.id
            end
          %>
          
          <td>
          
            <%= disk_space_info_display(cell[:size] || 0) do %>
              <%= pretty_size(cell[:size]) %></br>
              <%= 
                filter_reset_link (pluralize(cell[:num_entries],"entry") + " / " + pluralize(cell[:num_files],"file")).gsub(/ / ,"&nbsp;").html_safe,
                                  :controller => :userfiles,
                                  :filters => filters,
                                  :ajax => false
              %>
              <% if cell[:unknowns] > 0 %>
                </br><%= pluralize(cell[:unknowns],"unknown").gsub(/ / ,"&nbsp;").html_safe %>
              <% end %>
            <% end %>
        
          </td>
        <% end %>
  
      </tr>
    <% end %>
  
  </table>
  
  <p/><%= disk_usage_legend %>
  
</span>

