
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

   <% title "Edit Data Provider" %>

   <h2>Edit Data Provider</h2>

   <div class = "generalbox">

      <%= error_messages_for :data_provider %>

      <% form_for :data_provider, @provider, :url => { :action => "update" }, :html => { :method => :put } do |f| -%>

         <%= render :partial => 'form_fields', :locals  => {:f  => f} %>

         <p><%= submit_tag 'Update' %></p>

      <% end -%>

      <%= button_to 'Cancel', data_providers_path, :method => :get %>
   </div>  <!-- End class="generalbox" -->

   <div class="ssh_keys">
      Public SSH Keys for this CBRAIN Portal and all accessible Execution Servers.
      <table>
        <% @ssh_keys.each do |pair| %>
          <tr><th><%= h(pair[0]) %></th></tr>
          <tr><td><SMALL><SMALL><PRE><%= h(pair[1]) %></PRE></SMALL></SMALL></th></tr>
        <% end %>
      </table>
   </div> <!-- End class="ssh_keys" -->

</div>  <!-- End class="generalcontent" -->
