
<% title "Edit Data Provider" %>

<h2>Edit Data Provider</h2>

<div class="generalbox">

   <%= error_messages_for :provider %>
   
   <% form_for :data_provider, @provider, :url => { :action => "update" }, :html => { :method => :put } do |f| -%>

      <%= render :partial => 'form_fields', :locals  => {:f  => f} %>

      <p><%= submit_tag 'Update' %></p>

   <% end -%>

   <%= button_to 'Cancel', data_providers_path, :method => :get %>

</div>

<table>
  <tr><th colspan="2">Public SSH Keys for this CBRAIN Portal and all accessible Execution Servers.</th></tr>
  <% @ssh_keys.each do |pair| %>
    <tr><th><%= h(pretty_ssh_key(pair[0])) %></th></tr>
    <tr><td><SMALL><SMALL><PRE class="ssh_key"><%= h(pretty_ssh_key(pair[1])) %></PRE></SMALL></SMALL></td></tr>
  <% end %>
</table>

