
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

   <% title 'Data Providers' %>

   <h2>Data Providers</h2>
   <div class = "dataproviderbox">
      <div class = "dataprovidermenuoptions">
         <%= button_to 'Create New Data Provider', new_data_provider_path, :method => :get %>
      </div>  <!-- End class="dataprovidermenuoptions" -->
   </div> <!-- End class="dataproviderbox" -->

   <table class = "dataprovidertable">
      <tr>
          <th>Provider Name</th>
          <th>Owner</th>
          <th>Group</th>
          <th>Site</th>
          <th>Online?</th>
          <th>Alive?</th>
          <th>Mode</th>
          <th>Description</th>
          <th colspan="3">Operations</th>
      </tr>

      <% for prov in @providers %>
          <tr class="<%= cycle('list-odd', 'list-even') %>">
            <td><%= link_if_manager(prov.name, data_provider_path(prov)) %></td>
            <td><%= h(prov.user.login) %></td>
            <td><%= h(prov.group.name) %></td>
            <td><%= (link_to h(prov.site.name), site_path(prov.site)) rescue "(Unassigned)" %></td>
            <td><%= h(prov.online ? "Yes" : "No") %></td>
            <td><%= prov.is_alive? ? "Yes" : "<font color=\"red\">No</font>" %></td>
            <td><%= h(prov.read_only ? "Read Only" : "Read/Write") %></td>
            <td><%= h(prov.description) %></td>
            <td>
               <% if prov.has_owner_access?(current_user) %>
               <%= button_to 'Edit', edit_data_provider_path(prov), :method => :get %>
               <% end %>
            </td>
            <td>
               <% if prov.has_owner_access?(current_user) %>
               <%= button_to 'Delete', data_provider_path(prov), :confirm => 'Are you sure?', :method => :delete %>
               <% end %>
            </td>
            <td>
               <% if prov.is_browsable? && prov.can_be_accessed_by?(current_user) %>
               <%= button_to 'Browse', browse_data_provider_path(prov), :method => :get %>
               <% end %>
            </td>
          </tr>
      <% end %>

      <% if @providers.nil? || @providers.empty? %>
        <tr class="list-odd"><td colspan="9">There are no providers in this list.</td></tr>
      <% end %>

   </table>

</div> <!-- End class="generalcontent" --> 
