
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

   <% title 'Data Providers' %>
   
   <% if check_role(:admin) || check_role(:site_manager)%>
      <div class="resource_list_upper_form">
            <%= 
              link_to_function 'Create New Data Provider', :class  => 'action_link' do |page|
                page['new_data_provider'].toggle
              end 
              %>
            <div id="new_data_provider" style="display:none">
              <%= render :partial  => 'new' %>
            </div>
      </div> <!-- End class="upper_form" -->
   <% end %>
<br>
   <table class="resource_list" id="data_provider_table">
      <tr>
          <th>Provider Name</th>
          <th>Owner</th>
          <th>Group</th>
          <th>Site</th>
          <th>Online?</th>
          <th>Alive?</th>
          <th>Mode</th>
          <th>Description</th>
          <th colspan="3">Operations</th>
      </tr>

      <% for prov in @providers %>
          <%= render :partial => 'data_provider_table_row', :locals  => {:prov  => prov} %>
      <% end %>

      <% if @providers.nil? || @providers.empty? %>
        <tr class="list-odd"><td colspan="9">There are no providers in this list.</td></tr>
      <% end %>

   </table>

<P>

   <table class=resource_list" id="data_provider_stats">
      <tr>
        <th COLSPAN="<%= 1+@report_dplist.size %>">Disk Usage Statistics</th>
      </tr>
      <tr>
          <th>-</th>
          <% @report_dplist.each do |dpid| %>
            <th><%= h(@report_dplabels[dpid]) %></th>
          <% end %>
      </tr>
      <% @report_userlist.each do |uid| %>
      <tr>
          <th><%= h(@report_userlabels[uid]) %></th>
          <% @report_dplist.each do |dpid| %>
            <% cell = @report_stats[uid] ? @report_stats[uid][dpid] : nil %>
            <% if cell %>
              <td><%= pretty_size(cell[:size]) %><BR>
                  <%= pluralize(cell[:numfiles],"file") %><BR>
                  <% if cell[:unknowns] > 0 %>
                     <%= cell[:unknowns] %> unknowns
                  <% end %>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
      </tr>
      <% end %>
   </table>
   

</div> <!-- End class="generalcontent" --> 
