
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>

<div class = "generalcontent">

   <% title 'Data Providers' %>
   
   
    <div class="resource_list_upper_form">
          <%= 
            link_to_function 'Create New Data Provider', :class  => 'action_link' do |page|
              page['new_data_provider'].toggle
            end 
            %>
          <div id="new_data_provider" style="display:none">
            <%= render :partial  => 'new' %>
          </div>
    </div> <!-- End id="resource_list_upper_form" -->


    <br>    
   <div id="show_details_link" style="display:inline">
             <%= 
             link_to_function 'Show Details', {:class  => 'action_link', :id =>'show_details_link'} do |page|
               page['provider_hide_details'].hide      
               page['provider_show_details'].show
               page['provider_statistics'].show
               page['show_details_link'].hide
               page['hide_details_link'].show      
             end 
             %>
    </div><!--End id="show_details_link"-->
    
    <div id="hide_details_link" style="display:none">
            <%= 
            link_to_function 'Hide Details', {:class  => 'action_link', :id =>'hide_details_link'} do |page|
              page['provider_show_details'].hide
              page['provider_hide_details'].show        
              page['provider_statistics'].show
              page['show_details_link'].show
              page['hide_details_link'].hide      
            end 
            %>
    </div><!-- End id="hide_details_link" --> 

   <div id ="provider_show_details" style="display:none">

       <br>
       <table class="resource_list" id="data_provider_table">
          <tr>
              <th>Provider Name</th>
              <th>Owner</th>
              <th>Group</th>
              <th>Site</th>
              <th>Online?</th>
              <th>Alive?</th>
              <th>Mode</th>
              <th>Description</th>
              <th colspan="3">Operations</th>
          </tr>

          <% for prov in @providers %>
              <%= render :partial => 'data_provider_table_row', :locals  => {:prov  => prov} %>
          <% end %>

          <% if @providers.nil? || @providers.empty? %>
            <tr class="list-odd"><td colspan="9">There are no providers in this list.</td></tr>
          <% end %>

       </table>
   </div><!-- End id="provider_show_details" --> 
       
   <div id ="provider_hide_details" style="display:inline">
             <table class="resource_list" id="data_provider_table">
                <tr>
                    <th>Provider Name</th>
                    <th>Site</th>
                    <th>Online?</th>
                    <th>Alive?</th>
                    <th>Mode</th>
                    <th colspan="3">Operations</th>
                </tr>

                <% for prov in @providers %>
                    <%= render :partial => 'data_provider_table_row_hide', :locals  => {:prov  => prov} %>
                <% end %>

                <% if @providers.nil? || @providers.empty? %>
                  <tr class="list-odd"><td colspan="9">There are no providers in this list.</td></tr>
                <% end %>
             </table>
   </div> <!-- End id="provider_hide_details" --> 

    <!-- *********************************** -->
    <!-- Disk usage summary -->
    <!-- *********************************** -->

   <div id="provider_statistics" style="display:inline">
   <% form_tag(url_for(:controller => 'data_providers', :action => 'cleanup'), :method => :post) do %>

   <table id="data_provider_stats">
      <tr>
        <th COLSPAN="<%= 1+@report_col_objects.size %>">Disk Usage Statistics</th>
      </tr>
      <tr>
        <th ROWSPAN="2"></th>
        <th COLSPAN="<%= @report_dps.size + (@report_dps.size > 1 ? 1 : 0) %>">Data Providers</th>
        <% if @report_rrs.size > 0 %>
          <th COLSPAN="<%= @report_rrs.size %>">Data Provider Caches</th>
        <% end %>
      </tr>
      <tr>
          <% @report_col_objects.each do |col| %>
            <th><%= h(col.is_a?(String) ? col : col.name) %></th>
          <% end %>
      </tr>
      <% @report_row_objects.each do |row| %>
      <tr>
          <th><%= h(row.is_a?(String) ? row : row.login) %></th>
          <% @report_col_objects.each do |col| %>
            <% cell = @report_stats[row] ? @report_stats[row][col] : nil %>
            <% if cell %>
              <% cellcolor = if cell[:size]    > 10_000_000_000 # 10 gig
                                "#ff4444"
                             elsif cell[:size] >  1_000_000_000 # 1 gig
                                "#ff8888"
                             elsif cell[:size] >    100_000_000 # 100 megs
                                "#ffcccc"
                             elsif cell[:size] >     10_000_000 # 10 megs
                                "#ffffcc"
                             else
                                "#ffffff"
                             end
              %>
              <td bgcolor="<%= cellcolor %>"><%= pretty_size(cell[:size]).gsub(/ /,"&nbsp;") %><BR>
                  <%= (pluralize(cell[:num_entries],"entry") + " / " + pluralize(cell[:num_files],"file")).gsub(/ /,"&nbsp;") %>
                  <% if cell[:unknowns] > 0 %>
                     <BR><%= pluralize(cell[:unknowns],"unknown").gsub(/ /,"&nbsp;") %>
                  <% end %>
                  <% if @report_rrs.include?(col) && @report_users.include?(row) %>
                    <% if col.is_a?(Bourreau) || col.id == CBRAIN::SelfRemoteResourceId %>
                      <BR><%= check_box_tag('clean_cache[]', "#{row.id},#{col.id}", false ) %>
                    <% end %>
                  <% end %>
              </td>
            <% else %>
              <td bgcolor="#cccccc"></td>
            <% end %>
          <% end %>
      </tr>
      <% end %>

      <% if @report_rrs.size > 0 %>
        <tr>
          <th COLSPAN="<%= 1+@report_col_objects.size %>">
            <%= submit_tag 'Cleanup Selected Caches' %>
          </th>
        </tr>
      <% end %>

   </table>

   <%= hidden_field_tag "cleanup_before", @cache_older %>

   <% end %> <!-- form -->



   <!-- *********************************** -->
   <!-- Refresh form -->
   <!-- *********************************** -->

   <% form_tag(url_for(:controller => 'data_providers', :action => 'index'), :method => :get) do %>

   Files reported under the <em>Caches</em> columns were last accessed
   <%= select_tag("cache_older", options_for_select( @offset_times, @cache_older )) %>
   <%= submit_tag 'Refresh' %>

   <% end %> <!-- form -->
   </div> <!-- End id="provider_statistics" --> 
</div> <!-- End class="generalcontent" --> 
