
<% title 'Data Providers' %>
      
<p>

<div class="menu_bar menu_bar_left">

  <% if check_role(:admin) || check_role(:site_manager) %>
    <%= button_with_dropdown_menu('Create New Data Provider', :content_id => 'new_model_panel', :partial => 'new', :button_id => "new_model_button") %>
  <% end %> 

  <%= ajax_link (@filter_params["details"] == 'on' ? "Hide Details" : "Show Details" ),
              {:controller  => :data_providers, :action  => :index, :data_providers  => {:details  => set_toggle(@filter_params["details"])}},
              :datatype  => 'script', :class  => "button"
  %>   
  <%= render :partial => "shared/manage_filter_button", :locals => {:model => :data_provider}  %>
  <%= overlay_ajax_link "Help", "/doc/data_providers/data_provider_info.html", :class  => "button" %>    
</div>

<p>

<%= render :partial => 'data_providers_table' %>

<P>

<div id="disk_usage">   
  <%= on_click_ajax_replace({:url  =>  url_for(:action  => :disk_usage), :position  => :replace, :before  => "<span class='loading_message'>Loading...</span>"}) do %>
    <a href="#" class="action_link">Click here to view disk usage statistics</a>
  <% end %>
</div>

