
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>


<% title 'Data Providers' %>
   
<div class = "generalcontent">
   
    <div class="resource_list_upper_form">
          <%= 
            link_to_function 'Create New Data Provider', :class  => 'action_link' do |page|
            page['new_data_provider'].toggle
            end 
            %>
          <div id="new_data_provider" style="display:none">
            <%= render :partial  => 'new' %>
          </div>
    </div> <!-- End id="resource_list_upper_form" -->


    <br>    
   <div id="show_details_link" style="display:inline">
             <%= 
             link_to_function 'Show Details', {:class  => 'action_link', :id =>'show_details_link'} do |page|
               page.select('.provider_details').each{ |el| el.show  }
               page['show_details_link'].hide
               page['hide_details_link'].show      
             end 
             %>
    </div><!--End id="show_details_link"-->
    
    <div id="hide_details_link" style="display:none">
            <%= 
            link_to_function 'Hide Details', {:class  => 'action_link', :id =>'hide_details_link'} do |page|
              page.select('.provider_details').each{ |el| el.hide  }
              page['show_details_link'].show
              page['hide_details_link'].hide      
            end 
            %>
    </div><!-- End id="hide_details_link" --> 


   <table class="resource_list" id="data_provider_table">
      <tr>
          <th>Provider Name</th>
          <th class="provider_details" style="display:none">Owner</th>
          <th>Group</th>
          <th class="provider_details" style="display:none">Site</th>
          <th>Online?</th>
          <th>Alive?</th>
          <th>Mode</th>
          <th class="provider_details" style="display:none">Description</th>
          <th colspan="3">Operations</th>
      </tr>

      <% for prov in @providers %>
          <%= render :partial => 'data_provider_table_row', :locals  => {:prov  => prov} %>
      <% end %>

      <% if @providers.nil? || @providers.empty? %>
        <tr class="list-odd"><td colspan="9">There are no providers in this list.</td></tr>
      <% end %>
   </table>
   <div id="disk_usage">   
     <% on_click_ajax_replace({:url  =>  url_for(:action  => :disk_usage), :position  => :replace, :before  => "<span class='loading_message'>Loading...</span>"}) do %>
        <a href="#" class="action_link">Click here to view disk usage statistics</a>
     <% end %>
   </div>
</div> <!-- End class="generalcontent" --> 
