
<%

#
# CBRAIN Project
#
# Original author: Pierre Rioux
#
# $Id$
#

-%>
<div class = "generalcontent">

   <% title 'Data Providers' %>
   
   
    <div class="resource_list_upper_form">
          <%= 
            link_to_function 'Create New Data Provider', :class  => 'action_link' do |page|
              page['new_data_provider'].toggle
            end 
            %>
          <div id="new_data_provider" style="display:none">
            <%= render :partial  => 'new' %>
          </div>
    </div> <!-- End class="upper_form" -->

<br>
   <table class="resource_list" id="data_provider_table">
      <tr>
          <th>Provider Name</th>
          <th>Owner</th>
          <th>Group</th>
          <th>Site</th>
          <th>Online?</th>
          <th>Alive?</th>
          <th>Mode</th>
          <th>Description</th>
          <th colspan="3">Operations</th>
      </tr>

      <% for prov in @providers %>
          <%= render :partial => 'data_provider_table_row', :locals  => {:prov  => prov} %>
      <% end %>

      <% if @providers.nil? || @providers.empty? %>
        <tr class="list-odd"><td colspan="9">There are no providers in this list.</td></tr>
      <% end %>

   </table>

<P>

   <table class=resource_list" id="data_provider_stats">
      <tr>
        <th COLSPAN="<%= 1+@report_col_labels.size %>">Disk Usage Statistics</th>
      </tr>
      <tr>
        <th ROWSPAN="2"></th>
        <th COLSPAN="<%= @report_dp_labels.size + (@report_dp_labels.size > 1 ? 1 : 0) %>">Data Providers</th>
        <% if @report_rr_labels.size > 0 %>
          <th COLSPAN="<%= @report_rr_labels.size %>">Remote Resources Caches</th>
        <% end %>
      </tr>
      <tr>
          <% @report_col_labels.each do |col_label| %>
            <th><%= h(col_label) %></th>
          <% end %>
      </tr>
      <% @report_row_labels.each do |row_label| %>
      <tr>
          <th><%= h(row_label) %></th>
          <% @report_col_labels.each do |col_label| %>
            <% cell = @report_stats[row_label] ? @report_stats[row_label][col_label] : nil %>
            <% if cell %>
              <td><%= pretty_size(cell[:size]) %><BR>
                  <%= pluralize(cell[:numfiles],"file") %><BR>
                  <% if cell[:unknowns] > 0 %>
                     <%= cell[:unknowns] %> unknowns
                  <% end %>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
      </tr>
      <% end %>
   </table>
   

</div> <!-- End class="generalcontent" --> 
