
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2023
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Add New Private Data Provider' %>

<h2>Add New Private SSH based Data Provider</h2>

<%= error_messages_for(@provider) %>

<%= render :partial => 'show_user_key' %>

<div class="display_inline_block" style="min-width: 50%">
  <%= show_table(@provider, :as => :data_provider, :url => {:action => "create_user_dp"}, :edit_condition => true, :width => 1) do |t| %>

    <% t.edit_cell(:name) do |f| %>
      <%= f.text_field :name %>
      <div class="field_explanation">Select short, but easy to remember name for your data provider</div>
    <% end %>

    <% t.edit_cell(:description, :content => full_description(@provider.description)) do  |f| %>
      <%= f.text_area :description, :rows => 10, :cols => 40 %><br>
      <div class="field_explanation">Brief description of the data provider. The first line should be a short summary, and the rest are for any special notes</div>
    <% end %>

    <% time_zone = @provider.time_zone # rescue "(Unset)" or if @provider.new_record? # for potential future reuse for user edit     %>

    <% t.edit_cell(:time_zone, :content => time_zone) do |f| %>
      <%= f.select :time_zone, time_zone_options_for_select(time_zone, /canada/i), :include_blank => true %>
    <% end %>

    <% t.edit_cell(:group_id, :header => "Project", :content => link_to_group_if_accessible(@provider.group) ) do %>
      <%= group_select("data_provider[group_id]", { :selector => @provider }) %>
    <% end %>

    <% if check_role(:admin_user) || @provider.user_id == current_user.id %>
      <% t.edit_cell(:remote_dir, :header => "Physical Data Location", :show_width => 2) do |f| %>
        <%= f.text_field :remote_dir, :size => 80 %>
          <div class="field_explanation">Full path to the directory where files wil be saved</div>
      <% end %>
    <% end %>

    <% t.edit_cell(:remote_host, :header => "Host name") do |f| %>
      <%= f.text_field :remote_host %>
      <div class="field_explanation">Full domain name or Internet address of the machine on which the data provider is located</div>
    <% end %>

    <% t.edit_cell(:alternate_host, :header => "Alternate hostname(s)")  do |f| %>
      <%= f.text_field :alternate_host, :size => 60 %><br />
      <div class="field_explanation">Comma-separated list of alternate hostnames; hostname1,hostname2,hostname3,...</div>
    <% end %>

    <% t.edit_cell(:remote_port) do |f| %>
      <%= f.text_field :remote_port, :size => 6 %>
      <div class="field_explanation"> Port number used to access remote machine on which the data provider is located  </div>
    <% end %>

    <% t.edit_cell(:remote_user) do |f| %>
      <%= f.text_field :remote_user %>
      <div class="field_explanation"> Username on the remote machine where the data provider is located </div>
    <% end %>
  <% end %>
</div>
