
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Data Provider Report' %>

<h1><%= @provider.name %> - Inconsistency report</h1>

<%= form_tag repair_data_provider_path(@provider), :method => :post do %>
  <div class="menu_bar">
    <%= link_to "Reload report", report_data_provider_path(@provider, :reload => true), :class => "button" %>
    <% unless @issues.empty? %>
      <%= submit_tag "Repair selected issues", :class => "button" %>
    <% end %>
  </div>

  <table id="data_provider_issues">
    <tbody>
      <tr>
        <th><%= select_all_checkbox("issue_checkbox") %></th>
        <th>Issue</th>
        <th>Severity</th>
        <th>Action</th>
        <th>File</th>
        <th>User</th>
      </tr>
      <% unless @issues.empty? %>
        <% @issues.each do |issue| %>
          <%
            userfile   = Userfile.find_by_id(issue[:userfile_id]) if issue[:userfile_id]
            user       = User.find_by_id(issue[:user_id])         if issue[:user_id]
            user     ||= userfile.user if userfile
          %>
          <tr class="severity-<%= issue[:severity].to_s %>">
            <td><%= check_box_tag("issue_ids[]", issue[:id], false, :class => "issue_checkbox") %></td>
            <td class="left shrinkable"><%= issue[:message] %></td>
            <td><%= issue[:severity].to_s.titleize %></td>
            <td><%= issue[:action] ? issue[:action].to_s.titleize : '-' %></td>
            <% if userfile %>
              <td class="left"><%= link_to_userfile_if_accessible(userfile, current_user) %></td>
            <% else %>
              <td> - </td>
            <% end %>
            <td><%= user ? link_to_user_with_tooltip(user) : '-' %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="6"><em>No issues to report</em></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
