
<% title 'Data Provider Info' %>

<h2>Information about Data Provider '<%= @provider.name %>'</h2>

<div class="generalbox">

  <div class="menu_bar menu_bar_left">
    <% if check_role(:admin) || @provider.user_id == current_user.id %>
      <%= link_to 'Edit',   edit_data_provider_path(@provider), :class => "button" %>
      <%= link_to 'Delete', data_provider_path(@provider), { :confirm => "Are you sure you want to delete '#{@provider.name}' ?", :method => :delete, :class => "button" } %>
      <% if @provider.is_browsable? %>
        <%= link_to 'Browse', browse_data_provider_path(@provider), :class => "button" %>
      <% end %>
    <% end %>
  </div>

  <P>

   <table class="property_list">

      <tr>
        <th colspan="2" class="subtitle">Implementation information</th>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Name</th>
          <td><%= @provider.name %></td>
      </tr>
      
      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Description</th>
          <td><%= overlay_description(@provider.description) %></td>
      </tr>

      <% if check_role(:admin) || @provider.user_id == current_user.id %>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Type</th>
          <td><%= @provider.class.to_s %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Revision Info (DataProvider)</th>
          <td><%= DataProvider.revision_info.svn_id_pretty_rev_author_date %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Revision Info (<%= @provider.class.to_s %>)</th>
          <td><%= @provider.revision_info.svn_id_pretty_rev_author_date %></td>
      </tr>

      <% end %>

      <tr>
        <th colspan="2" class="subtitle">Access information</th>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Owner</th>
          <td><%= link_to_user_with_tooltip(@provider.user) %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Project</th>
          <td><%= link_to_group_if_accessible(@provider.group) %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Site</th>
          <td><%= link_to_site_if_accessible(@provider.site) %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Time Zone</th>
          <td><%= @provider.time_zone || "(Unset)" %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Status</th>
          <td><%= @provider.online ? "Online" : "Offline" %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Mode</th>
          <td><%= @provider.read_only ? "Read Only" : "Read/Write" %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Syncability</th>
          <td><%= @provider.not_syncable ? "NOT syncable" : "Fully syncable" %></td>
      </tr>

      <% if check_role(:admin) || @provider.user_id == current_user.id %>

      <tr>
        <th colspan="2" class="subtitle">SSH parameters for remote Data Providers</th>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Remote Host</th>
          <td><%= @provider.remote_host %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Remote User</th>
          <td><%= @provider.remote_user %></td>
      </tr>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Remote Port</th>
          <td><%= @provider.remote_port %></td>
      </tr>
      
      <tr>
        <th colspan="2" class="subtitle">Physical data location</th>
      </tr>
      
      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Remote Directory</th>
          <td><%= @provider.remote_dir %></td>
      </tr>
      
      <tr>
        <th colspan="2" class="subtitle">Other properties</th>
      </tr>

      <% if @provider.is_browsable? %>
        <tr class="<%= cycle("list-odd", "list-even") %>">
            <th>Files must be copied/moved upon registration</th>
            <td><%= @provider.meta["must_move"] ? "True" : "False" %></td>
        </tr>

        <tr class="<%= cycle("list-odd", "list-even") %>">
            <th>Files will always be erased upon de-registration</th>
            <td><%= @provider.meta["must_erase"] ? "True" : "False" %></td>
        </tr>
      <% end %>

      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Cannot be used for uploading files in the file manager</th>
          <td><%= @provider.meta["no_uploads"] ? "True" : "False" %></td>
      </tr>


      <% end %>

   </table>
   
</div> <!-- End class="generalbox" -->
   
<P>

<div class="generalbox">

  <%= render :partial => 'userfiles/file_counts',
              :locals => { :fileclasses_totcount => @fileclasses_totcount,
                           :user_fileclass_count => @user_fileclass_count,
                           :user_totcount        => @user_totcount,
                           :all_totcount         => @all_totcount, 
                           :additionnal_filt     => {:data_provider_id => @provider.id}
                         }
   %>

</div>

<p>

<div id="disk_usage">  
  <%= render :partial  => "disk_usage" %>
</div>


<% if check_role(:admin) || @provider.user_id == current_user.id %>

<P>

<div class="generalbox">
  <table>
    <tr><th colspan="2">Public SSH Keys for this CBRAIN Portal and all accessible Execution Servers.</th></tr>
    <% @ssh_keys.each do |pair| %>
      <tr><th><%= pair[0] %></th></tr>
      <tr><td><SMALL><SMALL><PRE class="ssh_key"><%= pretty_ssh_key(pair[1]) %></PRE></SMALL></SMALL></td></tr>
    <% end %>
  </table>
</div>

<% end %>


