
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Data Provider Info' %>

<div class="menu_bar">

    <% if @provider.is_browsable?(current_user) && @provider.online? %>
      <%= link_to 'Browse', browse_data_provider_path(@provider), :class => "button" %>
    <% end %>



    <%= link_to 'File Registration Statistics', report_path(
                  :table_name       => 'userfiles.combined_file_rep',
                  :data_provider_id => @provider.id,
                  :row_type         => :user_id ,
                  :col_type         => :type,
                  :generate         => "ok"
                ), :class => "button" %>


    <% if @provider.type == "UserkeyFlatDirSshDataProvider" %>

      <%= link_to "Check", check_data_provider_path(), :class => "button" %>
    <% end %>

    <% if check_role(:admin_user) || @provider.user_id == current_user.id %>
      <%= link_to 'Delete', data_provider_path(@provider), { :data => { :confirm => "Are you sure you want to delete '#{@provider.name}' ?" }, :method => :delete, :class => "button" } %>
    <% end %>

</div>

<P>

<%= error_messages_for @provider, :header_message => "Provider could not be updated." %>

<div class="display_inline_block" style="min-width: 50%">

  <%= show_table(@provider, :as => :data_provider, :edit_condition => (check_role(:admin_user) || @provider.user_id == current_user.id)) do |t| %>

    <% t.edit_cell(:name) do |f| %>
      <%= f.text_field :name %>
    <% end %>

    <% t.edit_cell(:description, :content => full_description(@provider.description)) do  |f| %>
      <%= f.text_area :description, :rows => 10, :cols => 40 %><br>
    <% end %>

    <% if check_role(:admin_user) || @provider.user_id == current_user.id %>
      <% t.attribute_cell(:type) %>
    <% else %>
      <% t.empty_cell %>
    <% end %>

    <% t.edit_cell(:user_id, :header => "Owner", :content => link_to_user_with_tooltip(@provider.user), :disabled => ! current_user.has_role?(:admin_user) ) do %>
      <%= user_select("data_provider[user_id]", { :selector => @provider } ) %>
    <% end %>

    <% t.edit_cell(:read_only, :content => (@provider.read_only ? "Read Only" : "Read/Write"), :header => "Mode") do |f| %>
      <%= f.select :read_only, [["Read/Write", false], ["Read Only", true]] %>
    <% end %>

    <% t.edit_cell(:group_id, :header => "Project", :content => link_to_group_if_accessible(@provider.group) ) do %>
      <%= group_select("data_provider[group_id]", { :selector => @provider }) %>
    <% end %>

    <% t.edit_cell(:not_syncable, :content => (@provider.not_syncable ? "NOT syncable" : "Fully syncable"), :header => "Syncability") do |f| %>
      <%= f.select :not_syncable, [["Fully syncable", false], ["NOT syncable", true]] %>
    <% end %>

    <% t.cell("Site") { link_to_site_if_accessible(@provider.site) } %>

    <% if check_role(:admin_user) || @provider.user_id == current_user.id %>
      <% t.cell("Revision Info (DataProvider)") { DataProvider.revision_info.format() } %>
    <% else %>
      <% t.empty_cell %>
    <% end %>
    <% joint_licenses = @provider.license_agreements.join("\n") %>
    <% licenses = @provider.license_agreements.count == 0 ? "(None)": @provider.license_agreements.join("\n") %>
    <% t.edit_cell(:license_agreements, :content => licenses) do |f| %>
      <%= f.text_area :license_agreements, :value => joint_licenses, :content => joint_licenses, :rows => 5, :cols => 40 %><br>
      <div class="field_explanation">Enter one agreement name per line. Note that only alphanumeric characters, underscores (_) and dashes (-) are accepted.</div>
    <% end %>

    <% t.edit_cell(:time_zone, :content => (@provider.time_zone || "(Unset)") ) do |f| %>
      <%= f.select :time_zone, time_zone_options_for_select(@provider.time_zone, /canada/i), :include_blank => true %>
    <% end %>

    <% if check_role(:admin_user) || @provider.user_id == current_user.id %>
      <% t.cell("Revision Info (#{@provider.type})") { @provider.revision_info.format() } %>
    <% else %>
      <% t.empty_cell %>
    <% end %>

    <% if check_role(:admin_user) || @provider.user_id == current_user.id %>
      <% t.edit_cell(:remote_dir, :header => "Physical Data Location", :show_width => 2) do |f| %>
        <%= f.text_field :remote_dir, :size => 80 %>
      <% end %>
    <% end %>

  <% end %>

  <% if check_role(:admin_user) || @provider.user_id == current_user.id %>
    <%= show_table(@provider, :as => :data_provider, :header => "SSH parameters for remote Data Providers", :edit_condition => true) do |t| %>
      <% t.edit_cell(:remote_host)  do |f| %>
        <%= f.text_field :remote_host %>
      <% end %>
      <% t.edit_cell(:alternate_host, :header => "Alternate hostname(s)")  do |f| %>
        <%= f.text_field :alternate_host, :size => 60 %><br />
        <div class="field_explanation">Comma-separated list of alternate hostnames; hostname1,hostname2,hostname3,...</div>
      <% end %>
      <% t.edit_cell(:remote_port) do |f| %>
        <%= f.text_field :remote_port, :size => 6 %>
      <% end %>
      <% t.edit_cell(:remote_user) do |f| %>
        <%= f.text_field :remote_user %>
      <% end %>
    <% end %>


  <% end %>


  <%= show_table(@provider, :as => :data_provider, :header => "Other Properties", :edit_condition => (check_role(:admin_user) || @provider.user_id == current_user.id)) do |t| %>

    <% t.boolean_edit_cell("meta[no_uploads]", @provider.meta["no_uploads"],  "on", "", :header => "Cannot be used for uploading files in the file manager") %>

    <% t.boolean_edit_cell("meta[no_viewers]", @provider.meta["no_viewers"],  "on", "", :header => "Files cannot be viewed in the file manager") %>

    <% if @provider.is_browsable? %>

      <% t.boolean_edit_cell("meta[must_move]", @provider.meta["must_move"], "on", "", :header => "Files must be copied/moved upon registration") %>

      <% t.edit_cell("meta[browse_gid]",
           :header  => "Files can be browsed only by members of this project",
           :content => @provider.meta[:browse_gid].present? ? link_to_group_if_accessible(@provider.meta[:browse_gid]) : '(Any Users)',
           :show_width => 2
         ) do %>
         <%= group_select 'meta[browse_gid]', { :selector => @provider.meta[:browse_gid] }, { :include_blank => "(Any Users)" } %>
      <% end %>

    <% end %>

  <% end %>



  <% other_dps       = DataProvider.find_all_accessible_by_user(current_user).reject { |dp| dp.id == @provider.id } %>
  <% dps_by_category = other_dps.to_a.hashed_partitions { |dp| dp.is_browsable? ? :user : :official } %>

  <% if other_dps.size > 0 %>

    <%= show_table(@provider, :as => :data_provider, :width => 5, :header => 'Files can be copied or moved to these other Data Providers', :edit_condition => (check_role(:admin_user) || @provider.user_id == current_user.id)) do |t| %>
      <% if dps_by_category[:official] %>
        <% t.row(:class => 'subheader') { "<strong>Official Storage</strong>".html_safe } %>
        <% dps_by_category[:official].sort_by(&:name).each do |dp| %>
          <% meta_key = "dp_no_copy_#{dp.id}" %>
          <% t.boolean_edit_cell("meta[#{meta_key}]", @provider.meta[meta_key].to_s, "", "disabled", :header => "#{dp.name}", :class => 'checkbox_label') %>
        <% end%>
      <% end%>

      <% t.blank_row %>

      <% if dps_by_category[:user] %>
        <% t.row(:class => 'subheader') { "<strong>User or Site Storage</strong>".html_safe } %>
        <% dps_by_category[:user].sort_by(&:name).each do |dp| %>
          <% meta_key = "dp_no_copy_#{dp.id}" %>
          <% t.boolean_edit_cell("meta[#{meta_key}]", @provider.meta[meta_key].to_s, "", "disabled", :header => "#{dp.name}", :class => 'checkbox_label') %>
        <% end%>
      <% end%>
    <% end%>
  <% end%>

  <% other_rrs       = RemoteResource.find_all_accessible_by_user(current_user) %>
  <% rrs_by_category = other_rrs.to_a.hashed_partitions { |rr| rr.is_a?(Bourreau) ? :bourreau : :portal } %>

  <% if other_rrs.size > 0 %>

    <%= show_table(@provider, :as => :data_provider, :width => 5, :header => 'File contents can be accessed by these Servers', :edit_condition => (check_role(:admin_user) || @provider.user_id == current_user.id)) do |t| %>
      <% if rrs_by_category[:portal] %>
        <% t.row(:class => 'subheader') { "<strong>Portals<strong>".html_safe } %>
        <% rrs_by_category[:portal].sort_by(&:name).each do |rr| %>
          <% meta_key = "rr_no_sync_#{rr.id}" %>
          <% t.boolean_edit_cell("meta[#{meta_key}]", @provider.meta[meta_key].to_s, "", "#{rr.name} cannot sync #{@provider.name}", :header => "#{rr.name}", :class => 'checkbox_label') %>
        <% end%>
      <% end%>

      <% t.blank_row %>

      <% if rrs_by_category[:bourreau] %>
        <% t.row(:class => 'subheader') { "<strong>Execution Servers<strong>".html_safe } %>
        <% rrs_by_category[:bourreau].sort_by(&:name).each do |rr| %>
          <% meta_key = "rr_no_sync_#{rr.id}" %>
          <% t.boolean_edit_cell("meta[#{meta_key}]", @provider.meta[meta_key].to_s, "", "#{rr.name} cannot sync #{@provider.name}", :header => "#{rr.name}", :class => 'checkbox_label') %>
        <% end%>
      <% end%>
    <% end%>
  <% end%>

</div>

<p>


<% if @provider.is_a?(UserkeyFlatDirSshDataProvider) || @provider.user_id == current_user.id %>
    <%= render :partial => 'show_user_key' %>
<% elsif (check_role(:admin_user) || @provider.user_id == current_user.id) && (@provider.is_a?(SshDataProvider) || @provider.is_a?(SmartDataProviderInterface)) %>

<P>

<% if @provider.type == "UserkeyFlatDirSshDataProvider" %>
    <%= render :partial => 'show_user_key' %>
<% else %>
<div>
  <table>
    <tr><th colspan="2" class="supertitle">Public SSH Key for this CBRAIN Portal</th></tr>
    <tr><td>This key should be installed on this Data Provider's host machine to allow remote access.</td></tr>
    <tr><td><PRE class="ssh_key"><%= pretty_ssh_key(RemoteResource.current_resource.get_ssh_public_key || 'Unknown! Talk to sysadmin!') %></PRE></td></tr>
  </table>
</div>

<% end %>

<% end %>

<% if @provider.has_owner_access?(current_user) %>
  <P>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @provider.getlog, :title => "Data Provider Log" } %>
<% end %>

