
<% title 'Data Provider Info' %>

<h2>Information about Data Provider '<%= h(@provider.name) %>'</h2>

<div class="generalbox">

   <table>

      <tr>
        <th colspan="2" class="subtitle">Implementation information</th>
      </tr>

      <tr>
          <th>Name</th>
          <td><%= h(@provider.name) %></h1>
      </tr>

      <% if check_role(:admin) || @provider.user_id == current_user.id %>

      <tr>
          <th>Class</th>
          <td><%= h(@provider.class.to_s) %></td>
      </tr>

      <tr>
          <th>Revision Info (DataProvider)</th>
          <td><%= h(DataProvider.revision_info.svn_id_pretty_rev_author_date) %></td>
      </tr>

      <tr>
          <th>Revision Info (<%= @provider.class.to_s %>)</th>
          <td><%= h(@provider.revision_info.svn_id_pretty_rev_author_date) %></td>
      </tr>

      <% end %>

      <tr>
          <th>Description</th>
          <td><%= h(@provider.description) %></td>
      </tr>

      <tr>
        <th colspan="2" class="subtitle">Access information</th>
      </tr>

      <tr>
          <th>Owner</th>
          <td><%= link_to_user_if_accessible(@provider.user) %></td>
      </tr>

      <tr>
          <th>Project</th>
          <td><%= link_to_group_if_accessible(@provider.group) %></td>
      </tr>

      <tr>
          <th>Status</th>
          <td><%= h(@provider.online ? "Online" : "Offline") %></td>
      </tr>

      <tr>
          <th>Mode</th>
          <td><%= h(@provider.read_only ? "Read Only" : "Read/Write") %></td>
      </tr>

      <tr>
          <th>Syncability</th>
          <td><%= h(@provider.not_syncable ? "NOT syncable" : "Fully syncable") %></td>
      </tr>

      <% if check_role(:admin) || @provider.user_id == current_user.id %>

      <tr>
        <th colspan="2" class="subtitle">Network Parameters</th>
      </tr>

      <tr>
          <th>Remote Host</th>
          <td><%= h(@provider.remote_host) %></td>
      </tr>

      <tr>
          <th>Remote User</th>
          <td><%= h(@provider.remote_user) %></td>
      </tr>

      <tr>
          <th>Remote Directory</th>
          <td><%= h(@provider.remote_dir) %></td>
      </tr>

      <tr>
          <th>Remote Port</th>
          <td><%= h(@provider.remote_port) %></td>
      </tr>

      <% end %>


      <% if check_role(:admin) || @provider.user_id == current_user.id %>
         <tr>
            <td align="center" colspan="2">
                     <%= button_to 'Edit', edit_data_provider_path(@provider), :method => :get %>
                     <%= button_to 'Delete', data_provider_path(@provider), :confirm => 'Are you sure?', :method => :delete %>
                     <% if @provider.is_browsable? %>
                       <%= button_to 'Browse', browse_data_provider_path(@provider), :method => :get %>
                     <% end %>
            </td>
         </tr>
      <% end %>

   </table>

   <P>

   <table>
     <tr>
       <th colspan="3">File Registration Statistics</th>
     </tr>
     <tr>
       <th>User</th><th>Number of SingleFiles</th><th>Number Of FileCollections</th>
     </tr>
     <%
         @user_sf_fc.each do |login,sf_fc|
           sf = sf_fc[0]
           fc = sf_fc[1]
     %>
       <tr>
         <td><%= h(login) %></td>
         <td><%= h(sf.to_s) %></td>
         <td><%= h(fc.to_s) %></td>
       </tr>
     <% end %>
   </table>

</div> <!-- End class="generalbox" -->


<% if check_role(:admin) || @provider.user_id == current_user.id %>

  <P>

  <table>
    <tr><th colspan="2">Public SSH Keys for this CBRAIN Portal and all accessible Execution Servers.</th></tr>
    <% @ssh_keys.each do |pair| %>
      <tr><th><%= h(pair[0]) %></th></tr>
      <tr><td><SMALL><SMALL><PRE class="ssh_key"><%= pretty_ssh_key(pair[1]) %></PRE></SMALL></SMALL></td></tr>
    <% end %>
  </table>

<% end %>
