
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Detailed Service Stats' %>

  <h1>CBRAIN Web Service Statistics</h1>

  <div class="generalbox">
    <table class="report">
      <!-- header -->
      <tr>
        <th colspan="5" class="supertitle">Number of Rails actions triggered</th>
      </tr>
      <tr>
        <th>Client Type</th>
        <th>Controller</th>
        <th>Action</th>
        <th>Successes</th>
        <th>Failures</th>
      </tr>
      <!-- each row -->
      <% @stats.keys.sort.each do |client| # CLIENT LOOP %>
        <% by_controller = @stats[client] %>
        <% next unless by_controller.is_a?(Hash) %>
        <% by_controller.keys.sort.each do |controller| # CONTROLLER LOOP %>
          <% by_action = by_controller[controller] %>
          <% next unless by_action.is_a?(Hash) %>
          <% by_action.keys.sort.each do |action|  # ACTION LOOP %>
            <% counts = by_action[action]  # pair of two counts: [2,3] means two successes, 3 failures %>
            <tr>
              <td><%= client %></td>
              <td><%= controller %></td>
              <td><%= action %></td>
              <td><%= counts[0] %></td>
              <td><%= counts[1] %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>

  <div class="box_spacer"></div>

  <div class="generalbox">
    <table>
      <!-- header -->
      <tr>
        <th colspan="3" class="supertitle">Totals by client type</th>
      </tr>
      <tr>
        <th>Client Type</th>
        <th>Successes</th>
        <th>Failures</th>
      </tr>
      <!-- each row -->
      <% @stats_by_client.keys.sort.each do |client| %>
        <% counts = @stats_by_client[client] %>
        <tr>
          <td><%= client %></td>
          <td><%= counts[0] %></td>
          <td><%= counts[1] %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="box_spacer"></div>

  <div class="generalbox">
    <table>
      <!-- header -->
      <tr>
        <th colspan="4" class="supertitle">Totals by controller &amp; action</th>
      </tr>
      <tr>
        <th>Controller</th>
        <th>Action</th>
        <th>Successes</th>
        <th>Failures</th>
      </tr>
      <!-- each row -->
      <% @stats_by_contr_action.keys.sort.each do |contr_action| %>
        <% counts            = @stats_by_contr_action[contr_action] %>
        <% controller,action = contr_action.split(",") %>
        <tr>
          <td><%= controller %></td>
          <td><%= action %></td>
          <td><%= counts[0] %></td>
          <td><%= counts[1] %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="box_spacer"></div>

  <div class="generalbox">
    <table class="report">
      <!-- header -->
      <tr>
        <th colspan="2" class="supertitle">Totals by HTTP status codes</th>
      </tr>
      <tr>
        <th>Status code</th>
        <th>Count</th>
      </tr>
      <!-- each row -->
      <% bystatus = @stats['StatusCodes'] || {} %>
      <% bystatus.keys.sort.each do |status_code| %>
        <% code  = status_code =~ /(\d+)\z/ ? Regexp.last_match[1] : status_code %>
        <% count = bystatus[status_code] || "(Unknown)" %>
        <tr>
          <td><%= code %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <p>

  <strong>Counters last reset:</strong> <%= @last_reset %>


