
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Service Stats' %>

  <h1>CBRAIN Web Service Statistics</h1>

      <table class="report">
        <!-- header -->
        <tr>
          <th colspan="6" class="supertitle">Number of actions triggered</th>
        </tr>
        <tr>
          <th>Client Type</th>
          <th>User ID</th>
          <th>Controller</th>
          <th>Action</th>
          <th>Successes</th>
          <th>Failures</th>
        </tr>
        <!-- each row -->
        <% @stats.keys.sort.each do |client| %>
          <% by_user = @stats[client] %>
          <% next if client == "StatusCodes" || client == "GlobalCount"%>
          <% by_user.keys.sort.each do |user| %>
            <% by_controller = by_user[user] %>
            <% by_controller.keys.sort.each do |controller| %>
              <% by_action = by_controller[controller] %>
              <% by_action.keys.sort.each do |action| %>
                <% count = by_action[action]%>
                <tr>
                  <td><%= client %></td>
                  <% user_id = Regexp.last_match[1] if user =~ /(\d+$)/ %>
                  <td><%= (user_id.blank? || user_id.to_i.zero?) ? "Unknown" : user_id %></td>
                  <td><%= controller %></td>
                  <td><%= action %></td>
                  <td><%= count[0] %></td>
                  <td><%= count[1] %></td>
                </tr>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </table>

      <p>

      <table class="report">
        <!-- header -->
        <tr>
          <th colspan="2" class="supertitle">Counts of HTTP Status Codes</th>
        </tr>
        <tr>
          <th>Status code</th>
          <th>Count</th>
        </tr>
        <!-- each row -->
        <% @stats.each do |k, by_status| %>
          <% next unless k == "StatusCodes"%>
          <% by_status.each do |code, count| %>
            <tr>
              <td><%= code %></td>
              <td><%= count %></td>
            </tr>
          <% end %>
        <% end %>
      </table>

    <p>

    <strong>Counters Last Reset:</strong> <%= @last_reset %>


