
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>


<li>
  <%= link_to 'New Custom Filter', { :controller => :custom_filters, :action => :new, :filter_class => @custom_filter.class.name } %>
</li>

<li class="divider"></li>

<% if @custom_filter.class.name == UserfileCustomFilter.name %>
  <%
    no_parent_attr = {
      'data-method' => 'GET',
      'data-ajax'   => 1,
      'data-url'    => url_for(scope_filter_params(
        @scope, :set, { 'type' => 'uf.hier', 'operator' => 'no_parent' }
      ))
    }

    no_children_attr = {
      'data-method' => 'GET',
      'data-ajax'   => 1,
      'data-url'    => url_for(scope_filter_params(
        @scope, :set, { 'type' => 'uf.hier', 'operator' => 'no_child' }
      ))
    }
  %>
  <li><a href="" <%= no_parent_attr.to_html_attributes.html_safe %>>
    Has no parent </a>
  </li>
  <li><a href="" <%= no_children_attr.to_html_attributes.html_safe %>>
    Has no children </a>
  </li>
  <li class="divider"></li>
<% end %>

<% @custom_filter.class.all(:conditions  =>  {:user_id  => current_user.id}).each do |filter| %>
  <li>
      <%=
        scope_custom_link(crop_text_to(15, filter.name),
          @scope, { 'custom_filters' => [filter.id] },
          url:  {
            'controller'  => @custom_filter.filtered_class_controller,
            '_scope_mode' => 'append'
          },
          link: {
            :ajax  => true,
            :class => "pull-left"
          }
        )
      %>

    <span class="pull-right">
      <a href="<%= custom_filter_path(filter) %>">
        <span class="badge progress-bar-info"><span class="glyphicon glyphicon-pencil"></span></span>
      </a>

      <a href="<%= custom_filter_path(filter) %>" data-confirm="Are you sure you want to delete filter '<%= filter.name %>' ?" data-method="delete" data-type="script" data-remote="true">
        <span class="badge progress-bar-info"><span class="glyphicon glyphicon-trash"></span></span>
      </a>
    </span>
  </li>
<% end %>
