
<p>
   Filename:<br>
   
       <%= select :data, :file_name_type, [["Don't filter name", ''], ['Matches', 'match'], ['Contains', 'contain'], ['Begins with', 'begin'], ['Ends with', 'end']], :selected => @custom_filter.data["file_name_type"]    %>
       <%= text_field_tag "data[file_name_term]", @custom_filter.data["file_name_term"] %>
     
</p>
<p>
   Creation Date:<br>
   
       <%= select :data, :created_date_type, [["Don't filter date", ''], ['Before', 1], ['On', 0], ['After', 2]], :selected => @custom_filter.data["created_date_type"]  %>
       <%= date_select "custom_filter[date_term]", :date_term, :default  => Date.parse(@custom_filter.data["date_term"] || Time.now.to_s) %>
   
</p>
<p>
   Size:<br>
   
       <%= select :data, :size_type, [["Don't filter size", ''], ['=', 0], ['<', 1], ['>', 2]], :selected  => @custom_filter.data["size_type"] %>
       <%= text_field_tag "data[size_term]", @custom_filter.data["size_term"] %> kb
   
</p>

<p>
   Owner:<br>

      <%= user_select("data[user_id]", { :selector => @custom_filter.data["user_id"] }, { :include_blank => true })  %>
</p>

<p>
   Project:<br>
 
       <%= group_select("data[group_id]", { :selector => @custom_filter.data["group_id"]}, { :include_blank => true })  %>
 
</p>

<p>
    Data Provider:<br>

       <%= data_provider_select("data[data_provider_id]", { :selector => @custom_filter.data["data_provider_id"] || '!' }, { :include_blank => true })  %>

</p> 

<% if current_user.tags %>
      <p>
         Tags:
         
            <table>
              <% for tag in current_user.tags %>
                  <tr class="<%= cycle('list-odd', 'list-even') %>">
                    <td><%= check_box_tag("custom_filter[tag_ids][]", tag.id.to_s, @custom_filter.tags.include?(tag.name)) %></td>
                    <td><%= h(tag.name) -%></td>
                  </tr>
              <% end %>
            </table>
         
      </p>
<% end %>
   
