
<h2>New Custom Filter</h2>

<div class = "generalbox">

  <% form_for :custom_filter, @custom_filter, :url => { :action => "create" } do |f| %>
    <%= hidden_field_tag :type, params[:type]%>
    <%= f.error_messages %>

    <p>
      <strong>Filter name:</strong><br>
      <%= f.text_field :name %>
    </p>

    <%= render :partial => "#{params[:type]}_custom_filter" %>
  
    <%= f.submit "Create" %>
  <% end %>

</div>  <!-- End class="generalbox" -->

