
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% custom_filter ||= @custom_filter %>
<% filter_type = custom_filter.class.name.underscore %>

<div class="row">
  <div class="col-xs-12">
    <h3 class="text-center">New Custom Filter</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= error_messages_for(custom_filter, :object_name => "custom filter") %>
  </div>
</div>

<%= hidden_field_tag :filter_class, filter_type %>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Filter Info</div>
      <div class="panel-body">
        <%= form_for custom_filter, :as => :custom_filter, :url => {:controller  => "custom_filters", :action => "create", :filter_class => filter_type }, :datatype  => "script", :method => "post", :class => "form-horizontal" do |f| %>

          <div class="row">
            <div class="col-xs-4"><%= f.label :name, "Filter name" %></div>
            <div class="col-xs-8"><%= f.text_field :name, :class => "form-control" %></div>
          </div>

          <%= render :partial => "custom_filters/#{filter_type}" %>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <%= f.submit "Create", :class => "btn btn-primary btn-block" %>
      </div>
    </div>

  </div>
<% end %>
