
<fieldset>
<legend>File List Summary</legend>
  This task has <%= (params[:interface_userfile_ids] || []).size %> files in its input list.
</fieldset>

<p/>



<fieldset>
<legend>
  Bourreau Life Cycle, Recovery and Restarting Capabilities
  <%= show_hide_toggle "(Show)", "#life_cycle", :class  => 'action_link' %>
</legend>

<div id="life_cycle" style="display:none;">

<table>

<tr>
  <th></th>
    <th COLSPAN="2">Normal Cycle</th>
    <th COLSPAN="2">Error Recovery</th>
    <th COLSPAN="2">Restart Capabilities</th>
</tr>

<tr>
  <th>Setup</th>
    <TD>Crash?  <%= form.params_check_box  :setup_crash                       %></TD>
    <TD>Delay:  <%= form.params_text_field :setup_delay,           :size => 6 %></TD>
    <TD>Enable? <%= form.params_check_box  :recover_setup                     %></TD>
    <TD>Delay:  <%= form.params_text_field :recover_setup_delay,   :size => 6 %></TD>
    <TD>Enable? <%= form.params_check_box  :restart_setup                     %></TD>
    <TD>Delay:  <%= form.params_text_field :restart_setup_delay,   :size => 6 %></TD>
</tr>

<tr>
  <th>Cluster</th>
    <TD>Crash?  <%= form.params_check_box  :cluster_crash                     %></TD>
    <TD>Delay:  <%= form.params_text_field :cluster_delay,         :size => 6 %></TD>
    <TD>Enable? <%= form.params_check_box  :recover_cluster                   %></TD>
    <TD>Delay:  <%= form.params_text_field :recover_cluster_delay, :size => 6 %></TD>
    <TD>Enable? <%= form.params_check_box  :restart_cluster                   %></TD>
    <TD>Delay:  <%= form.params_text_field :restart_cluster_delay, :size => 6 %></TD>
</tr>

<tr>
  <th>PostProcess</th>
    <TD>Crash?  <%= form.params_check_box  :postpro_crash                     %></TD>
    <TD>Delay:  <%= form.params_text_field :postpro_delay,         :size => 6 %></TD>
    <TD>Enable? <%= form.params_check_box  :recover_postpro                   %></TD>
    <TD>Delay:  <%= form.params_text_field :recover_postpro_delay, :size => 6 %></TD>
    <TD>Enable? <%= form.params_check_box  :restart_postpro                   %></TD>
    <TD>Delay:  <%= form.params_text_field :restart_postpro_delay, :size => 6 %></TD>
</tr>

</table>

<p/>

<strong>Crashes will reset to false after they are first triggered:</strong><%= form.params_check_box :crash_will_reset %>

<p/>

<small>Note: Delays can be entered as '12..20' or '12-20' to indicate a value randomly chosen in the range.</small>

</div>

</fieldset>

<p/>



<fieldset>
<legend>
  Check Data Providers Access
  <%= show_hide_toggle "(Show)", "#dp_test", :class  => 'action_link' %>
</legend>

<div id="dp_test" style="display:none;">

<%= array_to_table(DataProvider.find_all_accessible_by_user(current_user), :cols => 6, :td_class => 'left_align' ) do |dp,r,c| %>
  <%= form.params_check_box "dp_check_ids[]", { :id => "dp_check_#{dp.id}", :class => "dp_check", :checked => params[:dp_check_ids].include?(dp.id.to_s) }, dp.id.to_s, "" %>
  <%= label_tag "dp_check_#{dp.id}", h(dp.name) %>
<% end %>
Toggle all: <%= select_all_checkbox 'dp_check' %>

</div>

</fieldset>

<p/>



<fieldset>
<legend>
  Input Fields Validation Tests
  <%= show_hide_toggle "(Show)", "#inp_test", :class  => 'action_link' %>
</legend>

<div id="inp_test"<%= ' style="display:none;"' if @task.errors.empty? %>>

<%= form.params_hidden_field :do_validations %>

<p>
<strong>This text field must contain a odd number:</strong>
<%= form.params_text_field :inptest_text_odd_number %>
</p>

<p>
<strong>Exactly two checkboxes must be set:</strong>
<%= form.params_check_box :inptest_checkbox_1 %>
<%= form.params_check_box :inptest_checkbox_2 %>
<%= form.params_check_box :inptest_checkbox_3 %>
<%= form.params_check_box :inptest_checkbox_4 %>
</p>

<p>
<strong>A hidden field is here [
<%= form.params_hidden_field :inptest_hidden_field %>
] which MUST have the value 'XyZ'.</strong>
</p>

<p>
<strong>This password field must be left blank or contain 'XyZ':</strong>
<%= form.params_password_field :inptest_password_field %>
</p>

<p>
<strong>The first or last radio button must be selected:</strong>
<%= form.params_radio_button :inptest_radio, 'first' %>
<%= form.params_radio_button :inptest_radio, 'second' %>
<%= form.params_radio_button :inptest_radio, 'third' %>
</p>

<p>
<strong>This text area MUST contain the word 'XyZ':</strong><br/>
<%= form.params_text_area :inptest_textarea, :cols => 40, :rows => 3 %>
</p>

<p>
<strong>This text is stored deep in the params and must contain 'Deep':</strong>
<%= form.params_text_field 'inptest[deep]' %>
</p>

<p>
<strong>This selection box must be set to an odd number:</strong>
<%= form.params_select :inptest_select, [ "1", "2", "3", "4" ] %>
</p>

<p>
<%= form.params_hidden_field :refresh_count %>
<strong>Refresh count <%= params[:refresh_count] || 0 %></strong> | <%= submit_tag 'Trigger Task Refresh' %>
</p>

</div>

</fieldset>

<p/>



<fieldset>
<legend>
  Interface after_form() Lifecycle Test
  <%= show_hide_toggle "(Show)", "#after_form_test", :class  => 'action_link' %>
</legend>

<div id="after_form_test" style="display:none;">

<strong>Test action:</strong><br/>
<%= select_tag :after_form_action.to_la, options_for_select(
      [ [ "Returns message", "return" ],
        [ "Add error message to field", "field" ],
        [ "Add error message to field and return it", "field_ret" ],
        [ "Raise CbrainError", "CbrainError" ],
        [ "Raise CbrainNotice", "CbrainNotice" ],
        [ "Raise RuntimeError", "RuntimeError" ],
        [ "Raise ScriptError", "ScriptError" ],
      ],
      params[:after_form_action]
    )
-%><br>
<strong>Test message:</strong><br/> <%= form.params_text_field :after_form_message %>

</div>

</fieldset>



<% if @task.new_record? %>
<p/>

<fieldset>
<legend>
  Stress-Testing
  <%= show_hide_toggle "(Show)", "#stress_test", :class  => 'action_link' %>
</legend>
<div id="stress_test" style="display:none;">
<strong>Number of copies of this task to launch:</strong> <%= form.params_text_field :num_copies, :size => 4 %>
</div>
</fieldset>
<% end %>

