
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<div class="menu_bar">
   <%= new_model_button "Create Project", new_group_path %>
   <%= overlay_ajax_link "Help", "/doc/groups/groups_info.html", :class  => "button" %>
</div>

<%= render :partial => 'shared/active_filters', :locals => {:model => :group} %>

<% button_view = (@filter_params["button_view"] == "on") %>

<div class="pagination">
  <div class="pagination_left_side">
    <%=
      filter_add_link (button_view ? "Switch to List View" : "Switch to Button View"),
        :parameter => :button_view,
        :value     => set_toggle(@filter_params["button_view"])
    %>
    <% if button_view %>
      &nbsp;
      <%=
        filter_add_link (@filter_params["small_buttons"] == 'on' ? "Large buttons" : "Small buttons"),
          :parameter => :small_buttons,
          :value     => set_toggle(@filter_params["small_buttons"])
      %>
    <% end %>
  </div>
  <div class="page_links">
    <% if current_user.has_role?(:normal_user) && button_view %>
      <%= will_paginate @groups, :inner_window => 5, :outer_window => 4, :container => false, :params => { :file_ids => nil } %>
    <% end %>
    (<%= pluralize @total_entries, "projects" %>)
  </div>
  <div class="pagination_right_side">
    Search by name: <%= ajax_search_box "name_like", groups_path(:update_filter => :filter_hash) %>
  </div>
</div>

<% if button_view %>
  <% unless current_user.has_role?(:normal_user) %>
    <%=
      dynamic_index_table([],
        :id         => "project_button_table",
        :class      => "project_button_header",
        :sort_map   => { :name => 'groups.name', :site => 'sites.name' },
        :filter_map => { :site => 'site_id' }
      ) do |t|
        t.paginate(:collection => @groups)
        t.column("Name",         :name, :sortable => true)
        t.column("Project Type", :type, :filters  => basic_filters_for(@filtered_scope, @header_scope, Group, :type))
        t.column("Site",         :site, :filters  => association_filters_for(@filtered_scope, @header_scope, Group, :site))
      end
    %>
  <% end %>
  <div>
    <%= group_legend(@groups) %>
  </div>
  <div>
    <% css_small = "small" if @filter_params["small_buttons"] == 'on' %>
    <% @groups.each do |g| %>
      <% if g == "ALL" %>
        <div style="color:black" data-href="<%= url_for(:action => :switch, :id => "all") %>" data-method="post" class="project_button <%= css_small %>">
          <h4 style="color:black">All</h4>
          <hr>
          Files: <%= @group_id_2_userfile_counts[nil] || "(None)" %><br>
          Tasks: <%= @group_id_2_task_counts[nil] || "(None)" %><br>
        </div>
      <% else %>
        <%
          user_count = @group_id_2_user_counts[g.id].to_i
          css_type   = css_group_type(g, user_count)
          desc_first = nil
          desc_rest  = nil
          if g.description.present?
            desc_lines = h(g.description).lines.to_a
            desc_first = desc_lines.shift.presence
            desc_rest  = desc_lines.join.presence
          end
         %>
        <div data-href="<%= url_for(:action => :switch, :id => g.id) %>" data-method="post" class="project_button <%= css_small %> <%= css_type %>_project">
          <h4><%= h crop_text_to(25, g.name) %></h4>
          <hr>
          <span class="project_user_count">
            <% if user_count > 1 %>
              Users: <%= user_count %>
            <% elsif css_type != "user" && user_count == 1 %>
              <% # FIXME can be rather slow, as it forces a query for each group with just one user %>
              User: <%= g.users.first.name %>
            <% end %>
          </span>&nbsp;&nbsp;
          Files: <%= @group_id_2_userfile_counts[g.id].to_i %>&nbsp;&nbsp;
          Tasks: <%= @group_id_2_task_counts[g.id].to_i %>
          <% if desc_first %>
            <div class="project_button_description"><%= crop_text_to(35, desc_first) %></div>
          <% end %>
          <div class="project_button_details">
            <% if desc_rest %>
              <div class="project_button_description project_details"><%= crop_text_to(120, desc_rest) %></div>
            <% end %>
            <%= link_to g.can_be_edited_by?(current_user) ? "Edit" : "Show", group_path(g), :class => "project_edit_button project_button_bottom_link", :title => "Edit" %>
            <% if g.is_a?(WorkGroup) && g.can_be_edited_by?(current_user) %>
              <%= delete_button "X", group_path(g), :class => "project_delete_button project_button_bottom_link", :title => "Delete", :confirm => "Are you sure you want to delete project '#{h g.name}'?" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <%=
    dynamic_index_table(@groups,
      :id         => 'groups_table',
      :class      => [ :resource_list ],
      :sort_map   => {
        :name        => 'groups.name',
        :description => 'groups.description',
        :type        => 'groups.type',
        :site        => 'sites.name'
      },
      :filter_map => {
        :site => 'site_id'
      }
    ) do |t|
      t.paginate

      t.column("Name", :name,
        :sortable => true
      ) { |g| link_to_group_if_accessible(g) }

      t.column("Description", :description,
        :sortable => true,
      ) { |g| overlay_description(g.description) }

      t.column("Project Type", :type,
        :sortable => true,
        :filters  => basic_filters_for(@filtered_scope, @header_scope, Group, :type)
      ) { |g| g.pretty_category_name(current_user) }

      t.column("Site", :site,
        :sortable => true,
        :filters  => association_filters_for(@filtered_scope, @header_scope, Group, :site)
      ) { |g| link_to_site_if_accessible(g.site) }

      t.column("Users", :users) do |g|
        @group_id_2_user_counts[g.id] || 0
      end
      t.column("Files", :files) do |g|
        index_count_filter @group_id_2_userfile_counts[g.id], :userfiles, { :group_id => g.id }, :show_zeros => true
      end
      t.column("Tasks", :tasks) do |g|
        index_count_filter @group_id_2_task_counts[g.id], :tasks, { :group_id => g.id }, :show_zeros => true
      end

      if current_user.has_role?(:admin_user)
        t.column("Tools", :tools) do |g|
          index_count_filter @group_id_2_tool_counts[g.id], :tools, { :group_id => g.id }
        end
        t.column("Data Providers", :data_providers) do |g|
          index_count_filter @group_id_2_data_provider_counts[g.id], :data_providers, { :group_id => g.id }
        end
        t.column("Portal", :portals) do |g|
          index_count_filter @group_id_2_brain_portal_counts[g.id], :bourreaux, { :group_id => g.id, :type => "BrainPortal" }
        end
        t.column("Execution", :bourreaux) do |g|
          index_count_filter @group_id_2_bourreau_counts[g.id], :bourreaux, { :group_id => g.id, :type => "Bourreau" }
        end
      end

      t.column("Switch", :switch) do |g|
        link_to 'Switch', { :action => :switch, :id => g.id },
          :class   => 'action_link',
          :method  => :post
      end
    end
  %>
<% end %>
