
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="menu_bar">
   <%= new_model_button "Create Project", new_group_path %>
   <%= link_to "Switch Off Active Project", {:controller=>"groups", :action=>"switch"}, :method  => :post, :class  => :button %>
   <span id="view_option_button"> 
     <%= render :partial => "groups/view_option_button" %>
   </span>
   <%= overlay_ajax_link "Help", "/doc/groups/groups_info.html", :class  => "button" %>       
</div>

<div class="active_status">
  <span class="active_status_left_side">
    <%= render :partial => 'shared/active_filters', :locals => {:model => :group} %>
  </span>
</div>

<div class="pagination">
  <span class="page_links">
    <%= will_paginate @groups, :inner_window => 5, :outer_window => 4, :container => false, :params => { :file_ids => nil } %>
    (<%= pluralize @total_entries, "projects" %>)
  </span>
</div>



<%=
  index_table(@groups, :class => "resource_list") do |t|
    t.describe_sort_column("Name", Group, "name") do |col|
      col.cell(:class => "left") { |g|  link_to_group_if_accessible g}
    end
    t.sort_column("Project Type", Group, "type", :filters => basic_filters_for(@header_scope, Group, :type)) do |g|        
      g.pretty_category_name(current_user)
    end
    t.sort_column("Site", Site, "name", :filters => association_filters_for(@header_scope, Group, :site)) { |g| link_to_site_if_accessible(g.site) }
    t.column("Users") { |g| @group_id_2_user_counts[g.id] || 0 }
    t.column("Files") do |g|
      index_count_filter @group_id_2_userfile_counts[g.id], :userfiles, {:group_id => g.id}, :show_zeros => true
    end
    t.column("Tasks") do |g|
      index_count_filter @group_id_2_task_counts[g.id], :tasks, {:group_id => g.id}, :show_zeros => true
    end
    if current_user.has_role?(:admin)
      t.column("Tools") do |g|
        index_count_filter @group_id_2_tool_counts[g.id], :tools, {:group_id => g.id}
      end
      t.column("Data Providers") do |g|
        index_count_filter @group_id_2_data_provider_counts[g.id], :data_providers, {:group_id => g.id}
      end
      t.column("Portal") do |g|
        index_count_filter @group_id_2_brain_portal_counts[g.id], :bourreaux, {:group_id => g.id, :type => "BrainPortal"}
      end
      t.column("Execution") do |g|
        index_count_filter @group_id_2_bourreau_counts[g.id], :bourreaux, {:group_id => g.id, :type => "Bourreau"}
      end
    end
    t.describe_column("Operations") do |col|
      col.cell { |g| link_to 'Switch', {:action => :switch, :id => g.id}, :class => 'action_link', :method  => :post }
      col.delete_link :if => Proc.new { |g| g.can_be_edited_by?(current_user) }
    end
  end
%>

