
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="group_<%= group.id %>">
  <td class="left"><%= link_to_group_if_accessible group %></td>
  <% if !group.is_a?(WorkGroup) %>
    <td><%= change_to_project_name(group.class.name) %></td>
  <% end %>
  <td><%= link_to_site_if_accessible(group.site) %></td>
  <td><%= @group_id_2_user_counts[group.id] || 0 %></td>
  <td><%= @group_id_2_userfile_counts[group.id] || 0 %></td>
  <td><%= @group_id_2_task_counts[group.id] || 0 %></td>
  <td><%= link_to 'Switch', switch_group_path(group), :class => 'action_link', :method  => :post %></td>
  <% if group.can_be_edited_by?(current_user)%>
    <td><%= link_to 'Edit', edit_group_path(group), :class => 'action_link' %></td>
    <td>
      <%= 
           delete_button 'Delete', group_path(group), :class  => "action_link", 
                                                      :confirm  => "Are you sure you want to delete '#{group.name}' ?", 
                                                      :target  => "#group_#{group.id}",
                                                      :target_text  => "<td colspan='7' style='color:red; text-align:center'>Deleting...</td>"
      %>
    </td>  
  <% else %>
    <td colspan="2"></td>
  <% end %>
</tr>

