
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="group_<%= group.id %>">
  <td class="left"><%= link_to_group_if_accessible group %></td>
  <td><%= group.pretty_category_name(current_user) %></td>
  <td><%= link_to_site_if_accessible(group.site) %></td>
  <td><%= @group_id_2_user_counts[group.id] || 0 %></td>
  <td>
      <% if (@group_id_2_userfile_counts[group.id] || 0).to_i > 0 %>
        <%= filter_reset_link @group_id_2_userfile_counts[group.id], :controller => :userfiles, :filters  => {:group_id => group.id}, :ajax => false %>
      <% else %>
        0
      <% end %>
  </td>
  <td>
      <% if (@group_id_2_task_counts[group.id] || 0).to_i > 0 %>
        <%= filter_reset_link @group_id_2_task_counts[group.id], :controller => :tasks, :filters  => {:group_id => group.id}, :ajax => false %>
      <% else %>
        0
      <% end %>
  </td>
  <% if current_user.has_role?(:admin) %>
    <td>
        <% if (@group_id_2_tool_counts[group.id] || 0).to_i > 0 %>
          <%= filter_reset_link @group_id_2_tool_counts[group.id], :controller => :tools, :filters  => {:group_id => group.id}, :ajax => false %>
        <% else %>
          0
        <% end %>
    </td>
    <td>
        <% if (@group_id_2_data_provider_counts[group.id] || 0).to_i > 0 %>
          <%= filter_reset_link @group_id_2_data_provider_counts[group.id], :controller => :data_providers, :filters  => {:group_id => group.id}, :ajax => false %>
        <% else %>
          0
        <% end %>
    </td>
    <td>
        <% if (@group_id_2_brain_portal_counts[group.id] || 0).to_i > 0 %>
          <%= filter_reset_link @group_id_2_brain_portal_counts[group.id], :controller => :bourreaux, :filters  => {:group_id => group.id, :type => "BrainPortal"}, :ajax => false %>
        <% else %>
          0
        <% end %>
    </td>
     <td>
        <% if (@group_id_2_bourreau_counts[group.id] || 0).to_i > 0 %>
          <%= filter_reset_link @group_id_2_bourreau_counts[group.id], :controller => :bourreaux, :filters  => {:group_id => group.id, :type => "Bourreau"}, :ajax => false %>
        <% else %>
          0
        <% end %>
    </td>
  <% end %>
  <td><%= link_to 'Switch', switch_group_path(group), :class => 'action_link', :method  => :post %></td>
  <% if group.can_be_edited_by?(current_user) %>
    <td><%= link_to 'Edit', edit_group_path(group), :class => 'action_link' %></td>
    <td>
      <%= 
           delete_button 'Delete', group_path(group), :class  => "action_link", 
                                                      :confirm  => "Are you sure you want to delete '#{group.name}' ?", 
                                                      :target  => "#group_#{group.id}",
                                                      :target_text  => "<td colspan='7' style='color:red; text-align:center'>Deleting...</td>"
      %>
    </td>  
  <% else %>
    <td colspan="2"></td>
  <% end %>
</tr>

