
<tr class="<%= cycle('list-odd', 'list-even') %> row_highlight" id="group_<%= group.id %>">
  <td><%= link_to h(group.name), group_path(group) %></td>
  <td><%= change_to_project_name(group.class.name) %></td>
  <td><%= link_to(group.site.name, site_path(group.site)) rescue "(Unassigned)" %></td>
  <td><%= link_to 'Switch', switch_group_path(group), :class => 'action_link', :method  => :post %></td>
  <% if group.is_a?(WorkGroup) && group.can_be_edited_by?(current_user)%>
    <td><%= link_to 'Edit', edit_group_path(group), :class => 'action_link' %></td>
    <td>
      <%= 
          link_to_remote  'Delete',
                        {:url  => group_path(group),
                         :method  => 'delete',
                         :confirm => 'Are you sure?',
                         :before  => "$('group_#{group.id}').update('<td colspan=\"7\" style=\"color:red; text-align:center;\">Deleting...</td>');"
                         },
                        {:class => 'action_link'}
        %>
    </td>  
  <% else %>
    <td colspan="2"></td>
  <% end %>
</tr>

