
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<span id="new_model">
  <%= button_with_dropdown_menu("Create Project", :open => true) do %>
    <%= ajax_form_for @group, :as => :group, :url => { :action => "create" }, :datatype => "script" do |f| -%>

      <%= error_messages_for(@group) %>

      <p>
        <%= f.label :name, "Name" %><br />
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :description, "Description" %><br />
        <%= f.text_area :description, :rows => 4, :cols => 40 %>
        <div class="field_explanation">The first line should be a short summary, and the rest are for details.</div>
      </p>
      <% if current_user.has_role?(:admin_user) %>
        <p>
          <%= f.label :site_id, "Site:" %>
		  <%= site_select "group[site_id]",{}, :prompt => "(Select a site)" %>
        </p>
        <p>
        Make this a system group invisible to normal users:
        <%= f.check_box :invisible %>
        <p/>
      <% end %>

      <% if current_user.has_role?(:normal_user) %>
        <%= hidden_field_tag("group[user_ids][]", current_user.id.to_s) %>
      <% else %>
        <%= render :partial => 'users_form' %>
      <% end %>
      <p>
        <%= f.submit "Create" %>
      </p>
    <% end %>
  <% end %>
</span>

