
<% ajax_form_for :group, @group, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <% if current_user.has_role?(:admin) %>
    <p><label for="role">Site</label><br/>
     <%= f.collection_select :site_id, Site.all, :id, :name, {:include_blank  => true} %></p>
  <% end %>

  <% if current_user.has_role?(:user) %>
    <%= hidden_field_tag("group[user_ids][]", current_user.id.to_s) %>
  <% else %>
    <%= render :partial => 'users_form' %>
  <% end %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

