
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<%
#######################################
# Multi Select Preparation
#######################################
%>

<%
    @other_work_groups = WorkGroup.all.select { |g| g != @group && g.can_be_accessed_by?(current_user) }
    @other_work_groups.sort! { |a,b| a.name.casecmp(b.name) }
    @other_site_groups = SiteGroup.all.select { |g| g != @group && g.can_be_accessed_by?(current_user) }
    @other_site_groups.sort! { |a,b| a.name.casecmp(b.name) }

    user_ids = @users.index_by &:id
    @users_multi_select_classes = {}
    @other_work_groups.each do |group|
      group.users.select { |u| user_ids[u.id] }.each do |u|
        @users_multi_select_classes[u] ||= ""
        @users_multi_select_classes[u]  += " " if ! @users_multi_select_classes[u].blank?
        @users_multi_select_classes[u]  += "workgroup_#{group.id}"
      end
    end

    @other_site_groups.each do |group|
      group.users.select { |u| user_ids[u.id] }.each do |u|
        @users_multi_select_classes[u] ||= ""
        @users_multi_select_classes[u]  += " " if ! @users_multi_select_classes[u].blank?
        @users_multi_select_classes[u]  += "sitegroup_#{group.id}"
      end
    end
    
    parameter_name ||= "group[user_ids]"
%>



<%
#######################################
# Users Checkbox Table
#######################################
%>

<!-- Separation between active and locked users -->
<% 
  user_by_lock_status_hash = @users
    .sort { |a,b| a.login.casecmp(b.login) }
    .hashed_partition { |u| u.account_locked == false ? "Active users" : "Locked users" }
  active_users = user_by_lock_status_hash["Active users"] || []
  locked_users = user_by_lock_status_hash["Locked users"] || []
%>

<!-- Active Users -->
<fieldset style="border:0px; margin:0px; padding:0px">
  <legend>Active users</legend>
  <div id="active_users" style="display:block">
    <%= array_to_table(active_users,
      :cols        => 5,
      :table_class => 'button_table',
      :td_class    => 'left_align no_wrap',
      :fill_by_columns => true
    ) do |user,r,c| %>
      <%= check_box_tag("#{parameter_name}[]", user.id.to_s, @group.users.map(&:id).include?(user.id), { :class => (@users_multi_select_classes[user] || "") } ) %>
      <%= link_to_user_with_tooltip(user) %>
    <% end %>
  </div>
</fiedset>

<% show_locked = true if show_locked.nil?%>

<% if !locked_users.empty? && show_locked %>
  <br/>
  <!-- Locked Users -->
  <fieldset style="border:0px; margin:0px; padding:0px">
    <legend>
      Locked users
      <%= show_hide_toggle "(Show)", "#locked_users", :class  => 'action_link' %>
    </legend>
    <div id="locked_users" style="display:none">
      <%= array_to_table(locked_users,
        :cols        => 5,
        :table_class => 'button_table',
        :td_class    => 'left_align no_wrap',
        :fill_by_columns => true
      ) do |user,r,c| %>
        <%= check_box_tag("#{parameter_name}[]", user.id.to_s, @group.users.map(&:id).include?(user.id), { :class => (@users_multi_select_classes[user] || "") } ) %>
        <%= link_to_user_with_tooltip(user) %>
      <% end %>
    </div>
  </fiedset>
<%end%>

<%
#######################################
# WorkGroup Multi Select
#######################################
%>

<% if @other_work_groups.size > 0 %>
  <br/>

  <label>Quick select based on other work Projects</label>
  <%= array_to_table(@other_work_groups,
    :cols        => 5,
    :table_class => 'button_table',
    :td_class    => 'left_align no_wrap',
    :fill_by_columns => true
  ) do |group,r,c| %>
    <%= select_all_checkbox "workgroup_#{group.id}", :id => "workgroup_#{group.id}" %>
    <label for="workgroup_<%= group.id %>"><%= group.name -%></label>
  <% end %>

<% end %>



<%
#######################################
# SiteGroup Multi Select
#######################################
%>

<% if @other_site_groups.size > 0 %>
  <br/>

  <label>Quick select based on other site Projects</label>
  <%= array_to_table(@other_site_groups,
      :cols        => 5,
      :table_class => 'button_table',
      :td_class    => 'left_align no_wrap',
      :fill_by_columns => true
      ) do |group,r,c| %>
        <%= select_all_checkbox "sitegroup_#{group.id}", :id => "sitegroup_#{group.id}" %>
        <label for="sitegroup_<%= group.id %>"><%= group.name -%></label>
  <% end %>

<% end %>

