
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<%
#######################################
# Multi Select Preparation
#######################################
%>

<%
    @other_work_groups = WorkGroup.all.select { |g| g != @group && g.can_be_accessed_by?(current_user) }
    @other_work_groups = @other_work_groups.reject { |g| g.invisible? } if ! current_user.has_role?(:admin_user)
    @other_work_groups.sort! { |a,b| a.name.casecmp(b.name) }

    @other_site_groups = SiteGroup.all.select { |g| g != @group && g.can_be_accessed_by?(current_user) }
    @other_site_groups.sort! { |a,b| a.name.casecmp(b.name) }

    user_ids = @users.index_by &:id
    @users_multi_select_classes = {}
    @other_work_groups.each do |group|
      group.users.select { |u| user_ids[u.id] }.each do |u|
        @users_multi_select_classes[u] ||= ""
        @users_multi_select_classes[u]  += " " if ! @users_multi_select_classes[u].blank?
        @users_multi_select_classes[u]  += "workgroup_#{group.id}"
      end
    end

    @other_site_groups.each do |group|
      group.users.select { |u| user_ids[u.id] }.each do |u|
        @users_multi_select_classes[u] ||= ""
        @users_multi_select_classes[u]  += " " if ! @users_multi_select_classes[u].blank?
        @users_multi_select_classes[u]  += "sitegroup_#{group.id}"
      end
    end

    parameter_name ||= "group[user_ids]"
%>



<%
#######################################
# Users Checkbox Table
#######################################
%>

<%= render :partial => 'shared/users_checkbox_table',
           :locals => {
                      :normal_users         => @users.select{|user| !user.account_locked },
                      :locked_users         => @users.select{|user| user.account_locked },
                      :checked              => @group.users,
                      :variable_name        => "#{parameter_name}[]"
                      }
%>

<%
#######################################
# WorkGroup Multi Select
#######################################
%>

<% if @other_work_groups.size > 0 %>
  <h4>Select based on other work Projects</h4>
  <%= array_to_table(@other_work_groups,
    :cols        => 5,
    :table_class => 'table table-striped table-condensed',
    :td_class    => 'left_align',
    :fill_by_columns => true
  ) do |group,r,c| %>

    <label for="workgroup_<%= group.id %>">
      <%= group.name -%>
      &nbsp;&nbsp;
      <%= select_all_checkbox "workgroup_#{group.id}", :id => "workgroup_#{group.id}" %>
    </label>

  <% end %>
<% end %>

<%
#######################################
# SiteGroup Multi Select
#######################################
%>

<% if @other_site_groups.size > 0 %>
  <h4>Select based on other site Projects</h4>
  <%= array_to_table(@other_site_groups,
      :cols        => 5,
      :table_class => 'table table-striped table-condensed',
      :td_class    => 'left_align',
      :fill_by_columns => true
      ) do |group,r,c| %>
      <label for="sitegroup_<%= group.id %>">
        <%= group.name -%>
        &nbsp;&nbsp;
        <%= select_all_checkbox "sitegroup_#{group.id}", :id => "sitegroup_#{group.id}" %>
      </label>
  <% end %>
<% end %>
