
<%
#######################################
# Multi Select Preparation
#######################################
%>

<%
    @other_work_groups = WorkGroup.all.select { |g| g != @group && g.can_be_accessed_by?(current_user) }
    @other_work_groups.sort! { |a,b| a.name.casecmp(b.name) }
    @other_site_groups = SiteGroup.all.select { |g| g != @group && g.can_be_accessed_by?(current_user) }
    @other_site_groups.sort! { |a,b| a.name.casecmp(b.name) }

    user_ids = @users.index_by &:id
    @users_multi_select_classes = {}
    @other_work_groups.each do |group|
      group.users.select { |u| user_ids[u.id] }.each do |u|
        @users_multi_select_classes[u] ||= ""
        @users_multi_select_classes[u]  += " " if ! @users_multi_select_classes[u].blank?
        @users_multi_select_classes[u]  += "workgroup_#{group.id}"
      end
    end

    @other_site_groups.each do |group|
      group.users.select { |u| user_ids[u.id] }.each do |u|
        @users_multi_select_classes[u] ||= ""
        @users_multi_select_classes[u]  += " " if ! @users_multi_select_classes[u].blank?
        @users_multi_select_classes[u]  += "sitegroup_#{group.id}"
      end
    end
%>



<%
#######################################
# Users Checkbox Table
#######################################
%>

  <% if current_user.has_role? :admin %>
    <p>
    Make this a system group invisible to normal users:
    <%= check_box_tag :invisible_group, "1", @group.is_a?(InvisibleGroup) %>
    <p/>
  <% end %>

  <label>Users in project:</label>
  <%= array_to_table(@users,
      :cols        => 5,
      :table_class => 'button_table',
      :td_class    => 'left_align no_wrap'
      ) do |user,r,c| %>
        <%= check_box_tag("group[user_ids][]", user.id.to_s, @group.users.map(&:id).include?(user.id), { :class => (@users_multi_select_classes[user] || "") } ) %>
        <%= link_to_user_with_tooltip(user) %>
  <% end %>



<%
#######################################
# WorkGroup Multi Select
#######################################
%>

<% if @other_work_groups.size > 0 %>

  <br/>

  <label>Quick select based on other work Projects:</label>
  <%= array_to_table(@other_work_groups,
      :cols        => 5,
      :table_class => 'button_table',
      :td_class    => 'left_align no_wrap'
      ) do |group,r,c| %>
        <%= select_all_checkbox "workgroup_#{group.id}", :id => "workgroup_#{group.id}" %>
        <label for="workgroup_<%= group.id %>"><%= group.name -%></label>
  <% end %>

<% end %>



<%
#######################################
# SiteGroup Multi Select
#######################################
%>

<% if @other_site_groups.size > 0 %>

  <br/>

  <label>Quick select based on other site Projects:</label>
  <%= array_to_table(@other_site_groups,
      :cols        => 5,
      :table_class => 'button_table',
      :td_class    => 'left_align no_wrap'
      ) do |group,r,c| %>
        <%= select_all_checkbox "sitegroup_#{group.id}", :id => "sitegroup_#{group.id}" %>
        <label for="sitegroup_<%= group.id %>"><%= group.name -%></label>
  <% end %>

<% end %>

