
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2023
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

  <div class="medium_paragraphs">

    <%= t('.group_description_p1_html') %>
  </div>

  <p>

  <% @groups.reject! { |x| x == 'ALL' } %>
  <% @groups = @groups.sort { |a,b| a.name <=> b.name } %>

  <% myownproject_id = current_user.own_group.id %>

  <%
     public_groups = @groups
       .select do |group|
         group.public?
       end
     @groups -= public_groups
  %>

  <%
     my_groups = @groups
       .select do |group|
           (group.is_a?(WorkGroup))              &&
           (group.creator_id == current_user.id) &&
           (group.user_ids.size == 1)
       end
     my_groups.unshift(UserGroup.find(myownproject_id)) # always first
     @groups -= my_groups
  %>

  <%
     my_shared_groups = @groups
       .select do |group|
         (group.is_a?(WorkGroup)) &&
         (group.creator_id == current_user.id) &&
         (group.user_ids.size > 1)
       end
     @groups -= my_shared_groups
  %>

  <%
     other_users_private_groups = @groups
       .select do |group|
         group.is_a?(WorkGroup) &&
         group.user_ids.size == 1
       end
     @groups -= other_users_private_groups
  %>

  <%
     other_users_shared_groups = @groups
       .select do |group|
         group.is_a?(WorkGroup) &&
         group.user_ids.size > 1
       end
     @groups -= other_users_shared_groups
  %>


  <%
     site_groups = @groups
       .select do |group|
         group.is_a?(SiteGroup)
       end
     @groups -= site_groups
  %>

  <%
     user_groups = @groups
       .select do |group|
         group.is_a?(UserGroup)
       end
     @groups -= user_groups
  %>

  <%
     # Ideally this list should be empty
     other_groups = @groups
  %>

  <%
     all_special_group = [ 'ALL' ] # special keyword
  %>



  <%= build_tabs do |tb| %>

    <%= my_groups.presence && tb.tab(t('.my_private_projects')) do %>
      <p class="medium_paragraphs">
        <%= t('.group_description_p2_html', name: current_user.own_group.name) %>
      </p>
      <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => my_groups } %>
    <% end %>

    <%= my_shared_groups.presence && tb.tab(t('.my_shared_projects')) do %>
      <p class="medium_paragraphs">
        <%= t('.group_description_p3_html') %>
      </p>
      <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => my_shared_groups } %>
    <% end %>

    <%= other_users_shared_groups.presence && tb.tab(t('.projects_shared_with_me')) do %>
      <p class="medium_paragraphs">
        <%= t('.group_description_p4_html') %>
      </p>
      <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => other_users_shared_groups } %>
    <% end %>

    <%= public_groups.presence && tb.tab(t('.public_projects')) do %>
      <p class="medium_paragraphs">
        <%= t('.group_description_p5_html') %>
      </p>
      <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => public_groups } %>
    <% end %>

    <%= site_groups.presence && tb.tab(t('.site_projects')) do %>
      <p class="medium_paragraphs">
        <%= t('.group_description_p6_html') %>
      </p>
      <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => site_groups } %>
    <% end %>

    <% if current_user.has_role?(:admin_user) %>
      <%= user_groups.presence && tb.tab(t('.other_users_system_projects')) do %>
        <p class="medium_paragraphs"><%= t('.admin_only') %></p>
        <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => user_groups } %>
      <% end %>

      <%= other_users_private_groups.presence && tb.tab(t('.other_users_private_projects')) do %>
        <p class="medium_paragraphs"><%= t('.admin_only') %></p>
        <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => other_users_private_groups } %>
      <% end %>
    <% end %>

    <%= tb.tab(t('.special_all_project')) do %>
      <p class="medium_paragraphs">
        <%= t('.group_description_p7_html') %>

      </p>
      <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => all_special_group } %>
    <% end %>

    <%= other_groups.presence && tb.tab(t('.other_projects')) do %>
      <p class="medium_paragraphs">
      <%= t('.group_description_p8_html') %>

      </p>
      <%= render :partial => 'view_buttons_tab', :locals => { :tab_groups => other_groups } %>
    <% end %>

  <% end %>

