<%= button_with_dropdown_menu("View Options") do %>
  <div class="view_options">
    <%= 
      filter_add_link (@filter_params["button_view"] == 'on' ? "List View" : "Button View"),
                      :parameter => :button_view, 
                      :value     => set_toggle(@filter_params["button_view"])
    %>
    <% if @filter_params["button_view"] == 'on' %>
      <%=
        filter_add_link (@filter_params["small_buttons"] == 'on' ? "Large buttons" : "Small buttons"),
                      :parameter => :small_buttons,
                      :value     => set_toggle(@filter_params["small_buttons"])
      %>
    <% end %>
    <br>
    <%= form_tag({:controller => :groups, :action => :index}, :method => :get) do %>
      Number of projects per page:
      <%= select_tag( :per_page, options_for_select( [25, 50, 100, 200, 500 ], @per_page ), :class => "submit_onchange" ) %>
      <%= hidden_field_tag :update_filter, true %>
    <% end %>
  </div>
<% end %>
