
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>
<div class = "generalcontent">
   <% title 'Edit Group' %>

   <h2>Edit Group</h2>

   <div class = "generalbox">
      <% form_for(@group) do |f| %>
        <%= f.error_messages %>

        <p>
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </p>
        <p><label for="role">Site</label><br/>
         <%= f.collection_select :site_id, Site.all, :id, :name, {:include_blank  => true}, :disabled  => current_user.has_role?(:site_manager)  %></p>  
        <label for="users">Users in group:</label>
        <table>
           <% for user in @users %>
               <tr>
                 <td class="info"><%= check_box_tag("work_group[user_ids][]", user.id.to_s, @group.users.include?(user) ) %></td>
                 <td class="info"><%= h(user.full_name) -%></td>
               </tr>
           <% end %>
        </table>
  
  
        <p>
          <%= f.submit "Update" %>
        </p>
      <% end %>
   </div>  <!-- End class="generalbox" -->
</div>  <!-- End class="generalcontent" -->
