
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>
<div class = "generalcontent">
<% title 'Edit Group' %>

<h2>Edit Group</h2>

<div class = "generalbox">
<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <br/>
  
  <label for="users">Users in group:</label>
  <table>
     <% for user in @users %>
         <tr>
           <td class="info"><%= check_box_tag("work_group[user_ids][]", user.id.to_s, @group.users.include?(user) ) %></td>
           <td class="info"><%= h(user.full_name) -%></td>
         </tr>
     <% end %>
  </table>
  
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= button_to 'Cancel', groups_path , :method => :get %>
</div>
</div>
