
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>

<div class = "generalcontent">

   <% title 'Groups' %>
   
   <div class="resource_list_box">
     <%= button_to 'Create New Group', new_group_path, :method => :get %>
   </div>


      <table class="resource_list">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Members</th>
          <th>Site</th>
          <th colspan="3"/>
        </tr>
         <% for group in @system_groups %>
             <tr class="<%= cycle('list-odd', 'list-even') %> row_highlight">
               <td><%=h group.name %></td>
               <td><%= group.class.name %></td>
               <td><%= group.users.map{|u| h(u.login)}.join("<br>") %></td>
               <td><%= group.site.name rescue "(Unassigned)" %></td>
               <td/ colspan="3">
             </tr>
         <% end %>
         <% for group in @work_groups %>
           <tr class="<%= cycle('list-odd', 'list-even') %> row_highlight">
             <td><%=h group.name %></td>
             <td><%= group.class.name %></td>
             <td><%= group.users.map{|u| h(u.login)}.join("<br>") %></td>
             <td><%= group.site.name rescue "(Unassigned)" %></td>
             <td><%= button_to 'Show', group_path(group), :method => :get %></td>
             <td><%= button_to 'Edit', edit_group_path(group), :method => :get %></td>
             <td><%= button_to 'Delete', group_path(group), :confirm => 'Are you sure?', :method => :delete %></td>
           </tr>
         <% end %>
      </table>
</div>