
<% title 'Projects' %>
  
<div class="menu_bar menu_bar_left">
   <%= button_with_dropdown_menu('Create Project', :partial => 'new', :content_id => 'new_model_panel', :button_id => "new_model_button") %>
   <%= link_to "Switch Off Active Project", {:controller=>"groups", :action=>"switch", :id  => "off"}, :method  => :post, :class  => :button %>
   <%= render :partial => "shared/manage_filter_button", :locals => {:model => :group}  %>
   <%= overlay_ajax_link "Help", "/doc/groups/groups_info.html", :class  => "button" %>       
</div>

<p>

<div id="project_tables">
  <%= render :partial => 'project_tables' %>
</div>
