<% title 'Groups' %>

<h1>Groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Institution</th>
    <th>Manager</th>
    <th>Members</th>
    <th>Phone</th>
    <th/><th/><th/>
  </tr>

<% for group in @groups %>
  <tr class="<%= cycle('list-odd', 'list-even') %>">
    <td><%=h group.name %></td>
    <td><%=h group.institution.name%></td>
    <td><%=h group.manager.full_name rescue "" %></td>
    <td><%= group.users.map{|u| h(u.full_name)}.join("<br>") %></td>
    <td><%=h group.phone %></td>
    <td><%= button_to 'Show', group, :method => :get %></td>
    <td><%= button_to 'Edit', edit_group_path(group), :method => :get %></td>
    <td><%= button_to 'Delete', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Create New Group', new_group_path, :method => :get %>
