
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'New Project' %>

<h2>New Project</h2>

<%= error_messages_for @group %>

<%= form_for @group, :as => :group, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="generalbox">

    <p>
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
    <div class="field_explanation">The first line should be a short summary, and the rest are for details.</div>

    <% if current_user.has_role?(:admin_user) %>
      <p>
      <%= f.label :site_id, "Site:" %>
      <%= site_select "group[site_id]",{}, :prompt => "(Select a site)" %>
      <p>
      Make this a system group invisible to normal users:
      <%= f.check_box :invisible %>
      <p>
      Turn on usage tracking for files in this project:
      <%= f.check_box :track_usage %>
    <% end %>

    <p>
    Normal members will not be able to assign files or other resources
    to this project (but editors are always allowed to do so):
    <%= f.check_box :not_assignable %>

    <p>
    Make the project public, so that all users can access the files. Be careful with this option! You can always make the project public later on:
    <%= f.check_box :public %>
    <p>
      <% if current_user.has_role?(:normal_user) %>
      <%= hidden_field_tag("group[user_ids][]", current_user.id.to_s) %>
    <% else %>
      <%= render :partial => 'users_form' %>
    <% end %>
    <p>
    <%= f.submit "Create" %>
    </p>
<% end %>
