
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title t('.title') %>

<h2><%= t('.title') %></h2>

<%= error_messages_for @group %>

<%= form_for @group, :as => :group, :url => { :action => "create" }, :datatype => "script" do |f| -%>

  <div class="generalbox">

    <p>
    <%= f.label :name, t('activerecord.attributes.name') %><br />
    <%= f.text_field :name %>
    </p>

    <p>
    <%= f.label :description, t('activerecord.attributes.description') %><br />
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
    <div class="field_explanation">
      <%= t('.group_description_p1_html') %>
    </div>

    <% if current_user.has_role?(:admin_user) %>
      <p>
      <%= f.label :site_id, t('activerecord.models.site.one') %>
      <%= site_select "group[site_id]",{}, :prompt => t('groups.common.select_site') %>
      <p>
      <%= t('.group_description_p2_html') %>

      <%= f.check_box :invisible %>
      <p>
      <%= t('.group_description_p3_html') %>
      <%= f.check_box :track_usage %>
    <% end %>

    <p>
    <%= t('.group_description_p4_html') %>
    <%= f.check_box :not_assignable %>

    <p>
    <%= t('.group_description_p5_html') %>
    <%= f.check_box :public %>
    <p>
      <% if current_user.has_role?(:normal_user) %>
      <%= hidden_field_tag("group[user_ids][]", current_user.id.to_s) %>
    <% else %>
      <%= render :partial => 'users_form' %>
    <% end %>
    <p>
    <%= f.submit t('create') %>
    </p>
<% end %>
