
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'New Project' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="text-center">New Project</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= error_messages_for @group %>
    </div>
  </div>

  <%= form_for @group, :as => :group, :url => { :action => "create" }, :datatype => "script", :class => "form-horizontal" do |f| -%>
    <div class="row">
      <div class="col-xs-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Basic Info</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-4"><%= f.label :name, "Name" %></div>
                <div class="col-xs-8"><%= f.text_field :name, :class => "form-control" %></div>
              </div>

              <div class="row">
                <div class="col-xs-4"><%= f.label :description, "Description" %></div>
                <div class="col-xs-8">
                  <%= f.text_area :description, :rows => 4, :class => "form-control" %>
                  The first line should be a short summary, and the rest are for details.
                </div>
              </div>

              <% if current_user.has_role?(:admin_user) %>
                <div class="row">
                  <div class="col-xs-4"><%= f.label :site_id, "Site:" %></div>
                  <div class="col-xs-8"><%= site_select "group[site_id]",{}, :prompt => "(Select a site)", :class => "form-control" %></div>
                </div>
                <div class="row">
                  <div class="col-xs-4"><label>System group, invisible to normal users:</label></div>
                  <div class="col-xs-8"><%= f.check_box :invisible, :class => "form-control" %></div>
                </div>
              <% end %>

            </div>
          </div>
      </div>

      <div class="col-xs-6">
        <div class="panel panel-primary">
          <div class="panel-heading">Project Membership</div>
          <div class="panel-body">
            <% if current_user.has_role?(:normal_user) %>
              <%= hidden_field_tag("group[user_ids][]", current_user.id.to_s) %>
            <% else %>
              <%= render :partial => 'users_form' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= f.submit "Create", :class => "btn btn-primary btn-block" %>
      </div>
    </div>
  <% end %>
</div>





