
<%

#
# CBRAIN Project
#
# Original author: Tarek Sherif
#
# $Id$
#

-%>

<div class = "generalcontent">


<% title "#{@group.name}"%>

<h2>Group details for <%= h @group.name %></h2>

<div class = "generalbox">
<table>
   <tr class="list-even">
      <td class = "title"><b>Name:</b></td>
      <td><%=h @group.name %></td>
   </tr>
   <tr class="list-even">
      <td class = "title"><b>Institution:</b></td>
      <% if (@group.institution != nil) %>
	      <td><%=h @group.institution.name %></td>
      <% else %>
		<td></td>
	<% end %>
  </td>
  <tr class="list-even">
      <td class = "title"><b>Street:</b></td>
      <td><%=h @group.street %></td>
  </tr>
  <tr class="list-even">
        <td class = "title"><b>Building:</b></td>
        <td><%=h @group.building %></td>
   </tr>
   <tr class="list-even">
      <td class = "title"><b>Room:</b></td>
      <td><%=h @group.room %></td>
   </tr>
   <tr class="list-even">
      <td class = "title"><b>Phone:</b></td>
      <td><%=h @group.phone %></td>
   </tr>
   <tr class="list-even">
      <td class = "title"><b>Fax:</b></td>
      <td><%=h @group.fax %></td>
   </tr>
</table>

<p>
<table>
  <tr><td/><td><b>Members</b></td></tr>
  <tr>
    <th>Name</th>
    <th>Login</th>
    <th>Email</th>
  </tr>

<% @group.users.each do |user| %>
  <tr class=<%= cycle("list-even", "list-odd")%> >
    <td><%=h user.full_name %></td>
    <td><%=h user.login %></td>
    <td><%=h user.email %></td>
<% end %>
</table>
</p>

<%= button_to 'Edit', edit_group_path(@group), :method => :get %><br/>
<%= link_to 'Index', groups_path %>
</div>
</div>