
<% title "Project Info" %>

<h2>Details for <%= @group.pretty_category_name(current_user) %> '<%= @group.name %>'</h2>

<div class="generalbox">
  <% if (@group.is_a?(WorkGroup) || @group.is_a?(InvisibleGroup)) && @group.can_be_edited_by?(current_user) %>
    <div class="menu_bar menu_bar_left">
      <%= link_to 'Switch', switch_group_path(@group), :class => "button", :method  => :post %>
      <%= link_to 'Edit', edit_group_path(@group), { :class => "button" } %>
      <%= link_to 'Delete', group_path(@group), { :confirm => "Are you sure you want to delete '#{@group.name}' ?", :method => :delete, :class => "button" } %>
    </div>
  <% end %>
  <P>
  
  <table class="property_list">
    <tr>
      <th colspan="2" class="subtitle">Project information</th>
    </tr>
    <tr class="<%= cycle("list-odd", "list-even") %>">
        <th>Name</th>
        <td><%= @group.name %></td>
    </tr>
    <tr class="<%= cycle("list-odd", "list-even") %>">
        <th>Type</th>
        <td><%= @group.pretty_category_name(current_user) %></td>
    </tr>
    <tr class="<%= cycle("list-odd", "list-even") %>">
        <th>Site</th>
        <td>
          <%= link_to_site_if_accessible(@group.site) %>
        </td>
    </tr>
     <tr class="<%= cycle("list-odd", "list-even") %>">
        <th>Users</th>
        <td>
          <%= array_to_table(@group.users.sort{ |a,b| a.login.casecmp(b.login)}, :table_class => 'simple bordered') { |u,r,c| link_to_user_with_tooltip(u) }%>
        </td>
    </tr>
    <tr class="<%= cycle("list-odd", "list-even") %>">
        <th>Files</th>
        <td>
          <% userfiles_count = @group.userfiles.count %>
          <% if (userfiles_count > 0) %>
            <%= filter_reset_link userfiles_count, :controller => :userfiles, :filters  => {:group_id => @group.id}, :ajax => false %>
          <% else %>
            0
          <% end %>
        </td>
    </tr>
    <tr class="<%= cycle("list-odd", "list-even") %>">
        <th>Tasks</th>
        <td>
        <% tasks_count = @group.cbrain_tasks.count %>
        <% if (tasks_count > 0) %>
          <%= filter_reset_link tasks_count, :controller => :tasks, :filters  => {:group_id => @group.id}, :ajax => false %>
          <% else %>
            0
          <% end %>
        </td>
    </tr>
    <% if current_user.has_role?(:admin) %>
      <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Tools</th>
          <td>
            <% tools_count = @group.tools.count %>
            <% if (tools_count > 0) %>
              <%= filter_reset_link tools_count, :controller => :tools, :filters  => {:group_id => @group.id}, :ajax => false %>
            <% end %>
          
          </td>
      </tr>
      <tr class="<%= cycle("list-odd", "list-even") %>">
      <th>Data providers</th>
          <td>
            <% data_providers_count = @group.data_providers.count %>
            <% if (data_providers_count > 0) %>
              <%= filter_reset_link data_providers_count, :controller => :data_providers, :filters  => {:group_id => @group.id}, :ajax => false %>
            <% end %>
          </td>
      </tr>
      <tr class="<%= cycle("list-odd", "list-even") %>">
      <th>Portal</th>
          <td>
            <% bp_count = BrainPortal.where( :group_id => @group.id).count %>
            <% if (bp_count > 0) %>
              <%= filter_reset_link bp_count, :controller => :bourreaux, :filters  => {:group_id => @group.id, :type => "BrainPortal"}, :ajax => false %>
            <% end %>
          </td>
      </tr>
          <tr class="<%= cycle("list-odd", "list-even") %>">
          <th>Execution</th>
          <td>
            <% bourreaux_count = Bourreau.where( :group_id => @group.id).count%>
            <% if (bourreaux_count > 0) %>
              <%= filter_reset_link bourreaux_count, :controller => :bourreaux, :filters  => {:group_id => @group.id, :type => "Bourreau"}, :ajax => false %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </table>
</div>
