
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title "Project Info" %>

<% if @group.is_a?(WorkGroup) %>
  <div class="menu_bar">
    <% unless @group.creator_id == current_user.id %>
      <%= link_to 'Unregister', {:action => :unregister, :id => @group.id}, :class => "button", :method  => :post %>
    <% end %>
    <% if @group.can_be_edited_by?(current_user) %>

        <%= link_to 'Switch', {:action => :switch, :id => @group.id}, :class => "button", :method  => :post %>
        <% if current_user.has_role?(:normal_user) && @group.can_be_edited_by?(current_user) && current_user.visible_users.present? %>
          <%= overlay_ajax_link "Invite Other Users", new_invitation_path(group_id: @group.id), class: "button" %>
        <% end %>
        <%= link_to 'Delete', group_path(@group), { :confirm => "Are you sure you want to delete '#{@group.name}'?", :method => :delete, :class => "button" } %>
    <% end %>
    </div>
<% end %>

<P>

<%= error_messages_for @group, :header_message => "Project could not be updated." %>

<div class="display_inline_block" style="min-width: 50%">

  <%= show_table(@group, :edit_condition => @group.can_be_edited_by?(current_user)) do |t| %>

    <% t.edit_cell(:name) do %>
      <%= text_field_tag "group[name]", @group.name %>
    <% end %>

    <% t.edit_cell(:creator_id, :content => link_to_user_with_tooltip(@group.creator), :header => "Creator") do %>
      <%= user_select "group[creator_id]", { :users => ( current_user.available_users | @group.users), :selector => @group.creator } %>
      <div class="field_explanation"><span class="warning">Warning</span>: If you change the Creator to someone else you won't be able to edit this project any more</div>
    <% end %>

    <% t.edit_cell(:site_id, :content => link_to_site_if_accessible(@group.site), :disabled => !current_user.has_role?(:admin_user)) do %>
      <%= site_select "group[site_id]", @group.site_id, :prompt => "(Select a site)" %>
    <% end %>

    <% t.cell("Type") { @group.pretty_category_name(current_user) } %>

    <% t.edit_cell(:description, :content =>  full_description(@group.description)) do %>
        <%= text_area_tag "group[description]", @group.description, :rows => 4, :cols => 40 %><br>
        <div class="field_explanation">The first line should be a short summary, and the rest are for details.</div><br>
    <% end %>

    <% if current_user.has_role?(:admin_user) && @group.is_a?(WorkGroup) %>
      <% t.edit_cell("Invisible", :content => check_box_tag(nil ,nil, @group.invisible?, :disabled => true)) do %>
        <%= hidden_field_tag "group[invisible]", "0" %>
        <%= check_box_tag("group[invisible]", "1", @group.invisible?) %>
      <% end %>
    <% end %>

    <% t.empty_cell %>

  <% end %>

  <%= show_table(@group, :header => 'Resources') do |t| %>

    <% t.cell("Files") { index_count_filter @group.userfiles.count, :userfiles, {:group_id => @group.id}, :show_zeros => true } %>

    <% t.cell("Tasks") { index_count_filter @group.cbrain_tasks.count, :tasks, {:group_id => @group.id}, :show_zeros => true } %>

    <% if current_user.has_role?(:admin_user) %>
      <% t.cell("Tools") { index_count_filter @group.tools.count, :tools, {:group_id => @group.id} }%>
      <% t.cell("Data Providers") { index_count_filter @group.data_providers.count, :data_providers, {:group_id => @group.id} } %>
      <% t.cell("Portal") { index_count_filter BrainPortal.where(:group_id => @group.id).count, :bourreaux, {:group_id => @group.id, :type => "BrainPortal"} } %>
      <% t.cell("Execution") { index_count_filter Bourreau.where(:group_id => @group.id).count, :bourreaux, {:group_id => @group.id, :type => "Bourreau"} } %>
    <% end %>

  <% end %>

  <% if current_user.has_role?(:admin_user) %>
    <% group_access_profiles = @group.access_profiles
                               .order('access_profiles.name')
                               .map { |ap| access_profile_label(ap, :with_link => true) }
                               .join("").html_safe
       group_access_profiles = "(None)" if group_access_profiles.blank?
    %>

    <%= show_table(@group, :header => 'Assigned To Access Profiles') do |t| %>
      <% t.cell("", :no_header => true, :show_width => 2) do %>
        <span><%= group_access_profiles %></span>
      <% end %>
    <% end %>
  <% end %>

  <%
    group_members  = @group.users
    open_invites   = Invitation.where(sender_id: current_user.id, group_id: @group.id, active: true)
  %>

  <%= show_table(@group, :header => 'Members', :edit_condition => @group.can_be_edited_by?(current_user) && (!current_user.has_role?(:normal_user) || group_members.count > 1 || open_invites.present?)) do |t| %>

    <% default_text = array_to_table(group_members.sort{ |a,b| a.login.casecmp(b.login)}, :table_class => 'simple bordered float_left', :cols => 20, :min_data => 20, :fill_by_columns => true ) { |u,r,c| link_to_user_with_tooltip(u) } %>

    <% t.edit_cell(:user_id, :show_width => 2,
                             :no_header  => 'Members',
                             :content    => default_text) do %>
      <% if current_user.has_role? :normal_user %>
        <% group_members.each do |u| %>
          <%= link_to_user_with_tooltip u %><%= link_to(": Remove", group_path(@group, "group[user_ids]" => (@group.user_ids - [u.id]), update_users: true ), :method => :put, :class => "action_link") unless u == current_user %>
          <br>
        <% end %>
      <% else %>
        <div class="generalbox" style="width: 100%">
          <%= render :partial => 'users_form' %><br>
          <%= hidden_field_tag :update_users, true %>
        </div>
      <% end %>
    <% end %>
    <% if open_invites.present? %>
      <% default_text = array_to_table(open_invites.map(&:user).sort{ |a,b| a.login.casecmp(b.login)}, :table_class => 'simple bordered float_left', :cols => 20, :min_data => 20, :fill_by_columns => true ) { |u,r,c| u.login } %>

      <% t.edit_cell(:invites, :show_width => 2,
                               :header     => 'Pending Invitations',
                               :content    => default_text) do %>
        <% open_invites.each do |i| %>
          <%= link_to_user_with_tooltip i.user %>: <%= link_to("Cancel", invitation_path(i), :method => :delete, :class => "action_link") %>
          <br>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

</div>

<% if @group.can_be_edited_by?(current_user) %>
  <P>
  <%= render :partial => "layouts/log_report", :locals  => { :log  => @group.getlog, :title => 'Project Log' } %>
<% end %>

