<div id="active_project_div">
  <h1>Active Project:</h1>
  <div id="change_active_project">
    <%= button_with_dropdown_menu((current_project ? current_project.name : "None"), :button_id  => "header_project_menu", :open => true) do %> 	
      <div id="project_menu_items">
        <small>
          Choosing an Active Project affects the visibility of<br/>
          <em>everything</em> in the interface (files, tasks etc).<br/>
          Use this as a way to concentrate on a particular project.<br/>
        </small>
        <p/>	    	

        <div class="group_selector">
          <%= form_tag :controller => :groups, :action => :switch do %>
            <%= group_select('id', {:groups =>  @all_projects, :selector => current_project }, {:include_blank => "None", :class => "submit_onchange"}) %>
            <%= hidden_field_tag :redirect_controller, params[:redirect_controller] %>
            <%= hidden_field_tag :redirect_action    , params[:redirect_action]     %>
            <%= hidden_field_tag :redirect_id        , params[:redirect_id]         %>
          <% end %>
        </div>
      </div>          
    <% end %>
  </div>
</div>



