
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<div class="groupentry">

  <%= hidden_field_tag "disk_image_config[disk_image_bourreau_id]",     @disk_image_config.disk_image_bourreau_id %>
  <%= hidden_field_tag "disk_image_config[bourreau_id]", @disk_image_config.bourreau_id %>

  <% if @disk_image_config.disk_image_bourreau_id && @disk_image_config.bourreau_id %>

  <span title="Image id to use on OpenStack bourreau #{@disk_image_config.bourreau.name}">
    <p><label>Image to use on OpenStack bourreau <%= @disk_image_config.bourreau.name  %>:</label><br/>
      <%=    
	 bourreau = Bourreau.find(@disk_image_config.bourreau.id)
	 images = Array.new
	 if bourreau.cms_class == "ScirOpenStack"
	   username = bourreau.open_stack_user_name
	   password = bourreau.open_stack_password
	   auth_url = bourreau.open_stack_auth_url
	   tenant_name = bourreau.open_stack_tenant
	   os = OpenStack::Connection.create({:username => username, :api_key=> password, :auth_method=>"password", :auth_url => auth_url, :authtenant_name =>tenant_name, :service_type=>"compute"})
           os.list_images.each do |image|
              images << [image[:name].to_s, image[:id]]
           end
          else
             return "Bourreau #{bourreau.name} is not an OpenStack Bourreau!"
          end
      
       f.select :open_stack_disk_image_id, images %>

    </p>
    <p><label>Flavor used by VM factory on OpenStack bourreau <%= @disk_image_config.bourreau.name  %>:</label><br/>
      <%=    
	 bourreau = Bourreau.find(@disk_image_config.bourreau.id)
	 flavors = Array.new
	 if bourreau.cms_class == "ScirOpenStack"
	   username = bourreau.open_stack_user_name
	   password = bourreau.open_stack_password
	   auth_url = bourreau.open_stack_auth_url
	   tenant_name = bourreau.open_stack_tenant
	   os = OpenStack::Connection.create({:username => username, :api_key=> password, :auth_method=>"password", :auth_url => auth_url, :authtenant_name =>tenant_name, :service_type=>"compute"})
           os.list_flavors.each do |flavor|
              flavors << [flavor[:name].to_s, flavor[:id]]
           end
          else
             return "Bourreau #{bourreau.name} is not an OpenStack Bourreau!"
          end
       f.select :open_stack_default_flavor, flavors %>
    </p>
  </span>
  <% end %>

</div>

