
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.  
#
-%>

<% title 'Edit Disk Image Configuration' %>

<h2>Edit Disk Image Configuration</h2>

<div class="generalbox">

  <strong>Important note:</strong>
  This form applies to Disk Image <strong><%= @disk_image_config.disk_image_bourreau.name %></strong>
  deployed on Execution Server <strong><%= @disk_image_config.bourreau.name %></strong>.
  <p>
   <%= form_for @disk_image_config, :as => :disk_image_config, :url => { :controller => :disk_image_configs, :action => :update, :id => (@disk_image_config.id || "NEW") }, :html  => { :method  => :put } do |f| %>
     <%= error_messages_for @disk_image_config %>

     <%= render :partial => 'form_fields', :locals => { :f => f } %>

     <p>
     <%= submit_tag "Save Configuration" %>
     </p>
   <% end %>

   

</div>


