
<%-
#
# CBRAIN Project
#
# Copyright (C) 2008-2012
# The Royal Institution for the Advancement of Learning
# McGill University
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
-%>

<% title 'Login' %>
<br/><br/>
<script type="text/javascript" src="https://login.persona.org/include.js"></script>
<%= javascript_include_tag "login-persona.js" %>
<br/>

<%= form_tag session_path do -%>

    <table class="logintable">

    <% if @browser_name =~ /msie/i && @browser_version.to_i < 10 %>
      <tr>
        <td colspan="4">
          <div class="exception_report centered" style="color: black">
            The CBRAIN interface does not support <strong>Microsoft</br>
            Internet Explorer</strong>. You may still proceed, but we recommend</br>
            using <%= link_to "Chrome", "https://www.google.com/chrome" %>,
            <%= link_to "Firefox", "http://www.mozilla.org/en-US/firefox/fx/"%>,
            <%= link_to "Opera", "http://www.opera.com/browser/download/" %>, or
            <%= link_to "Safari", "http://www.apple.com/safari/download/" %>.
          </div>
          <p>
        </td>
      </tr>
    <% end %>

    <tr>
      <td><label for="login">Login</label></td>
      <td class="field"><%= text_field_tag 'login', nil, tabindex: 1 %></td>
      <td rowspan="2"><center>or</center></td>
      <td rowspan="2"><center><a tabindex="4" href="#" onclick="loginPersona();"><img src="/images/persona_icon.png"></a></center></td>
    </tr>

    <tr>
      <td><label for="password">Password</label></td>
      <td class="field"><%= password_field_tag 'password', nil, tabindex: 2 %></td>
    </tr>

    <tr>
      <td></td>
      <td class="field"><%= submit_tag 'Sign in', tabindex: 3 %></td>
      <td colspan="2"></td>
    </tr>

    <tr>
      <td></td>
      <td class="field"><%= link_to "Forgot your password?", request_password_users_path, :class  => "action_link" %></td>
      <td colspan="2"></td>
    </tr>

  </table>

<% end -%>

